.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Account
.modal-body
  .panel-body
    = form_for @journal_account do |f|
      - if @journal_account.errors.any?
        #error_explanation
          %h2= "#{pluralize(@journal_account.errors.count, "error")} prohibited this journal_account from being saved:"
          %ul
            - @journal_account.errors.full_messages.each do |msg|
              %li= msg
      .form-group.form-group-default.required
        = f.label :name
        = f.text_field :name, class: "input form-control"
      .form-group.form-group-default.required
        = f.label :category_id
        = f.collection_select(:category_id, Journal::Category.all, :id, :name, {:prompt => 'Select Category'}, {:class => "form-control"})
      .form-group.form-group-default.required
        = f.label :currency
        / = f.input :currency, collection: ["IDR","RMB"], input_html: {class: 'full-width', data: {"init-plugin" => "select2", "placeholder" => "Select Currency"}}, wrapper: :select2
        = f.select :currency, options_for_select([["IDR", "IDR"], ["RMB", "RMB"]]), {:prompt => 'Select Currency'},:class => "form-control", "data-init-plugin" => "select2", prompt: "Select Currency"
      = f.submit 'Save', class: "btn btn-success"
  
