.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Account
.modal-body
  .panel-body
    = form_for @journal_account do |f|
      - if @journal_account.errors.any?
        #error_explanation
          %h2= "#{pluralize(@journal_account.errors.count, "error")} prohibited this journal_account from being saved:"
          %ul
            - @journal_account.errors.full_messages.each do |msg|
              %li= msg
      .form-group.form-group-default.required
        = f.label :name
        = f.text_field :name, class: "input form-control"
      = f.submit 'Save', class: "btn btn-success"
  
