.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Chart of Accounts
      .pull-right
        %ul.list-inline
          %li
            = link_to new_journal_journal_item_url, class: 'btn btn-success' do
              %i.fa.fa-plus
              New General Journal
          %li
            = link_to new_journal_account_url, "data-toggle" => "modal", "data-target" => "#new-account", class: 'btn btn-success' do
              %i.fa.fa-plus
              Add New Account
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  %table#example.table
    %thead
      %tr
        %th Action
        %th Account Code
        %th Name
        %th Category
        %th Currency
        %th Balance
    %tbody
      - @journal_accounts.each do |journal_account|
        %tr
          %td
            .btn-group.m-b-10
              %button.btn.btn-default{:type => "button"} Action
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                - unless journal_account.required? || journal_account.balance != 0
                  %li
                    %a= link_to 'Rename', edit_journal_account_path(journal_account), "data-toggle" => "modal", "data-target" => "#edit-account"
                  %li
                    %a= link_to 'Delete', journal_account_path(journal_account), :method=>:delete, :class=>:destroy, :data => { :confirm => 'Apakah anda yakin ingin menghapus account ini?' }
          %td= journal_account.code
          %td= link_to journal_account.name, transaction_journal_reports_path(q: {account_id_eq: journal_account.id})
          %td= journal_account.category.name
          %td= journal_account.currency
          %td= number_to_multi_currency(journal_account.balance, journal_account.currency)
  %br
  #new-account.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
  #edit-account.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content

  / = link_to 'New Account', new_journal_account_path
