.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      / START BREADCRUMB
      %ul.breadcrumb
        %li
          = link_to "Chart of Accounts", journal_accounts_path
        %li
          %a.active{:href => "#"}= @journal_account.name
.container-fluid.container-fixed-lg
  -if notice 
    .alert.alert-success{:role => "alert"}
      .close{"data-dismiss" => "alert"}X
      %strong= notice
  .form-group.form-group-default
    %label Name
    = @journal_account.name
  .form-group.form-group-default
    %label Category
    = @journal_account.category.name if @journal_account.category
  .form-group.form-group-default
    %label Currency
    = @journal_account.currency

  = link_to 'Edit', edit_journal_account_path(@journal_account), "data-toggle" => "modal", "data-target" => "#edit-account", class: "btn btn-success"
  \|
  = link_to 'Back', journal_accounts_path, class: "btn btn-danger"
  #edit-account.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
