.login-child
  %h2 Change My Password
  = render partial: 'spree/shared/error_messages', locals: { target: @spree_user }
  #change-password
    = form_for @spree_user, as: :spree_user, url: spree.update_password_path, method: :put, html: {id: "login-form", class: "general-form3"} do |f|
      %p
        .label-input
          .label-wrap
            = f.label :password, Spree.t(:password)
          .input-wrap
            = f.password_field :password
      %p
        .label-input
          .label-wrap
            = f.label :password_confirmation, Spree.t(:confirm_password)
          .input-wrap
            = f.password_field :password_confirmation
      = f.hidden_field :reset_password_token
      %p
        = f.submit Spree.t(:update), class: 'submit-btn'