.login-child
  %h2 Forgot Password ?
  %p Please enter your email on the form below.
  = render partial: 'spree/shared/error_messages', locals: { target: @spree_user }
  #forgot-password
    = form_for Spree::User.new, as: :spree_user, url: spree.reset_password_path, html: {id: "login-form", class: "general-form3"} do |f|
      .label-input
        .label-wrap
          = f.label :email, Spree.t(:email)
        .input-wrap
          = f.email_field :email
      %p
        = f.submit Spree.t(:reset_password), class: 'submit-btn'