<table class="content" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
  <tbody>
    <tr>
      <td class="content_cell" align="center" valign="top" style="padding: 0;text-align: center;background-color: #ffffff;font-size: 0 !important;">
          <!--[if (gte mso 9)|(IE)]>
          <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
            <tbody>
              <tr>
                <td width="580" align="center" valign="top">
          <![endif]-->
          <div class="row" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 580px;margin: 0 auto;">
            <!--[if (gte mso 9)|(IE)]>
            <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
              <tbody>
                <tr>
                  <td width="580" align="center" valign="top">
            <![endif]-->
            <div class="col-3" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 580px;">
              <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;vertical-align: top;">
                <tbody>
                  <tr>
                    <td class="column_cell font_default" align="center" valign="top" style="padding: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 15px;text-align: center;vertical-align: top;color: #888888;">
                     <p style="font-family: Helvetica, Arial, sans-serif;font-size: 15px;line-height: 23px;margin-top: 16px;margin-bottom: 24px;">
                       You have requested a link to change your password. You can do this through the link below.<br/>
                       <%= link_to @edit_password_reset_url, @edit_password_reset_url %><br/>

                       If you didn't request this, please ignore this email.<br/>
                       Your password won't change until you access the link above and create a new one.
                      </p>
                     </td><!-- /.column_cell -->
                  </tr>
                </tbody>
              </table><!-- /.column -->
            </div><!-- /.col-3 -->
            <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
              </tbody>
            </table>
            <![endif]-->
          </div><!-- /.row -->
          <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </tbody>
          </table>
          <![endif]-->
      </td><!-- /.content_cell -->
    </tr>
  </tbody>
</table><!-- /.content -->