.form-group.form-group-default.required
  %label Name
  = f.text_field :name, class: "input form-control"
.form-group.form-group-default.required
  %label Account
  = f.collection_select(:journal_account_id, Journal::Account.all.order(:code), :id, :name, {:prompt => 'Select Account'}, {:class => "form-control"})
.actions
  = f.submit 'Submit', class: "btn btn-success"