.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Store Credit Categories
  .panel-body
    = form_for @category, url: journal_store_credit_category_path, method: :put do |f|
      - if @category.errors.any?
        #error_explanation
          %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
          %ul
            - @category.errors.full_messages.each do |msg|
              %li= msg
      = render 'form', f:f