.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Store Credit Category
      .pull-right
        = link_to new_journal_store_credit_category_path, "data-toggle" => "modal", "data-target" => "#new-category", class: 'btn btn-success' do
          %i.fa.fa-plus
          Add Store Credit Category
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  -if @categories.any? 
    %table#example.table
      %thead
        %tr
          %th Action
          %th ID
          %th Category Name
          %th Journal Account
      %tbody
        - @categories.each do |c|
          %tr
            %td
              .btn-group.m-b-10
                %button.btn.btn-default{:type => "button"} Action
                %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                  %span.caret
                %ul.dropdown-menu{:role => "menu"}
                  %li
                    %a= link_to 'Edit', edit_journal_store_credit_category_path(c), "data-toggle" => "modal", "data-target" => "#edit-category"
                  - unless c.required?
                    %li
                      = link_to "Destroy", journal_store_credit_category_path(c), :method=>:delete, :class=>:destroy, data: {confirm: "Are you sure?"}
            %td= c.id
            %td= c.name
            %td #{c&.account&.name}
  -else
    .alpha.twelve.columns.no-objects-found
      %h5 Store Credit Categories Not Found
#new-category.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#edit-category.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content