-if alert
  .alert.alert-danger{:role => "alert"}
    %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
    %strong= alert
-if notice 
  .alert.alert-success{:role => "alert"}
    %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
    %strong= notice