%section#about-page.general-layout.two-layout
  .right.general-page
    %h2 Testimonial
    .nuke-wysiwyg
      %p{:style => "font-size:12px;"} Here is our client's testimonials, what they feel and what they said about us.
      %br/
    #testimonial-list
    - testimonials.each do |t|
      .da-testi
        %span.testimoner
          = t.name
          %small.tst-date= t.created_at.strftime("%A, %d %B %Y")
        .testinya.nuke-wysiwyg{:style => "padding-bottom:10px;"}
          %p{:style => "font-size:11px;"}= t.testimonial
          %p 

  .clear
/ .general-layout
