!!!
/[if lt IE 7 ] <html class="ie ie6" lang="<haml_loud> I18n.locale </haml_loud>">
/[if IE 7 ] <html class="ie ie7" lang="<haml_loud> I18n.locale </haml_loud>">
/[if IE 8 ] <html class="ie ie8" lang="<haml_loud> I18n.locale </haml_loud>">
/[if IE 9 ] <html class="ie ie9" lang="<haml_loud> I18n.locale </haml_loud>">
/ [if gt IE 9]><!
%html{:lang => "#{I18n.locale}"}
  / <![endif]
  %head{"data-hook" => "inside_head"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    = render :partial => 'spree/shared/head'
  %body{:class => "#{body_class} test", "data-hook" => "body", :id => "#{@body_id || 'default'}"}
    = render :partial => "spree/shared/header_mobile"
    #main
      .grid960
        = render :partial => 'spree/shared/header'
        .welcome-header.text-center Jual Grosir Baju Anak
        = render :partial => 'spree/shared/menu'
        - if current_page?(root_url)
          = render :partial => 'spree/shared/banner'
        - desc.each do |s|
          %section#welcome-msg.text-center
            .nuke-wysiwyg.welcome-text
              = raw(s.description)
        %section#marquee-wrap.round10
          #marquee
            .pointer{:style => "display: block-inline; width: 538px; height: 12px; overflow: hidden; font-size: 12px"}
              %marquee
                = news.news
        %section#index-page.general-layout.two-layout
          .right
            .tab_container
              #tab2.tab_content{:style => "display: block;"}
                = flash_messages
                = yield
          = render :partial => 'spree/shared/sidebar'
          .clear
        = render :partial => 'spree/shared/footer'
