<div data-hook="add_bank_id_on_admin_user" class="field">
  <%= f.label :bank_id, "Rekening Pembayaran Bank 1" %><br>
  <%= f.select :bank_id, Spree::Bank.active.collect{|x|["#{x.name} / #{x.account_name} / #{x.account_no}", x.id]}, {}, { class: 'select2 fullwidth' } %>
</div>
<div data-hook="add_bank_id_on_admin_user" class="field">
  <%= f.label :bank2_id, "Rekening Pembayaran Bank 2" %><br>
  <%= f.select :bank2_id, Spree::Bank.active.collect{|x|["#{x.name} / #{x.account_name} / #{x.account_no}", x.id]}, {}, { class: 'select2 fullwidth' } %>
</div>