- content_for :sidebar_title do
  = Spree.t(:lifetime_stats)
- content_for :sidebar do
  %nav.menu
    %fieldset.no-border-top{"data-hook" => "admin_user_lifetime_stats"}
      %dl#user-lifetime-stats
        %dt
          Old Transaction
          \:
        %dd= number_to_currency @user.old_transaction_total
        %dt
          Ready Stock
          \:
        %dd= number_to_currency @user.orders.paid.ready_stock.sum(:total)
        %dt
          Invoice
          \:
        %dd= number_to_currency @user.invoices.paid.sum(:total)
        %dt
          Total
          \:
        %dd= number_to_currency(@user.old_transaction_total + @user.orders.paid.ready_stock.sum(:total) + @user.invoices.paid.sum(:total))
