- admin_layout "full-width"
- admin_breadcrumb(plural_resource_name(Spree::LegacyUser))
- content_for :page_actions do
  - if can?(:admin, Spree.user_class) && can?(:create, Spree.user_class)
    %li
      = button_link_to Spree.t(:new_user), new_admin_user_url, :id => 'admin_new_user_link'
  %li
    = button_link_to "Download CSV", admin_exports_path, :no_text => true
- content_for :table_filter_title do
  = Spree.t(:search)
- content_for :table_filter do
  %div{"data-hook" => "admin_users_index_search"}
    = search_form_for [:admin, @search], url: admin_users_url do |f|
      .row
        .col-sm-4
          .field
            = f.label :email_cont, Spree.t(:email)
            %br/
            = f.text_field :email_cont, :class => 'fullwidth'
        .col-sm-4
          .field
            = f.label :name_cont, Spree.t(:name)
            %br/
            = f.text_field :name_cont, :class => 'fullwidth'
        .col-sm-4
          .field
            = f.label :phone_cont, Spree.t(:phone)
            %br/
            = f.text_field :phone_cont, :class => 'fullwidth'
      .row
        .col-sm-2
          .field
            = label_tag :member_type_cont, "Member Type"
            %br/
            = f.select :member_type_eq, [["Reguler", "Reguler"], ["Silver", "Silver"], ["Gold", "Gold"]], { include_blank: true, prompt: "Select Member Type" }, { class: "select2" }
        .col-sm-2
          .field
            = label_tag :active_user_eq, "Active/Inactive"
            %br/
            = f.select :active_user_eq, [["Active", 1], ["Non-Aktif", 0]], { include_blank: true, prompt: "Select Status" }, { class: "select2" }
      .row 
        .col-sm-12.align-center
          %div{"data-hook" => "admin_users_index_search_buttons"}
            = button Spree.t(:search)
%table#listing_users.index{"data-hook" => ""}
  %thead
    %tr{"data-hook" => "admin_users_index_headers"}
      %th= sort_link @search, :created_at, "Registered at"
      %th Name
      %th= sort_link @search,:email, "Email", {}, {:title => 'users_email_title'}
      %th Type
      %th Last Transaction Date
      %th Total Old Transaction
      %th Total Ready Stock
      %th Total Invoice
      %th Total Store Credit
      %th Phone
      %th Status
      %th.actions{"data-hook" => "admin_users_index_header_actions"}
  %tbody
    - @users.each do |user|
      %tr{:class => "#{cycle('odd', 'even')}", "data-hook" => "admin_users_index_rows", :id => "#{spree_dom_id user}"}
        %td= user.created_at.to_date
        %td=link_to user.name, edit_admin_user_url(user)
        %td.user_email= link_to user.email, edit_admin_user_url(user)
        %td= user.member_type
        %td= user.orders.last.present? ? user.orders.last.created_at.to_date : "None"
        %td= number_to_currency(user.old_transaction_total)
        %td= link_to number_to_currency(user.orders.paid.ready_stock.sum(:total)), admin_orders_path(q: {email_cont: user.email, payment_state_eq: "paid", preorder_eq: 0})
        %td= link_to number_to_currency(user.invoices.paid.sum(:total)), admin_invoices_path(name_contain: user.name, payment_is: "paid")
        %td= link_to number_to_currency(user.total_available_store_credit), Rails.application.routes.url_helpers.journal_store_credits_path(q: {user_name_cont: user.name})
        %td= user&.phone
        %td= user.active_user? ? "Active" : "Inactive"
        %td.actions{"data-hook" => "admin_users_index_row_actions"}
          - if can?(:edit, user)
            = link_to_edit user, :no_text => true
          - if can?(:destroy, user)
            = link_to_delete user, :no_text => true
= paginate @users, theme: "solidus_admin"
