.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Pay with Store Credit
      .pull-right
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = form_for('Filter_Order', :as => 'filter_or', method: :get, :url => journal_payment_store_credits_path) do |f|
    .row 
      .col-sm-5
        .form-group.form-group-default.required
          %label Name
          = text_field_tag 'name_user', nil, class: 'form-control'
      .col-sm-5
        .form-group.form-group-default.required
          %label Order Number
          = text_field_tag 'number', nil, class: 'form-control'
      .col-sm-2
        = f.submit "Search", class: "btn btn-success"
  .panel.panel-transparent
    %ul.nav.nav-tabs.nav-tabs-fillup{"data-init-reponsive-tabs" => "dropdownfx"}
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab-fillup1"}
          %span Order
      %li
        %a{"data-toggle" => "tab", :href => "#tab-fillup2"}
          %span Invoice
      %li
        %a{"data-toggle" => "tab", :href => "#tab-fillup5"}
          %span Journal Invoice
    .tab-content
      #tab-fillup1.tab-pane.active
        .row
          .col-xs-12.col-sm-12.col-md-12
            %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
              %thead
                %tr
                  %th Name
                  %th Order Number
                  %th Amount
                  %th Action
              %tbody
                - @order_payments.each do |r|
                  %tr
                    %td #{r.user.nil? ? r.billing_address.firstname : r.user.name}
                    %td= r.number
                    %td= r.display_outstanding_balance
                    %td
                      - if !r.user.nil?
                        - if !r.user.total_available_store_credit.zero?
                          = link_to use_store_credit_for_order_journal_payment_store_credits_path(order_id: r.id), method: :put, class: "btn btn-success btn-sm" do
                            %i.fa.fa-money
                            Use store credit #{number_to_currency(r.user.total_available_store_credit)}
            = paginate @order_payments, theme: "solidus_admin"
      #tab-fillup2.tab-pane
        .row
          .col-xs-12.col-sm-12.col-md-12
            = paginate @invoice_payments, theme: "solidus_admin"
            %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
              %thead
                %tr
                  %th Name
                  %th Invoice Number
                  %th Amount
                  %th Currency
                  %th Action
              %tbody
                - @invoice_payments.each do |r|
                  %tr 
                    %td #{r.user.nil? ? r.billing_address.firstname : r.user.name}
                    %td= r.id
                    %td= number_to_currency r.outstanding_balance
                    %td= r.items.first.order.currency
                    %td
                      - if !r.user.nil?
                        - if !r.user.total_available_store_credit.zero?
                          = link_to use_store_credit_for_invoice_journal_payment_store_credits_path(invoice_id: r.id), method: :put, class: "btn btn-success btn-sm" do
                            %i.fa.fa-money
                            Use store credit #{number_to_currency(r.user.total_available_store_credit)}
            = paginate @invoice_payments, theme: "solidus_admin" 
      #tab-fillup5.tab-pane
        .row
          .col-xs-12.col-sm-12.col-md-12
            = paginate @journal_invoice_payments, theme: "solidus_admin"
            %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
              %thead
                %tr
                  %th Vendor
                  %th Amount
                  %th Description
                  %th Action
              %tbody
                - @journal_invoice_payments.each do |r|
                  %tr
                    %td= r.vendor
                    %td= number_to_currency r.outstanding_balance
                    %td= r.items.first.description
                    %td
                      - if !r.user.nil?
                        - if !r.user.total_available_store_credit.zero?
                          = link_to use_store_credit_for_journal_invoice_journal_payment_store_credits_path(journal_invoice_id: r.id), method: :put, class: "btn btn-success btn-sm" do
                            %i.fa.fa-money
                            Use store credit #{number_to_currency(r.user.total_available_store_credit)}
            = paginate @journal_invoice_payments, theme: "solidus_admin"