- admin_breadcrumb("Credit Note")
-if @credit_note.any? 
  = paginate @credit_note, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th Number
        %th Date
        %th Name
        %th Total
        %th Sisa Tagihan
        %th Payment State
        %th Description
        %th Due Date
    %tbody
      - @credit_note.each do |cn|
        %tr
          %td= cn.number.nil? ? cn.id : cn.number
          %td= cn.created_at.to_date
          %td= cn.vendor
          %td= number_to_multi_currency(cn.total, cn.currency)
          %td
            - if cn.payment_state == "pending"
              = number_to_currency cn.outstanding_balance
            - else
              Lunas
          %td
            - if cn.payment_state == "unpaid"
              Tidak Terbayar
            - else
              = cn.payment_state.capitalize
          %td= cn.items.first.description
          %td= cn.due_date.strftime("%d %B %Y") if cn.due_date
  = paginate @credit_note, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    Not Found