- admin_breadcrumb("History DP Hangus")
= form_for('Filter_AT', :as => 'filter_at', method: :get, :url => dp_hangus_admin_reports_path) do |f|
  .row 
    .field-block.col-xs-3
      .date-range-filter.field
        = label_tag Spree.t(:date_range)
        .date-range-fields
          = text_field_tag 'start_date',params[:start_date], class: 'datepicker datepicker-from', :placeholder => Spree.t(:start)
          %span.range-divider
            %i.fa.fa-arrow-right
          = text_field_tag 'end_date', params[:end_date], class: 'datepicker datepicker-to', :placeholder => Spree.t(:stop)
    .col-xs-6
      .field.col-xs-6
        = label_tag 'Order Number'
        %br
        = text_field_tag 'order_number_contain', params[:order_number_contain]
  .row
    .col-sm-12.align-center
      = f.submit "Filter", class: "btn btn-success"
  %hr
-if @dp_hangus.any? 
  = paginate @dp_hangus, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th ID
        %th DP Exp Date
        %th Order Number
        %th Cust Name
        %th Image
        %th SKU
        %th Reason
        %th Total DP Exp
    %tbody
      - @dp_hangus.each do |s|
        %tr
          %td.align-center= s.id
          %td.align-center= s.try(:unit_cancel).try(:created_at).to_date
          %td.align-center= link_to s.try(:order).number, spree.cart_admin_order_url(s.try(:order).number)
          %td.align-center= s.try(:order).try(:user).try(:name)
          %td.align-center= image_tag(s.variant.display_image(fallback: false).attachment(:mini))
          %td.align-center #{link_to(s.variant.name, edit_admin_product_path(s.variant.product))} - #{s.variant.sku}
          %td.align-center= s.try(:unit_cancel).try(:reason)
          %td.align-center= number_to_currency s.try(:line_item).try(:total_down_payment)
  = paginate @dp_hangus, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    Not Found