- admin_breadcrumb("Income DP Preorder")

-if @items_sales.any? 
  = paginate @items_sales, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th.align-left{width: "15%"} Order Number
        %th.align-left{width: "20%"} Code Item
        %th.align-left{width: "35%"} Name
        %th.align-left{width: "15%"} Tanggal Bayar
        %th.align-left{width: "15%"} Total DP
    %tbody
      - @items_sales.each do |a|
        %tr
          %td= a.number
          %td= a.variants.first.sku
          %td= link_to(a.variants.first.name, edit_admin_product_path(a.variants.first.product))
          %td
            -if !a.payments.valid.nil?
              = a.payments.valid.last.updated_at.to_date
            -else 
              Not Found Payment
          %td= number_to_idr(a.payment_total)
      %tr
        %td.align-right{colspan: 4} Total
        %td.align-left{colspan: 2}= number_to_idr(@items_sales.sum(:payment_total))
  = paginate @items_sales, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    Not Found