- admin_breadcrumb(Spree.t(:reports))
%hr
= form_for('Filter_AT', :as => 'filter_at', method: :get, :url => admin_reports_path) do |f|
  .row 
    .col-sm-6
      .form-group.form-group-default.required
        %label Start Date
        = date_field_tag 'start_date', params[:start_date].present? ? params[:start_date] : nil, class: 'form-control'
    .col-sm-6
      .form-group.form-group-default.required
        %label End Date
        = date_field_tag 'end_date', params[:end_date].present? ? params[:end_date] : nil,class: 'form-control'
  .align-center
    = f.submit "Filter", class: "btn btn-success"
%hr
%h2.align-center Sales
%table
  %thead
    %tr
      %th Category Sales
      %th Balance
      %th Harga Beli Total
      %th Net Income
      %th Total Pack
  %tbody
    %tr
      %td.align-center= link_to "Ready Stock", sales_ready_stock_admin_reports_url(params.permit(:start_date, :end_date))
      %td.align-center= number_to_idr(@total_ready_stock)
      %td.align-center= number_to_idr(@total_hpp_rs)
      %td.align-center= number_to_idr(@total_ready_stock - @total_hpp_rs)
      %td.align-center= @sales_pack_rs
      %td.actions
        = link_to_with_icon 'file-excel-o', "Download CSV", sales_ready_stock_admin_reports_path(params.permit(:start_date, :end_date), format: "csv"), :no_text => true
    %tr
      %td.align-center= link_to "Invoice", invoice_sales_admin_reports_url(params.permit(:start_date, :end_date))
      %td.align-center= number_to_idr(@total_invoice)
      %td.align-center= number_to_idr(@total_hpp_invoices)
      %td.align-center= number_to_idr(@total_invoice - @total_hpp_invoices)
      %td.align-center= @sales_pack_inv
      %td.actions
        = link_to_with_icon 'file-excel-o', "Download CSV", invoice_sales_admin_reports_path(params.permit(:start_date, :end_date), format: "csv"), :no_text => true
    %tr
      %td.align-center 
        %b Subtotal
      %td.align-center
        %b= number_to_idr(@total_ready_stock+@total_invoice)
      %td.align-center
        %b= number_to_idr(@total_hpp_invoices+@total_hpp_rs)
      %td.align-center
        %b= number_to_idr((@total_ready_stock+@total_invoice)-(@total_hpp_invoices+@total_hpp_rs))
      %td.align-center
        %b= @sales_pack_rs + @sales_pack_inv
%h2.align-center Unearned Income
%table
  %thead
    %tr
      %th Category Sales
      %th Balance
      %th Total Pack
  %tbody
    %tr
      %td.align-center= link_to "DP Preorder", income_dp_preorder_admin_reports_url(params.permit(:start_date, :end_date))
      %td.align-center= number_to_idr(@total_dp)
      %td.align-center= @dp_pack
      %td.actions
        = link_to_with_icon 'file-excel-o', "Download CSV", income_dp_preorder_admin_reports_path(params.permit(:start_date, :end_date), format: "csv"), :no_text => true
    %tr
      %td.align-center 
        %b Subtotal
      %td.align-center
        %b= number_to_idr(@total_dp)
      %td.align-center
        %b= @dp_pack
%h2.align-right Total
%h2.align-right= number_to_idr(@total_ready_stock+@total_invoice+@total_dp)

%h2.align-center Unpaid Invoice
%table
  %thead
    %tr
      %th Category 
      %th Balance
  %tbody
    %tr
      %td.align-center
        %b= link_to "Unpaid Invoice", unpaid_invoice_admin_reports_url(params.permit(:start_date, :end_date))
      %td.align-center
        %b= number_to_idr(@total_unpaid_invoices)
      %td.actions
        = link_to_with_icon 'file-excel-o', "Download CSV", unpaid_invoice_admin_reports_path(params.permit(:start_date, :end_date), format: "csv"), :no_text => true

%h2.align-center Credit Note
%table
  %thead
    %tr
      %th Category 
      %th Balance
  %tbody
    %tr
      %td.align-center
        %b= link_to "Credit Note", credit_note_admin_reports_path
      %td.align-center
        %b= number_to_idr(@total_credit_note)
      %td.actions
        = link_to_with_icon 'file-excel-o', "Download CSV", credit_note_admin_reports_path(format: "csv"), :no_text => true

