- admin_breadcrumb("Invoice Sales")

-if @items_sales.any? 
  = paginate @items_sales, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th.align-left{width: "10%"} Invoice ID
        %th.align-left{width: "10%"} Order Number
        %th.align-left{width: "15%"} Code Item
        %th.align-left{width: "20%"} Name
        %th.align-left{width: "5%"} Qty
        %th.align-left{width: "10%"} Harga Satuan
        %th.align-left{width: "10%"} Tanggal Bayar
        %th.align-left{width: "10%"} Harga Jual
        %th.align-left{width: "10%"} Harga Beli
    %tbody
      - @items_sales.each do |invoice|
        - invoice.items.each do |item|
          %tr
            %td= link_to item.invoice.id, admin_invoice_path(item.invoice.id)
            %td= item.order.number
            %td= item.variant.sku
            %td= link_to(item.variant.name, edit_admin_product_path(item.variant.product))
            %td= item.total_pieces
            %td= number_to_idr((item.total_amount - item.adjustment_total.to_i)/item.inventory_unit.line_item.qty_per_pack)
            %td
              -if !invoice.payments.paid.empty?
                =invoice.payments.paid.last.updated_at.to_date
              -else 
                Not Found Payment
            %td= number_to_idr(item.total_amount - item.adjustment_total.to_i)
            %td= number_to_idr(item.variant.cost_price_pack)
      %tr
        %td{colspan: 7} Total
        %td= number_to_idr(@total_invoice)
  = paginate @items_sales, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    Not Found