- admin_breadcrumb("History Lost Item")
= form_for('Filter_AT', :as => 'filter_at', method: :get, :url => lost_item_admin_reports_path) do |f|
  .row 
    .col-sm-4
      .form-group.form-group-default.required
        %label Start Date
        = date_field_tag 'start_date', nil, class: 'form-control'
    .col-sm-4
      .form-group.form-group-default.required
        %label End Date
        = date_field_tag 'end_date', nil,class: 'form-control'
    .col-sm-4
      = f.submit "Filter", class: "btn btn-success"
-if @lost_items.any? 
  = paginate @lost_items, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th Image
        %th SKU
        %th Lost Qty(pcs)
        %th Originator
        %th Date
        %th Description
    %tbody
      - @lost_items.each do |s|
        %tr
          %td.align-center= image_tag(s.stock_item.variant.display_image(fallback: false).attachment(:small))
          %td.align-center= link_to(s.stock_item.variant.name, edit_admin_product_path(s.stock_item.variant.product))
          %td.align-center= s.try(:quantity)
          %td.align-center= s.try(:originator_to_human)
          %td.align-center= s.try(:created_at).to_date
          %td.align-center #{s.originator.description}
  = paginate @lost_items, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    Not Found