- admin_breadcrumb("History Return Order")
= search_form_for @search, url: return_order_admin_reports_path do |f|
  .row
    .col-md-4
      .field
        = label_tag :q_created_at_gteq, "Start Date"
        = f.date_field :created_at_gteq
    .col-md-4
      .field
        = label_tag :q_created_at_lteq, "End Date"
        = f.date_field :created_at_lteq
    .col-md-4
      = button Spree.t(:filter_results)
-if @return_order.any? 
  = paginate @return_order, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th Date
        %th Order/Inv Number
        %th Member Name
        %th Image
        %th SKU
        %th Qty(pcs)
        %th Return Reason
        %th Amount Refund
        %th Status
    %tbody
      - total_pcs = 0
      - total_amount_return = 0
      - @return_order.each do |ra|
        - ra.return_items.each do |r|
          - total_pcs += r.quantity.to_i
          - total_amount_return += r.amount.to_i
          %tr
            %td.align-center= ra.try(:created_at).to_date
            %td.align-center= ra.try(:order).preorder? ? r.inventory_unit.invoice_item.invoice.number : ra.try(:order).number
            %td.align-center= ra.try(:order).try(:user).try(:name)
            %td.align-center= image_tag r.inventory_unit.variant.display_image.attachment(:mini)
            %td.align-center= r.inventory_unit.variant.sku
            %td.align-center #{r.quantity}
            %td.align-center #{ra.try(:memo)}
            %td.align-center= number_to_currency r.amount
            %td.align-center=  r.resellable? ? "Back in stock" : "Reject"
    %tfooter
      %tr
        %td.align-center{colspan:4} Total
        %td #{total_pcs} pcs
        %td{colspan: 2} #{number_to_currency total_amount_return}
  = paginate @return_order, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    Not Found