- admin_breadcrumb("Ready Stock Sales")

-if @items_sales.any? 
  = paginate @items_sales, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th.align-left{width: "10%"} Order Number
        %th.align-left{width: "15%"} Code Item
        %th.align-left{width: "30%"} Name
        %th.align-left{width: "5%"} Qty(pcs)
        %th.align-left{width: "8%"} Harga Satuan
        %th.align-left{width: "10%"} Tanggal Bayar
        %th.align-left{width: "8%"} Harga Jual
        %th.align-left{width: "15%"} Harga Beli
    %tbody
      - total_cost_price = 0
      - @items_sales.each do |order|
        - order.line_items.each do |a|
          %tr
            %td= order.number
            %td= a.variant.sku
            %td= link_to(a.variant.name, edit_admin_product_path(a.variant.product))
            %td= a.total_line_items
            %td= a.display_price
            %td
              -if !order.payments.valid.empty?
                =order.payments.valid.last.updated_at.to_date
              -else 
                Not Found Payment
            %td= a.display_amount.to_html
            %td= number_to_idr(a.real_cost_price.to_i)
      %tr
        %td.align-right{colspan: 7} Total
        %td= number_to_idr(@items_sales.sum(:item_total))
  = paginate @items_sales, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    Not Found