- admin_breadcrumb("History Store Credit")
= form_for('Filter_AT', :as => 'filter_at', method: :get, :url => store_credit_admin_reports_path) do |f|
  .row 
    .col-sm-4
      .form-group.form-group-default.required
        %label Start Date
        = date_field_tag 'start_date', nil, class: 'form-control'
    .col-sm-4
      .form-group.form-group-default.required
        %label End Date
        = date_field_tag 'end_date', nil,class: 'form-control'
    .col-sm-4
      .form-group.form-group-default.required
        %label Name
        = text_field_tag 'name_user', nil, class: 'form-control'
  .row
    .col-sm-12
      = f.submit "Filter", class: "btn btn-success"
.row
  .col-sm-12.align-right
    %h2 Total balance store credit
    %h2= number_to_currency(@store_credits.sum(:amount)-@store_credits.sum(:amount_used))

-if @store_credits.any? 
  = paginate @store_credits, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th Date
        %th Email
        %th Name
        %th Amount
        %th Amount Used
        %th Balance
        %th Memo
        %th Created by
    %tbody
      - @store_credits.each do |s|
        %tr
          %td.align-center= s.try(:created_at).to_date
          %td.align-center= s.try(:user).email
          %td.align-center= s.try(:user).name
          %td.align-center= number_to_currency(s.try(:amount))
          %td.align-center= number_to_currency(s.try(:amount_used))
          %td.align-center= number_to_currency(s.try(:amount)-s.try(:amount_used))
          %td.align-center= s.try(:memo)
          %td.align-center= s.try(:created_by).email
  = paginate @store_credits, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    Not Found