- admin_breadcrumb("Unpaid Invoice")
= form_for('Filter_AT', :as => 'filter_at', method: :get, :url => unpaid_invoice_admin_reports_path) do |f|
  .row 
    .col-sm-4
      .form-group.form-group-default.required
        %label Start Date
        = date_field_tag 'start_date', params[:start_date].present? ? params[:start_date] : nil, class: 'form-control'
    .col-sm-4
      .form-group.form-group-default.required
        %label End Date
        = date_field_tag 'end_date', params[:end_date].present? ? params[:end_date] : nil,class: 'form-control'
    .col-sm-4
      .form-group.form-group-default.required
        %label Member Name
        = text_field_tag 'name_user', params[:name_user].present? ? params[:name_user] : nil,class: 'form-control'
  .align-center
    = f.submit "Filter", class: "btn btn-success"
-if @unpaid_invoice.any? 
  = paginate @unpaid_invoice, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th.align-left{width: "10%"} Invoice ID
        %th.align-left{width: "10%"} Invoice Date
        %th.align-left{width: "10%"} Member Name
        %th.align-left{width: "10%"} Order Number
        %th.align-left{width: "10%"} Code Item
        %th.align-left{width: "5%"} Qty
        %th.align-left{width: "10%"} Harga Satuan
        %th.align-left{width: "10%"} Tanggal Bayar
        %th.align-left{width: "10%"} Harga Jual
        %th.align-left{width: "10%"} Harga Beli
    %tbody
      - @unpaid_invoice.each do |invoice|
        - invoice.items.each do |item|
          %tr
            %td= link_to item.invoice.id, admin_invoice_path(item.invoice.id)
            %td= invoice.created_at.to_date
            %td= link_to item.invoice.user.name
            %td= item.order.number
            %td= link_to(item.variant.sku, edit_admin_product_path(item.variant.product))
            %td= item.total_pieces
            %td= number_to_idr((item.total_amount - item.adjustment_total.to_i)/item.inventory_unit.line_item.qty_per_pack)
            %td
              -if !invoice.payments.paid.empty?
                =invoice.payments.paid.last.updated_at.to_date
              -else 
                Not Found Payment
            %td= number_to_idr(item.total_amount - item.adjustment_total.to_i)
            %td= number_to_idr(item.variant.cost_price_pack)
      %tr
        %td{colspan: 7} Total
        %td= number_to_idr(@unpaid.sum(:total))
  = paginate @unpaid_invoice, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    Not Found