<style type="text/css">
/* Client-specific Styles */
  #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
  body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
  body{-webkit-text-size-adjust:none; -ms-text-size-adjust:none;} /* Prevent Webkit and Windows Mobile platforms from changing default font sizes. */
  /* Reset Styles */
  body{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif, courier; font-size:13px; color:#333;}
  img{height:auto; line-height:100%; outline:none; text-decoration:none;}
  #backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;}

p {
   margin: 1em 0;
}
h1, h2, h3, h4, h5, h6 {
   color: #555 !important;
   line-height: 100% !important;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
   color: #1694B9 !important;
}
h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
     color: #1694B9 !important; /* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
 }

h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {

   color: #1694B9 !important; /* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */

}

 table td {

     border-collapse:collapse;

 }

 .yshortcuts, .yshortcuts a, .yshortcuts a:link,.yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span { color: black; text-decoration: none !important; border-bottom: none !important; background: none !important;} /* Body text color for the New Yahoo.  This example sets the font of Yahoo's Shortcuts to black. */

/* ADDED BY NUKEGRAPHIC */
#grey-wrap {border:3px solid #fff; -moz-box-shadow:0 0 2px #555; -webkit-box-shadow:0 0 2px #555; box-shadow:0 0 2px #555;}
#grey-wrap h1 {font-size:18px; text-shadow:0 1px 1px #fff; color:#1694B9 !important;}
#grey-wrap p {line-height:1.5em; margin:0; margin-bottom:10px;}
#white-wrap {background:#fff; border:1px solid #ddd; margin-bottom:10px;}
.nuke-table {margin-bottom:10px; font-weight:bold;}
.small {font-size:10px; color:#555;}

/* GENERAL TABLE */
table.general-table {}
table.general-table td {border:1px solid #a8a7a5; padding:5px;}
table.general-table thead {text-transform:capitalize;}
table.general-table thead td {background:#f3f3f3;}
table.general-table tbody td {font-size:11px;}
table.general-table a {color:#2387bc; font-weight:bold;}
table.general-table a:hover {text-decoration:underline;}

/* v1.0 | 20080212 */
.top-wrapper { padding-top:5px; padding-left:20px; padding-right:20px; width:100%;}
.clear-2 { clear:both; height:0px;}
.left-wrapper { width:45%; float:left;} .left-wrapper2 { width:55%; float:left;}
.text-2 { color:#000;  font-family:courier; font-size:13px; line-height:1.5em; font-weight:500;}
span.h2 { font-size:22px; font-weight:600; line-height:1.8em;}
.title { font-size:14px; text-transform:uppercase; font-weight:600;}
.text-3 {  margin-top:10px; color:#000;  font-family:courier; font-size:13px; line-height:1.5em; font-weight:500;}
span.h1 { font-size:12px; font-weight:600; line-height:1.8em;}
table.table-general {font-size:12px; color:#000;  font-family:courier;}
table.table-general td { vertical-align:top; line-height:1.5em;}
.title-wrap { width:100%; padding-top:4px; padding-bottom:4px; margin-left:10px; border-top:1px solid #bebdbd; border-bottom:1px solid #bebdbd; margin-top:20px; font-family:courier; color:#000;}
.left-title-wrap { float:left; width:50%; font-size:13px; line-height:1.6em;}
.left-title-wrap2 { float:left; width:50%; padding-left:0px; font-size:12px; line-height:1.6em;}
.left-title-wrap-all { float:left; width:100%; font-size:12px; line-height:1.6em; padding-top:5px; margin-top:10px;  border-top:1px solid #bebdbd; padding-bottom:4px;}
.content-detail { padding-top:10px; padding-left:20px; padding-right:10px;}
.table-order {font-size:12px; color:#000;  font-family:courier;}
table.table-order td { vertical-align:top; line-height:1.5em;}
td.td-ptext > p { line-height:1.4em;}
</style>
<table class="content" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
  <tbody>
    <tr>
      <td class="content_cell" align="center" valign="top" style="padding: 0;text-align: center;background-color: #ffffff;font-size: 0 !important;">
          <!--[if (gte mso 9)|(IE)]>
          <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
            <tbody>
              <tr>
                <td width="580" align="center" valign="top">
          <![endif]-->
          <div class="row" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 580px;margin: 0 auto;">
            <!--[if (gte mso 9)|(IE)]>
            <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
              <tbody>
                <tr>
                  <td width="580" align="center" valign="top">
            <![endif]-->
            <div class="col-3" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 580px;">
              <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;vertical-align: top;">
                <tbody>
                  <tr>
                    <td class="column_cell font_default" align="center" valign="top" style="padding: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 15px;text-align: center;vertical-align: top;color: #888888;">
                     <p style="font-family: Helvetica, Arial, sans-serif;font-size: 15px;line-height: 23px;margin-top: 16px;margin-bottom: 24px;">Hello <%= @order.user.name %>,<br>
                      Pembayaran untuk order <strong>#<%= @order.number %></strong> telah kami terima dengan ID transaksi <strong><%= @transaction_id %></strong>.</p>
                     </td><!-- /.column_cell -->
                  </tr>
                </tbody>
              </table><!-- /.column -->
            </div><!-- /.col-3 -->
            <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
              </tbody>
            </table>
            <![endif]-->
          </div><!-- /.row -->
          <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </tbody>
          </table>
          <![endif]-->
      </td><!-- /.content_cell -->
    </tr>
  </tbody>
</table><!-- /.content -->
<table class="jumbotron" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
  <tbody>
    <tr>
      <td class="jumbotron_cell invoice_cell" align="center" valign="top" style="padding: 0;text-align: center;background-color: #f2f2f5;font-size: 0 !important;">
          <!--[if (gte mso 9)|(IE)]>
          <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
            <tbody>
              <tr>
                <td width="580" align="center" valign="top">
          <![endif]-->
          <div class="row" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 580px;margin: 0 auto;">
            <!--[if (gte mso 9)|(IE)]>
            <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
              <tbody>
                <tr>
                  <td width="190" align="center" valign="top">
            <![endif]-->
            <div class="col-1" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 190px;">
              <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;vertical-align: top;">
                <tbody>
                  <tr>
                    <td class="column_cell font_default" align="center" valign="top" style="padding: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 15px;text-align: left;vertical-align: top;color: #888888;padding-top: 0;padding-bottom: 0;">
                      <table class="label" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                        <tbody>
                          <tr>
                            <td class="hspace" style="padding: 0;font-size: 0;height: 8px;overflow: hidden;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td class="hspace" style="padding: 0;font-size: 0;height: 8px;overflow: hidden;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td class="font_default" style="padding: 3px 7px;font-family: Helvetica, Arial, sans-serif;font-size: 10px;font-weight: bold;text-transform: uppercase;letter-spacing: 2px;-webkit-border-radius: 2px;border-radius: 2px;white-space: nowrap;background-color: #8dc641;color: #ffffff;">Alamat Pengiriman</td>
                          </tr>
                        </tbody>
                      </table><!-- end .label -->
                      <p style="font-family: Helvetica, Arial, sans-serif;font-size: 15px;line-height: 23px;margin-top: 8px;margin-bottom: 16px;"><strong><%= @order.ship_address.full_name %></strong><br>
                        <%= @order.ship_address.address1 %><br>
                        <%= @order.ship_address.address2 %><br>
                        <%= @order.ship_address.city %>, <%= @order.ship_address.zipcode %></p>
                    </td><!-- /.column_cell -->
                  </tr>
                </tbody>
              </table><!-- /.column -->
            </div><!-- /.col-1 -->
            <!--[if (gte mso 9)|(IE)]>
                </td>
                <td width="190" align="center" valign="top">
            <![endif]-->
            <div class="col-1" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 190px;">
              <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;vertical-align: top;">
                <tbody>
                  <tr>
                    <td class="column_cell font_default" align="center" valign="top" style="padding: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 15px;text-align: left;vertical-align: top;color: #888888;padding-top: 0;padding-bottom: 0;">
                      <table class="label" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                        <tbody>
                          <tr>
                            <td class="hspace" style="padding: 0;font-size: 0;height: 8px;overflow: hidden;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td class="hspace" style="padding: 0;font-size: 0;height: 8px;overflow: hidden;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td class="font_default" style="padding: 3px 7px;font-family: Helvetica, Arial, sans-serif;font-size: 10px;font-weight: bold;text-transform: uppercase;letter-spacing: 2px;-webkit-border-radius: 2px;border-radius: 2px;white-space: nowrap;background-color: #8dc641;color: #ffffff;">Pembayaran</td>
                          </tr>
                        </tbody>
                      </table><!-- end .label -->
                      <p style="font-family: Helvetica, Arial, sans-serif;font-size: 15px;line-height: 23px;margin-top: 8px;margin-bottom: 16px;"><%= @order.user.bank.name %> / <%= @order.user.bank.account_name %> / <%= @order.user.bank.account_no %></p>
                    </td><!-- /.column_cell -->
                  </tr>
                </tbody>
              </table><!-- /.column -->
            </div><!-- /.col-1 -->
            <!--[if (gte mso 9)|(IE)]>
                </td>
                <td width="190" align="center" valign="top">
            <![endif]-->
            <div class="col-1" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 190px;">
              <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;vertical-align: top;">
                <tbody>
                  <tr>
                    <td class="column_cell font_default" align="center" valign="top" style="padding: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 15px;text-align: left;vertical-align: top;color: #888888;padding-top: 0;padding-bottom: 0;">
                      <table class="label" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
                        <tbody>
                          <tr>
                            <td class="hspace" style="padding: 0;font-size: 0;height: 8px;overflow: hidden;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td class="hspace" style="padding: 0;font-size: 0;height: 8px;overflow: hidden;">&nbsp;</td>
                          </tr>
                          <tr>
                            <td class="font_default" style="padding: 3px 7px;font-family: Helvetica, Arial, sans-serif;font-size: 10px;font-weight: bold;text-transform: uppercase;letter-spacing: 2px;-webkit-border-radius: 2px;border-radius: 2px;white-space: nowrap;background-color: #8dc641;color: #ffffff;">Total</td>
                          </tr>
                        </tbody>
                      </table><!-- end .label -->
                      <% if @order.preorder? %>
                        <p style="font-family: Helvetica, Arial, sans-serif;font-size: 15px;line-height: 23px;margin-top: 8px;margin-bottom: 16px;"><%= @order.display_total %><br/>
                          <strong class="text-secondary" style="color: #e6317e;">DP: <%= @order.display_outstanding_down_payment.to_html %></strong></p>
                      <% else %>
                        <p style="font-family: Helvetica, Arial, sans-serif;font-size: 15px;line-height: 23px;margin-top: 8px;margin-bottom: 16px;"><strong class="text-secondary" style="color: #e6317e;"><%= @order.display_order_total_after_store_credit.to_html %></strong></p>
                      <% end %>
                    </td><!-- /.column_cell -->
                  </tr>
                </tbody>
              </table><!-- /.column -->
            </div><!-- /.col-1 -->
            <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
              </tbody>
            </table>
            <![endif]-->
          </div><!-- /.row -->
          <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </tbody>
          </table>

          <![endif]-->
      </td><!-- /.jumbotron_cell -->
    </tr>
  </tbody>
</table><!-- /.jumbotron -->
<div class='content-detail' style= "background-color: white;">
  <table border='0' cellpadding='0' cellspacing='0' class='table-order' width='100%'>
    <tr>
      <td width='22%'>Style Code</td>
      <td align='center' width='13%'>Pack Qty</td>
      <td align='center' width='13%'>Total Items</td>
      <td align='right' width='15%'>Price</td>
      <td align='right' width='15%'>Total</td>
    </tr>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= item.variant.sku %></td>
        <td align='center'><%= item.quantity %></td>
        <td align='center'><%= item.total_line_items %></td>
        <td align='right'><%= item.single_money.to_html %></td>
        <td align='right'>
          <strong><%= item.display_amount %></strong>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan='8' style='border-bottom:1px solid #bebdbd;'> </td>
    </tr>
    <% if @order.line_item_adjustments.exists? %>
      <% if @order.all_adjustments.promotion.eligible.exists? %>
        <% @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
          <tr>
            <td align='right' colspan='4'>
              <strong>Adjustment :</strong>
            </td>
            <td align='right' colspan='2'>
              <strong><%= number_to_currency(@order.display_item_total ) %></strong>
            </td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
    <tr>
      <td align='right' colspan='4'>
        <strong style='font-size:15px;'>Subtotal :</strong>
      </td>
      <td align='right' colspan='2'>
        <strong><%= @order.display_item_total %></strong>
      </td>
    </tr>
    <% if !@order.preorder? %>
      <tr>
        <td align='right' colspan='4' style='padding-top:10px;'>
          <strong>Total Shipping Cost</strong>:
        </td>
        <td align='right' colspan='4' style='padding-top:10px;'>
          <% @order.shipments.group_by { |s| s.selected_shipping_rate.try(:name) }.each do |name, shipments| %>
            <strong><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency) %></strong>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% if @order.total_applicable_store_credit > 0.0 %>
      <tr>
        <td align='right' colspan='4'>
          <strong style='font-size:15px;'>Store Credit :</strong>
        </td>
        <td align='right' colspan='2'>
          <strong><%= @order.display_total_applicable_store_credit.to_html %></strong>
        </td>
      </tr>
    <% end %>
    <% if @order.preorder? %>
      <tr>
        <td align='right' colspan='4'>
          <strong style='font-size:15px;'>Total :</strong>
        </td>
        <td align='right' colspan='2'>
          <strong><%= @order.display_item_total.to_html %></strong>
        </td>
      </tr>
      <tr>
        <td align='right' colspan='4'>
          <strong style='font-size:15px;'>DP :</strong>
        </td>
        <td align='right' colspan='2'>
          <strong><%= @order.display_outstanding_down_payment.to_html %></strong>
        </td>
      </tr>
    <% else %>
      <tr>
        <td align='right' colspan='4'>
          <strong style='font-size:15px;'>Total :</strong>
        </td>
        <td align='right' colspan='2'>
          <strong><%= @order.display_order_total_after_store_credit.to_html %></strong>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<table class="jumbotron" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;">
  <tbody>
    <tr>
      <td class="jumbotron_cell order_total order_total_right" align="center" valign="top" style="padding: 0;text-align: center;background-color: #f2f2f5;border-top: 1px solid;border-color: #d8dde4;font-size: 0 !important;">
          <!--[if (gte mso 9)|(IE)]>
          <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
            <tbody>
              <tr>
                <td width="580" align="center" valign="top">
          <![endif]-->
          <div class="row" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 580px;margin: 0 auto;">
            <!--[if (gte mso 9)|(IE)]>
            <table width="580" border="0" cellspacing="0" cellpadding="0" align="center" style="vertical-align: top;">
              <tbody>
                <tr>
                  <td width="580" align="center" valign="top">
            <![endif]-->
            <div class="col-3" style="display: inline-block;width: 100%;vertical-align: top;text-align: center;max-width: 580px;">
              <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;vertical-align: top;">
                <tbody>
                  <tr>
                    <td class="column_cell font_default" align="center" valign="top" style="padding: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 15px;text-align: right;vertical-align: top;color: #888888;">
                    <br>
                    <% if @order.all_adjustments.eligible.tax.exists? %>
                      <% @order.all_adjustments.eligible.tax.group_by(&:label).each do |label, adjustments| %>
                        <%= Spree.t(:tax) %> <%= label %> <strong><%= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency) %></strong><br/>
                      <% end %>
                    <% end %>
                    <% @order.adjustments.eligible.each do |adjustment| %>
                      <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
                        <%= adjustment.label %> <strong><%= adjustment.display_amount %></strong><br/>
                    <% end %>
                    </td><!-- /.column_cell -->
                  </tr>
                </tbody>
              </table><!-- /.column -->
            </div><!-- /.col-3 -->
            <!--[if (gte mso 9)|(IE)]>
                  </td>
                </tr>
              </tbody>
            </table>
            <![endif]-->
          </div><!-- /.row -->
          <!--[if (gte mso 9)|(IE)]>
                </td>
              </tr>
            </tbody>
          </table>
          <![endif]-->
      </td><!-- /.jumbotron_cell -->
    </tr>
  </tbody>
</table><!-- /.jumbotron -->