<style type="text/css">
/* Client-specific Styles */
  #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
  body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
  body{-webkit-text-size-adjust:none; -ms-text-size-adjust:none;} /* Prevent Webkit and Windows Mobile platforms from changing default font sizes. */
  /* Reset Styles */
  body{margin:0; padding:0; font-family:Arial, Helvetica, sans-serif, courier; font-size:13px; color:#333;}
  img{height:auto; line-height:100%; outline:none; text-decoration:none;}
  #backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;}

p {
   margin: 1em 0;
}
h1, h2, h3, h4, h5, h6 {
   color: #555 !important;
   line-height: 100% !important;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
   color: #1694B9 !important;
}
h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
     color: #1694B9 !important; /* Preferably not the same color as the normal header link color.  There is limited support for psuedo classes in email clients, this was added just for good measure. */
 }

h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {

   color: #1694B9 !important; /* Preferably not the same color as the normal header link color. There is limited support for psuedo classes in email clients, this was added just for good measure. */

}

 table td {

     border-collapse:collapse;

 }

 .yshortcuts, .yshortcuts a, .yshortcuts a:link,.yshortcuts a:visited, .yshortcuts a:hover, .yshortcuts a span { color: black; text-decoration: none !important; border-bottom: none !important; background: none !important;} /* Body text color for the New Yahoo.  This example sets the font of Yahoo's Shortcuts to black. */

/* ADDED BY NUKEGRAPHIC */
#grey-wrap {border:3px solid #fff; -moz-box-shadow:0 0 2px #555; -webkit-box-shadow:0 0 2px #555; box-shadow:0 0 2px #555;}
#grey-wrap h1 {font-size:18px; text-shadow:0 1px 1px #fff; color:#1694B9 !important;}
#grey-wrap p {line-height:1.5em; margin:0; margin-bottom:10px;}
#white-wrap {background:#fff; border:1px solid #ddd; margin-bottom:10px;}
.nuke-table {margin-bottom:10px; font-weight:bold;}
.small {font-size:10px; color:#555;}

/* GENERAL TABLE */
table.general-table {}
table.general-table td {border:1px solid #a8a7a5; padding:5px;}
table.general-table thead {text-transform:capitalize;}
table.general-table thead td {background:#f3f3f3;}
table.general-table tbody td {font-size:11px;}
table.general-table a {color:#2387bc; font-weight:bold;}
table.general-table a:hover {text-decoration:underline;}

/* v1.0 | 20080212 */
.top-wrapper { padding-top:5px; padding-left:20px; padding-right:20px; width:100%;}
.clear-2 { clear:both; height:0px;}
.left-wrapper { width:45%; float:left;} .left-wrapper2 { width:55%; float:left;}
.text-2 { color:#000;  font-family:courier; font-size:13px; line-height:1.5em; font-weight:500;}
span.h2 { font-size:22px; font-weight:600; line-height:1.8em;}
.title { font-size:14px; text-transform:uppercase; font-weight:600;}
.text-3 {  margin-top:10px; color:#000;  font-family:courier; font-size:13px; line-height:1.5em; font-weight:500;}
span.h1 { font-size:12px; font-weight:600; line-height:1.8em;}
table.table-general {font-size:12px; color:#000;  font-family:courier;}
table.table-general td { vertical-align:top; line-height:1.5em;}
.title-wrap { width:100%; padding-top:4px; padding-bottom:4px; margin-left:10px; border-top:1px solid #bebdbd; border-bottom:1px solid #bebdbd; margin-top:20px; font-family:courier; color:#000;}
.left-title-wrap { float:left; width:50%; font-size:13px; line-height:1.6em;}
.left-title-wrap2 { float:left; width:50%; padding-left:0px; font-size:12px; line-height:1.6em;}
.left-title-wrap-all { float:left; width:100%; font-size:12px; line-height:1.6em; padding-top:5px; margin-top:10px;  border-top:1px solid #bebdbd; padding-bottom:4px;}
.content-detail { padding-top:10px; padding-left:20px; padding-right:10px;}
.table-order {font-size:12px; color:#000;  font-family:courier;}
table.table-order td { vertical-align:top; line-height:1.5em;}
td.td-ptext > p { line-height:1.4em;}
</style>
<table border='0' cellpadding='0' cellspacing='0'>
  <tr>
    <td style = "background-color: white;">
      <a href='brandedbabys.com' target='_blank' title=''>
        <img alt='' height='70' src='' style='display:block; margin-bottom:20px;' title=''>
      </a>
      <table border='0' cellpadding='0' cellspacing='0' class='table-general' style='padding-top:5px;' width='100%'>
        <tr>
          <td style='padding:25px; padding-top:40px;'>
            <h1 style='color:#1694B9; text-align: center;'>PO Final Invoice</h1>
            <table bgcolor='#ffffff' border='0' cellpadding='0' cellspacing='0' id='white-wrap' style='margin-bottom:10px;'>
              <tr>
                <td style='padding:15px;'>
                  <p style='padding-left:5px; padding-right:15px;'>Dear <%= @invoice.user.name %> </p>
                  <p style='padding-left:5px; padding-right:15px;'>Terlampir final invoice untuk item PO anda yang sudah ready.</p>
                  <p> </p>
                  <div class='top-wrapper', style= "padding-left: 10px;">
                    <div class='left-wrapper'>
                      <div class='text-2'>
                        <span class='h2'>INVOICE</span>
                        <br>
                        <span class='title'>Brandedbaby Wholeseller</span>
                        <br>
                        www.brandedbabys.com<br>Tel. 087882905449
                      </div>
                    </div>
                    <div class='left-wrapper2'>
                      <div class='text-3'>
                        <strong class='h1'>Shipping Address : 
                        </strong>
                        <br>
                        <table border='0' cellpadding='0' cellspacing='0' class='table-general' style='padding-top:5px;' width='100%'>
                          <tr>
                            <td class='td-ptext' colspan='3' style='text-align:left;'>
                              <p style="font-family: courier !important; font-size: 13px;line-height: 23px;margin-top: 8px;margin-bottom: 16px;"><strong><%= @ship_address.full_name %></strong><br>
                                <%= @ship_address.address1 %><br>
                                <%= @ship_address.address2 %><br>
                                <%= @ship_address.city %>, <%= @ship_address.zipcode %>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td style='padding-top:3px; font-size:16px; text-align:left;' width='90'>
                              <strong>Ship via</strong>
                            </td>
                            <td style='padding-top:6px;' width='10'>:</td>
                            <td style='padding-top:3px; font-size:16px; text-align:left;'>
                              <strong><%= @invoice.items.first.shipping_method.name %></strong>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <div class='clear-2'></div>
                  </div>
                  <!-- .top-wrapper -->
                  <div class='title-wrap'>
                    <div class='left-title-wrap'>
                      <strong>INVOICE  NO. #<%= @invoice.id %></strong>
                      <br>
                      Date: <%= @invoice.created_at.to_date %>
                    </div>
                    <div class='left-title-wrap2'>
                      Name: <%= @invoice.user.name %>
                      <strong></strong>
                      <br>
                      Tel: <%= @invoice.user.phone %>
                      <strong></strong>
                    </div>
                    <div class='clear-2'></div>
                    <div class='left-title-wrap-all'>
                      Notes : <%= @invoice.note %>
                      <strong></strong>
                    </div>
                    <div class='clear-2'></div>
                  </div>
                  <div class='content-detail'>
                    <table border='0' cellpadding='0' cellspacing='0' class='table-order' width='100%'>
                      <tr>
                        <td width='15%'>PO ID</td>
                        <td width='16%'>Style Code</td>
                        <td align='center' width='10%'>Pack Qty</td>
                        <td align='center' width='10%'>Total Items</td>
                        <td width='15%'>Price</td>
                        <td align='right' width='12%'>Total</td>
                      </tr>
                      <% weight = 0 %>
                      <% @invoice.items.each do |invoice_item| %>
                        <% weight += invoice_item.total_weight_item %>
                        <tr>
                          <td><%= invoice_item.order.number %></td>
                          <td><%= invoice_item.variant.sku %></td>
                          <td align='center'><%= invoice_item.quantity %></td>
                          <td align='center'><%= invoice_item.total_pieces %></td>
                          <td><%= invoice_item.inventory_unit.line_item.single_money.to_html %></td>
                          <td align='right'>
                            <strong><%= number_to_currency(invoice_item.total_amount_per_item) %></strong>
                          </td>
                        </tr>
                      <% end %>
                      <tr>
                        <td colspan='8' style='border-bottom:1px solid #bebdbd;'> </td>
                      </tr>
                      <tr>
                        <td align='right' colspan='4'>
                          <strong>Total Adjustment :</strong>
                        </td>
                        <td align='right' colspan='2'>
                          <strong><%= number_to_currency(@total_adjustment) %></strong>
                        </td>
                      </tr>
                      <tr>
                        <td align='right' colspan='4' style='padding-top:10px;'>
                          <strong>Total Shipping Cost</strong>
                          (Total weight: 
                          <strong><%= weight %></strong>
                          kg) :
                        </td>
                        <td align='right' colspan='4' style='padding-top:10px;'>
                          <strong><%= @shipment.display_amount.to_html %></strong>
                        </td>
                      </tr>
                      <tr>
                        <td align='right' colspan='4'>
                          <strong style='font-size:15px;'>Subtotal Invoice :</strong>
                        </td>
                        <td align='right' colspan='2'>
                          <strong><%= number_to_currency(@invoice.items.sum(:total_amount) + @shipment.try(:cost)) %></strong>
                        </td>
                      </tr>
                      <tr>
                        <td align='right' colspan='4'>
                          <strong>DP Payment :</strong>
                        </td>
                        <td align='right' colspan='2'>
                          <strong><%= number_to_currency @invoice.dp_paid %></strong>
                        </td>
                      </tr>
                      <tr>
                        <td align='right' colspan='4'>
                          <strong style='font-size:15px;'>Total Invoice :</strong>
                        </td>
                        <td align='right' colspan='2'>
                          <strong><%= number_to_currency @invoice.items.sum(:total_amount) + @shipment.try(:cost)-@invoice.dp_paid %></strong>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <p style='border-top:1px solid #bebdbd; margin-top:10px;'> </p>
                  <p>
                    Please transfer to:
                    <br>
                    <strong><%= @invoice.user.bank.name %> / <%= @invoice.user.bank.account_name %> / <%= @invoice.user.bank.account_no %></strong>
                  </p>
                  <p> </p>
                  <p>
                    1. Harap cantumkan nomor order saat transfer.
                    <br>
                    2. Untuk pembayaran via "setoran tunai" dan "transfer antar bank" mohon infokan pembayaran anda via sms ke 087882905449.
                    <br>
                    3. Harap transfer sesuai angka pada invoice. Apabila ada revisi pada alamat / ekspedisi harap SMS revisi tersebut ke 087882905449.
                    <br>
                    4. Batas waktu transfer adalah 3x24 jam terhitung tanggal invoice ini dibuat.
                    <br>
                    <br>
                    Terima kasih
                    <br>
                    <br>
                    <br>
                    Cheers,
                    <br>
                    <br>
                    Brandedbaby Wholeseller
                    <br>
                    www.brandedbabys.com
                    <br>
                    <br>
                    Tel: 02155701167
                    <br>
                    Whatsapp/SMS: 087882905449
                    <br>
                    Line: @brandedbabys (please use @)
                    <br>
                    Fanpage: www.facebook.com/brandedbabys
                    <br>
                    Email: wholesellerbaby@gmail.com
                    <br>
                  </p>
                </td>
              </tr>
            </table>
            <!-- #white-wrap -->
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>