.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Transfer Fund
.modal-body
  .panel-body
    = form_for @journal_transfer_fund do |f|
      - if @journal_transfer_fund.errors.any?
        #error_explanation
          %h2= "#{pluralize(@journal_transfer_fund.errors.count, "error")} prohibited this journal_transfer_fund from being saved:"
          %ul
            - @journal_transfer_fund.errors.full_messages.each do |msg|
              %li= msg

      .form-group.form-group-default.required
        = f.label "Amount"
        = f.text_field :amount, class: "input form-control"
      .form-group.form-group-default.required
        = f.label "From"
        = f.collection_select :from, Journal::Account.from_transfer_fund, :id, Proc.new{|a|"#{a.name} (#{a.currency})"}, {:prompt => 'IDR Account'}, {class: "form-control"}
      .form-group.form-group-default.required
        = f.label "To"
        = f.collection_select :to, Journal::Account.cash_and_bank, :id, Proc.new{|a|"#{a.name} (#{a.currency})"}, {:prompt => 'Supplier Account'}, {class: "form-control"}
      .form-group.form-group-default.required
        = f.label "Transaction Date"
        = f.date_field :transaction_date, class: "input form-control"
      .form-group.form-group-default.required
        = f.label :kurs
        = f.text_field :kurs, class: "input form-control"
      .actions
        = f.submit 'Submit', class: "btn btn-success"
