.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Transfer Fund
      .pull-right
        %ul.list-inline
          %li
            = link_to new_journal_transfer_fund_url, "data-toggle" => "modal", "data-target" => "#new-transfer-fund", class: 'btn btn-success' do
              %i.fa.fa-plus
              Add Transfer Fund
      .clearfix
  .container-fluid.container-fixed-lg
    = render "journal/shared/flash_alert"
    = search_form_for @q, url: journal_transfer_funds_path do |f|
      .row
        .col-sm-3
          .form-group.form-group-default
            = f.label :id_eq, "ID"
            = f.text_field :id_eq, class: "form-control"
        .col-sm-3
          .form-group.form-group-default
            = f.label :amount_eq, "Amount"
            = f.text_field :amount_eq, class: "form-control"
        .col-sm-3
          .form-group.form-group-default
            = f.label :kurs_eq, "Kurs"
            = f.text_field :kurs_eq, class: "form-control"
        .col-sm-3
          .form-group.form-group-default
            = f.label :total_eq, "Total"
            = f.text_field :total_eq, class: "form-control"
      .row
        .col-sm-3
          .form-group.form-group-default
            = f.label :created_at_gteq, "Start Date"
            = f.date_field :created_at_gteq, class: "form-control"
        .col-sm-3
          .form-group.form-group-default
            = f.label :created_at_lteq, "End Date"
            = f.date_field :created_at_lteq, class: "form-control"
        .col-sm-3
          .form-group.form-group-default
            = f.label :from_eq, "Account From"
            = f.collection_select :from_eq, Journal::Account.from_transfer_fund, :id, :name, {:prompt => 'Select'}, {class: "form-control"}
        .col-sm-3
          .form-group.form-group-default
            = f.label :to_eq, "Account To"
            = f.collection_select :to_eq, Journal::Account.cash_and_bank, :id, :name, {:prompt => 'Select'}, {class: "form-control"}
      .row
        .col-sm-4.col-sm-offset-4.text-center
          = f.submit "Filter", class: "btn btn-success"
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
    %thead
      %tr
        %th{style: "width: 10%"} Action
        %th{style: "width: 10%"} ID
        %th{style: "width: 15%"} Transaction Date
        %th{style: "width: 15%"} Amount
        %th{style: "width: 15%"} From
        %th{style: "width: 15%"} To
        %th{style: "width: 10%"} Kurs
        %th{style: "width: 10%"} Total
    %tbody
      - @journal_transfer_funds.each do |journal_transfer_fund|
        %tr
          %td
            .btn-group.m-b-10
              %button.btn.btn-default{:type => "button"} Action
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  = link_to 'Show', journal_transfer_fund
                / %li
                /   = link_to 'Edit', edit_journal_transfer_fund_path(journal_transfer_fund), "data-toggle" => "modal", "data-target" => "#edit-transfer-fund"
                / %li
                /   = link_to 'Destroy', journal_transfer_fund, :method => :delete, :data => { :confirm => 'Are you sure?' }
          %td= journal_transfer_fund.id
          %td= journal_transfer_fund.transaction_date.present? ? journal_transfer_fund.transaction_date.to_date : journal_transfer_fund.created_at.to_date
          %td= number_to_multi_currency(journal_transfer_fund.amount, Journal::Account.find_by_id(journal_transfer_fund.to).currency)
          %td
            = Journal::Account.find_by_id(journal_transfer_fund.from).name
            - if journal_transfer_fund.expense_transaction_id.present?
              = link_to journal_transactions_path(q: {id_eq: journal_transfer_fund.expense_transaction_id}), "data-toggle" => "tooltip", :title => "Reconciled at Transaction ID #{journal_transfer_fund.expense_transaction_id}" do
                %i.fa.fa-check
              
          %td
            = Journal::Account.find_by_id(journal_transfer_fund.to).name
            - if journal_transfer_fund.income_transaction_id.present?
              = link_to journal_transactions_path(q: {id_eq: journal_transfer_fund.income_transaction_id}), "data-toggle" => "tooltip", :title => "Reconciled at Transaction ID #{journal_transfer_fund.income_transaction_id}" do
                %i.fa.fa-check
          %td= number_with_delimiter journal_transfer_fund.kurs
          %td= number_to_multi_currency(journal_transfer_fund.total, Journal::Account.find_by_id(journal_transfer_fund.from).currency)
          / %td= link_to 'Show', journal_transfer_fund
          / %td= link_to 'Edit', edit_journal_transfer_fund_path(journal_transfer_fund)
          / %td= link_to 'Destroy', journal_transfer_fund, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
#new-transfer-fund.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#edit-transfer-fund.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
