-if notice 
  .alert.alert-success{:role => "alert"}
    %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
    %strong= notice
.form-group.form-group-default
  %label Amount:
  = @journal_transfer_fund.amount
.form-group.form-group-default
  %label From:
  = Journal::Account.find_by_id(@journal_transfer_fund.from).name
.form-group.form-group-default
  %label To:
  = Journal::Account.find_by_id(@journal_transfer_fund.to).name
.form-group.form-group-default
  %label Kurs:
  = @journal_transfer_fund.kurs

= link_to 'Edit', edit_journal_transfer_fund_path(@journal_transfer_fund), "data-toggle" => "modal", "data-target" => "#edit-transfer-fund", class: "btn btn-success"
= link_to 'Back', journal_transfer_funds_path, class: "btn btn-danger"
#edit-transfer-fund.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content