- admin_breadcrumb(link_to plural_resource_name(Spree::LegacyUser), spree.admin_users_path)
- admin_breadcrumb(link_to @user.name, edit_admin_user_url(@user))
= form_for "cash_out_request", :url => create_cash_out_admin_cash_out_requests_path(@user), method: :put do |f|
  %h5 Store Credit Balance : #{@user.display_total_available_store_credit}
  %br
  .form-group
    = f.label :amount, "Nominal penarikan", class: 'col-sm-3 control-label text-left'
    .col-sm-7
      = f.number_field :amount, class: 'form-control', min: 10000, max: @user.total_available_store_credit
  .form-group
    = f.label :bank_name, "Nama Bank", class: 'col-sm-3 control-label text-left'
    .col-sm-7
      = f.text_field :bank_name, class: 'form-control', value: @user.bank_name, required: true
  .form-group
    = f.label :bank_account_name, "Nama Pemilik Rekening", class: 'col-sm-3 control-label text-left'
    .col-sm-7
      = f.text_field :bank_account_name, class: 'form-control', value: @user.bank_account_name, required: true
  .form-group
    = f.label :bank_account_no, "Nomor Rekening", class: 'col-sm-3 control-label text-left'
    .col-sm-7
      = f.text_field :bank_account_no, class: 'form-control', value: @user.bank_account_no, required: true
  .form-group
    = f.label :bank_branch, "Cabang", class: 'col-sm-3 control-label text-left'
    .col-sm-7
      = f.text_field :bank_branch, class: 'form-control', value: @user.bank_branch, required: true
  %p{style: "color: #e42074"}
    Note:
    %br
    * Nominal minimal penarikan dana Rp10,000
    %br
    * Pengembalian dana akan kami proses dalam waktu 3x24 jam
  = f.submit "Confirm", class: 'btn btn-pink'