.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Add Store Credit
.modal-body
  .panel-body
    = form_for @store_credit, url: journal_store_credits_path, method: :post do |f|
      - if @store_credit.errors.any?
        #error_explanation
          %h2= "#{pluralize(@journal_transaction.errors.count, "error")} prohibited this store_credit from being saved:"
          %ul
            - @store_credit.errors.full_messages.each do |msg|
              %li= msg
      .form-group.form-group-default.required
        = f.label "Member"
        = f.collection_select(:user_id, Spree::User.all, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'form-control', style: "width: 100%" })
      .form-group.form-group-default.required
        = f.label :amount
        = f.text_field :amount, class: "input form-control", required: true
      .form-group.form-group-default.required
        = f.label "Category Store Credit"
        = f.collection_select(:category_id, Spree::StoreCreditCategory.all, :id, :name, { :include_blank => false }, { :class => 'form-control', style: "width: 100%" })
      .form-group.form-group-default.required
        = f.label :memo
        = f.text_area :memo, class: "input form-control", required: true
      .actions
        = f.submit 'Submit', class: "btn btn-success"