.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Cash Out Request
      .pull-right
        = link_to cash_out_new_journal_store_credits_path, "data-toggle" => "modal", "data-target" => "#cashout-sc", class: 'btn btn-success' do
          %i.fa.fa-plus
          Cash Out Request
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = search_form_for @q, url: cash_out_request_journal_store_credits_path do |f|
    .row 
      .col-sm-4
        .form-group.form-group-default.required
          %label ID
          = f.text_field :number_cont, class: 'form-control'
      .col-sm-4
        .form-group.form-group-default.required
          %label Member Name
          = f.text_field :vendor_cont, class: 'form-control'
      .col-sm-4
        .form-group.form-group-default.required
          %label Payment State
          = f.select :payment_state_eq, options_for_select([["Paid", "paid"], ["Partially Paid", "partially_paid"], ["Pending", "pending"]]), {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
    .row
      .col-sm-4
        .form-group.form-group-default.required
          %label Description
          = f.text_field :items_description_cont, class: "form-control"
      .col-sm-4
        .form-group.form-group-default.required
          %label Amount
          = f.text_field :total_cont, class: 'form-control'
      .col-sm-4
        = f.submit "Search", class: "btn btn-success"
  %table#example.table
    %thead
      %tr
        %th ID
        %th Member Name
        %th Description
        %th Balance Due
        %th Amount
        %th Total
        %th Action
    - if !@bill_cash_out_reqs.empty?
      %tbody
        - @bill_cash_out_reqs.each do |s|
          %tr
            %td= s.number
            %td= s.vendor
            %td #{s.originator.bank_name} - #{s.originator.bank_account_no} - #{s.originator.bank_account_name}
            %td= number_to_multi_currency(s.amount_due, s.currency)
            %td
              %strong= number_to_multi_currency(s.total, s.currency)
            %td= s.payment_state.humanize
            - if !s.paid?
              %td= link_to "Add Payment", new_payment_journal_bill_path(s), class: "btn btn-success", "data-toggle" => "modal", "data-target" => "#add-payment"
            - else
              %td.align-center -
    - else 
      %tr
        %td{colspan:8}
          No Cash Out Request

  = paginate @bill_cash_out_reqs, theme: "solidus_admin" 

#cashout-sc.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content

#add-payment.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content

- content_for :js do
  :javascript
    $("#add-payment").on('hidden.bs.modal', function() {
      $(this).removeData('bs.modal');
    });
