.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Cash Out Request
.modal-body
  .panel-body
    = form_for @cash_out_request, url: create_cash_out_journal_store_credits_path, method: :put do |f|
      - if @cash_out_request.errors.any?
        #error_explanation
          %h2= "#{pluralize(@journal_transaction.errors.count, "error")} prohibited this cash_out_request from being saved:"
          %ul
            - @cash_out_request.errors.full_messages.each do |msg|
              %li= msg
      .form-group.form-group-default.required
        = f.label "Member"
        = f.collection_select(:user_id, @users, :id, Proc.new{|a|"#{a.name} - #{number_to_currency(a.total_available_store_credit)}"}, { :include_blank => Spree.t('match_choices.none') }, { :class => 'form-control', style: "width: 100%" })
      .form-group
        = f.label :amount, "Nominal penarikan"
        = f.number_field :amount, class: 'form-control'
      .form-group
        = f.label :bank_name, "Nama Bank"
        = f.text_field :bank_name, class: 'form-control', required: true
      .form-group
        = f.label :bank_account_name, "Nama Pemilik Rekening"
        = f.text_field :bank_account_name, class: 'form-control', required: true
      .form-group
        = f.label :bank_account_no, "Nomor Rekening"
        = f.text_field :bank_account_no, class: 'form-control', required: true
      %p{style: "color: #e42074"}
        Note:
        %br
        * Nominal minimal penarikan dana Rp10,000
        %br
        * Pengembalian dana akan kami proses dalam waktu 3x24 jam
      = f.submit "Confirm", class: 'btn btn-success'