.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Store Credit History
      .pull-right
        = link_to cash_out_new_journal_store_credits_path, "data-toggle" => "modal", "data-target" => "#cashout-sc", class: 'btn btn-success' do
          Cash Out Request
        = link_to new_journal_store_credit_url, "data-toggle" => "modal", "data-target" => "#new-sc", class: 'btn btn-success' do
          Add Store Credit
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  .alert.alert-warning.text-center
    %h5 Total balance store credit
    %p{style: "margin-bottom: 15px;"}= number_to_currency(@histories.sum(:amount))
  = search_form_for @q, url: journal_store_credits_path do |f|
    .row 
      .col-sm-6
        .form-group.form-group-default.required
          %label Start Date
          = f.date_field :created_at_gteq, class: 'form-control'
      .col-sm-6
        .form-group.form-group-default.required
          %label End Date
          = f.date_field :created_at_lteq,class: 'form-control'
    .row
      .col-sm-4
        .form-group.form-group-default.required
          %label Name
          = f.text_field :user_name_cont, class: 'form-control'
      .col-sm-4
        .form-group.form-group-default.required
          %label Category Store Credit
          = f.select :category_id_eq,  Spree::StoreCreditCategory.all.collect {|p| [ p.name, p.id ] }, {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
      .col-sm-4
        .form-group.form-group-default.required
          %label Created By
          = f.select :store_credit_event_store_credit_created_by_id_eq, @users.collect{|u| [u.name, u.id]}, {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
    .row 
      .col-sm-12.text-center
        = f.submit "Search", class: "btn btn-success"
  -if @histories.any? 
    %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
      %thead
        %tr
          %th{style: "width: 10%"} Date
          %th{style: "width: 10%"} Code
          %th{style: "width: 10%"} Category
          %th{style: "width: 15%"} Name
          %th{style: "width: 10%"} Amount
          %th{style: "width: 30%"} Memo
          %th{style: "width: 15%"} Created by
      %tbody
        - @histories.each do |s|
          %tr
            %td.align-center= s.try(:created_at).to_date
            %td.align-center= s.try(:store_credit_event).try(:id)
            %td.align-center= s.try(:category).try(:name)
            %td.align-center= s.try(:user).try(:name)
            %td.align-center= number_to_currency(s.try(:amount))
            %td.align-center= s.try(:memo)
            - if s.try(:store_credit_event).try(:store_credit).try(:created_by).name.nil?
              %td.align-center= s.try(:store_credit_event).try(:store_credit).try(:created_by).email
            - else
              %td.align-center= s.try(:store_credit_event).try(:store_credit).try(:created_by).name
    = paginate @histories, theme: "solidus_admin" 
  - else
    .alpha.twelve.columns.no-objects-found
      Not Found
  #new-sc.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
  #cashout-sc.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content