%p Hi, #{@user.name} !
%p Kami telah menambahkan #{@amount} ke dalam Store Credit Anda. 
%table
  %thead
    %tr
      %th Name
      %th Image
      %th Ordered Qty
      %th Total Pcs Terkirim
      %th Kekurangan
      %th Harga Satuan
      %th Total
  %tbody
    %tr
      %td= @inventory_unit.variant.name
      %td= image_tag image_url(@inventory_unit.variant.display_image.attachment(:small), itemprop: "image")
      %td #{@inventory_unit.line_item.quantity} Pack (#{@inventory_unit.line_item.total_pieces} pcs)
      %td #{@inventory_unit.shipped}
      %td - #{@inventory_unit.outstanding_unit}
      %td= @inventory_unit.line_item.price
      %td= @amount

%p Terimakasih telah berbelanja di BrandedBabys.com!