%p Hi, #{@user.name} !
%p Kami telah memproses Cash Out Request (ID #{@cash_out_request.id}) Anda. 
%br
%p Bank Account : #{@cash_out_request.bank_name} - #{@cash_out_request.bank_account_no} 
%p Bank Account Name : #{@cash_out_request.bank_account_name}
%p Total : #{number_to_currency(@cash_out_request.amount)}

%p Terimakasih telah berbelanja di BrandedBabys.com!