%p Hi, #{@user.name} !
%p Anda memiliki Credit ID #{@invoice.id} yang belum dibayarkan.
%br
%p Deskripsi : #{@invoice.items.first.description}
%br
%p Total Credit: #{number_to_currency(@invoice.total)}
%br
%p Sisa Tagihan : #{number_to_currency(@invoice.outstanding_balance)}
%br
%p Mohon segera melakukan pembayaran. Terimakasih telah berbelanja di BrandedBabys.com!