%p Hi, #{@user.name} !
%p Kami telah memproses pengiriman order pada shipment #{@id_shipment}. Ongkos kirim anda kurang sebesar:
%br
%p Total : #{number_to_currency(@total)}

%p Terimakasih telah berbelanja di BrandedBabys.com!