= render :partial => 'spree/shared/error_messages', :locals => { :target => @order }
#jcart
  %fieldset
    %table.general-table-old{:border => "0", :width => "100%"}
      %thead
        %tr
          %th{:colspan => "2"}
            %strong#jcart-title Shopping Cart
            = Spree.t(:item)
          %th Pack Qty 
          %th Items per Pack
          %th{:width => "10%"} Total Items
          %th= Spree.t(:price)
          %th Discount
          %th Net Price
          %th= Spree.t(:total)
          %th= "DP" if @order.preorder?
          %th Action
      %tbody
        = render partial: 'spree/orders/line_item', collection: order_form.object.line_items, locals: {order_form: order_form}
      - if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? || @order.shipments.any?
        %tr
          %td{:align => "right", :colspan => "9"}
            %h5= Spree.t(:cart_subtotal, :count => @order.line_items.sum(:quantity))
          %td{:colspan => "2", :align => "right", style: "padding-top: 8px;"}
            %h5= order_form.object.display_item_total
          %td
        = render "spree/orders/adjustments"
      - if @order.preorder?
        %tr.cart-total
          %td{:align => "right", :colspan => "9", style: "padding-top: 8px;padding-right: 10px;"}
            %h5= Spree.t(:total)
          %td{:align =>"right", :colspan => "2"}
            %h5= order_form.object.display_total
        %tr
          %td{:align => "right", :colspan => "9", style: "padding-top: 8px;padding-right: 10px;"}
            %h5 Total DP
          %td{:colspan => "2", :align =>"right"}
            %h5{style: "color: #e6317e"}= display_down_payment_total(order_form.object)
      - else
        %tr.cart-total
          %td{:align => "right", :colspan => "9", style: "padding-top: 8px;padding-right: 10px;"}
            %h5= Spree.t(:total)
          %td{:colspan => "2", :align =>"right"}
            %h5= order_form.object.display_total
