- variant = line_item.variant
= order_form.fields_for :line_items, line_item do |item_form|
  %tr{:class => "#{cycle('', 'alt')} line-item"}
    %td.cart-item-image{"data-hook" => "cart_item_image"}
      - if variant.images.length == 0
        = link_to image_tag(variant.product.display_image.attachment(:mini)), variant.product
      - else
        = link_to image_tag(variant.images.first.attachment.url(:mini)), variant.product
    %td.cart-item-description{"data-hook" => "cart_item_description"}
      %h4= link_to line_item.name, product_path(variant.product)
      #{variant.options_text} (#{variant.product.preorder? ? "Preorder" : "Ready Stock"})
      - if line_item.insufficient_stock?
        %span.out-of-stock
          = Spree.t(:out_of_stock)
            
          %br/
      %span.line-item-description{"data-hook" => "line_item_description"}
        = variant.sku
    %td.cart-item-quantity{"data-hook" => "cart_item_quantity"}
      = item_form.number_field :quantity, :min => 0, :class => "line_item_quantity chgqty", :size => 5
    %td{style: "text-align:center;"}= variant.product.total_items
    %td{style: "text-align:center;"}= line_item.total_pieces
    %td.cart-item-price{"data-hook" => "cart_item_price", style: "text-align: center;"}
      = number_to_currency line_item.variant.price
    %td{style: "text-align: center;"}= number_to_currency line_item.discount_amount
    %td{style: "text-align: center;"}= line_item.single_money.to_html
    %td.cart-item-total{"data-hook" => "cart_item_total", style: "text-align: center;"}
      = line_item.display_amount.to_html unless line_item.quantity.nil?
    %td.text-center= line_item.display_dp_amount.to_html if line_item.preorder?
    %td.cart-item-delete{"data-hook" => "cart_item_delete", style: "text-align:center;"}
      = link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}"
