- @body_id = 'cart'

%section#about-page.general-layout.two-layout
  .right.general-page
    %h2{:style => "text-align: center"} Shopping Cart
    .nuke-wysiwyg
      .heading-wrap
        %h2{:style => "color:#FFF; font-size:14px;"} Shopping Cart
        %ul#process_checkout
          %li.active
            1.
            %a{:href => "/shopping-cart"} Shopping Cart
          %li
            2.
            %a.carttext{:href => "/order-step2"} Login/Register
          %li
            3.
            %a.carttext{:href => "/finishorder"} Order Summary
          %li 4. Order Confirmation
      %p.jcarttext{:style => "margin-left: 10px; font-size: 14px;"} You can update product quantity and or remove items's on your shopping bag. Please check carefully before checking out.
      %br
      %div{"data-hook" => "outside_cart_form"}
        = form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form|
          %div{"data-hook" => "outside_cart_form"}
            %div{"data-hook" => "cart_items"}
              = render :partial => 'form', :locals => { :order_form => order_form }
            .links.columns.sixteen.alpha.omega{"data-hook" => "cart_buttons", :style => "text-align: right;"}
              / = order_form.text_field :coupon_code, :placeholder => Spree.t(:coupon_code), class: 'bb-input'
              = button_tag :class => 'btn secondary', :id => 'update-button' do
                = Spree.t(:update)
              = button_tag :class => 'btn checkout primary', :id => 'checkout-link', :name => 'checkout' do
                = Spree.t(:checkout)
      #empty-cart{"data-hook" => ""}
        = form_tag(empty_cart_path, :method => :put, class: 'form-empty-cart') do
          %p#clear_cart_link{"data-hook" => ""}
            = submit_tag Spree.t(:empty_cart), :class => 'btn gray', :style => 'color: white; font-family: arvo;'
            = Spree.t(:or)
            - shop_url = @order.preorder? ? spree.nested_taxons_path(Spree::Taxonomy.find_by_name("Preorder").root.permalink) : spree.nested_taxons_path(Spree::Taxonomy.find_by_name("Ready Stock").root.permalink)
            = link_to Spree.t(:continue_shopping), shop_url, :class => 'continue button gray'
  .clear