#checkout{"data-hook" => ""}
  = render :partial => 'spree/shared/error_messages', :locals => { :target => @order }
  %section#about-page.general-layout.two-layout
    .right.general-page{style: "padding-bottom: 0"}
      .nuke-wysiwyg
        .heading-wrap{style: "margin-top:0;"}
          %h2{:style => "color:#FFF; font-size:14px;"} Shopping Cart
          %ul#process_checkout
            %li
              1.
              %a.carttext{:href => "/shopping-cart"} Shopping Cart
            %li
              2.
              %a.carttext{:href => "/order-step2"} Login/Register
            %li
              3.
              %a.carttext{:href => "/finishorder"} Checkout
            %li.active 4. Complete
.clearfix
%fieldset#order_summary{"data-hook" => ""}
  / %legend= Spree.t(:order_number, :number => @order.number)
  .row
    .col-xs-11
      %h1{style: "color: #e6317e; margin-bottom: 15px;" }= accurate_title
      - if order_just_completed?(@order)
        %h2{style: "font-size: 21px; margin-bottom: 10px;"} Thank you for shopping with us!
  #order.order-show{"data-hook" => ""}
    - if !@order.paid?
      %p Please make payment to the following accounts:
      .well.text-center
        %ul
          %li 
            %strong= spree_current_user.bank.name
            #{spree_current_user.bank.account_no} A/N #{spree_current_user.bank.account_name}
      %p 
        Don't forget to confirm your payment after transfer is made. You can do that by clicking 
        = link_to "Confirm Payment", new_payment_confirmation_url, "data-toggle" => "modal", "data-target" => "#payment-confirmation"
        Also visit 
        =link_to "My Account", account_path(spree_current_user)
        to find out your order history and delivery status.

      %p 
        Or you can contact us at 
        =link_to "wholesellerbaby@gmail.com", "mailto:wholesellerbaby@gmail.com" 
        or send a confirmation SMS to 
        %strong 02155701167.

      %p 
        %strong Note: 
        You must confirm your payment before 
        %strong 1 X 24 hours, 
        If you not confirm your payment system automatic cancel your order.
    = render :partial => 'spree/shared/order_details', :locals => { :order => @order }
    %br.clear/


