= render 'spree/admin/shared/general_tabs'
- admin_breadcrumb(Spree.t(:settings))
- admin_breadcrumb("Price Level")
= form_tag admin_price_level_path(@price_level), method: :put do
  #preferences{"data-hook" => ""}
    %fieldset.general.no-border-top
      = fields_for :price_level do |f|
        %div
          = f.field_container :silver_level do
            = f.label :silver_level
            = f.text_field :silver_level, class: 'fullwidth'
            = f.error_message_on :silver_level
        %div
          = f.field_container :gold_level do
            = f.label :gold_level
            = f.text_field :gold_level, class: 'fullwidth'
            = f.error_message_on :gold_level
        %div
          = f.field_container :silver_member do
            = f.label :silver_member
            = f.text_field :silver_member, class: 'fullwidth'
            = f.error_message_on :silver_member
        %div
          = f.field_container :gold_member do
            = f.label :gold_member
            = f.text_field :gold_member, class: 'fullwidth'
            = f.error_message_on :gold_member
        %div
          = f.field_container :is_sale_season do
            = f.label :is_sale_season
            = f.check_box :is_sale_season, class: 'fullwidth'
            = f.error_message_on :is_sale_season
        %div
          = f.field_container :category_ids do
            = f.label :category_ids, "Product Category for Sale"
            %br
            .add-margin
              = f.collection_check_boxes :category_ids, Spree::Taxon.where("taxonomy_id = ?", 3).where.not(parent_id: nil), :id, :name
            = f.error_message_on :category_ids
      - if can? :update, :price_levels
        .form-buttons.filter-actions.actions{"data-hook" => "buttons"}
          = button Spree.t('actions.update')
          = link_to Spree.t('actions.cancel'), admin_price_levels_path, :class => 'button'
:css
  .add-margin label {
    margin-right: 15px;
    margin-left: 3px;
  }
