%fieldset#billing{"data-hook" => ""}
  = form.fields_for :bill_address do |bill_form|
    %legend{:align => "center"}
    = render :partial => 'spree/address/form', :locals => { :form => bill_form, :address_type => 'billing', :address => @order.bill_address }
%fieldset#shipping.hidden{"data-hook" => ""}
  = form.fields_for :ship_address do |ship_form|
    %h2{:style => "text-align: center"} Shipping Address
    .login-child{:style => "margin-right:25px"}
      %p.field.checkbox{"data-hook" => "use_billing"}
      = check_box_tag 'order[use_billing]', '1', true
      = label_tag :order_use_billing, Spree.t(:use_billing_address), :id => 'use_billing'
      = render :partial => 'spree/address/form', :locals => { :form => ship_form, :address_type => 'shipping', :address => @order.ship_address }
.form-buttons.text-center{"data-hook" => "buttons"}
  = submit_tag Spree.t(:save_and_continue), :class => 'submit-btn'

    
