%fieldset#order_details{"data-hook" => ""}
  .clear
  / %legend{:align => "center"}= Spree.t(:confirm)
  = render :partial => 'spree/shared/order_details', :locals => { :order => @order }
%br/
.col-sm-12.text-center
  .form-buttons{"data-hook" => "buttons"}
    = submit_tag Spree.t(:place_order), :class => 'submit-btn'
    :javascript
      Spree.disableSaveOnClick();
