%fieldset#shipping_method{"data-hook" => ""}
  .inner{"data-hook" => "shipping_method_inner"}
    #jcart
      #methods
        = form.fields_for :shipments do |ship_form|
          .shipment
            / %h3.stock-location{"data-hook" => "stock-location", :style => "text-align: center"}
            /   .login-child{:style => "margin-right:25px; font-size: 14px;"}
            /     = Spree.t(:package_from)
            /     %strong.stock-location-name{"data-hook" => "stock-location-name"}= ship_form.object.stock_location.name
            / %table.stock-contents{"data-hook" => "stock-contents"}
            /   %colgroup
            /     %col{:style => "width: 10%;"}/
            /     %col{:style => "width: 60%;"}/
            /     %col{:style => "width: 10%;"}/
            /     %col{:style => "width: 20%;"}/
            /   %thead
            /     %th{:align => "center"}= Spree.t(:item)
            /     %th= Spree.t(:qty)
            /     %th= Spree.t(:price)
            /   %tbody
            /     - ship_form.object.manifest.each do |item|
            /       %tr.stock-item
            /         %td.item-image= image_tag item.variant.display_image.attachment(:mini)
            /         %td.item-name= item.variant.name
            /         %td.item-qty= item.quantity
            /         %td.item-price= number_to_currency item.line_item.price
            / %br
            %p Pilih metode pengiriman pilihan Anda di bawah ini
            %ul.field.radios.shipping-methods
              - ship_form.object.shipping_rates.each do |rate|
                %li.shipping-method
                  %label
                    = ship_form.radio_button :selected_shipping_rate_id, rate.id
                    %span.rate-name= rate.name
                    - if !current_order.preorder?
                      %span.rate-cost= rate.display_cost
        - if @differentiator.try(:missing?)
          .shipment.unshippable
            %h3.stock-location{"data-hook" => "stock-location"}
              = Spree.t(:unshippable_items)
            %table.stock-contents{"data-hook" => "stock-missing"}
              %colgroup
                %col{:style => "width: 10%;"}/
                %col{:style => "width: 60%;"}/
                %col{:style => "width: 10%;"}/
                %col{:style => "width: 20%;"}/
              %thead
                %th
                %th{:align => "left"}= Spree.t(:item)
                %th= Spree.t(:qty)
                %th= Spree.t(:price)
              %tbody
                - @differentiator.missing.each do |variant, quantity|
                  %tr.stock-item
                    %td.item-image= image_tag variant.display_image.attachment(:mini)
                    %td.item-name= variant.name
                    %td.item-qty= quantity
                    %td.item-price= display_price(variant)
      - if Spree::Config[:shipping_instructions]
        %p#minstrs{"data-hook" => ""}
          = form.label :special_instructions, Spree.t(:shipping_instructions)
          %br/
          = form.text_area :special_instructions, :cols => 40, :rows => 7
  %br/
.form-buttons.text-center{"data-hook" => "buttons"}
  = submit_tag Spree.t(:save_and_continue), :class => 'submit-btn'
