= form_for order, :url => update_checkout_path(state), :html => { :id => "checkout_form_#{state}", class: "general-form3" } do |form|
  - unless order.email?
    %p.field{:style => "clear: both"}
      = form.label :email
      %br/
      = form.text_field :email
  = render state, :form => form
