%fieldset#payment{"data-hook" => ""}
  %p Pilih metode pembayaran di bawah ini
  %div{"data-hook" => "checkout_payment_step"}
    #payment-method-fields{"data-hook" => ""}
      - @order.available_payment_methods.each do |method|
        %p
          %label
            = radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first
            = Spree.t(method.name, :scope => :payment_methods, :default => method.name)
    %ul#payment-methods{"data-hook" => ""}
      - @order.available_payment_methods.each do |method|
        %li{:class => "#{'last' if method == @order.available_payment_methods.last}", "data-hook" => "", :id => "payment_method_#{method.id}"}
          %fieldset
            = render :partial => "spree/checkout/payment/#{method.method_type}", :locals => { :payment_method => method }
    %br{:style => "clear:both;"}
    - if spree_current_user.total_available_store_credit > 0
      %p 
        Apakah Anda ingin menggunakan saldo Anda (#{number_to_currency spree_current_user.total_available_store_credit}) ?
        = radio_button_tag "order[use_store_credit]", '1', if @order.use_store_credit? || @order.use_store_credit.nil? then true else false end
        Ya
        = radio_button_tag "order[use_store_credit]", '0', if !@order.use_store_credit? then true else false end
        Tidak
%br.space/
.form-buttons{"data-hook" => "buttons"}
  = submit_tag Spree.t(:save_and_continue), :class => 'submit-btn'
  :javascript
    Spree.disableSaveOnClick();
