.login-child{:style => "margin-right:25px"}
  #jcart
    %table.prod-table{:cellpadding => "0", :cellspacing => "0", "data-hook" => "order_summary"}
      %thead 
        %tr
          %th Name
          %th Pcs
          %th Total
      %tbody
        - order.line_items.each do |l|
          %tr
            %td= l.variant.product.name
            %td= l.total_pieces
            %td= l.display_amount.to_html
        %tr{"data-hook" => "item_total"}
          %td.text-right{colspan: 2}
            %strong Subtotal
          %td
            %strong= order.display_item_total.to_html
        - if order.line_item_adjustments.nonzero.exists?
          %tbody{"data-hook" => "order_details_promotion_adjustments"}
            - order.line_item_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments|
              %tr.total
                %td= label
                %td= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html
      %tbody{"data-hook" => "order_details_tax_adjustments"}
        - order.all_adjustments.nonzero.tax.eligible.group_by(&:label).each do |label, adjustments|
          %tr.total
            %td= label
            %td= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html
      - #if order.passed_checkout_step?("delivery") && order.shipments.any?
      - if order.shipments.any?
        %tr{"data-hook" => "shipping_total"}
          %td.text-right{colspan: 2}
            = Spree.t(:shipping_total)
          %td= Spree::Money.new(order.shipments.to_a.sum(&:cost), currency: order.currency).to_html
        - if order.shipment_adjustments.nonzero.exists?
          %tbody{"data-hook" => "order_details_shipment_promotion_adjustments"}
            - order.shipment_adjustments.nonzero.promotion.eligible.group_by(&:label).each do |label, adjustments|
              %tr.total
                %td
                  = label
                %td
                  \:
                %td= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency).to_html
      - if order.adjustments.nonzero.eligible.exists?
        %tbody#summary-order-charges{"data-hook" => ""}
          - order.adjustments.nonzero.eligible.each do |adjustment|
            - next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0)
            %tr.total
              %td
                = adjustment.label
              %td
                \:
              %td= adjustment.display_amount.to_html
      - if order.total_applicable_store_credit > 0.0
        %tr{"data-hook" => "checkout-summary-store-credit"}
          %td.text-right{colspan: 2}
            %strong
              = Spree.t("store_credit.store_credit")
          %td 
            \:
          %td= order.display_total_applicable_store_credit.to_html
      %tr{"data-hook" => "order_total"}
        %td.text-right{colspan: 2}
          %strong
            = Spree.t(:order_total)
        %td
          %strong
            %span#summary-order-total= order.display_order_total_after_store_credit.to_html
      - if order.preorder?
        %tr
          %td.text-right{colspan: 2}
            %strong Down Payment
          %td
            %strong= display_down_payment_total(order)
