#checkout{"data-hook" => ""}
  = render :partial => 'spree/shared/error_messages', :locals => { :target => @order }
  %section#about-page.general-layout.two-layout
    .right.general-page
      %h2{:style => "text-align: center"} Checkout
      .nuke-wysiwyg
        .heading-wrap
          %h2{:style => "color:#FFF; font-size:14px;"} Shopping Cart
          %ul#process_checkout
            %li
              1.
              %a.carttext{:href => "/shopping-cart"} Shopping Cart
            %li
              2.
              %a.carttext{:href => "/order-step2"} Login/Register
            %li.active
              3.
              %a{:href => "/finishorder"} Checkout
            %li 4. Complete
  .clearfix
  #accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
    - @order.checkout_steps[0...-1].each do |state|
      .panel.panel-default
        #headingOne.panel-heading{:role => "tab"}
          %h4.panel-title
            %a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#checkout_#{state}", :role => "button"}
              = human_state(state)
        %div.panel-collapse.collapse{id: "checkout_#{state}", :role => "tabpanel", class: "#{if @order.state == state then 'in' else '' end}"}
          .panel-body
            = render :partial => 'form_wrapper', :locals => { :order => @order, :state => state }

#myAddress.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = form_for Spree::Address.new, url: home_new_address_path, html: {class: 'form-horizontal'}, method: :put do |f|
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title New Address
        .modal-body
          .form-group
            = f.label :firstname, class: "col-sm-3 control-label"
            .col-sm-7
              = f.text_field :firstname, class: "form-control"
          .form-group
            = f.label :lastname, class: "col-sm-3 control-label"
            .col-sm-7
              = f.text_field :lastname, class: "form-control"
          .form-group
            = f.label :address1, class: "col-sm-3 control-label"
            .col-sm-7
              = f.text_field :address1, class: "form-control"
          .form-group
            = f.label :address2, class: "col-sm-3 control-label"
            .col-sm-7
              = f.text_field :address2, class: "form-control"
          .form-group
            = f.label :country_id, class: "col-sm-3 control-label"
            .col-sm-7
              = f.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required form-control'}
          .form-group
            = f.label :state, class: "col-sm-3 control-label"
            .col-sm-7
              = f.grouped_collection_select :state_id, Spree::Country.order(:name), :states, :name, :id, :name, {include_blank: true}, {class: "select-state form-control"}
          .form-group
            = f.label :city, class: "col-sm-3 control-label"
            .col-sm-7
              = f.grouped_collection_select :city, Spree::State.order(:name), :cities, :name, :name, :name, {include_blank: true}, {class: "select-city form-control"}
          .form-group
            = f.label :zipcode, class: "col-sm-3 control-label"
            .col-sm-7
              = f.text_field :zipcode, class: "form-control"
          .form-group
            = f.label :phone, class: "col-sm-3 control-label"
            .col-sm-7
              = f.text_field :phone, class: "form-control"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          = f.submit "Save", class: 'btn btn-pink'
    
:javascript
  Spree.current_order_id = "#{@order.number}"
  Spree.current_order_token = "#{@order.guest_token}"

  var selected = $(".select-address").val();
  var selected_data = $(".select-address").data("address")[selected];
  $.each(selected_data, function(k,v){
    var name = "order[bill_address_attributes]["+k+"]";
    $('input[name="' + name + '"]').val(v);
  })

  $(".select-address").on("change", function(){
    var selected = $(this).val();
    var selected_data = $(this).data("address")[selected];
    $.each(selected_data, function(k,v){
      var name = "order[bill_address_attributes]["+k+"]";
      $('input[name="' + name + '"]').val(v);
    })
    $(".select-state").val(selected_data.state_id);
    $(".select-city").val(selected_data.city);

  });
