%section#about-page.general-layout.two-layout
  .right.general-page
    %h2{:style => "text-align: center"} Shopping Cart
    .nuke-wysiwyg
      .heading-wrap
        %h2{:style => "color:#FFF; font-size:14px;"} Shopping Cart
        %ul#process_checkout
          %li
            1.
            %a.carttext{:href => "/shopping-cart"} Shopping Cart
          %li.active
            2.
            %a{:href => "/order-step2"} Login/Register
          %li
            3.
            %a.carttext{:href => "/finishorder"} Checkout
          %li 4. Complete
      = render partial: 'spree/shared/error_messages', locals: { target: @user }
      .login-child
        %h2 Not Registered? That's OK!
        %p If you are new, please click "Register" below.
        %br/
        = link_to "Register", spree.signup_path, class: "bold-link"
        %p  
      = render template: 'spree/user_sessions/new'
