<% if !(bank = current_spree_user.bank).nil?  %>
  <table class="table index">
    <tr>
      <th><%= Spree.t(:bank_name) %></th>
      <th><%= Spree.t(:account_no) %></th>
    </tr>
    <tr>
      <td><%= bank.name %></td>
      <td><%= bank.account_no %></td>
    </tr>
  </table>
<% else %>
  <% if (banks = Spree::Bank.active).present? %>
    <table class="table index">
      <tr>
        <th><%= Spree.t(:bank_name) %></th>
        <th><%= Spree.t(:account_no) %></th>
      </tr>
      <% banks.each do |bank| %>
        <tr>
          <td><%= bank.name %></td>
          <td><%= bank.account_no %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
<% end %>
