= image_tag 'credit_cards/credit_card.gif', :id => 'credit-card-image'
- param_prefix = "payment_source[#{payment_method.id}]"
%p.field
  = label_tag "name_on_card_#{payment_method.id}", Spree.t(:name_on_card)
  %span.required *
  %br/
  = text_field_tag "#{param_prefix}[name]", "#{@order.billing_firstname} #{@order.billing_lastname}", { id: "name_on_card_#{payment_method.id}", :autocomplete => "cc-name" }
%p.field{"data-hook" => "card_number"}
  = label_tag "card_number", Spree.t(:card_number)
  %span.required *
  %br/
  = text_field_tag "#{param_prefix}[number]", '', {:id => 'card_number', :class => 'required cardNumber', :size => 19, :maxlength => 19, :autocomplete => "cc-number", type: "tel"}
   
  %span#card_type{:style => "display:none;"}
    (
    %span#looks_like
      = Spree.t(:card_type_is)
      %span#type
    %span#unrecognized= Spree.t(:unrecognized_card_type)
    )
%p.field{"data-hook" => "card_expiration"}
  = label_tag "card_expiry", Spree.t(:expiration)
  %span.required *
  %br/
  = text_field_tag "#{param_prefix}[expiry]", '', :id => 'card_expiry', :class => "required cardExpiry", :placeholder => "MM / YY", type: "tel"
%p.field{"data-hook" => "card_code"}
  = label_tag "card_code", Spree.t(:card_code)
  %span.required *
  %br/
  = text_field_tag "#{param_prefix}[verification_value]", '', {:id => 'card_code', :class => 'required cardCode', :size => 5, type: "tel", autocomplete: "off"}
  = link_to "(#{Spree.t(:what_is_this)})", spree.cvv_path, :target => '_blank', "data-hook" => "cvv_link", :id => "cvv_link"
- if @order.bill_address
  = fields_for "#{param_prefix}[address_attributes]", @order.bill_address do |f|
    = render :partial => 'spree/address/form_hidden', :locals => { :form => f }
= hidden_field_tag "#{param_prefix}[cc_type]", '', :id => "cc_type", :class => 'ccType'
