.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Info Payments
      .pull-right
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = form_for('Filter_Info', :as => 'filter_tr', method: :get, :url => journal_info_payments_path) do |f|
    .row 
      .col-sm-4
        .form-group.form-group-default.required
          %label Nama Pengirim
          = text_field_tag 'sender_name_contain', nil, class: "form-control"
      .col-sm-4
        .form-group.form-group-default.required
          %label Nama Member
          = text_field_tag 'member_contain', nil, class: "form-control"
      .col-sm-4
        .form-group.form-group-default.required
          %label Status
          = select_tag 'status_is', options_for_select([["Waiting", "waiting_for_confirmation"], ["Confirmed", "confirmed"]]), {class: "form-control", "data-init-plugin" => "select2", prompt: "Select"}

    .row
      .col-sm-3
        .form-group.form-group-default.required
          %label Amount
          = text_field_tag 'amount_is', nil, class: "form-control"
      .col-sm-3
        .form-group.form-group-default.required
          %label Invoice ID
          = text_field_tag 'invoice_is', nil, class: "form-control"
      .col-sm-3
        .form-group.form-group-default.required
          %label Order Number
          = text_field_tag 'order_is', nil, class: "form-control"
      .col-sm-3
        = f.submit "Search", class: "btn btn-success"
  .container-fluid.container-fixed-lg.bg-white
    / START PANEL
    .panel.panel-transparent
      .panel-body
        %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
          %thead
            %tr
              %th ID
              %th Member Name
              %th Bank Tujuan
              %th Bank & Nama Pengirim
              %th Amount
              %th Date
              %th Note
              %th Order Number/ Invoice ID
              %th Action
          %tbody
            - @info_payments.each do |s|
              %tr
                %td.v-align-middle.semi-bold
                  %p=s.id
                %td.v-align-middle.semi-bold
                  - if !s.contents.blank?
                    - if s.contents.first.order_id.nil?
                      - next if s.contents.first.invoice.nil?
                      %p #{s.contents.first.invoice.user.nil? ? "-" : s.contents.first.invoice.user.name}
                    - else
                      - next if s.contents.first.order.nil?
                      %p #{s.contents.first.order.user.nil? ? "-" : s.contents.first.order.user.name}
                  - else
                    %p -
                %td.v-align-middle.semi-bold
                  %p=s.bank_destination 
                %td.v-align-middle.semi-bold
                  %p #{s.bank_sender} - #{s.sender_name}
                %td.v-align-middle.semi-bold
                  %p= number_to_currency(s.amount.to_i)
                %td.v-align-middle
                  %p=s.transaction_date.to_date unless s.transaction_date.nil?
                %td.v-align-middle
                  %p=s.note
                %td.v-align-middle.semi-bold
                  - s.contents.each do |a|
                    %p= a.order.nil? ? "#{a.invoice.present? ? a.invoice.id : ""}" : a.order.number
                %td.v-align-middle
                  - if s.waiting?
                    = link_to "Checked!", confirmed_journal_info_payment_path(s), :data => { :confirm => 'Apakah anda yakin ingin menandai payment ini?' }, class: "btn btn-primary"
                  - else
                    Confirmed

        = paginate @info_payments, theme: "solidus_admin"
