/ %section#about-page.general-layout.two-layout
/   .right.general-page
/     %h2 Shipping Rates
/     .nuke-wysiwyg
/       - @shipping_method.each do |m|
/         %span Nama Kurir
/         %span :
/         = m.name
/         %br/
/       - @shipping_details.each do |s|
/         %span Provinsi
/         %span :
/         = s.state_name
/         %br/
/         %span Kota/Kabupaten
/         %span :
/         = s.city_name
/         %br/
/         %span Total Berat
/         %span :
/         = @weight
/         %br/
/         %span Ongkos Kirim
/         %span :
/       = @price

/       %br/
/   .clear
%section#about-page.general-layout.two-layout
  .right.general-page
    %h2 Shipping Rate
    %br
    #jcart
      %table.table.table-striped.order-summary
        %thead.active
          %tr
            %th Shipping Method
            %th Provinsi
            %th Kota / Kabupaten
            %th Total Berat
            %th Price Per Kg
            %th Min Weight
            %th Ongkos Kirim
        %tbody
          - @shipping_details.each do |s|
            %tr{:style => "text-align: center;"}
              %td
                %strong= s.shipping_method.name
              %td= s.state_name
              %td= s.city_name
              %td #{@weight} Kg
              %td= number_to_idr s.price
              %td 
                - if s.min_weight > 1
                  #{s.min_weight} Kg
                - else
                  %p -
              %td
                - if s.min_weight > 1
                  - if s.min_weight > @weight
                    %strong= number_to_idr(s.price * s.min_weight)
                  - else
                    %strong= number_to_idr(s.price * @weight)
                - else
                  %strong= number_to_idr(s.price * @weight)
          - @cargo_shipping_rates.each do |cargo|
            - detail_shipping = cargo.cargo_detail_shipping_rates_per_methods.where(weight: @weight).first
            %tr{:style => "text-align: center;"}
              %td
                %strong= cargo.shipping_method.name
              %td= cargo.state_name
              %td= cargo.city_name
              %td #{@weight} Kg
              %td= number_to_idr detail_shipping.price
              %td -
              %td
                %strong= number_to_idr(detail_shipping.price)

