.col-xs-6
  %label Name
  = f.text_field :name, class: "input form-control"
.col-xs-6
  %label Account IDR
  = f.collection_select(:journal_account_id, Journal::Account.account_idr.order(:code), :id, :name, {:prompt => 'Select Account'}, {:class => "select2 fullwidth"})
.col-xs-6
  %label Account RMB
  = f.collection_select(:journal_account_rmb_id, Journal::Account.account_rmb.order(:code), :id, :name, {:prompt => 'Select Account'}, {:class => "select2 fullwidth"})

