- admin_breadcrumb(plural_resource_name(Spree::InventoryAdjustmentCategory))

- content_for :page_actions do
  %li
    = button_link_to "New Category Inventory Adjustment", new_admin_inventory_adjustment_category_path
- if @categories.present?
  = paginate @categories, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th.align-left Created at
        %th.align-left ID
        %th.align-left Name
        %th.align-left Account IDR
        %th.align-left Account RMB

    %tbody
      - @categories.each do |category|
        %tr
          %td= category.created_at.to_date
          %td= link_to category.id, edit_admin_inventory_adjustment_category_path(category)
          %td= category.name
          %td= category.account.name
          %td= category.account_rmb.name
          %td.actions
            = link_to "", admin_inventory_adjustment_category_path(category), method: :delete, class: 'fa fa-trash icon_link with-tip no-text', "data-original-title" => "Delete"
  = paginate @categories, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    = render 'spree/admin/shared/no_objects_found', resource: Spree::InventoryAdjustmentCategory, new_resource_url: new_object_url