= render :partial => 'spree/shared/error_messages', :locals => { :target => @inventory_adjustment }
= form_for [:admin, @category], method: :post, url: admin_inventory_adjustment_categories_path, :html => { :multipart => true } do |f|
  %fieldset{"data-hook" => "new_product"}
    %legend{:align => "center"} New Inventory Adjustment Category
    = render 'form', f:f
    = render :partial => 'spree/admin/shared/new_resource_links'

