.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Transactions
.modal-body
  .panel-body
    = form_for @journal_transaction do |f|
      - if @journal_transaction.errors.any?
        #error_explanation
          %h2= "#{pluralize(@journal_transaction.errors.count, "error")} prohibited this journal_transaction from being saved:"
          %ul
            - @journal_transaction.errors.full_messages.each do |msg|
              %li= msg

      .form-group.form-group-default.required
        = f.label :description
        = f.text_area :description, class: "input form-control"
      .form-group.form-group-default.required
        = f.label :amount
        = f.text_field :amount, class: "input form-control"
      .form-group.form-group-default.required
        %label Pemilik Rekening
        = f.text_field :pemilik_rekening, class: "input form-control"
      .form-group.form-group-default.required
        = f.label :transaction_date
        = f.date_field :transaction_date, class: "input form-control"
      / .form-group.form-group-default.form-group-default-select2
      -# .form-group.required
      -#   = f.grouped_collection_select :category_id, Journal::Category.all, :category_account, :name, :id, :name, {include_blank: true, :prompt => 'Select Category'}, {class: "form-control"}
        / = f.grouped_collection_select(:city, :country_id, @continents, :countries, :name, :id, :name)
        / = f.collection_select(:category_id, Journal::Account.where(:is_payment_account => false), :id, :name, {:prompt => 'Select Category'}, {:class => "form-control"})
      .form-group.required
        = f.collection_select :account_id, Journal::Category.find_by_prefix("1-100").accounts1, :id, :name, {include_blank: true, :prompt => 'Select Account'}, {class: "form-control"}
        / = f.collection_select(:account_id, Journal::Account.where(:is_payment_account => true), :id, :name, {:prompt => 'Select Account'}, {:class => "form-control"})
      .form-group.form-group-default.required
        .checkbox.check-primary.checkbox-circle
          = f.check_box :is_verified
          = f.label :is_verified, "Verified"
      .form-group.form-group-default.required 
        .checkbox.check-primary.checkbox-circle
          = f.check_box :is_expense
          = f.label :is_expense, "Expense"
      .actions
        = f.submit 'Submit', class: "btn btn-success"
  /       %form.m-t-10{:role => "form"}
  / .form-group.form-group-default.form-group-default-select2.required
  /   %label Project
  /   %select.full-width{"data-init-plugin" => "select2", "data-placeholder" => "Select Country"}
  /     %optgroup{:label => "Alaskan/Hawaiian Time Zone"}
  /       %option{:value => "AK"} Alaska
  /       %option{:value => "HI"} Hawaii
  /     %optgroup{:label => "Pacific Time Zone"}
  /       %option{:value => "CA"} California
  /       %option{:value => "NV"} Nevada
  /       %option{:value => "OR"} Oregon
  /       %option{:value => "WA"} Washington

