.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Add Counter Part
.modal-body
  .panel-body
    = form_for @transaction, url: counter_part_journal_transaction_path(@transaction), method: :put do |f|
      .form-group.form-group-default.required
        %label Select Account
        = f.collection_select :account_counter_part, Journal::Account.all, :id, Proc.new{|a|"#{a.name} (#{a.currency})"}, {:prompt => 'Account Counter Part'}, {class: "form-control"}
      .actions
        = f.submit 'Submit', class: "btn btn-success", data: {confirm: "Pastikan account id yang Anda masukan benar. Anda tidak dapat melakukan perubahan."}