.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      .pull-left
        %ul.breadcrumb
          %li 
            = link_to "CASH AND BANK", cash_and_bank_journal_reports_path
          %li
            %a.active{:href => "#"} DATA PAYMENT CONFIRMED
.container-fluid.container-fixed-lg
  = search_form_for @q, url: all_payment_confirmed_journal_transactions_path do |f|
    .row 
      .col-sm-4
        .form-group.form-group-default.required
          %label Start Date
          = f.date_field :created_at_gteq, class: 'form-control'
      .col-sm-4
        .form-group.form-group-default.required
          %label End Date
          = f.date_field :created_at_lteq,class: 'form-control'
      .col-sm-4
        .form-group.form-group-default.required
          %label Bank Name
          = f.select :journal_transaction_account_id_eq, Journal::Account.cash_and_bank.collect{|u| [u.name, u.id]}, {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
    .row
      .col-sm-4
        .form-group.form-group-default
          %label ID Transaction
          = f.text_field :journal_transaction_id_eq, class: "form-control"
      .col-sm-4
        .form-group.form-group-default
          %label Name
          = f.text_field :name_cont, class: "form-control"
      .col-sm-4
        .form-group.form-group-default
          %label Number
          = f.text_field :description_cont, class: "form-control"
    .row
      .col-sm-12.text-center
        = f.submit "Search", class: "btn btn-success"
  = paginate @transaction_histories, theme: "solidus_admin"
  %table.table
    %thead
      %tr
        %th{width: "5%"} ID Transaction
        %th{width: "10%"} Bank Name
        %th{width: "15%"} Date
        %th{width: "10%"} Member name
        %th{width: "20%"} Description
        %th{width: "10%"} Total penjualan
        %th{width: "10%"} DP
        %th{width: "10%"} CN
        %th{width: "10%"} Store Credit
    %tbody
      - total_penjualan = 0
      - total_dp = 0
      - total_cn = 0
      - total_store_credit = 0
      - @transaction_histories.each do |history|
        - total_penjualan += history.amount_sales
        - total_dp += history.amount_dp
        - total_cn += history.amount_cn
        - total_store_credit += history.amount_store_credit
        %tr
          %td= history.journal_transaction_id
          %td= history.journal_transaction.account.name
          %td= history.originator.created_at.to_date
          %td= history.name
          %td= history.originator_description
          %td= number_to_currency history.amount_sales
          %td= number_to_currency history.amount_dp
          %td= number_to_currency history.amount_cn
          %td= number_to_currency history.amount_store_credit
      %tr
        %td.text-right{colspan: 5} Total
        %td.align-left{colspan: 4} #{number_to_currency @total}
  = paginate @transaction_histories, theme: "solidus_admin"
            
  
