.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %ul.breadcrumb
          %li 
            = link_to "Transaction", journal_transactions_path
          %li
            = link_to 'Record Transaction', record_payment_journal_transaction_path(@transaction), :data => { :confirm => 'Are you sure you want to record transaction?' }
          %li
            %a.active{:href => "#"} History Transaction #{@transaction.id}
      .clearfix
.container-fluid.container-fixed-lg
  %h1 History Transaction
  %table#example.table
    %thead
      %tr
        %th Record Payments
        %th Description
        %th ID/Number
        %th Amount

    %tbody
      - @payments.each do |s|
        %tr
          %td Order
          %td #{s.order.user.nil? ? s.order.billing_address.firstname : s.order.user.name}
          %td= s.order.number
          %td= number_to_currency s.amount
      - @invoice_payments.each do |s|
        %tr
          %td Invoice Preorder
          %td= s.invoice.user.name
          %td= s.invoice_id
          %td= number_to_currency s.amount
      - @bills.each do |s|
        %tr
          %td Bill
          %td= s.items.first.description
          %td= s.id
          %td= number_to_multi_currency(s.total, s.currency)
      - @journal_invoices.each do |s|
        %tr
          %td Invoice
          %td= s.items.first.description
          %td= s.id
          %td= number_to_multi_currency(s.total, s.currency)
      - @journal_invoice_payments.each do |s|
        %tr
          %td Invoice
          %td= s.invoice.user.name
          %td= s.invoice_id
          %td= number_to_currency(s.amount)
      - @storecredit.each do |s|
        %tr
          %td Store Credit
          %td= s.memo
          %td= s.id
          %td= number_to_multi_currency(s.amount, s.currency)
      - @containers.each do |s|
        %tr
          %td Container
          %td= s.name
          %td= s.id
          %td - 
      - @expenses.each do |s|
        %tr
          %td Expenses
          %td #{s.bill.vendor} - #{s.bill.items.first.description}
          %td= s.bill.number
          %td= number_to_multi_currency(s.amount, s.bill.currency)
      - @income_tfunds.each do |tf|
        %tr
          %td Transfer Fund Income
          %td Income Transfer Fund From #{Journal::Account.find_by_id(tf.from)} - To #{Journal::Account.find_by_id(tf.to)}
          %td #{tf.id}
          %td #{number_to_idr(tf.total)}
      - @expense_tfunds.each do |tf|
        %tr
          %td Transfer Fund Expense
          %td Expense Transfer Fund From #{Journal::Account.find_by_id(tf.from).name} - To #{Journal::Account.find_by_id(tf.to).name}
          %td #{tf.id}
          %td #{number_to_idr(tf.total)}