.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px;"}
      .pull-left
        %ul.breadcrumb
          %li 
            = link_to "CASH AND BANK", cash_and_bank_journal_reports_path
          %li
            = link_to "RECONCILE", cash_and_bank_journal_reports_path
          - if !params[:q].nil?
            %li
              %a.active{:href => "#"} TRANSACTION #{Journal::Account.find_by_id(params[:q][:account_id_eq]).nil? ? "" : Journal::Account.find_by_id(params[:q][:account_id_eq]).name}
          - else
            %li
              %a.active{:href => "#"} TRANSACTION
      .pull-right
        %ul.list-inline
          %li
            = link_to show_import_journal_transactions_path, "data-toggle" => "modal", "data-target" => "#import-transaction", class: 'btn btn-success' do
              %i.fa.fa-plus
              Import
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = search_form_for @q, url: journal_transactions_path do |f|
    .row 
      .col-sm-3
        .form-group.form-group-default.required
          %label Transaction Status
          - if spree_current_user.admin?
            = f.select :status_eq, options_for_select([["Complete", "complete"], ["Pending", "unprocessable"], ["Processing", "processing"], ["Expense", "expense"]]), {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
          - else
            = f.select :status_eq, options_for_select([["Complete", "complete"], ["Pending", "unprocessable"], ["Processing", "processing"]]), {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
      .col-sm-3
        .form-group.form-group-default.required
          %label Income/Expense
          = f.select :is_expense_eq, options_for_select([["Income", 0], ["Expense", 1]]), {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
      .col-sm-3
        .form-group.form-group-default.required
          %label Account
          = f.select :account_id_eq, Journal::Account.cash_and_bank.collect {|p| [ p.name, p.id ] }, {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
      .col-sm-3
        .form-group.form-group-default.required
          %label Account Name
          = f.text_field :pemilik_rekening_cont, class: "form-control"
    .row
      .col-sm-3
        .form-group.form-group-default.required
          %label ID
          = f.text_field :id_eq, class: "form-control"
      .col-sm-4
        .form-group.form-group-default.required
          %label Description
          = f.text_field :description_cont, class: "form-control"
      .col-sm-3
        .form-group.form-group-default.required
          %label Amount
          = f.text_field :amount_eq, class: "form-control"
      .col-sm-2
        = f.submit "Search", class: "btn btn-success"

  
  .container-fluid.container-fixed-lg.bg-white
    / START PANEL
    .panel.panel-transparent
      .panel-heading
        .panel-title
          All Transaction 
        .pull-right
          .col-xs-12
            %ul.list-inline
              %li
                %i.fa.fa-square{:style => "color:green"} 
                Income Transaction
              %li
                %i.fa.fa-square{:style => "color:red"} 
                Expense Transaction
        .clearfix
      .panel-body
        %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
          %thead
            %tr
              %th{style: "width: 5%"} Action
              %th{style: "width: 5%"} ID
              %th{style: "width: 5%"} Status
              %th{style: "width: 20%"} Description
              %th{style: "width: 10%"} Amount
              %th{style: "width: 10%"} Account
              %th{style: "width: 10%"} Date
              / %th Verified
          %tbody
            - @journal_transactions.each do |journal_transaction|
              %tr
                %td
                  .btn-group.m-b-10
                    %button.btn.btn-default{:type => "button"} Action
                    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                      %span.caret
                    %ul.dropdown-menu{:role => "menu"}
                      %li
                        %a= link_to 'Show', journal_transaction
                      %li
                        %a= link_to 'Edit', edit_journal_transaction_path(journal_transaction), "data-toggle" => "modal", "data-target" => "#edit-transaction"
                      %li
                        %a= link_to 'Destroy', journal_transaction_path(journal_transaction), :method => :delete, :class=>:destroy , :data => { :confirm => 'Are you sure?' }
                      %li
                        = link_to 'Record', record_payment_journal_transaction_path(journal_transaction), :data => { :confirm => 'Are you sure you want to record transaction?' }
                      %li 
                        = link_to 'History', history_journal_transaction_path(journal_transaction)
                      - if journal_transaction.status != "Complete"
                        %li
                          = link_to 'Add Counter Part', add_counter_part_journal_transaction_path(journal_transaction), "data-toggle" => "modal", "data-target" => "#add-counterpart"
                %td.v-align-middle.semi-bold= journal_transaction.id
                %td.v-align-middle.semi-bold  
                  - if journal_transaction.used_amount.to_i == journal_transaction.amount
                    %p.bold{class: 'complete'} Reconciled
                  - elsif journal_transaction.used_amount.to_i == 0
                    %p.bold{class: 'pending'} Pending
                  - else
                    %p.bold{class: 'processing'} Processing
                %td.v-align-middle.semi-bold
                  %p= journal_transaction.description
                %td.v-align-middle
                  %p= number_to_idr(journal_transaction.amount)
                %td.v-align-middle
                  %p #{journal_transaction.account.name}
                %td.v-align-middle.semi-bold
                  - if !journal_transaction.transaction_date.nil?
                    %p= journal_transaction.transaction_date.strftime("%A, %d %B %Y")
                / %td.v-align-middle
                /   - if journal_transaction.is_verified == true
                /     %p Yes
                /   - else
                /     %p No
        = paginate @journal_transactions, theme: "solidus_admin" 
  #new-transaction.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
  #edit-transaction.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
  #import-transaction.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
  #add-counterpart.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
