.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      / START BREADCRUMB
      .pull-left
        %ul.breadcrumb
          %li
            = link_to "Transactions", journal_transactions_path
          %li
            %a.active{:href => "#"}= @transaction.id
      .pull-right
        %ul.breadcrumb
          %li 
            = link_to 'History Transaction', history_journal_transaction_path(@transaction)
.container-fluid.container-fixed-lg
  -if alert
    .alert.alert-danger{:role => "alert"}
      %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
      %strong= alert
  -if notice 
    .alert.alert-success{:role => "alert"}
      %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
      %strong= notice
  %div{:style => "text-align:center; border:1px dashed #c3bcaa; margin-bottom:10px; padding-bottom: 10px;"}
    %h3 Balance
    %h3= number_to_currency @transaction.outstanding_balance
  = form_for('Filter_Order', :as => 'filter_or', method: :get, :url => record_payment_journal_transaction_path) do |f|
    - if @transaction.is_expense?
      .row
        .col-sm-2
          .form-group.form-group-default.required
            %label Number
            = text_field_tag 'number', nil, class: 'form-control'
        .col-sm-3
          .form-group.form-group-default.required
            %label Description
            = text_field_tag 'name_user', nil, class: 'form-control'
        .col-sm-3
          .form-group.form-group-default.required
            %label Amount
            = text_field_tag 'amount_is', nil, class: 'form-control'
        .col-sm-3
          .form-group.form-group-default.required
            %label Category
            = select_tag "category_is", options_from_collection_for_select(@category_expense, "id", Proc.new{|a|"#{a.name} (#{a.currency})"}), {:class => "form-control", prompt: "Select Category"}
        .col-sm-1
          = f.submit "Search", class: "btn btn-success"
    - else
      .row 
        .col-sm-5
          .form-group.form-group-default.required
            %label Name
            = text_field_tag 'name_user', nil, class: 'form-control'
        .col-sm-5
          .form-group.form-group-default.required
            %label Number
            = text_field_tag 'number', nil, class: 'form-control'
        .col-sm-2
          = f.submit "Search", class: "btn btn-success"
  .panel.panel-transparent
    %ul.nav.nav-tabs.nav-tabs-fillup{"data-init-reponsive-tabs" => "dropdownfx"}
      - if @transaction.is_expense?
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab-fillup7"}
            %span Expense
      - else
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab-fillup1"}
            %span Order
        %li
          %a{"data-toggle" => "tab", :href => "#tab-fillup2"}
            %span Invoice
        / %li
        /   %a{"data-toggle" => "tab", :href => "#tab-fillup3"}
        /     %span Purchase Order
        -# %li
        -#   %a{"data-toggle" => "tab", :href => "#tab-fillup4"}
        -#     %span Bill CashOut
        %li
          %a{"data-toggle" => "tab", :href => "#tab-fillup5"}
            %span Journal Invoice
        %li
          %a{"data-toggle" => "tab", :href => "#tab-fillup9"}
            %span Transfer Fund Income
        -# %li
        -#   %a{"data-toggle" => "tab", :href => "#tab-fillup6"}
        -#     %span Container
   
    .tab-content
      #tab-fillup1.tab-pane{class: if !@transaction.is_expense? then "active" else "" end}
        .row
          .col-xs-12.col-sm-12.col-md-12
            = form_tag "record_order", url: record_order_journal_transaction_path(@journal_transaction.id) , method: :put do
              = paginate @order_payments, theme: "solidus_admin" 
              %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
                %thead
                  %tr
                    %th Record
                    %th Name
                    %th Order Number
                    %th Amount
                    %th Payment Confirmation
                %tbody
                  - @order_payments.each do |r|
                    %tr
                      %td
                        = check_box_tag "r[]", r.id, false, class: "checkbox" 
                      %td #{r.user.nil? ? r.billing_address.firstname : r.user.name}
                      %td
                        = r.number
                        - if !r.user.nil?
                          - if !r.user.total_available_store_credit.zero?
                            = link_to use_store_credit_for_order_journal_transactions_path(order_id: r.id), method: :put, class: "btn btn-warning btn-sm" do
                              %i.fa.fa-money
                              Use store credit
                      %td= r.display_outstanding_balance
                      %td= r.payment_confirmations.empty? ? "-" : "Yes"
              = paginate @order_payments, theme: "solidus_admin"
              / = link_to "Record", record_journal_transaction_path(r), class: "btn btn-success"
              = submit_tag "Confirm", class: 'btn btn-success' 
              - if @transaction.outstanding_balance != 0
                = link_to "Move Balance To Store Credit", add_store_credit_journal_transaction_path, "data-toggle" => "modal", "data-target" => "#show-form", class: 'btn btn-danger'
      #tab-fillup2.tab-pane
        .row
          .col-xs-12.col-sm-12.col-md-12
            = form_tag "record_invoice", url: record_invoice_journal_transaction_path(@journal_transaction.id) , method: :put do
              = paginate @invoice_payments, theme: "solidus_admin"
              %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
                %thead
                  %tr
                    %th Record
                    %th Name
                    %th Invoice Number
                    %th Amount
                    %th Currency
                %tbody
                  - @invoice_payments.each do |r|
                    %tr
                      %td
                        = check_box_tag "r[]", r.id, false, class: "checkbox" 
                      %td #{r.user.nil? ? r.billing_address.firstname : r.user.name}
                      %td
                        = r.id
                        - if !r.user.nil?
                          - if !r.user.total_available_store_credit.zero?
                            = link_to use_store_credit_for_invoice_journal_transactions_path(invoice_id: r.id), method: :put, class: "btn btn-warning btn-sm" do
                              %i.fa.fa-money
                              Use store credit
                      %td= number_to_currency r.outstanding_balance
                      %td= r.items.first.order.currency
                      %td= r.payment_confirmations.empty? ? "-" : "Yes"
              = paginate @invoice_payments, theme: "solidus_admin"
              = submit_tag "Confirm", class: 'btn btn-success'   
              - if @transaction.outstanding_balance != 0
                = link_to "Move Balance To Store Credit", add_store_credit_journal_transaction_path, "data-toggle" => "modal", "data-target" => "#show-form", class: 'btn btn-danger'  
      / #tab-fillup3.tab-pane
      /   .row
      /     .col-xs-12.col-sm-12.col-md-12
      /       = form_tag "record_purchase", url: record_purchase_journal_transaction_path(@journal_transaction.id) , method: :put do
      /         = paginate @purchase_payments, theme: "solidus_admin"
      /         %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
      /           %thead
      /             %tr
      /               %th Record
      /               %th Supplier
      /               %th Amount
      /               %th Currency
      /           %tbody
      /             - @purchase_payments.each do |r|
      /               %tr
      /                 %td
      /                   = check_box_tag "r[]", r.id, false, class: "checkbox"
      /                 %td= Spree::Supplier.find_by_id(r.supplier_id).name
      /                 %td= number_to_currency r.total
      /                 %td= r.items.first.currency
      /         = paginate @purchase_payments, theme: "solidus_admin"
      /         = submit_tag "Confirm", class: 'btn btn-success'
      #tab-fillup4.tab-pane
        .row
          .col-xs-12.col-sm-12.col-md-12
            = form_tag "record_bill", url: record_bill_journal_transaction_path(@journal_transaction.id) , method: :put do
              = paginate @bill_payments, theme: "solidus_admin"
              %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
                %thead
                  %tr
                    %th Record
                    %th Vendor
                    %th Amount
                    %th Description
                    %th Due Date
                %tbody
                  - @bill_payments.each do |r|
                    %tr
                      %td
                        = check_box_tag "r[]", r.id, false, class: "checkbox"
                      %td= r.vendor
                      %td= number_to_currency r.total
                      %td= r.items.first.description
                      %td= r.due_date.nil? ? "-" : r.due_date.strftime("%d %B %Y")
              = paginate @bill_payments, theme: "solidus_admin"
              = submit_tag "Confirm", class: 'btn btn-success'
              - if @transaction.outstanding_balance != 0
                = link_to "Move Balance To Store Credit", add_store_credit_journal_transaction_path, "data-toggle" => "modal", "data-target" => "#show-form", class: 'btn btn-danger'
      #tab-fillup5.tab-pane
        .row
          .col-xs-12.col-sm-12.col-md-12
            = form_tag "record_journal_invoice", url: record_journal_invoice_journal_transaction_path(@journal_transaction.id) , method: :put do
              = paginate @journal_invoice_payments, theme: "solidus_admin"
              %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
                %thead
                  %tr
                    %th Record
                    %th Vendor
                    %th Amount
                    %th Description
                    %th Due Date
                %tbody
                  - @journal_invoice_payments.each do |r|
                    %tr
                      %td
                        = check_box_tag "r[]", r.id, false, class: "checkbox"
                      %td= r.vendor
                      %td= number_to_currency r.outstanding_balance
                      %td= r.items.first.description
                      %td= r.due_date.strftime("%d %B %Y") if r.due_date
              = paginate @journal_invoice_payments, theme: "solidus_admin"
              = submit_tag "Confirm", class: 'btn btn-success'
              - if @transaction.outstanding_balance != 0
                = link_to "Move Balance To Store Credit", add_store_credit_journal_transaction_path, "data-toggle" => "modal", "data-target" => "#show-form", class: 'btn btn-danger'
      #tab-fillup6.tab-pane
        .row
          .col-xs-12.col-sm-12.col-md-12
            = form_tag "record_container", url: record_container_journal_transaction_path(@journal_transaction.id) , method: :put do
              = paginate @container_payments, theme: "solidus_admin"
              %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
                %thead
                  %tr
                    %th Record
                    %th Name
                    %th Delivery Order
                    %th Status
                    %th Delivery Date
                    %th ETA Date
                %tbody
                  - @container_payments.each do |r|
                    %tr
                      %td
                        = check_box_tag "r[]", r.id, false, class: "checkbox"
                      %td= r.name
                      %td= r.delivery_orders
                      %td= r.status
                      %td= r.delivery_date.strftime("%d %B %Y")
                      %td= r.eta_date.strftime("%d %B %Y")
              = paginate @container_payments, theme: "solidus_admin"
              = submit_tag "Confirm", class: 'btn btn-success'
      #tab-fillup7.tab-pane{class: if @transaction.is_expense? then "active" else "" end}
        .row
          .col-xs-12.col-sm-12.col-md-12
            = form_tag "record_expense", url: record_expense_journal_transaction_path(@journal_transaction.id) , method: :put do
              = paginate @payment_expense, theme: "solidus_admin"
              %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
                %thead
                  %tr
                    %th Record
                    %th Number
                    %th Description
                    %th Account/Category
                    %th Total
                %tbody
                  - @payment_expense.each do |r|
                    %tr
                      %td
                        = check_box_tag "r[]", r.id, false, class: "checkbox"
                      %td= r.number
                      %td= r.description
                      %td= r.account.name
                      %td= number_to_idr(r.amount)
              = paginate @payment_expense, theme: "solidus_admin"
              = submit_tag "Confirm", class: 'btn btn-success'
  #show-form.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title Move Balance to Store Credit
        .modal-body
          .panel-body
            = form_for "add_store_credit", :url => add_store_credit_journal_transaction_path(@journal_transaction.id), method: :put do |f|
              .form-group.form-group-default.required
                %label Member Name
                = f.collection_select(:user_id, Spree::User.all, :id, :name, {:prompt => 'Select User'}, {:class => "form-control"})
              .actions
                = f.submit 'Submit', :data => { :confirm => 'Are you sure you want to move balance to store credit?' }, class: "btn btn-success"