-if notice 
  .alert.alert-success{:role => "alert"}
    %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
    %strong= notice
.form-group.form-group-default
  %label Description
  = @journal_transaction.description
.form-group.form-group-default
  %label Amount
  = Journal::Account.find_by_id(@journal_transaction.account_id).currency
  = @journal_transaction.amount
.form-group.form-group-default
  %label Amount
  = @journal_transaction.pemilik_rekening
.form-group.form-group-default
  %label Category
  - unless @journal_transaction.category_id.nil?
    = Journal::Account.find_by_id(@journal_transaction.category_id).name
.form-group.form-group-default
  %label Account
  = Journal::Account.find_by_id(@journal_transaction.account_id).name
.form-group.form-group-default
  %label Verified
  -if @journal_transaction.is_verified = true
    %p Yes
  -else
    %p No

= link_to 'Edit', edit_journal_transaction_path(@journal_transaction), "data-toggle" => "modal", "data-target" => "#edit-transaction", class: "btn btn-success"
= link_to 'Back', journal_transactions_path, class: "btn btn-danger"

#edit-transaction.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
