.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Import Transaction
.modal-body
  .panel-body
    = form_tag import_journal_transactions_url, method: :put, multipart: true do
      .form-group.form-group-default.required
        = file_field_tag :file
      .form-group.required
        - if params[:account_id]
          = hidden_field_tag "account_id", params[:account_id]
        - else
          = select_tag "account_id", options_from_collection_for_select(Journal::Category.find_by_prefix("1-100").accounts1, "id", "name"), {:class => "form-control", prompt: "Select Account"}
      .actions
        = submit_tag "Import", class: "btn btn-success"