= form_tag "transfer_fund", url: transfer_fund_journal_transaction_path(@journal_transaction.id) , method: :put do
  %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
    %thead
      %h2 Transfer Fund
      %tr
        %th Rekening Asal
        %th Amount
        %th Rekening Tujuan
        %th Kurs
    %tbody
      %tr
        %td= Journal::Account.find_by_id(@trans.account_id).currency
        %td= @trans.amount
        %td= Journal::Account.find_by_id(@trans.category_id).currency
        %td= text_field_tag 'kurs'
  = submit_tag "Transfer", class: 'btn btn-success'