= form_for :order, :url => populate_orders_path do |f|
  #inside-product-cart-form{"data-hook" => "inside_product_cart_form", :itemprop => "offers", :itemscope => "", :itemtype => "http://schema.org/Offer"}
    - if @product.variants_and_option_values_for(current_pricing_options).any?
      #product-variants.columns.five.alpha
        .form-group
          .row
            .col-md-12
              %h3= Spree.t(:variants)
              %ul
                - @product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index|
                  %li{style: "margin-bottom: 10px; font-size: 13px;"}
                    = radio_button_tag "variant_id", variant.id, false, 'data-price' => variant.price_for(current_pricing_options), disabled: false if variant.can_supply?
                    = label_tag "variant_id_#{ variant.id }" do
                      %span.variant-description
                        = variant_options variant
                      - if variant_price variant
                        %span.price.diff= variant_price variant
                      - unless variant.can_supply?
                        %span.out-of-stock Sold Out
    - else
      = hidden_field_tag "variant_id", @product.master.id
    - if @product.price_for(current_pricing_options) and !@product.price.nil?
      %div{:class => "columns five  if !@product.has_variants?  alpha  else  omega", "data-hook" => "product_price"}
        #product-price
          - if @product.master.can_supply? || @product.variants.joins(:stock_items).sum(:count_on_hand) > 0
            %link{:href => "http://schema.org/InStock", :itemprop => "availability"}/
            .add-to-cart
              .form-group
                .row
                  .col-md-12
                    %p.help-input-qty Please input your quantity order in pack
                  .col-md-6.col-xs-10
                    .form-group
                      %label.sr-only{:for => "exampleInputAmount"} Amount (in dollars)
                      .input-group
                        = number_field_tag :quantity, 1, :class => 'title form-control', :min => 1, style: "height: auto; padding-right: 0;"
                        .input-group-addon{style: "padding-left: 20px;"} Pack
                      %p.help-min-order Minimum order is 1 pack

                  .col-md-3
                    = button_tag :class => 'submit-btn additem', :id => 'add-to-cart-button', :type => :submit, style: "padding-bottom: 10px; padding-top: 10px;" do
                      = Spree.t(:add_to_cart)
                  .col-md-12
          - elsif @product.variants.empty?
            %br/
            %span.out-of-stock Sold Out
          -else
            %span.out-of-stock.left Sold Out
    - else
      #product-price
        %br/
        %div
          %span.price.selling{:itemprop => "price"}= Spree.t('product_not_available_in_this_currency')
