- if defined?(image) && image
  .bordered.round7
    .img-wrap
      = image_tag image.attachment.url(:large), itemprop: "image"
  - if @product.is_new_arrival?
    = image_tag "ribbon-new.png", class: "ribbon-new prod-ribbon"
  - if @product.is_preorder?
    = image_tag "ribbon-po.png", class: "ribbon-new prod-ribbon"
- else
  .bordered.round7
    .img-wrap
      = image_tag @product.display_image.attachment(:large), itemprop: "image"
