%table.prod-table{:cellpadding => "0", :cellspacing => "0"}
  %tr
    %th Code Item
    %td.titikdua :
    %td #{@product.description.empty? ? @product.master.sku : @product.description}
  %tr
    %th 1 Pack isi
    %td.titikdua :
    %td= @product.total_items
  %tr
    %th Weight
    %td.titikdua :
    %td #{@product.master.weight} Kg
  - unless @product_properties.empty?
    - @product_properties.each do |product_property|
      - css_class = cycle('even', 'odd', :name => "properties")
      %tr{:class => css_class}
        %th= product_property.property.presentation
        %td.titikdua :
        %td= raw(product_property.value)
    - reset_cycle('properties')
