- if (@product.images + @product.variant_images).uniq.size > 1
  %ul#product-thumbnails.thumbnails.inline.listprod-detail{"data-hook" => ""}
    - @product.images.each do |i|
      %li{:class => "tmb-all tmb-#{i.viewable.id}"}
        %div{:style => "margin: 5px;"}
          = link_to(image_tag(i.attachment.url(:small)), i.attachment.url(:product))
    - if @product.has_variants?
      - @product.variant_images.each do |i|
        - next if @product.images.include?(i)
        %li{:class => "vtmb tmb-#{i.viewable.id}"}
          %div{:style => "margin: 5px;"}
            = link_to(image_tag(i.attachment.url(:small)), i.attachment.url(:product))
