%div{:style => "padding:0 5px 10px; text-align: center;"}
  %h2
    %a{:href => "#"}= params[:type].humanize.titleize

.tab_container
  #tab2.tab_content{:style => "display: block;"}
    %ul.prod-list
      - @categories.each do |c|
        %li
          .bordered
            %h3.prod-name{style: "margin-bottom: 15px;"}
              = link_to c.name, seo_url(c)
            .img-wrap
              = link_to image_tag(c.icon.url(:normal)), show_album_product_image_path(c),"data-toggle" => "modal", "data-target" => "#show-album-image"
            .prod-bottom.text-center{style: "#{if params[:type] == "preorder" then "margin-top: 10px" else "margin-top: 20px" end}"}
              = link_to("View Album", seo_url(c), class: "submit-btn", style: "color: #fff; float: none")
              - if params[:type] == "preorder"
                %p.eta-product{style: "margin-top: 5px"}= c.eta
.clearfix{style: "clear:both;"}
  = paginate @categories

#show-album-image.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .vertical-alignment-helper-1
    .modal-dialog.vertical-align-center-1{:role => "document"}
      .modal-content.modal-content-1{style: "background-color: unset;box-shadow: unset;border: unset;"}

:javascript
  $("#show-album-image").on('hidden.bs.modal', function() {
    $(this).removeData('bs.modal');
  });
