- if params[:keywords]
  %div{"data-hook" => "search_results"}
    - if @products.empty?
      %h6.search-results-title= Spree.t(:no_products_found)
    - else
      = render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon }
- else
  %div{"data-hook" => "homepage_products"}
    = render :partial => 'spree/shared/products', :locals => { :products => @products, :taxon => @taxon }
