- cache [I18n.locale, current_pricing_options, @product] do
  - @body_id = 'product-details'
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button", style: "padding-right: 15px; padding-top: 10px;"}
    %span{"aria-hidden" => "true"} ×
  %h2.text-left.padding-15{:itemprop => "name"}= @product.name
  #prod-detail-fancied-nopopup
    #prod-detail
      .row
        .col-xs-11.col-sm-6.col-md-6
          #product-images{"data-hook" => "product_images"}
            .left.round10
              #main-image{"data-hook" => ""}
                = render :partial => 'image'
            - if @product.is_new_arrival?
              = image_tag "ribbon-new.png", class: "ribbon-new prod-ribbon"
            - if @product.is_preorder?
              = image_tag "ribbon-po.png", class: "ribbon-new prod-ribbon"
            #thumbnails{"data-hook" => ""}
              = render :partial => 'thumbnails'
        .col-xs-6.col-sm-6.col-md-6.right
          %h3= @product.name
          - if @product.is_preorder?
            .prod-price
              %span{:style => "float:left; width:115px; display:block;"} PO Close 
              %span  : 
              %span= @product.po_closed_at
              %br/
              %span{:style => "float:left;  width:115px; display:block;"} ETA 
              %span  : 
              %span= @product.po_estimation
              %br/
              %span{:style => "float:left; width:115px; display:block;"} DP
              %span  : 
              %span= display_down_payment_price(@product)
          .prod-price
            %span{:style => "float:left; width:115px; display:block;"} Normal Price
            = succeed "#{display_price(@product)}" do
              %span  : 
            %span / pcs
            %br/
            %span{:style => "float:left;  width:115px; display:block;"} Silver Member Price
            = succeed "#{display_price(@product, 'silver')}" do
              %span  : 
            %span / pcs
            %br/
            %span{:style => "float:left; width:115px; display:block;"} Gold Member Price
            = succeed "#{display_price(@product, 'gold')}" do
              %span  : 
            %span / pcs
          = render :partial => 'properties'
          = render :partial => 'cart_form'
      .clear
