#prod-detail-fancied-nopopup
  #prod-detail
    .row
      .col-xs-11.col-sm-6.col-md-6
        #product-images{"data-hook" => "product_images"}
          .left.round10
            #main-image{"data-hook" => ""}
              .bordered.round7.align-center
                = image_tag @taxon.icon.url(:original), width: '100%'