- admin_breadcrumb("Card Stock")
= search_form_for @search, url: admin_stock_items_card_stock_path do |f|
  .row
    .col-md-4.col-md-offset-4
      .field
        = label_tag :q_sku_cont, "SKU"
        = f.text_field :variant_sku_cont
        = button Spree.t(:filter_results)
-if @stock_items.any? 
  = paginate @stock_items, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th{style: "width: 10%;"} Image
        %th{style: "width: 10%;"} SKU
        %th{style: "width: 15%;"} Name
        %th{style: "width: 8%;"}= sort_link @search,:count_on_hand, "Stock Web(pcs)", {}, {:title => 'admin_products_listing_price_title'}
        %th{style: "width: 8%;"}= sort_link @search,:count_on_hand, "Stock Web(pack)", {}, {:title => 'admin_products_listing_price_title'}
        %th{style: "width: 10%;"} Stock Gudang (pcs)
        - if spree_current_user.admin?
          %th{style: "width: 10%;"} HPP
          %th{style: "width: 10%;"} Total
        %th{style: "width: 10%;"}= sort_link @search,:updated_at, "Last Transaction Date", {}, {:title => 'admin_products_listing_price_title'}
        %th{style: "width: 10%;"} Last Selling Price
        %th{style: "width: 10%;"} Supplier
        %th{style: "width: 5%;"} Status
    %tbody
      - @stock_items.each do |c|
        %tr
          %td.align-center= image_tag(c.variant.display_image(fallback: false).attachment(:mini))
          %td.align-center= c.variant.sku
          %td.align-center= link_to(c.variant.name, edit_admin_product_path(c.variant.product))
          %td.align-center= c.count_on_hand
          %td.align-center= c.count_on_hand/c.variant.product.total_items
          %td.align-center= link_to c.stock_warehouse, admin_stock_warehouse_movement_path(c)
          -if spree_current_user.admin?
            %td.align-center= number_to_multi_currency(c.variant.cost_price, c.variant.cost_currency)
            %td.align-center= number_to_multi_currency(c.variant.cost_price*c.count_on_hand, c.variant.cost_currency)
          %td.align-center= c.updated_at if c.last_transaction_line
          %td.align-center= number_to_currency c.variant.price if c.variant.price
          %td.align-center= c.variant.product.supplier.name if c.variant.product.supplier
          %td.align-center= c.variant.product.available_on.present? ? "Publish" : "Tdk Publish"
          %td.actions
            = link_to_with_icon 'arrow-right', "View stock movement", admin_stock_item_movement_path(c), :no_text => true
    %tfooter
      %tr
        %td.align-center{colspan: 3} Total
        %td.align-center #{@search.result.sum(:count_on_hand)} Pcs
        - if spree_current_user.admin?
        - else
          %td.align-center{colspan: 2} - 

  = paginate @stock_items, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    Not Found