- admin_breadcrumb("Card Stock")

-if @movements.any? 
  = paginate @movements, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th Date
        / %th Class Issuer
        %th Memo
        %th Status
        %th Qty (+)
        %th Qty (-)
        %th Balance
    %tbody
      - balance = 0
      - @movements.each do |mv|
        - next if mv.originator_type == "Spree::Shipment" && mv.originator.blank?
        - next if mv.originator_type == "Spree::Shipment" && mv.originator.state == "canceled"
        %tr
          %td.align-center= mv.created_at
          / %td.align-center= mv.originator_type
          %td.align-center= mv.originator_to_human
          %td.align-center
            - if mv.originator_type == "Spree::Shipment"
              - if !mv.originator.order_id.nil?
                = mv.originator.order_or_invoice.order_state_human
              - elsif !mv.originator.order_or_invoice.invoice.nil?
                = mv.originator.status
              - else
                -
            - else
              -
          %td.align-center= mv.quantity > 0 ? mv.quantity : ""
          %td.align-center= mv.quantity < 0 ? mv.quantity : ""
          %td.align-center= balance += mv.quantity 
          -# %td.align-center= mv.balance_stock
    %tfooter
      %tr
        %td.align-right{colspan: 3} Count on Hand
        %td.align-center= @stock_item.count_on_hand
  = paginate @movements, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    Not Found