- admin_breadcrumb("Stock Warehouse - #{@stock_item.variant.sku}")

-if @movements.any? 
  = paginate @movements, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th Date
        %th Memo
        %th Qty (+)
        %th Qty (-)
        %th Balance
    %tbody
      - @movements.each do |mv|
        %tr
          %td.align-center= mv.created_at
          %td.align-center= mv.description
          %td.align-center= mv.quantity > 0 ? mv.quantity : ""
          %td.align-center= mv.quantity < 0 ? mv.quantity : ""
          %td.align-center= mv.balance_stock
    %tfooter
      %tr
        %td.align-right{colspan: 3} Stock Warehouse
        %td.align-center= @stock_item.stock_warehouse
  = paginate @movements, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    Not Found