.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Invoices
.modal-body
  .panel-body
    = form_for @journal_invoice do |f|
      - if @journal_invoice.errors.any?
        #error_explanation
          %h2= "#{pluralize(@journal_invoice.errors.count, "error")} prohibited this journal_invoice from being saved:"
          %ul
            - @journal_invoice.errors.full_messages.each do |msg|
              %li= msg
      / vendor, currency, due_date, total, payment_state, email, user, category, description
      .form-group.form-group-default.required
        %label Member
        = f.collection_select(:spree_user_id, Spree::User.all, :id, :name, {:prompt => 'Select User'}, {:class => "form-control"})
      .form-group.form-group-default.required
        %label Category
        = f.collection_select(:category, Journal::Account.where(category_id: [13, 14]), :id, :name, {:prompt => 'Select category'}, {:class => "form-control"})
      .form-group.form-group-default.required
        %label Description
        = f.text_field :description, class: "input form-control"
      .form-group.form-group-default.required
        = f.label :due_date
        = f.date_field :due_date, class: "input form-control"
      .form-group.form-group-default.required
        %label Total
        = f.text_field :total, class: "input form-control"
      .actions
        = f.submit 'Submit', class: "btn btn-success"