.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Credit Note
      .pull-right
        = link_to new_journal_invoice_url, "data-toggle" => "modal", "data-target" => "#new-invoice", class: 'btn btn-success' do
          %i.fa.fa-plus
          Add Invoices
      .clearfix
.container-fluid.container-fixed-lg
  -if notice 
    .alert.alert-success{:role => "alert"}
      %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
      %strong= notice
  -if alert
    .alert.alert-danger{:role => "alert"}
      %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
      %strong= alert
  = search_form_for @q, url: journal_invoices_path do |f|
    .row
      .col-sm-4
        .form-group.form-group-default.required
          %label ID
          = f.text_field :id_eq, class: "form-control"
      .col-sm-4
        .form-group.form-group-default.required
          %label Number
          = f.text_field :number_cont, class: "form-control"
      .col-sm-4
        .form-group.form-group-default.required
          %label Name
          = f.text_field :vendor_cont, class: "form-control"
    .row
      .col-sm-4
        .form-group.form-group-default.required
          %label Description
          = f.text_field :items_description_cont, class: "form-control"
      .col-sm-4
        .form-group.form-group-default.required
          %label Amount
          = f.text_field :total_eq, class: "form-control"
      .col-sm-4
        .form-group.form-group-default.required
          %label Payment State
          = f.select :payment_state_eq, options_for_select([["Paid", "paid"], ["Pending", "pending"], ["Tidak Terbayar", "unpaid"]]), {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
    .row
      .col-sm-12
        = f.submit "Search", class: "btn btn-success"
  .row
    .col-sm-12
      %h3.text-right.bold Total Amount Pending: #{number_to_currency(@invoices.pending.sum(&:outstanding_balance))}
  %table#example.table
    %thead
      %tr
        %th{style: "width: 10%"} Number
        %th{style: "width: 8%"} Date
        %th{style: "width: 15%"} Action
        %th{style: "width: 10%"} Name
        %th{style: "width: 13%"} Total
        %th{style: "width: 12%"} Sisa Tagihan
        %th{style: "width: 10%"} Payment State
        %th{style: "width: 15%"} Description
        %th{style: "width: 7%"} Due Date
    %tbody
      - @invoices.each do |s|
        %tr
          %td= s.number.nil? ? s.id : s.number
          %td= s.created_at.to_date
          %td
            .btn-group.m-b-10
              %button.btn.btn-default{:type => "button"} Action
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                -if s.originator_type == "Invoice::Order"
                  %li
                    %a= link_to 'Record', record_invoice_journal_invoice_path(s), :data => { :confirm => 'Apakah anda yakin ingin record invoice ini?' }
                - if s.payment_state == "pending"
                  %li
                    %a= link_to 'Reminder email', reminder_email_journal_invoice_path(s), :data => { :confirm => 'Apakah anda yakin ingin mengirimkan reminder berupa email dan sms?' }
                  %li
                    %a= link_to 'Tandai tidak terbayar', unpay_journal_invoice_path(s), method: :put, :data => { :confirm => 'Apakah anda yakin?' }
                  %li
                    %a= link_to 'Edit', edit_journal_invoice_path(s), "data-toggle" => "modal", "data-target" => "#edit-invoice"
                %li
                  %a= link_to "Destroy", journal_invoice_path(s), :method=>:delete, :class=>:destroy, :data => { :confirm => 'Apakah anda yakin ingin menghapus invoice ini?' }
          %td= s.vendor
          %td= number_to_multi_currency(s.total, s.currency)
          %td{style: "color: red"}
            - if s.payment_state == "pending"
              = number_to_currency s.outstanding_balance
            - else
              Lunas
          %td
            - if s.payment_state == "unpaid"
              Tidak Terbayar
            - else
              = s.payment_state.capitalize
          %td= s.items.first.description
          %td= s.due_date.strftime("%d %B %Y") if s.due_date
  = paginate @invoices, theme: "solidus_admin" 
#new-invoice.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#edit-invoice.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
