-if alert
  .alert.alert-danger{:role => "alert"}
    %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
    %strong= alert
-if notice 
  .alert.alert-success{:role => "alert"}
    %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
    %strong= notice
= form_for('Filter_Order', :as => 'filter_or', method: :get, :url => record_invoice_journal_invoice_path) do |f|
  .row 
    .col-sm-5
      .form-group.form-group-default.required
        %label Name
        = text_field_tag 'name_user', nil, class: 'form-control'
    .col-sm-5
      .form-group.form-group-default.required
        %label Order Number
        = text_field_tag 'number', nil, class: 'form-control'
    .col-sm-2
      = f.submit "Search", class: "btn btn-success"
.panel.panel-transparent
  %ul.nav.nav-tabs.nav-tabs-fillup{"data-init-reponsive-tabs" => "dropdownfx"}
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab-fillup1"}
        %span Order
    %li
      %a{"data-toggle" => "tab", :href => "#tab-fillup2"}
        %span Invoice
  .tab-content
    #tab-fillup1.tab-pane.active
      .row
        .col-xs-12.col-sm-12.col-md-12
          = form_tag "record_order_invoice", url: record_order_invoice_journal_invoice_path(@journal_invoice.id) , method: :put do
            = paginate @order_payments_invoice, theme: "solidus_admin" 
            %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
              %thead
                %tr
                  %th Record
                  %th Name
                  %th Order Number
                  %th Amount
              %tbody
                - @order_payments_invoice.each do |r|
                  %tr
                    %td
                      = check_box_tag "r[]", r.id, false, class: "checkbox" 
                    %td #{r.user.nil? ? r.billing_address.firstname : r.user.name}
                    %td= r.number
                    %td= r.display_outstanding_balance
            = paginate @order_payments_invoice, theme: "solidus_admin"
            / = link_to "Record", record_journal_transaction_path(r), class: "btn btn-success"
            = submit_tag "Confirm", class: 'btn btn-success'
    #tab-fillup2.tab-pane
      .row
        .col-xs-12.col-sm-12.col-md-12
          = form_tag "record_invoice_cn", url: record_invoice_cn_journal_invoice_path(@journal_invoice.id) , method: :put do
            = paginate @invoice_payments, theme: "solidus_admin"
            %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
              %thead
                %tr
                  %th Record
                  %th Name
                  %th Invoice Number
                  %th Amount
              %tbody
                - @invoice_payments.each do |r|
                  %tr
                    %td
                      = check_box_tag "r[]", r.id, false, class: "checkbox" 
                    %td #{r.user.nil? ? r.billing_address.firstname : r.user.name}
                    %td= r.id
                    %td= number_to_currency r.outstanding_balance
            = paginate @invoice_payments, theme: "solidus_admin"
            = submit_tag "Confirm", class: 'btn btn-success' 