.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Journal Item
.modal-body
  .panel-body
    = form_for @journal_item do |f|
      .form-group.required
        = f.grouped_collection_select :account_id, Journal::Category.all, :accounts1, :name, :id, :name, {include_blank: true, :prompt => 'Select Account'}, {class: "form-control"}
      .actions
        = f.submit 'Submit', class: "btn btn-success"