%tr.nested-fields
  %td= f.grouped_collection_select :account_id, Journal::Category.all, :accounts1, :name, :id, :name, {include_blank: true, :prompt => 'Select account'}, {class: "form-control"}
  %td= f.text_field :description, class: "form-control"
  %td= f.text_field :debit, value: 0,class: "debit-nih form-control", oninput: 'debit()'
  = f.hidden_field :currency, value: 'IDR'
  = f.hidden_field :originator_type, value: "Spree::User"
  = f.hidden_field :originator_id, value: spree_current_user.id
  %td= f.text_field :credit, value: 0, class: "credit-nih form-control", oninput: 'credit()'
  %td  
    .form-actions.pull-right
      = link_to_remove_association "Remove", f, class: "btn btn-danger"