.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Journal Entries
      .pull-right
        = link_to new_journal_journal_item_url, class: 'btn btn-success' do
          %i.fa.fa-plus
          Add Journal Entries
      .clearfix
.container-fluid.container-fixed-lg
  -if notice 
    .alert.alert-success{:role => "alert"}
      %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
      %strong= notice
  -if alert
    .alert.alert-danger{:role => "alert"}
      %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
      %strong= alert
  = search_form_for @q, url: all_journal_entries_journal_journal_items_path do |f|
    .row 
      .col-sm-3
        .form-group.form-group-default.required
          %label Account
          = f.select :items_account_id_eq, Journal::Account.cash_and_bank.collect {|p| [ p.name, p.id ] }, {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
      .col-sm-3
        .form-group.form-group-default.required
          %label Description
          = f.text_field :description_cont, class: "form-control"
      .col-sm-3
        .form-group.form-group-default.required
          %label Journal Number
          = f.text_field :number_eq, class: "form-control"
      .col-sm-3
        .form-group.form-group-default.required
          %label Amount
          = f.text_field :items_debit_or_items_credit_eq, class: "form-control"
    .row.text-center
      .col-sm-12
        = f.submit "Search", class: "btn btn-success"
  %table#example.table
    %thead
      %tr
        %th Journal Number
        %th Transaction Date
        %th Description
        %th Debit
        %th Credit
        %th Currency
    %tbody
      - @journal_entries.each do |entry|
        %tr.accordion-toggle{"data-target" => ".ID#{entry.id}", "data-toggle" => "collapse"}
          %td= entry.number
          %td= entry.date.to_date
          %td= entry.description
          %td.text-success= number_with_delimiter entry.items.sum(:debit)
          %td.text-success= number_with_delimiter entry.items.sum(:debit)
          - if entry.items.present?
            %td= entry.items.first.currency
          - else
            %td None
        - entry.items.each do |item|
          %tr
            %td.hiddenRow{style: "padding: 0 !important;"}
              .accordian-body.collapse{class: "ID#{item.journal_entry_id}"}
                .btn-group.m-b-10
                  %button.btn.btn-default{:type => "button"} Action
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      %a= link_to 'Edit Account', edit_journal_journal_item_path(item), "data-toggle" => "modal", "data-target" => "#edit-account"
            %td.hiddenRow{style: "padding: 0 !important;"}
              .accordian-body.collapse{class: "ID#{item.journal_entry_id}"}= item.created_at.to_date
            %td.hiddenRow{style: "padding: 0 !important;"}
              .accordian-body.collapse{class: "ID#{item.journal_entry_id}"}
                - if !item.account_id.nil?
                  = Journal::Account.find_by_id(item.account_id).name
                - else
                  Tidak Ada Category
            %td.hiddenRow{style: "padding: 0 !important;"}
              .accordian-body.collapse{class: "ID#{item.journal_entry_id}"}= number_with_delimiter item.debit
            %td.hiddenRow{style: "padding: 0 !important;"}
              .accordian-body.collapse{class: "ID#{item.journal_entry_id}"}= number_with_delimiter item.credit
            %td.hiddenRow{style: "padding: 0 !important;"}
              .accordian-body.collapse{class: "ID#{item.journal_entry_id}"}= item.currency
  = paginate @journal_entries, theme: "solidus_admin" 
  #edit-account.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content