.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Journal Items
      .pull-right
        = link_to new_journal_journal_item_url, class: 'btn btn-success' do
          %i.fa.fa-plus
          Add Journal Entries
      .clearfix
.container-fluid.container-fixed-lg
  -if notice 
    .alert.alert-success{:role => "alert"}
      %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
      %strong= notice
  -if alert
    .alert.alert-danger{:role => "alert"}
      %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
      %strong= alert
  = search_form_for @q, url: journal_journal_items_path do |f|
    .row 
      .col-sm-3
        .form-group.form-group-default.required
          %label Journal Number
          = f.text_field :journal_entry_number_eq, class: "form-control"
      .col-sm-3
        .form-group.form-group-default.required
          %label Account
          = f.select :account_id_eq, Journal::Account.cash_and_bank.collect {|p| [ p.name, p.id ] }, {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
      .col-sm-3
        .form-group.form-group-default.required
          %label Description
          = f.text_field :description_cont, class: "form-control"
      .col-sm-3
        .form-group.form-group-default.required
          %label Amount
          = f.text_field :debit_or_credit_eq, class: "form-control"
    .row.text-center
      .col-sm-12
        = f.submit "Search", class: "btn btn-success"
  %table#example.table
    %thead
      %tr
        %th Action
        %th Journal Number
        %th Transaction Date
        %th Account
        %th Description
        %th Debit
        %th Credit
        %th Currency
        %th Counterpart

    %tbody
      - @journal_items.each do |s|
        %tr
          %td
            .btn-group.m-b-10
              %button.btn.btn-default{:type => "button"} Action
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a= link_to 'Edit Account', edit_journal_journal_item_path(s), "data-toggle" => "modal", "data-target" => "#edit-account"
          %td= s.journal_entry.present? ? s.journal_entry.number : "No Journal Entry"
          %td= s.created_at.to_date
          %td
            - if !s.account_id.nil?
              = Journal::Account.find_by_id(s.account_id).name
            - else
              Tidak Ada Category
          %td= s.description
          %td= number_with_delimiter s.debit
          %td= number_with_delimiter s.credit
          %td= s.currency
          %td
            - if s.journal_transaction.present?
              - Journal::JournalItem.where(transaction_id: s.transaction_id).where.not(id: s.id).each do |cp|
                %a{"data-toggle" => "tooltip", :href => "#", :title => "#{cp.debit.to_i > 0 ? "Debit: #{number_to_multi_currency(cp.debit, cp.currency)}" : "Credit: #{number_to_multi_currency(cp.credit, cp.currency)}"} - Date: #{cp.created_at.to_date}"} #{cp.account.present? ? cp.account.name : "Tidak ada category"}
                %br
            - else
              - Journal::JournalItem.where(description: s.description, created_at: s.created_at, originator: s.originator).where.not(id: s.id).each do |cp|
                %a{"data-toggle" => "tooltip", :href => "#", :title => "#{cp.debit.to_i > 0 ? "Debit: #{number_to_multi_currency(cp.debit, cp.currency)}" : "Credit: #{number_to_multi_currency(cp.credit, cp.currency)}"} - Date: #{cp.created_at.to_date}"} #{cp.account.present? ? cp.account.name : "Tidak ada category"}
                %br
  = paginate @journal_items, theme: "solidus_admin" 
  #edit-account.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content