-if notice 
  .alert.alert-success{:role => "alert"}
    %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
    %strong= notice
-if alert
  .alert.alert-danger{:role => "alert"}
    %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
    %strong= alert
.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      .pull-left
        %ul.breadcrumb
          %li
            = link_to "Journal Item", journal_journal_items_path
          %li
            %a.active{:href => "#"} New
.container-fluid.container-fixed-lg
  = form_for @journal_entry, url: journal_journal_items_path, method: :post do |f|
    .form-group.form-group-default.required
      = f.label :description
      = f.text_area :description, class: "input form-control"
    .form-group.form-group-default.required
      = f.label :date
      = f.date_field :date, class: "input form-control"
    #owner
      %table.table
        %thead
          %tr
            %th Account
            %th Description
            %th Debit
            %th Credit
            %th
        %tbody.items
          = f.fields_for :items do |item|
            = render 'item_fields', f: item
      .links.pull-right
        .row
          .col-sm-6
            Total Debit 
          .col-sm-6
            = text_field_tag "debit_total", 0, id: "total_debit", disabled: true, class: "form-control"
        .row
          .col-sm-6
            Total Credit  
          .col-sm-6
            =text_field_tag "credit_total", 0, id: "total_credit", disabled: true, class: "form-control"
        %br
        = f.submit 'Submit', :data => { :confirm => 'Apakah anda yakin ingin menyimpan journal item ini?' }, class: "btn btn-success"
        = link_to_add_association 'Add Item', f, :items, data: {"association-insertion-node" => "tbody.items", "association-insertion-method" => "append"}, class: "btn btn-primary", id: "nested_fields"
      

- content_for :js do
  :javascript
    $('#nested_fields').trigger ('click')
    $('#nested_fields').trigger ('click')

    function debit(){
      console.log("debit-nih");
      var sum_debit = 0;
      $('.debit-nih').each(function() {
          var debit = $(this);
          sum_debit += parseInt(debit.val())
      });

      $('#total_debit').val(sum_debit);
    };

    function credit(){
      console.log("credit-nih");
      var sum_credit = 0;
      $('.credit-nih').each(function() {
          var credit = $(this);
          sum_credit += parseInt(credit.val())
      });

      $('#total_credit').val(sum_credit);
    };

    $('#owner').on('cocoon:after-remove', function() {
      debit();
      credit();
    });