%div{"data-hook" => "admin_banner_form_fields"}
  .row
    .alpha.twelve.columns
      = f.field_container :news do
        = f.label :news, "Name"
        = f.error_message_on :news
        = f.text_field :news, class: 'fullwidth'
    .alpha.twelve.columns
      = f.field_container :description do
        = f.label :description
        = f.error_message_on :description
        = f.cktext_area :description, class: 'fullwidth'
    .alpha.twelve.columns
      = f.field_container :status do
        = f.label :status, "Active"
        %ul
          %li
            = f.radio_button :status, true
            = label_tag "Yes"
          %li
            = f.radio_button :status, false
            = label_tag "No"
    .alpha.twelve.columns
      = f.field_container :image do
        = f.label :image
        - if @object.image.url.present?
          = image_tag @object.image.url(:thumb)
        = f.error_message_on :image
        = f.file_field :image, class: 'fullwidth'
    .alpha.twelve.columns
      = f.field_container :for_splash_screen do
        = f.label :for_splash_screen, "Splash Screen"
        %ul
          %li
            = f.radio_button :for_splash_screen, true
            = label_tag "Yes"
          %li
            = f.radio_button :for_splash_screen, false
            = label_tag "No"

