- content_for :page_title do
  = Spree.t("Edit", resource: Spree::News.model_name.human)
  \/ #{@news.id}
= form_for @news, url: admin_news_path(@news) do |f|
  %fieldset
    = render partial: 'form', locals: { f: f }
    .actions{"data-hook" => "buttons"}
      = button Spree.t('actions.update'), 'save'
