- content_for :page_title do
  = plural_resource_name(Spree::News)
- content_for :page_actions do
  = button_link_to "Add News", new_object_url, class: "btn-success", icon: 'add', id: 'admin_new_news_link'
- if @news.present?
  %table#listing_banks.table
    %thead
      %tr{"data-hook" => "admin_news_index_headers"}
        %th= "News"
        %th= "Status"
    %tbody
      - @news.each do |n|
        %tr{"data-hook" => "admin_banners_index_rows", :id => "#{spree_dom_id n}"}
          %td= n.news
          %td
            - if n.status == true
              Active
            - else
              Not Active
          %td.actions
            - if can?(:update, n)
              = link_to_with_icon 'edit', Spree.t('actions.edit'), edit_admin_news_path(n), :no_text => true
            - if can?(:destroy, n)
              = link_to_delete n, :no_text => true
- else
  .alert.alert-info.no-objects-found
    = Spree.t(:no_resource_found, resource: plural_resource_name(Spree::News))
    ,
    \#{link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::News}!