= form_for @cash_out_request, html: {class: "form-horizontal"} do |f|
  .modal-header
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    %h4#myModalLabel.modal-title Permintaan untuk Tarik Dana
  .modal-body
    %h5 Store Credit Anda : #{spree_current_user.display_total_available_store_credit}
    %br
    .form-group
      = f.label :amount, "Nominal penarikan", class: 'col-sm-3 control-label text-left'
      .col-sm-7
        = f.number_field :amount, class: 'form-control', min: 10000, max: spree_current_user.total_available_store_credit
    .form-group
      = f.label :bank_name, "Nama Bank", class: 'col-sm-3 control-label text-left'
      .col-sm-7
        = f.text_field :bank_name, class: 'form-control', value: spree_current_user.bank_name, required: true
    .form-group
      = f.label :bank_account_name, "Nama Pemilik Rekening", class: 'col-sm-3 control-label text-left'
      .col-sm-7
        = f.text_field :bank_account_name, class: 'form-control', value: spree_current_user.bank_account_name, required: true
    .form-group
      = f.label :bank_account_no, "Nomor Rekening", class: 'col-sm-3 control-label text-left'
      .col-sm-7
        = f.text_field :bank_account_no, class: 'form-control', value: spree_current_user.bank_account_no, required: true
    .form-group
      = f.label :bank_branch, "Cabang", class: 'col-sm-3 control-label text-left'
      .col-sm-7
        = f.text_field :bank_branch, class: 'form-control', value: spree_current_user.bank_branch, required: true
    %p{style: "color: #e42074"}
      Note:
      %br
      * Nominal minimal penarikan dana Rp10,000
      %br
      * Pengembalian dana akan kami proses dalam waktu 3x24 jam
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    = f.submit "Confirm", class: 'btn btn-pink'
  