/*
 *= require bootstrap
 *= require style
 *= require reset
 */
.welcome-header {
  font-family: "Dancing Script";
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  color: #e41d71;
}
.welcome-text {
  font-family: Arial;
  font-size: 13px;
}
.vertical-alignment-helper-1 {
  display:table;
  height: 100%;
  width: 100%;
  pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center-1 {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events:none;
}

.modal-content-1 {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width:inherit;
  height:inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

.flash {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.flash h4 {
  margin-top: 0;
  color: inherit;
}
.flash .flash-link {
  font-weight: bold;
}
.flash > p,
.flash > ul {
  margin-bottom: 0;
}
.flash > p + p {
  margin-top: 5px;
}
.flash-dismissable,
.flash-dismissible {
  padding-right: 35px;
}
.flash-dismissable .close,
.flash-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.notice {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.notice hr {
  border-top-color: #c9e2b3;
}
.notice .flash-link {
  color: #2b542c;
}
.flash-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.flash-info hr {
  border-top-color: #a6e1ec;
}
.flash-info .flash-link {
  color: #245269;
}
.flash-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.flash-warning hr {
  border-top-color: #f7e1b5;
}
.flash-warning .flash-link {
  color: #66512c;
}
.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.error hr {
  border-top-color: #e4b9c0;
}
.error .flash-link {
  color: #843534;
}

.help-input-qty {
  font-size: 14px;
  line-height: 1.2em;
  margin-bottom: 8px;
}
.help-min-order {
  font-size: 12px;
}
.eta-product {
  color: #72a232;
  font-size: 10px;
  font-family: 'Arvo', serif;
}
.panel-title {
  text-align: center;
  color: #e6317e;
  font-size: 16px;
}
.order-show p {
  font-size: 12px;
  margin-bottom: 8px;
}
.order-show li {
  font-size: 12px;
  margin-bottom: 5px;
}
.pink-color {
  color: #e6317e;
}
// .modal-dialog {
//   width: 450px;
// }

.form-control {
  border: 1px solid #f4f1ea;
  background: #faf9f7;
  // width: 250px;
  font-family: calibri;
  padding: 4px 5px 4px 5px;
  font-size: 14px;
}

.btn-pink {
  background-color: #e6317e;
  color: #fff;
}


#payment-confirmation, #myAddress, #cash-out, #pay-sc-inv-po, #pay-sc-order, #pay-sc-credit, 
#tata-cara-sc, #order-modal, #splashScreen {
  .modal-dialog {
    width: 600px;
  } 
  h4 {
    color: #19a7e0;
  }
  .modal-content {
    border: 5px solid #e6317e;
  }
  table th {
    font-size: 13px;
  }
  label {
    font-family: "Arvo";
    font-size: 13px;
  }
  p {
    font-size: 12px;
  }
  .text-left {
    text-align: left !important;
  }
  .checkbox {
    min-height: auto;
    padding-top: 0;
  }
}

h3.cyan {
  color: #1aa8e0;
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 6px;
}

.general-form3 input[type="checkbox"] {
  width: auto !important;
  margin-top: 8px;
}

.out-of-stock {
  font-family: "Arvo";
  font-weight: 800;
  text-transform: uppercase;
  color: #d12a32;
  font-size: 13px;
  padding-top: 3px;

  &.left {
    float: right;
  }
}

.table.store-credit th {
  font-size: 12px;
}

tr.capture td:nth-child(3) {
  color: red;
}

tr.credit td:nth-child(3), tr.allocation td:nth-child(3) {
  color: green;
}

ul.dropdown-menu {
  min-width: auto;
  border: none;
  background: none;
  box-shadow: none;
  li {
    margin-bottom: 5px;
  }
}

#show-product .modal-dialog {
  width: 780px;
}

#show-product .modal-dialog {
  width: 95%;
}

@media(min-width: 768px){
  #show-product .modal-dialog {
    width: 780px;
  }
}

.padding-15 {
  padding-left: 15px;
  padding-top: 25px;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #eee; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
    color: #e6317e;
    display: block;
    font-family: 'Arvo', serif;
}

.sidenav i {
  margin-right: 8px;
}

/* When you mouse over the navigation links, change their color */
// .sidenav a:hover, .offcanvas a:focus{
//     color: #f1f1f1;
// }

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.header-mobile {
  padding: 15px 25px;
  position: fixed;
  display: block;
  width: 100%;
  border-bottom: 1px solid #8dc641;
  z-index: 999;
  background: white;
}

.grid960 {
  padding-top: 60px;
}

@media(min-width: 768px){
  .grid960 {
    padding-top: 0px;
  }
}

#link-to-cart-mobile a {
  font-size: 12px;
  margin-top: 2px;
  float: left;
}

#mySidenav ul.dropdown-menu {
  background: #eee;
  top: auto;

  li a {
    padding-left: 40px;
    color: #e6317e;
    font-family: 'Arvo', serif;
  }
}

.clearfix {
  clear: both;
}

.splashScreen h1, .splashScreen h2, .splashScreen h3, .splashScreen h4, .splashScreen h5 {
  color: #26ace2;
  margin-bottom: 10px;
}