%fieldset.no-border-top{"data-hook" => "admin_customer_detail_form_fields"}
  %fieldset.index.no-border-bottom{"data-hook" => "customer_guest"}
    %legend{:align => "center"}= Spree.t(:account)
    .row{"data-hook" => "customer_fields"}
      .col-xs-9
        .field
          = f.label :email
          = f.email_field :email, :class => 'fullwidth'
      .col-xs-3
        .field
          = label_tag nil, Spree.t(:guest_checkout)
          %ul
            - if @order.completed? 
              %li
                = @order.user.nil? ? Spree.t(:say_yes) : Spree.t(:say_no)
            - else
              - guest = @order.user.nil?
              %li
                = radio_button_tag :guest_checkout, true, guest
                = label_tag :guest_checkout_true, Spree.t(:say_yes)
              %li
                = radio_button_tag :guest_checkout, false, !guest, :disabled => @order.cart?
                = label_tag :guest_checkout_false, Spree.t(:say_no)
              = hidden_field_tag :user_id, @order.user_id
    .row
      .col-xs-3
        .label-input
          .label-wrap
            = label_tag :dropship
          .input-wrap
            = check_box_tag :dropship, @order.dropship.nil? ? false : true, @order.dropship? ? 'checked' : false
      .hidden-dropship
        .col-xs-3
          .label-input
            .label-wrap
              = label_tag :dropship_name, "Nama Pengirim"
            .input-wrap
              = text_field_tag :dropship_name, @order.dropship_name.nil? ? "" : @order.dropship_name
        .col-xs-3
          .label-input
            .label-wrap
              = label_tag :dropship_phone, "No. Telepon Pengirim"
            .input-wrap
              = text_field_tag :dropship_phone, @order.dropship_phone.nil? ? "" : @order.dropship_phone
    .row
      .col-xs-12
        .label-input
          .label-wrap
            = label_tag :notes, "Notes"
          .input-wrap
            = text_area_tag :notes, @order.notes.blank? ? "" : @order.notes, cols: 50
  .row
    .col-xs-6{"data-hook" => "ship_address_wrapper"}
      %fieldset.no-border-bottom
        %legend{:align => "center"}= Spree.t(:shipping_address)
        = f.fields_for :ship_address do |sa_form|
          - if Spree::Config[:order_bill_address_used]
            .field{:style => "position: absolute;margin-top: -15px;left: 0;"}
              %span{"data-hook" => "use_billing"}
                = check_box_tag 'order[use_billing]', '1', ((@order.bill_address.empty? && @order.ship_address.empty?) && @order.bill_address == @order.ship_address)
                = label_tag 'order[use_billing]', Spree.t(:use_billing_address)
          = render :partial => 'spree/admin/shared/address_form', :locals => { :f => sa_form, :type => 'shipping' }
    - if Spree::Config[:order_bill_address_used]
      .col-xs-6{"data-hook" => "bill_address_wrapper"}
        %fieldset.no-border-bottom
          %legend{:align => "center"}= Spree.t(:billing_address)
          = f.fields_for :bill_address do |ba_form|
            = render :partial => 'spree/admin/shared/address_form', :locals => { :f => ba_form, :type => "billing" }
  .clear
  .form-buttons.filter-actions.actions{"data-hook" => "buttons"}
    = button Spree.t('actions.update')

:javascript
  if ($("#dropship").is(":checked")){
    $(".hidden-dropship").show();
  } else {
    $(".hidden-dropship").hide();
  };
  $("#dropship").on("change", function(){
    if ($("#dropship").is(":checked")){
      $(".hidden-dropship").show();
    } else {
      $(".hidden-dropship").hide();
    };
  });
