- if @rma.present?
  #jcart
    %table.table.table-striped.order-summary
      %thead.active
        %tr
          %th Date
          %th Number
          %th Order Number
          %th Memo
        %tbody
          - @rma.each do |x|
            %tr
              %td.align-center= x.created_at
              %td.align-center= x.number
              %td.align-center= x.order_id
              %td.align-center= x.memo
- else  
  .alert.alert-info No RMA List