- if @iu_shipped.present?
  #jcart
    = form_tag return_authorization_users_path, method: :post do 
      %table.table.table-striped.order-summary
        %thead.active
          %tr
            %th Pilih
            %th Product
            %th Harga per pcs
            %th Qty Terkirim
            %th Qty Return
            %th Reason
          %tbody
            - @iu_shipped.each do |iu|
              %tr
                %td.align-center= check_box_tag "select_items[]", iu.id
                %td.align-center= iu.variant.product.name
                %td.align-center= number_to_idr iu.line_item.price
                %td.align-center= iu.shipped
                %td.align-center= text_field_tag "quantity_return[#{iu.id}]"
                %td.align-center= select_tag "return_reason[#{iu.id}]", options_from_collection_for_select(Spree::ReturnReason.all, :id, :name)
            %tr
              %td Memo
              %td.align-center= text_area_tag :memo, nil, rows: 10, cols: 30
              = hidden_field_tag :order_number, "#{params[:id]}"
      = submit_tag "Submit", class: "btn btn-pink"
- else  
  .alert.alert-info No Item Shipped List