- if @orders.present?
  #jcart
    %table.table.table-striped.order-summary
      %thead.active
        %tr
          %th Order Number
          %th Order Type
          %th Total
          %th Action
        %tbody
          - @orders.each do |x|
            %tr{style: "text-align: center"}
              %td.align-center= link_to x.number, new_rma_return_authorization_user_path(x)
              %td.align-center #{x.preorder? ? "Preorder" : "Ready Stock"}
              %td.align-center= x.display_total
              %td.align-center= link_to "Return Request", new_rma_return_authorization_user_path(x)
- else  
  .alert.alert-info No RMA List