<table>
  <tr>
    <td>
      <p class="lede">
        <%= Spree.t('shipment_mailer.shipped_email.dear_customer') %>
      </p>
      <p>
        <%= Spree.t('shipment_mailer.shipped_email.instructions') %>
      </p>
      <p>
        <%= Spree.t('shipment_mailer.shipped_email.shipment_summary') %>
      </p>
      <table class="column" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;vertical-align: top;">
        <% @shipment.manifest.each do |item| %>
          <tr>
            <td class="column_cell font_default" align="center" valign="top" style="padding: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 15px;text-align: center;vertical-align: top;color: #888888;"><%= item.variant.sku %></td>
            <td class="column_cell font_default" align="center" valign="top" style="padding: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 15px;text-align: center;vertical-align: top;color: #888888;"><%= item.variant.product.name %></td>
            <td class="column_cell font_default" align="center" valign="top" style="padding: 16px;font-family: Helvetica, Arial, sans-serif;font-size: 15px;text-align: center;vertical-align: top;color: #888888;"><%= item.variant.options_text %></td>
          </tr>
        <% end %>
      </table>
      <p style="font-family: Helvetica, Arial, sans-serif;font-size: 15px;line-height: 23px;margin-top: 8px;margin-bottom: 16px;">
        <%= Spree.t('shipment_mailer.shipped_email.track_information', :tracking => @shipment.tracking)     if @shipment.tracking %>
      </p>
      <p style="font-family: Helvetica, Arial, sans-serif;font-size: 15px;line-height: 23px;margin-top: 8px;margin-bottom: 16px;">
        <%= Spree.t('shipment_mailer.shipped_email.track_link',        :url      => @shipment.tracking_url) if @shipment.tracking_url %>
      </p>
      <p style="font-family: Helvetica, Arial, sans-serif;font-size: 15px;line-height: 23px;margin-top: 8px;margin-bottom: 16px;">
        <%= Spree.t('shipment_mailer.shipped_email.thanks') %>
      </p>
    </td>
    <td class="expander"></td>
  </tr>
</table>
