%fieldset{"data-hook" => "new_product"}
  %legend{:align => "center"} Shipment
  - @shipping_addresses.each do |address|
    %table
      %thead
        %tr
          %th Order ID
          %th Image
          %th Name
          %th Pack Qty
          %th Items per Pack
          %th Total Items
          %th Price
          %th Discount
          %th Total Price
          %th Shipping Address
      %tbody
        - @invoice_items.where(ship_address_id: address).each do |invoice_item|
          %tr
            %td.align-center= invoice_item.inventory_unit.order.number
            %td.align-center= image_tag invoice_item.inventory_unit.variant.display_image.attachment(:mini)
            %td.align-center= invoice_item.inventory_unit.variant.sku
            %td.align-center= invoice_item.quantity
            %td.align-center= invoice_item.inventory_unit.line_item.qty_per_pack
            %td.align-center= invoice_item.total_pieces
            %td.align-center= invoice_item.inventory_unit.line_item.single_money.to_html
            %td.align-center
              = form_for invoice_item, url: add_adjustment_admin_invoice_item_path(invoice_item), method: :put do |f|
                = f.text_field :adjustment_total, style: "width:50%"
                = f.submit "save"
            %td.align-center= number_to_currency invoice_item.total_amount
            %td.align-center
              = form_for invoice_item, url: change_address_admin_invoice_item_url(invoice_item), html: {style: "display: inline;"} do |f|
                = f.select :ship_address_id, options_from_collection_for_select(@user_address, :address_id, ->(user_address){user_address.address.address1}, address), {}, {class: "select2", style: "width:90%", :onchange => 'this.form.submit()'}
              = link_to "", "", class: 'fa fa-plus form-address', "data-toggle" => "modal", "data-target" => "#myModal", "data-invoice-item-id" => "#{invoice_item.id}"
  .align-center
    = form_for "shipment", :url => send_invoice_admin_invoice_path(@invoice), method: :put do |f|
      = f.select :courier, Spree::ShippingMethod.all.map {|s| [s.name, s.id]}, {:include_blank => false}, :class => 'select2'
      = f.submit "Send Invoice"
    =# link_to "Send Invoice !", send_invoice_admin_invoice_path(@invoice), class: 'btn btn-default'
  %hr
    = form_for "dropship", :url => flag_dropship_admin_invoice_path(@invoice), method: :put do |f|
      .row
        .col-sm-3
          .label-input
            .label-wrap
              = label_tag :dropship
            .input-wrap
              = f.check_box :dropship
        .hidden-dropship
          .col-sm-3
            .label-input
              .label-wrap
                = label_tag :dropship_name, "Nama Pengirim"
              .input-wrap
                = f.text_field :dropship_name
          .col-sm-3
            .label-input
              .label-wrap
                = label_tag :dropship_phone, "No. Telepon Pengirim"
              .input-wrap
                = f.text_field :dropship_phone
          .col-sm-3
            = f.submit "Save Dropship"
.bootstrap-3
  #myModal.modal.fade{:role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        = form_for Spree::Address.new, url: admin_new_address_path, method: :put do |f|
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4.modal-title New Address
          .modal-body
            .form-group
              = f.label :firstname
              = f.text_field :firstname, class: 'form-control', required: true
            .form-group
              = f.label :lastname
              = f.text_field :lastname, class: 'form-control', required: true
            .form-group
              = f.label :address1
              = f.text_field :address1, class: 'form-control', required: true
            .form-group
              = f.label :address2
              = f.text_field :address2, class: 'form-control', required: true
            .form-group
              = f.label :phone
              = f.text_field :phone, class: 'form-control', required: true
            .form-group
              = f.label :country_id
              = f.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required form-control select-country', required: true}
            .form-group
              = f.label :state_id
              = f.grouped_collection_select :state_id, Spree::Country.order(:name), :states, :name, :id, :name, {include_blank: true}, {class: "select-state form-control", required: true}
            .form-group
              = f.label :city
              = f.grouped_collection_select :city, Spree::State.order(:name), :cities, :name, :name, :name, {include_blank: true}, {class: "select-city form-control", required: true}
            .form-group
              = f.label :zipcode
              = f.text_field :zipcode, class: 'form-control', required: true
            = hidden_field_tag :invoice_id, {} ,{class: 'invoice-item-id'}
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            = f.submit "Create Address", {style: "color: white;"}


:javascript
  $(document).ready(function(){
    $('.form-address').on('click', function(){
      var invoice_item_id = $(this).data('invoice-item-id');
      console.log(invoice_item_id);
      $('input.invoice-item-id').val(invoice_item_id);
    });
  });
  if ($("#dropship_dropship").is(":checked")){
    $(".hidden-dropship").show();
  } else {
    $(".hidden-dropship").hide();
  };
  $("#dropship_dropship").on("change", function(){
    if ($("#dropship_dropship").is(":checked")){
      $(".hidden-dropship").show();
    } else {
      $(".hidden-dropship").hide();
    };
  });


