- admin_breadcrumb(plural_resource_name(Spree::Invoice))

- content_for :page_actions do
  %li
    = button_link_to "New Invoice", new_admin_invoice_url()
  %li
    = button_link_to "Generate Invoice", generate_invoice_admin_invoices_path
= form_for('Filter_invoice', :as => 'filter_invoice', method: :get, :url => admin_invoices_path) do |f|
  .row
    .col-sm-3
      .form-group.form-group-default.required
        %label Payment Status
        %br
        = select_tag 'payment_is', options_for_select([["Paid", "paid"], ["Waiting Confirmation", "waiting_confirmation"], ["Pending", "pending_payment"], ["Cancel", "canceled"]]), {class: "form-control", :class => 'select2', prompt: "Select Payment Status"}
    .col-sm-3
      .form-group.form-group-default.required
        %label Customer Name
        = text_field_tag 'name_contain', nil, class: 'form-control'
    .col-sm-3
      .form-group.form-group-default.required
        %label Invoice ID
        = text_field_tag 'id_is', nil, class: 'form-control'
    .col-sm-3
      .form-group.form-group-default.required
        %label Status Lock/Unlock
        %br
        = select_tag 'lock_is', options_for_select([["Lock", 1], ["Unlock", 0]]), {class: "form-control", :class => 'select2', prompt: "Select"}
  .row
    .col-sm-12.align-center
      %br
      = f.submit "Search", class: "btn btn-success"
-if @invoices.any? 
  = paginate @invoices, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th.align-left{style: "width: 10%"} Created at
        %th.align-left{style: "width: 5%"} ID
        %th.align-left{style: "width: 15%"} Name
        %th.align-left{style: "width: 15%"} Status
        %th.align-left{style: "width: 15%"} Total
        %th.align-left{style: "width: 10%"} Payment total
        %th.align-left{style: "width: 10%"} Notes
        %th.align-left{style: "width: 10%"} Created By
    %tbody
      - @invoices.each do |c|
        %tr
          %td= c.created_at.to_date
          %td= link_to c.id, admin_invoice_path(c.id), class: 'the-invoice-id'
          %td= c.user.name
          %td
            - if c.status == "pending_payment"
              - if c.payment_confirmations.empty?
                = c.status.humanize
              - else
                Waiting for Confirmation
            - else
              = c.status.humanize
          -if !c.total.nil? 
            %td= number_to_idr c.total-c.dp_paid
          -else
            %td belum selesai
          %td
            - if c.status == "pending_payment"
              = number_to_idr c.payments.paid.sum(:amount)
          %td= c.note.truncate(25) if !c.note.nil?
          %td= Spree::User.find_by_id(c.created_by_id).nil? ? "System" : Spree::User.find_by_id(c.created_by_id).name
          %td.actions
            - if c.lock?
              = link_to "", lock_unlock_admin_invoice_path(c), class: 'fa fa-lock icon_link with-tip no-text', "data-original-title" => "Unlock Invoice!", data: {confirm: "Apakah anda yakin akan membuka order ini? jika order terbuka akan tampil ketika generate shipment"}
            - else
              = link_to "", lock_unlock_admin_invoice_path(c), class: 'fa fa-unlock icon_link with-tip no-text', "data-original-title" => "Lock Invoice!", data: {confirm: "Apakah anda yakin akan mengunci order ini? jika order terkunci tidak akan keluar ketika generate shipment"}
            - if c.pending_payment?
              - if c.payment_confirmations.blank?
                = link_to "", payment_confirmation_new_admin_invoice_path(c), class: 'fa fa-check-square icon_link with-tip no-text', "data-original-title" => "Payment Confirmation"
              = link_to_with_icon 'close', "DP Hangus", dp_angus_admin_invoice_path(c), :no_text => true, method: :put
              = link_to_with_icon 'envelope', "Reminder Email", reminder_email_admin_invoice_path(c), :no_text => true
              - if c.payments.paid.sum(:amount) > 0
                = link_to_with_icon 'trash', "Hapus",  admin_invoice_path(c), :method=>:delete, :class=>:destroy, :data => { :confirm => 'Sebagian pembayaran telah dilakukan pada invoice ini. Apakah anda yakin akan tetap menghapus invoice ini?'}, :no_text => true
              - else
                = link_to_delete c, :no_text => true if can?(:delete, c)
              = link_to_with_icon 'pencil-square-o', "Edit", confirm_admin_invoice_path(c), :no_text => true, method: :get
            %i.fa.fa-sticky-note.note-button{"data-toggle" => "modal", "data-target" => "#add-note"}
  = paginate @invoices, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    = render 'spree/admin/shared/no_objects_found', resource: Spree::Invoice, new_resource_url: new_object_url
#add-note.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Add Notes
      .modal-body
        .panel-body
          -if !@invoices.first.nil?
            = form_for "update_note", :url => add_note_admin_invoice_path(@invoices.first), method: :put, html: {class: 'the-form-modal'} do |f|
              .form-group.form-group-default.required
                = f.label "Add Note"
                = f.text_area :note, class: "input form-control"
              .actions
                = f.submit 'Submit', class: "btn btn-success"

:javascript
  $('.note-button').on('click', function(event){
    var route = $(this).closest('tr').find('.the-invoice-id').attr('href') + '/add_note';
    console.log(route);

    $('.the-form-modal').attr('action', route);
  });