%fieldset{"data-hook" => "new_product"}
  %legend{:align => "center"} Select Items
  = form_tag select_items_admin_invoice_path, method: :put do 
    %table
      %thead
        %tr
          %th= check_box_tag "select-all"
          %th Order ID
          %th Image
          %th Name
          %th Pack Qty
          %th Items per Pack
          %th Total Items
          %th Price
          %th Total Price
          %th Courier Chosen
      %tbody.activate-toggle-checkbox-button
        - @order_items.each do |inventory_unit|
          - quantity = inventory_unit.expected_shipped > 0 ? inventory_unit.expected_shipped_in_pack : inventory_unit.line_item.quantity
          - total_items = quantity * inventory_unit.line_item.qty_per_pack
          - total_amount_per_item = inventory_unit.line_item.price * total_items
          %tr
            %td.align-center= check_box_tag "select_items[]", inventory_unit.id
            %td.align-center= inventory_unit.order.number
            %td.align-center= image_tag inventory_unit.variant.display_image.attachment(:mini)
            %td.align-center= inventory_unit.variant.sku
            %td.align-center= text_field_tag "select_items_2[#{inventory_unit.id}]", quantity
            %td.align-center= inventory_unit.line_item.qty_per_pack
            %td.align-center= total_items
            %td.align-center= inventory_unit.line_item.single_money.to_html
            %td.align-center= number_to_idr total_amount_per_item
            %td.align-center= inventory_unit.order.shipments.first.shipping_method.name
    = submit_tag "Next"

:javascript
  $( '#select-all' ).click( function () {
    $( '.activate-toggle-checkbox-button input[type="checkbox"]' ).prop('checked', this.checked)
  })
