= render :partial => 'spree/shared/error_messages', :locals => { :target => @invoice }
= form_for [:admin, @invoice], method: :post, url: admin_invoices_path, :html => { :multipart => true } do |f|
  %fieldset{"data-hook" => "new_product"}
    %legend{:align => "center"} New Invoice
    .sixteen.columns.alpha
      = f.field_container :user do
        = f.label :user, "Nama", class: 'required'
        %br/
        = f.collection_select(:user_id, @customers, :user_id, ->(order){order.user.name}, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2', style: "width: 100%" })
        = f.error_message_on :user
    .clearfix
    = render :partial => 'spree/admin/shared/new_resource_links'