= form_for @payment_confirmation, :url => payment_confirmation_admin_invoice_path(params[:id]), method: :put, html: {class: "form-horizontal"} do |f|
  .modal-header
    %h4#myModalLabel.modal-title Payment Confirmation Invoice #{params[:id]}
  .modal-body
    .form-group
      = f.label :bank_destination, "Transfer ke rekening", class: 'col-sm-3 control-label text-left'
      .col-sm-7.col-xs-10
        = f.collection_select :bank_destination, Spree::Bank.active , :name, Proc.new{|a|"#{a.name} (#{a.account_no})"}, {}, {class: 'select2 fullwidth'}
    .form-group
      = f.label :bank_sender, "Dari Bank", class: 'col-sm-3 control-label text-left'
      .col-sm-7.col-xs-10
        = f.text_field :bank_sender, class: 'form-control'
    .form-group
      = f.label :sender_name, "Nama Rekening Anda", class: 'col-sm-3 control-label text-left'
      .col-sm-7.col-xs-10
        = f.text_field :sender_name, class: 'form-control'
    .form-group
      = f.label :amount, "Jumlah Transfer", class: 'col-sm-3 control-label text-left'
      .col-sm-7.col-xs-10
        = f.text_field :amount, class: 'form-control'
    .form-group
      =f.label :transaction_date, "Tanggal Transfer", class: 'col-sm-3 control-label text-left'
      .col-sm-7.col-xs-10
        = f.date_field :transaction_date, class: 'form-control'
    .form-group
      = f.label :note, class: 'col-sm-3 control-label text-left'
      .col-sm-7.col-xs-10
        = f.text_field :note, class: "form-control"
    = f.hidden_field :user_id, value: current_spree_user.id
  .modal-footer
    = f.submit "Confirm", class: 'btn btn-pink'  