- if @invoice.total.nil?
  Invoice ini belum selesai diproses. #{link_to "Klik disini untuk melanjutkan proses invoice", confirm_admin_invoice_path(@invoice), method: :get}
- else
  - @shipping_addresses.each do |address|
    - items = @invoice_items.where(ship_address_id: address)
    - total_adjustment = items.sum(:adjustment_total)
    - shipment = items.first.shipment
    - ship_address = Spree::Address.find_by_id address
    %fieldset{"data-hook" => "new_product"}
      %legend{:align => "center"} Shipment #{shipment.number}
      .six.columns.alpha
        %dl
          %dt Name:
          %dd #{ship_address.firstname} #{ship_address.lastname}
        %dl
          %dt Address:
          %dd #{ship_address.address1}. #{ship_address.address2}. #{ship_address.state.name}. #{ship_address.zipcode}
        %dl
          %dt Phone:
          %dd #{ship_address.phone}
        %dl 
          %dt Ekspedisi
          %dd #{items.first.shipping_method.name}
        -if !@invoice.note.nil?
          %dl
            %dt Notes:
            %dd #{@invoice.note}
        -if @invoice.dropship?
          %dl
            %dt Dropship:
            %dd #{@invoice.dropship_name} - #{@invoice.dropship_phone}
      %table
        %thead
          %tr
            %th.align-left Order ID
            %th.align-left Image
            %th.align-left Name
            %th.align-left Pack Qty
            %th.align-left Items per Pack
            %th.align-left Total Items
            %th.align-left Price
            %th.align-left Total Price
        %tbody
          - weight = 0
          - items.each do |invoice_item|
            - line_item = Spree::LineItem.find_by_id invoice_item.inventory_unit.line_item_id
            - weight += invoice_item.total_weight_item
            %tr
              %td= link_to invoice_item.inventory_unit.order.number, admin_order_cancellations_path(invoice_item.inventory_unit.order.number)
              %td= image_tag invoice_item.inventory_unit.variant.display_image.attachment(:mini)
              %td= invoice_item.inventory_unit.variant.sku
              %td= invoice_item.quantity
              %td= invoice_item.inventory_unit.line_item.qty_per_pack
              %td= invoice_item.total_pieces
              %td= invoice_item.inventory_unit.line_item.single_money.to_html
              %td= number_to_idr invoice_item.total_amount
        %tfooter
          %tr
            %td.align-right{colspan: 7} Total Adjustment
            %td.align-center= number_to_currency total_adjustment
          %tr
            %td.align-right{colspan: 7} Shipping Fee
            %td.align-center= shipment.display_amount.to_html
          %tr
            %td.align-right{colspan: 7} Weight Total (Kg)
            %td.align-center= weight
          %tr
            %td.align-right{colspan: 7} Subtotal
            %td.align-center= number_to_currency total_amount(items, shipment)
          %tr
            %td.align-right{colspan: 7} Down Payment
            %td.align-center= number_to_currency @invoice.dp_paid
          %tr
            %td.align-right{colspan: 7} Total
            %td.align-center= number_to_currency total_amount(items, shipment)-@invoice.dp_paid
        