- admin_breadcrumb(plural_resource_name(Spree::Shipment))
- content_for :page_actions do
  %li= link_to "Generate Shipment", generate_shipment_group_admin_shipment_groups_path, class: 'btn btn-default'
= form_for('Filter_AT', :as => 'filter_at', method: :get, :url => admin_shipment_groups_path) do |f|
  .row{ "data-hook" => "admin_shipment_groups_index_search"}
    .col-sm-4
      .form-group.form-group-default
        = label_tag :status_contain, "Status"
        = select_tag :status_contain, options_for_select(Spree::ShipmentGroup.state_machines[:status].states.collect {|s| [s.name.to_s.humanize.capitalize, s.name]}), {:include_blank => true, :class => 'select2'}
    .col-sm-4
      .form-group.form-group-default
        %label Ekspedisi
        = collection_select('ekspedisi_is', nil, Spree::ShippingMethod.all, :id, :name, {prompt: "Pilih"}, { class: "form-control", :class => 'select2'})
    .col-sm-4
      .form-group.form-group-default
        %label Actual Shipping Fee
        = select_tag 'actual_cost', options_for_select([["Ada", "is not null"], ["Kosong", "is null"]]), {class: "form-control", :class => 'select2', prompt: "Pilih"}
  .row
    .col-sm-6
      .form-group.form-group-default
        %label Name
        = text_field_tag 'name_contain', nil, class: 'form-control'
    .col-sm-6
      .form-group.form-group-default
        %label Shipment ID
        = text_field_tag 'ship_id_is', nil, class: 'form-control'
  .row
    .col-sm-6
      = f.submit "Filter", class: "btn btn-success"
.row
  -if @shipment_groups.any? 
    = paginate @shipment_groups, theme: "solidus_admin" 
    %table
      %thead
        %tr
          %th.align-left{style: "width: 10%"} Date
          %th.align-left{style: "width: 10%"} ID
          %th.align-left{style: "width: 5%"} Dropship
          %th.align-left{style: "width: 17%"} Name
          %th.align-left{style: "width: 8%"} Status
          %th.align-left{style: "width: 10%"} Ekspedisi
          %th.align-left{style: "width: 10%"} Shipping Fee
          %th.align-left{style: "width: 10%"} No. Resi
          %th.align-left{style: "width: 10%"} Weight (Kg)
          %th.align-left{style: "width: 10%"} Actual Shipping Fee
      %tbody
        - @shipment_groups.each do |c|
          = form_for c, url: admin_shipment_group_path(c), method: :put do |f|
            %tr
              %td= c.created_at.to_date
              %td= link_to c.id, admin_shipment_group_path(c.id)
              - if !c.shipments.where(state: "ready").empty?
                -if c.shipments.first.dropship?
                  %td Yes
                -else
                  %td -
              - else
                %td -
              %td= c.user.name unless c.user.nil?
              %td= c.status.humanize
              %td= c.shipping_method.name
              %td= number_to_currency c.total
              %td= f.text_field :resi
              %td= f.text_field :weight
              %td= f.text_field :actual_cost
              %td.actions
                - if !c.pending? && !c.ready_to_pack? && !c.completed?
                  = f.submit "Save"
                - if c.pending?
                  = link_to "", ready_admin_shipment_group_path(c), class: 'fa fa-cube icon_link with-tip no-text', "data-original-title" => "Ready to Pack"
                - if c.ready_to_pack?
                  = link_to "", processing_admin_shipment_group_path(c), class: 'fa fa-refresh icon_link with-tip no-text', "data-original-title" => "Process!"
                - if c.processing?
                  = link_to "", packed_admin_shipment_group_path(c), method: :put, class: 'fa fa-exclamation-circle icon_link with-tip no-text', "data-original-title" => "Confirm Packed!"
                - if c.packed?
                  = link_to "", ship_admin_shipment_group_path(c), method: :put, class: 'fa fa-truck icon_link with-tip no-text', "data-original-title" => "Ship!"
                = link_to "", print_admin_shipment_group_path(c, :pdf), class: 'fa fa-print icon_link with-tip no-text', "data-original-title" => "Print"
              
    = paginate @shipment_groups, theme: "solidus_admin" 
  - else
    .alpha.twelve.columns.no-objects-found
      %h5 Not found