- admin_breadcrumb(plural_resource_name(Spree::ShipmentGroup))

%table
  %thead
    %tr
      %th.align-left Order ID/ Invoice ID
      %th.align-left Image
      %th.align-left SKU
      %th.align-left Isi
      %th.align-left Qty
      %th.align-left Total Pcs
      %th.align-left Qty Send (Pcs)
  %tbody
    - total_pack = 0
    - @shipments.each do |shipment|
      - if !shipment.order.nil?
        - order = shipment.order
        - inventory_units = shipment.inventory_units
        - subtotal_pack = 0
        - line_items = order.line_items
        - inventory_units.each do |inventory_unit|
          - subtotal_pack += inventory_unit.line_item.quantity
          = form_tag update_inventory_unit_admin_shipment_group_path(inventory_unit_id: inventory_unit), method: :put do
            %tr
              %td #{inventory_unit.order.number} (Order ID)
              %td= image_tag inventory_unit.line_item.variant.display_image.attachment(:mini)
              %td= inventory_unit.line_item.variant.sku
              %td= inventory_unit.line_item.qty_per_pack
              %td= inventory_unit.line_item.quantity
              %td= inventory_unit.line_item.total_line_items
              - if @shipment_group.is_pending?
                %td This shipment is not ready yet
              - else
                %td= number_field_tag :shipped_stock, inventory_unit.line_item.inventory_units.last.shipped
                - if @shipment_group.processing?
                  %td.actions= button_tag "", class: "fa fa-truck icon_link with-tip no-text"
        - total_pack += subtotal_pack
      - else
        - invoice = shipment.invoice
        - subtotal_pack = invoice.items.sum(:quantity)
        - items = invoice.items
        - items.each do |line|
          = form_tag update_inventory_unit_admin_shipment_group_path(inventory_unit_id: line.inventory_unit_id), method: :put do
            %tr
              %td #{invoice.id} (Invoice ID)
              %td= image_tag line.variant.display_image.attachment(:mini)
              %td= line.variant.sku
              %td= line.inventory_unit.line_item.qty_per_pack
              %td= line.quantity
              %td= line.total_pieces
              - if @shipment_group.is_pending?
                %td This shipment is not ready yet
              - else
                %td= number_field_tag :shipped_stock, line.inventory_unit.shipped
                - if @shipment_group.processing?
                  %td.actions= button_tag "", class: "fa fa-truck icon_link with-tip no-text"
        - total_pack += subtotal_pack
- @shipments.each do |shipment|
  - if shipment.order.present?
    - order = shipment.order
    - next unless order.notes.present?
    %p Notes Order #{order.number} #{order.dropship? ? "(Dropship)" : ""}: #{order.notes} 
  - else
    - invoice = shipment.invoice
    - next unless invoice.note.present?
    %p Notes INV #{invoice.id} #{invoice.dropship? ? "(Dropship)" : ""}: #{invoice.note}
%br
%h5 Total Pack : #{total_pack}
- if @shipment_group.processing?
  .text-center
    = form_for "shipment_group", :url => packed_admin_shipment_group_path(@shipment_group.id), method: :put do |f|
      = f.submit "Confirm Shipment", data: if @shipment_group.selisih? then {confirm: 'Pada shipment ini terdapat selisih qty beli dan qty yang dikirim. hal ini akan menyebabkan produk tersebut dianggap no stock, Apakah anda akan tetap melanjutkan?'} end

