.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      .pull-left
        %ul.breadcrumb
          %li 
            = link_to "REPORTS", journal_reports_path
          %li
            %a.active{:href => "#"} Balance Sheet
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = search_form_for @q, url: balance_sheet_journal_reports_path do |f|
    .row 
      .col-sm-6
        .form-group.form-group-default
          %label Start Date
          = f.date_field :created_at_gteq, class: "form-control"
      .col-sm-6
        .form-group.form-group-default
          %label End Date
          = f.date_field :created_at_lteq, class: "form-control"
    .row{style: "text-align: center;"}
      .col-sm-12
        = f.submit "Search", class: "btn btn-success"
    %br
  .container-fluid.container-fixed-lg.bg-white
    .text-center
      %h1 Balance Sheet
    %h2 Assets
    %table#example.table
      %thead
        %tr
          %th Account
          %th.align-right Balance
      %tbody
        - @account_assets.each do |s|
          -next if @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit) == 0
          %tr
            %td= link_to s.name, transaction_journal_reports_path(q: {account_id_eq: s.id})
            %td.align-right= number_to_idr @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit)

        %tr{:style => "font-weight: bold"}
          %td 
            Total Assets
          %td.align-right
            = number_to_idr @total_assets
    %h2 Liabilities
    %table#example.table
      %thead
        %tr
          %th Account
          %th.align-right Balance
      %tbody
        - @account_liability.each do |s|
          - next if @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit) == 0
          %tr
            %td= link_to s.name, transaction_journal_reports_path(q: {account_id_eq: s.id})
            %td.align-right= number_to_idr @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit)

        %tr{:style => "font-weight: bold"}
          %td 
            Total Liabilities
          %td.align-right
            -if !@account_liability.first.nil?
              = number_to_idr @total_liability
            -else 
              0
    %h2 Equity
    %table#example.table
      %thead
        %tr
          %th Account
          %th.align-right Balance
      %tbody
        - @account_equity.each do |s|
          - next if @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit) == 0
          %tr
            %td= link_to s.name, transaction_journal_reports_path(q: {account_id_eq: s.id})
            %td.align-right= number_to_idr @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit)

        %tr{:style => "font-weight: bold"}
          %td 
            Current Period Earnings
          %td.align-right
            = number_to_idr(@total_equity)
        %tr{:style => "font-weight: bold"}
          %td 
            Total Equity
          %td.align-right
            -if !@account_equity.first.nil?
              = number_to_idr(@total_equity)
            -else
              0

    %h2.text-center Total Liability & Equity: #{number_to_idr(@total_liability + @total_equity)}