.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Cash & Bank
      .pull-right
        %ul.list-inline
          %li
            = link_to "Data Payment Confirmed", all_payment_confirmed_journal_transactions_path, class: 'btn btn-success'
              
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  %table#example.table
    %thead
      %tr
        %th Account Code
        %th Account Name
        %th Balance in Jurnal
        %th Balance in Statement
        %th Action
    %tbody
      - @cash_and_banks.each do |account|
        %tr
          %td= account.code
          %td= link_to account.name, transaction_journal_reports_path(q: {account_id_eq: account.id})
          %td= number_to_multi_currency(account.balance, account.currency)
          %td= number_to_multi_currency(account.balance_statement, account.currency)
          %td
            .btn-group
              - if account.transactions.incomplete.count > 0
                = link_to "Reconcile #{current_spree_user.admin? ? account.transactions.incomplete.count : account.transactions.not_expense.incomplete.count} Transaction", journal_transactions_path(q: {account_id_eq: account.id, status_not_eq_all: ["Complete", "Expense"]}), class: "btn btn-default"
              - else
                = link_to "Import Bank Statement ", show_import_journal_transactions_path(account_id: account.id), "data-toggle" => "modal", "data-target" => "#import-transaction", class: "btn btn-default"
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                - if account.transactions.incomplete.count > 0
                  %li
                    = link_to "Import Bank Statement ", show_import_journal_transactions_path(account_id: account.id), "data-toggle" => "modal", "data-target" => "#import-transaction"
                %li
                  = link_to "Show All Transaction", journal_transactions_path(q: {account_id_eq: account.id})

#import-transaction.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content