.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      .pull-left
        %ul.breadcrumb
          %li 
            = link_to "REPORTS", journal_reports_path
          %li
            %a.active{:href => "#"} Cash Flow Statement
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  .text-center
    %h1 Cash Flow Statement
    %br
  = search_form_for @q, url: cash_flow_statement_journal_reports_path do |f|
    .row 
      .col-sm-6
        .form-group.form-group-default
          %label Start Date
          = f.date_field :created_at_gteq, class: "form-control"
      .col-sm-6
        .form-group.form-group-default
          %label End Date
          = f.date_field :created_at_lteq, class: "form-control"
    .row{style: "text-align: center;"}
      .col-sm-12
        = f.submit "Search", class: "btn btn-success"
    %br
  .container-fluid.container-fixed-lg.bg-white
    %h4 Cash Flow from Operating Activities
    %table#example.table
      %thead
        %tr
          %th Account
          %th.align-right Balance
      %tbody
        - total_operating = 0
        - @operating.each do |account|
          - next if account.balance_with_items(@items) == 0
          - total_operating += account.balance_with_items(@items)
          %tr
            %td= link_to account.name, transaction_journal_reports_path(q: {account_id_eq: account.id})
            %td.align-right= number_to_multi_currency(account.balance_with_items(@items), account.currency)
        %tr{:style => "font-weight: bold"}
          %td.align-right
            Net cash provided by Operating Activities
          %td.align-right
            = number_to_currency(total_operating)
    %h4 Cash Flow from Investing Activities
    %table#example.table
      %thead
        %tr
          %th Account
          %th.align-right Balance
      %tbody
        - total_investing = 0
        - @investing.each do |account|
          - next if account.balance_with_items(@items) == 0
          - total_investing += account.balance_with_items(@items)
          %tr
            %td= link_to account.name, transaction_journal_reports_path(q: {account_id_eq: account.id})
            %td.align-right= number_to_multi_currency(account.balance_with_items(@items), account.currency)
        %tr{:style => "font-weight: bold"}
          %td.align-right
            Net cash provided by Investing Activities
          %td.align-right
            = number_to_currency(total_investing)
    %h4 Cash Flow from Financing Activities
    %table#example.table
      %thead
        %tr
          %th Account
          %th.align-right Balance
      %tbody
        - total_financing = 0
        - @financing.each do |account|
          - next if account.balance_with_items(@items) == 0
          - total_financing += account.balance_with_items(@items)
          %tr
            %td= link_to account.name, transaction_journal_reports_path(q: {account_id_eq: account.id})
            %td.align-right= number_to_multi_currency(account.balance_with_items(@items), account.currency)
        %tr{:style => "font-weight: bold"}
          %td.align-right
            Net cash provided by Financing Activities
          %td.align-right
            = number_to_currency(total_financing)
    %br
    %br
    %table#example.table
      %thead
        %tr
          %th.text-center Beginning Cash(#{params[:q][:created_at_gteq]})
          %th.text-center Net Change in Cash
          %th.text-center Ending Cash(#{params[:q][:created_at_lteq]})
      %tbody
        %tr
          - cash_flow_total = total_financing + total_investing + total_operating
          %td.text-center= number_to_currency(@beginning_cash)
          %td.text-center= number_to_currency(cash_flow_total)
          %td.text-center= number_to_currency(cash_flow_total + @beginning_cash)


    