.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      .pull-left
        %ul.breadcrumb
          %li 
            = link_to "REPORTS", journal_reports_path
          %li
            %a.active{:href => "#"} General Ledger
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = search_form_for @q, url: general_ledger_journal_reports_path do |f|
    .row 
      .col-sm-6
        .form-group.form-group-default
          %label Start Date
          = f.date_field :created_at_gteq, class: "form-control"
      .col-sm-6
        .form-group.form-group-default
          %label End Date
          = f.date_field :created_at_lteq, class: "form-control"
    .row{style: "text-align: center;"}
      .col-sm-12
        = f.submit "Search", class: "btn btn-success"
    %br
  .container-fluid.container-fixed-lg.bg-white
    .text-center
      %h1 General Ledger
      - if params[:q]
        %p #{params[:q][:created_at_gteq]} - #{params[:q][:created_at_lteq]}
    %table#example.table
      %thead
        %tr
          %th{:width => "10%"} Date
          %th{:width => "30%"} Description
          %th.align-right{:width => "20%"} Debit
          %th.align-right{:width => "20%"} Credit
          %th.align-right{:width => "20%"} Balance
      %tbody
        - total_debit = 0
        - total_credit = 0
        - @accounts.each do |account|
          - account_summary = @general_ledger.where(account_id: account.id)
          - next if account_summary.sum(:debit) == 0 && account_summary.sum(:credit) == 0
          %tr.bold
            %td.text-center{colspan: 3} (#{account.code}) #{account.name}
            %td.align-right{colspan:2} 0
          - balance = 0
          - account_summary.each do |item|
            %tr
              %td= item.created_at.to_date
              %td= item.description
              %td.align-right= number_to_idr item.debit
              %td.align-right= number_to_idr item.credit
              %td.align-right
                - if account.prefix == 1
                  - balance -= item.credit.to_i
                  - balance += item.debit.to_i
                - else
                  - balance += item.credit.to_i
                  - balance -= item.debit.to_i
                = number_to_idr(balance)
          %tr.bold
            %td.align-right{colspan: 2}
              = link_to "((#{account.code}) #{account.name}) | ENDING BALANCE", transaction_journal_reports_path(q: {account_id_eq: account.id})
            %td.align-right
              - amount_debit = account_summary.sum(:debit)
              = number_to_multi_currency(amount_debit, account.currency)
              - total_debit += amount_debit
            %td.align-right
              - amount_credit = account_summary.sum(:credit)
              = number_to_multi_currency(amount_credit, account.currency)
              - total_credit += amount_credit
            %td.align-right
              -if account.prefix != 1
                - net = amount_credit - amount_debit
                = number_to_multi_currency(net, account.currency)
              -else
                - net = amount_debit - amount_credit
                = number_to_multi_currency(net, account.currency)
        -if !@general_ledger.first.nil?
          %tr{:style => "font-weight: bold"}
            %td.align-right{colspan:2} Grand Total
            %td.align-right
              = number_to_multi_currency(total_debit, @accounts.first.currency)
            %td.align-right
              = number_to_multi_currency(total_credit, @accounts.first.currency)
            %td.align-right= number_to_multi_currency(total_debit - total_credit, @accounts.first.currency)

