= form_for('Filter_AT', :as => 'filter_at', method: :get, :url => income_statement_journal_reports_path) do |f|
  .row 
    .col-sm-4
      .form-group.form-group-default.required
        %label Start Date
        = date_field_tag 'start_date', nil, class: 'form-control'
    .col-sm-4
      .form-group.form-group-default.required
        %label End Date
        = date_field_tag 'end_date', nil,class: 'form-control'
    .col-sm-4
      = f.submit "Filter", class: "btn btn-success"
.text-center
  %h1 Income Statement
%h2 Revenue
%table#example.table
  %thead
    %tr
      %th Account
      %th Balance
  %tbody
    - @revenue.each do |s|
      %tr
        %td
          = link_to transaction_journal_reports_path(account_id_is: s.id, currency_is: s.currency) do
            = s.name
        %td
          - if s.name == "Sales Return"
            = number_to_idr @items.account_id_is(s.id).sum(:credit) - @items.account_id_is(s.id).sum(:debit)
          - else
            = number_to_idr @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit)
    %tr{:style => "font-weight: bold"}
      %td 
        Total Revenue
      %td
        = number_to_idr @totalrevenue
%h2 Cost Of Goods Sold
%table#example.table
  %thead
    %tr
      %th Account
      %th Balance
  %tbody
    - @cogs.each do |s|
      %tr
        %td
          = link_to transaction_journal_reports_path(account_id_is: s.id, currency_is: s.currency) do
            = s.name
        %td
          -if s.currency == 'IDR'
            = number_to_idr @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit)
          -else
            = number_to_rmb @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit)
    %tr{:style => "font-weight: bold"}
      %td 
        Total Cost Of Goods Sold
      %td
        = number_to_idr @totalcogs
    %tr{:style => "font-weight: bold"}
      %td 
        Gross Profit
      %td
        = number_to_idr @totalrevenue-@totalcogs

%h2 Operating Expenses
%table#example.table
  %thead
    %tr
      %th Account
      %th Balance
  %tbody
    - @expense.each do |s|
      %tr
        %td
          = link_to transaction_journal_reports_path(account_id_is: s.id, currency_is: s.currency) do
            = s.name
        %td
          -if s.currency == 'IDR'
            = number_to_idr @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit)
          -else
            = number_to_rmb @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit)

    %tr{:style => "font-weight: bold"}
      %td 
        Total Operating Expenses
      %td
        = number_to_idr @totalexpense
    %tr{:style => "font-weight: bold"}
      %td 
        Total Profit
      %td
        = number_to_idr @totalrevenue-@totalcogs-@totalexpense