.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      .pull-left
        %ul.breadcrumb
          %li 
            = link_to "REPORTS", journal_reports_path
          %li
            %a.active{:href => "#"} Profit And Loss
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = search_form_for @q, url: profit_and_loss_journal_reports_path do |f|
    .row 
      .col-sm-6
        .form-group.form-group-default
          %label Start Date
          = f.date_field :created_at_gteq, class: "form-control"
      .col-sm-6
        .form-group.form-group-default
          %label End Date
          = f.date_field :created_at_lteq, class: "form-control"
    .row{style: "text-align: center;"}
      .col-sm-12
        = f.submit "Search", class: "btn btn-success"
    %br
  .container-fluid.container-fixed-lg.bg-white
    .text-center
      %h1 Profit And Loss
    %table#example.table
      %thead
        %tr
          %th{colspan:2} Primary Income/Expense
          %th.align-right Amount
      %tbody
        %tr.bold
          %td
          %td Primary Income
          %td
        - @primary_income.each do |s|
          -next if @items.account_id_is(s.id).sum(:credit) - @items.account_id_is(s.id).sum(:debit) == 0
          %tr
            %td
            %td= link_to s.name, transaction_journal_reports_path(q: {account_id_eq: s.id})
            %td.align-right
              = number_to_idr @items.account_id_is(s.id).sum(:credit) - @items.account_id_is(s.id).sum(:debit)

        %tr.bold
          %td
          %td 
            Total Primary Income
          %td.align-right
            = number_to_idr @total_primary_income
        %tr.bold
          %td
          %td Cost Of Sales
          %td
        - @cost_of_sales.each do |s|
          - next if @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit) == 0
          %tr
            %td
            %td= link_to s.name, transaction_journal_reports_path(q: {account_id_eq: s.id})
            %td.align-right= number_to_idr @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit)

        %tr.bold-red
          %td
          %td 
            Total Cost of Sales
          %td.align-right
            -if !@cost_of_sales.first.nil?
              = number_to_idr @total_cost_of_sales
            -else 
              0
        %tr.bold
          %td
          %td Gross Profits
          %td.align-right= number_to_idr(@total_primary_income - @total_cost_of_sales)
        %tr.bold
          %td
          %td Operational Expense
          %td
        - @expenses.each do |s|
          - next if @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit) == 0
          %tr
            %td
            %td= link_to s.name, transaction_journal_reports_path(q: {account_id_eq: s.id})
            %td.align-right= number_to_idr @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit)
        %tr.bold-red
          %td
          %td 
            Total Operational Expenses
          %td.align-right
            -if !@expenses.first.nil?
              = number_to_idr @total_expenses
            -else 
              0
    %table#example.table
      %thead
        %tr
          %th{colspan:2} Net Operating Income
          %th.align-right Amount
      %tbody
        %tr.bold
          %td
          %td Other Income
          %td
        - @other_income.each do |s|
          -next if @items.account_id_is(s.id).sum(:credit) - @items.account_id_is(s.id).sum(:debit) == 0
          %tr
            %td
            %td= link_to s.name, transaction_journal_reports_path(q: {account_id_eq: s.id})
            %td.align-right
              = number_to_idr @items.account_id_is(s.id).sum(:credit) - @items.account_id_is(s.id).sum(:debit)

        %tr.bold
          %td
          %td Total Other Income
          %td.align-right
            = number_to_idr @total_other_income
        %tr.bold
          %td
          %td Other Expenses
          %td
        - @other_expenses.each do |s|
          - next if @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit) == 0
          %tr
            %td
            %td= link_to s.name, transaction_journal_reports_path(q: {account_id_eq: s.id})
            %td.align-right= number_to_idr @items.account_id_is(s.id).sum(:debit) - @items.account_id_is(s.id).sum(:credit)
        %tr.bold-red
          %td
          %td Total Other Expenses
          %td.align-right
            -if !@other_expenses.first.nil?
              = number_to_idr @total_other_expenses
            -else 
              0
    %table#example.table
      %thead
        %tr.bold
          %td{colspan:2} Total Comprehensive Income for The Period
          %td.align-right= number_to_idr(@total_primary_income - @total_cost_of_sales - @total_expenses + @total_other_income - @total_other_expenses)