.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      .pull-left
        %ul.breadcrumb
          %li
            = link_to "Chart of Account", journal_accounts_path
          %li
            %a.active{:href => "#"}= @account.try(:name)
      .pull-right
        %ul.breadcrumb
          %li
            = link_to transaction_journal_reports_path(q: {account_id_eq: params[:q][:account_id_eq], created_at_gteq: params[:q][:created_at_gteq], created_at_lteq: params[:q][:created_at_lteq], description_cont: params[:q][:description_cont]}, format: "csv"), class: 'btn btn-success' do
              %i.fa.fa-file-excel-o
              Download CSV
.container-fluid.container-fixed-lg
  = search_form_for @q, url: transaction_journal_reports_path do |f|
    .row
      .col-sm-2
        .form-group.form-group-default
          = f.label :account_id_eq, "Account"
          = f.collection_select :account_id_eq, Journal::Account.order(:name), :id, :name, {include_blank: true}, {class: "form-control"}
      .col-sm-2
        .form-group.form-group-default
          = f.label :id_eq, "ID"
          = f.text_field :id_eq, class: "form-control"
      .col-sm-2
        .form-group.form-group-default
          = f.label :created_at_gteq, "Start Date"
          = f.date_field :created_at_gteq, class: "form-control"
      .col-sm-2
        .form-group.form-group-default
          = f.label :created_at_lteq, "End Date"
          = f.date_field :created_at_lteq, class: "form-control"
      .col-sm-2
        .form-group.form-group-default
          = f.label :description_cont, "Description"
          = f.text_field :description_cont, class: "form-control"
      .col-sm-2
        .form-group.form-group-default
          = f.label :debit_or_credit_eq, "Amount"
          = f.text_field :debit_or_credit_eq, class: "form-control"
    .row
      .col-sm-4.col-sm-offset-4.text-center
        = f.submit "Filter", class: "btn btn-success"
  %table#example.table
    %thead
      %tr
        %th ID
        %th Date
        %th Account
        %th Description
        %th Debit
        %th Credit
        %th Balance

    %tbody
      - balance = @total_balance_before
      - @trans.each do |journal|
        %tr
          %td= journal.id
          %td= journal.created_at.to_date
          %td #{journal.account.present? ? journal.account.name : "Null"}
          %td= journal.description
          %td
            - if journal.currency == 'IDR'
              = number_to_currency journal.debit.to_i
            - else
              = number_to_rmb journal.debit
          %td
            - if journal.currency == 'IDR'
              = number_to_currency journal.credit.to_i
            - else
              = number_to_rmb journal.credit
          %td= number_to_multi_currency(journal.balance_item, journal.currency)
  = paginate @trans, theme: "solidus_admin" 
