.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      .pull-left
        %ul.breadcrumb
          %li 
            = link_to "REPORTS", journal_reports_path
          %li
            %a.active{:href => "#"} Trial Balance
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = search_form_for @q, url: trial_balance_journal_reports_path do |f|
    .row 
      .col-sm-6
        .form-group.form-group-default
          %label Start Date
          = f.date_field :created_at_gteq, class: "form-control"
      .col-sm-6
        .form-group.form-group-default
          %label End Date
          = f.date_field :created_at_lteq, class: "form-control"
    .row{style: "text-align: center;"}
      .col-sm-12
        = f.submit "Search", class: "btn btn-success"
    %br
  .container-fluid.container-fixed-lg.bg-white
    .text-center
      %h1 Trial Balance
    %table#example.table
      %thead
        %tr
          %th Account
          %th.align-right Debit
          %th.align-right Credit
      %tbody
        - total_debit = 0
        - total_credit = 0
        - @categories.each do |cat|
          %tr.bold
            %td{colspan: 3}= cat.name
          - if !cat.accounts1.empty?
            - cat.accounts1.each do |s|
              -next if @items.account_id_is(s.id).sum(:debit) == 0 && @items.account_id_is(s.id).sum(:credit) == 0
              %tr
                %td
                  = link_to transaction_journal_reports_path(account_id_is: s.id, currency_is: s.currency) do
                    = s.name
                %td.align-right
                  - debit_amount = @items.account_id_is(s.id).sum(:debit)
                  = number_to_multi_currency(debit_amount, s.currency)
                  - total_debit += debit_amount
                %td.align-right
                  - credit_amount = @items.account_id_is(s.id).sum(:credit)
                  = number_to_multi_currency(credit_amount, s.currency)
                  - total_credit += credit_amount
        %tr{:style => "font-weight: bold"}
          %td Total
          %td.align-right
            = number_to_idr(total_debit)
          %td.align-right
            = number_to_idr(total_credit)

