<% carton.manifest_for_order(order).each do |item| %>
  <tr class="stock-item" data-item-quantity="<%= item.quantity %>">
    <td class="item-image">
      <%= image_tag item.variant.display_image.attachment(:mini) %>
    </td>
    <td class="item-name">
      <%= item.variant.product.name %><br><%= "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty? %>
      <% if item.variant.sku.present? %>
        <strong><%= Spree::Variant.human_attribute_name(:sku) %>:</strong>
        <%= item.variant.sku %>
      <% end %>
    </td>
    <td class="item-price align-center"><%= item.line_item.single_money.to_html %></td>
    <td class="item-qty-show align-center">
        <% item.states.each do |state,count| %>
          <%= count %> x <%= Spree.t(state, scope: 'inventory_states') %>
        <% end %>
    </td>
    <td class="item-total align-center"><%= item.line_item.display_amount.to_html %></td>
  </tr>
<% end %>
