<div data-hook="admin_order_form_fields">
  <% if @line_item.try(:errors).present? %>
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @line_item } %>
  <% end %>

  <%= render :partial => "spree/admin/orders/line_items", :locals => { :order => order } %>
  <%= render :partial => "spree/admin/orders/adjustments", :locals => {
          :adjustments => @order.line_item_adjustments,
          :order => order,
          :title => Spree.t(:line_item_adjustments)
  } %>
  <%= render :partial => "spree/admin/orders/adjustments", :locals => {
          :adjustments => @order.shipment_adjustments,
          :order => order,
          :title => Spree.t(:shipment_adjustments)
  } %>
  <%= render :partial => "spree/admin/orders/adjustments", :locals => {
          :adjustments => @order.adjustments,
          :order => order,
          :title => Spree.t(:order_adjustments)
  } %>

  <% if order.line_items.exists? %>
      <fieldset class="no-border-bottom" id="order-total" data-hook="order_details_total">
        <legend><%= Spree.t(:order_total) %></legend>
        <% if !order.preorder? %>
          <span class="order-total"><%= order.display_total %></span>
        <% else %>
          <span class="order-total"><%= order.display_subtotal_preorder %></span>
        <% end %>
      </fieldset>
  <% end %>

  <%= javascript_tag do -%>
      var order_number = '<%= @order.number %>';
      var shipments = [];

      <% @order.shipments.each do |shipment| %>
            shipments.push(<%== shipment.as_json(:root => false, :only => [:id, :tracking, :number, :state, :stock_location_id], :include => [:inventory_units, :stock_location]).to_json %>);
      <% end %>
  <% end -%>
</div>
