- if order.line_items.exists?
  %table.line-items.index{"data-hook" => "line-items"}
    %colgroup
      %col{:style => "width: 10%;"}/
      %col{:style => "width: 20%;"}/
      %col{:style => "width: 20%;"}/
      %col{:style => "width: 15%;"}/
    %thead
      %tr
        %th{:colspan => "2"}= Spree::Product.human_attribute_name(:name)
        %th= Spree::LineItem.human_attribute_name(:price)
        %th Pack Qty
        %th Items per pack
        %th Total Items
        %th= Spree::LineItem.human_attribute_name(:total)
        - if @order.preorder?
          %th DP
        %th.orders-actions.actions{"data-hook" => "admin_order_form_line_items_header_actions"}  
    %tbody
      - order.line_items.each do |item|
        = content_tag :tr, class: 'line-item', id: "line-item-#{item.id}", data: { line_item_id: item.id } do
          %td.line-item-image= image_tag item.variant.display_image.attachment(:mini)
          %td.line-item-name
            = item.variant.product.name
            %br/
            = "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty?
            - if item.variant.sku.present?
              %strong
                = Spree::Variant.human_attribute_name(:sku)
                \:
              = item.variant.sku
          %td.line-item-price.align-center.line-item-qty-show= item.single_money.to_html
          %td.line-item-price.align-center.line-item-qty-edit= number_field_tag :price, item.price, :class => "line_item_price"
          %td.line-item-qty-show.align-center
            = item.quantity 
            - if !item.inventory_units.empty?
              x
              = item.inventory_units.first.state
          %td.line-item-qty-edit
            = number_field_tag :quantity, item.quantity, :min => 0, disabled: order.approver_id.present? || order.completed?, :class => "line_item_quantity", :size => 5
          %td.line-item-qty-show.align-center
            = item.qty_per_pack
          %td.align-center.line-item-qty-edit
            = number_field_tag :qty_per_pack, item.qty_per_pack, :class => "line_item_qty_per_pack"
          %td.align-center
            = item.total_pieces
          %td.line-item-total.align-center= line_item_shipment_price(item, item.total_pieces)
          - if item.preorder?
            %td.align-center
              = item.display_dp_amount.to_html
          %td.cart-line-item-delete.actions{"data-hook" => "cart_line_item_delete"}
            - if can? :update, item
              = link_to '', '#', :class => 'save-line-item fa fa-ok no-text with-tip',       :title => Spree.t('actions.save')
              = link_to '', '#', :class => 'cancel-line-item fa fa-cancel no-text with-tip', :title => Spree.t('actions.cancel')
              = link_to '', '#', :class => 'edit-line-item fa fa-edit no-text with-tip',     :title => Spree.t('actions.edit')
              - unless order.completed?
                = link_to '', '#', :class => 'delete-line-item fa fa-trash no-text with-tip',  :title => Spree.t('actions.delete')
