- shipment_manifest.each do |item|
  %tr.stock-item{"data-item-quantity" => "#{item.quantity}", "data-variant-id" => "#{item.variant.id}"}
    %td.item-image
      = image_tag item.variant.display_image.attachment(:mini)
    %td.item-name
      = item.variant.product.name
      %br/
      = "(" + variant_options(item.variant) + ")" unless item.variant.option_values.empty?
      - if item.variant.sku.present?
        %strong
          = Spree::Variant.human_attribute_name(:sku)
          \:
        = item.variant.sku
    %td.item-price.align-center= item.line_item.single_money.to_html
    %td.item-qty-show.align-center
      - item.states.each do |state,count|
        = count
        x #{Spree.t(state, scope: 'inventory_states')}
    %td.align-center= item.line_item.qty_per_pack
    %td.align-center= item.line_item.total_pieces
    %td.item-total.align-center= line_item_shipment_price(item.line_item, item.line_item.total_pieces)
    %td.cart-item-delete.actions{"data-hook" => "cart_item_delete"}
      - if can? :update, item
        = link_to '', '#', :class => 'split-item icon_link fa fa-arrows-h no-text with-tip', :data => {:action => 'split', 'variant-id' => item.variant.id}, :title => Spree.t('actions.split')
        = link_to '', '#', :class => 'delete-item fa fa-trash no-text with-tip', :data => { 'variant-id' => item.variant.id}, :title => Spree.t('actions.delete')
