- admin_breadcrumb(plural_resource_name(Spree::Order))
- content_for :page_actions do
  %li
    = button_link_to 'Download PO Order Pending', admin_download_pending_po_path
    = button_link_to 'Preorder', admin_orders_path(@search, :'q[preorder_eq]' => '1')
    = button_link_to 'Ready Stock', admin_orders_path(@search, :'q[preorder_eq]' => '0')
    = button_link_to Spree.t(:new_order), new_admin_order_url, :id => 'admin_new_order'
- end if can? :edit, Spree::Order.new
- content_for :table_filter_title do
  = Spree.t(:search)
- content_for :table_filter do
  .bootstrap-3
    %div{"data-hook" => "admin_orders_index_search"}
      = search_form_for [:admin, @search] do |f|
        .row
          .field-block.col-xs-3
            .date-range-filter.field
              = label_tag :q_created_at_gt, Spree.t(:date_range)
              .date-range-fields
                = f.text_field :created_at_gt, :class => 'datepicker datepicker-from', :value => params[:q][:created_at_gt], :placeholder => Spree.t(:start)
                %span.range-divider
                  %i.fa.fa-arrow-right
                = f.text_field :created_at_lt, :class => 'datepicker datepicker-to', :value => params[:q][:created_at_lt], :placeholder => Spree.t(:stop)
            -# .field
            -#   = label_tag :q_state_eq, Spree.t(:status)
            -#   = f.select :state_eq, Spree::Order.state_machines[:state].states.collect {|s| [Spree.t("order_state.#{s.name}"), s.value]}, {:include_blank => true}, :class => 'select2'
            .field{"data-hook" => "sku-select"}
              = label_tag :q_line_items_variant_id_in, "SKU"
              = f.text_field :line_items_variant_id_in, class: "variant_autocomplete fullwidth"
            .field
              = label_tag :preorder_eq, "Status Order"
              %br/
              = f.select :preorder_eq, [["Preorder", 1], ["Ready Stock", 0]], { include_blank: true }, { class: "select2" }
            -# .field
            -#   = label_tag nil, Spree.t(:promotion)
            -#   = f.text_field :promotions_codes_value_cont, :size => 25
            -# .field
            -#   = label_tag nil, Spree.t(:shipment_number)
            -#   = f.text_field :shipments_number_cont
          .col-xs-6
            .row
              .col-xs-6
                .field
                  = label_tag :q_number_cont, Spree.t(:order_number, :number => '')
                  = f.text_field :number_cont
                .field
                  = label_tag "Nominal Total"
                  = f.text_field :item_total_or_down_payment_total_eq
                .field
                  = label_tag :preorder_eq, "Status Payment"
                  %br/
                  = f.select :payment_state_eq, [["Pending", "balance_due"], ["Paid", "paid"], ["Cancel", "void"]], { include_blank: true, selected: params[:q][:payment_state_eq] }, { class: "select2" }
              .col-xs-6
                .field
                  = label_tag :q_email_cont, Spree.t(:email)
                  = f.text_field :email_cont
                .field
                  = label_tag :q_name_cont, "Member Name"
                  = f.text_field :user_name_cont
                .field
                  = label_tag :q_name_cont, "Confirmation Order"
                  %br/
                  = f.select :payment_confirmations_order_id_null, [["Yes", "0"], ["No", "1"]], { include_blank: true, selected: params[:q][:payment_confirmations_order_id_null] }, { class: "select2" }
              -# .col-xs-12
                -# .field{"data-hook" => "sku-select"}
                -#   = label_tag :q_line_items_variant_id_in, "SKU"
                -#   = f.text_field :line_items_variant_id_in, class: "variant_autocomplete fullwidth"
              -# .col-xs-12
                -# .field
                -#   = label_tag :q_name_cont, "Member Name"
                -#   = f.text_field :user_name_cont
          .col-xs-3
            -# - if Spree::Store.count > 1
            -#   .field
            -#     = label_tag nil, Spree.t(:store)
            -#     = f.select :store_id_eq, Spree::Store.all.map { |s| [s.name, s.id] }, { include_blank: true }, { class: "select2" }
            .field.checkbox
              %label
                = f.check_box :completed_at_not_null, {:checked => @show_only_completed}, '1', '0'
                = Spree.t(:show_only_complete_orders)
            .field
              = label_tag :lock_eq, "Status Order Lock"
              %br/
              = f.select :lock_eq, [["Lock", 1], ["Unlock", 0]], { include_blank: true, selected: params[:q][:lock_eq] }, { class: "select2" }
        .clearfix
        .actions.filter-actions
          %div{"data-hook" => "admin_orders_index_search_buttons"}
            = button Spree.t(:filter_results)
= paginate @orders, theme: "solidus_admin"
- if @orders.any?
  %table#listing_orders.index{"data-hook" => ""}
    %thead
      %tr{"data-hook" => "admin_orders_index_headers"}
        - if @show_only_completed
          %th.align-left= sort_link @search, :completed_at, "Date"
        - else
          %th.align-left= sort_link @search, :created_at, "Date"
        %th.align-left= sort_link @search, :number
        %th.align-left Customer Name
        %th.align-left= sort_link @search, :total
        / %th= sort_link @search, :state
        %th.align-left= sort_link @search, :payment_state
        - if Spree::Order.checkout_step_names.include?(:delivery)
          %th.align-left= sort_link @search, :shipment_state
        %th.align-left Order Type
        %th.actions{"data-hook" => "admin_orders_index_header_actions"}
    %tbody
      - @orders.each do |order|
        %tr{:class => "state-#{order.state.downcase} #{cycle('odd', 'even')}", "data-hook" => "admin_orders_index_rows"}
          %td= l (@show_only_completed ? order.completed_at : order.created_at).to_date
          - if order.preorder?
            %td= link_to order.number, spree.cart_admin_order_url(order)
          - else
            %td= link_to order.number, cart_admin_order_path(order)
          / %td
          /   %span{:class => "state #{order.state.downcase}"}= Spree.t("order_state.#{order.state.downcase}")
          %td
            -if order.user
              = order.user.name
            -else
              = order.email
          %td= order.preorder? ? number_to_currency(order.down_payment_total) : order.display_total.to_html
          %td
            %span{:class => "state #{order.payment_state}"}= link_to "#{order.payment_state_human}", admin_order_payments_path(order) if order.payment_state
          - if Spree::Order.checkout_step_names.include?(:delivery)
            %td
              - if order.shipment_state == "backorder"
                %span{:class => "state #{order.shipment_state}"}= "pending" if order.shipment_state
              - else
                %span{:class => "state #{order.shipment_state}"}= Spree.t("shipment_states.#{order.shipment_state}") if order.shipment_state
          %td
            = order.preorder? ? "Preorder" : "Ready Stock"
          / %td
          /   - if order.user
          /     = link_to order.email, edit_admin_user_path(order.user)
          /   - else
          /     = mail_to order.email
          %td.actions{"data-hook" => "admin_orders_index_row_actions"}
            = link_to_edit_url edit_admin_order_path(order), :title => "admin_edit_#{dom_id(order)}", :no_text => true
            - if order.payment_state_human == "pending" || order.payment_state_human == "pending on dp"
              = link_to "", admin_order_payment_confirmation_new_path(order), class: 'fa fa-check-square icon_link with-tip no-text', "data-original-title" => "Payment Confirmation"
            - if order and order.completed_at?
              = link_to "", spree.admin_order_path(order, :pdf , :template => "invoice"), :class => "fa fa-print icon_link with-tip no-text", "data-original-title" => "Print"
            - if order.lock?
              = link_to "", admin_order_lock_unlock_path(order), class: 'fa fa-lock icon_link with-tip no-text', "data-original-title" => "Unlock Order!", data: {confirm: "Apakah anda yakin akan membuka order ini? jika order terbuka akan tampil ketika generate shipment"}
            - else
              = link_to "", admin_order_lock_unlock_path(order), class: 'fa fa-unlock icon_link with-tip no-text', "data-original-title" => "Lock Order!", data: {confirm: "Apakah anda yakin akan mengunci order ini? jika order terkunci tidak akan keluar ketika generate shipment"}
- else
  .col-xs-9.no-objects-found
    = render 'spree/admin/shared/no_objects_found', resource: Spree::Order, new_resource_url: spree.new_admin_order_path
= paginate @orders, theme: "solidus_admin"