- admin_breadcrumb(plural_resource_name(Spree::ReturnItem))

-if @pending_return_items.any? 
  = paginate @pending_return_items, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th Number
        %th Order Number
        %th Member Name
        %th SKU
        %th Quantity
        %th Price
        %th Memo
        %th Status
    %tbody
      - @pending_return_items.each do |return_item|
        %tr
          %td.align-center= link_to return_item.return_authorization.number, admin_order_return_authorizations_path(return_item.return_authorization.order)
          %td.align-center= link_to return_item.return_authorization.order.number, admin_order_return_authorizations_path(return_item.return_authorization.order)
          %td.align-center= return_item.return_authorization.order.user.name.nil? ? return_item.return_authorization.order.user.email : return_item.return_authorization.order.user.name
          %td.align-center= return_item.inventory_unit.variant.sku
          %td.align-center= return_item.quantity
          %td.align-center= number_to_currency return_item.amount
          %td.align-center= return_item.return_authorization.memo
          %td.align-center= return_item.acceptance_status

  = paginate @pending_return_items, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    No Request Refund