- admin_breadcrumb(plural_resource_name(Spree::InventoryUnit))
- content_for :table_filter_title do
  = Spree.t(:search)
- content_for :table_filter do
  .bootstrap-3
    %div{"data-hook" => "admin_orders_index_search"}
      = search_form_for @q, url: admin_order_inventory_units_path do |f|
        .row
          .col-sm-6
            .field
              %label ORDER NUMBER
              = f.text_field :order_number_cont
          .col-sm-6
            .field
              %label SKU
              = f.text_field :variant_sku_cont
        .row
          .col-sm-12.text-center
            = f.submit "Search", class: "btn btn-success"

-if @inventory_units.present? 
  = paginate @inventory_units, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th Date
        %th Order Number
        %th SKU
        %th Status
        %th Free Stock Qty (pcs)
        %th Qty Order (pcs)
        %th Qty Order (pack)
        %th Qty Shipped (pcs)
    %tbody
      - @inventory_units.each do |iu|
        %tr
          %td= iu.created_at.to_date
          %td= iu.order.number
          %td= iu.variant.sku
          %td= iu.state_to_human
          %td= iu.variant.stock_items.first.real_qty_free_stock
          %td #{iu.total_pieces}
          %td #{iu.line_item.quantity}
          %td #{if iu.state == "shipped" then iu.shipped else "-" end}
          %td.actions
            - if iu.state == 'on_hand' || iu.state == 'backordered'
              = link_to "", admin_backordered_inventory_unit_path(iu), method: :put, class: "fa #{if iu.state == "on_hand" then "fa-product-hunt" else "fa-registered" end} icon_link with-tip no-text", "data-original-title" => "Mark as #{if iu.state == "on_hand" then "Pending" else "Ready" end}", :data => { :confirm => 'Are you sure you want to change state this unit to pending/ready?' }
  = paginate @inventory_units, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    No Inventory Unit