- admin_breadcrumb(plural_resource_name(Spree::Shipment))
-if @shipments.any? 
  = paginate @paginatable_array, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th.align-left Created At
        %th.align-left Number
        %th.align-left Tracking
        %th.align-left State
    %tbody
      - @shipments.each do |c|
        = form_tag ship_admin_shipment_path(c), method: :put do
          %tr
            %td= c.created_at.to_date
            %td= link_to c.number, admin_shipment_path(c.id)
            %td= text_field_tag "shipments[#{c.id}][tracking]", c.tracking, disabled: if c.ready? && can?(:ship, c) then false else true end
            %td= c.state
            %td.actions
              - if c.ready? && can?(:ship, c)
                = submit_tag "Ship"
              = link_to "", admin_shipment_path(c, :pdf), class: 'fa fa-print icon_link with-tip no-text', "data-original-title" => "Print"
  = paginate @paginatable_array, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    %h5 Not found