%fieldset
  %legend{:align => "center"} Shipment #{@shipment.number}
  = form_tag ship_admin_shipment_path, method: :put do
    %table#listing_orders.index{"data-hook" => ""}
      %thead
        %tr
          %th Shipment ID
          %th Tracking
          %th Cost
          %th Status  
      %tbody
        %tr
          %td.align-center= @shipment.number
          %td.align-center= text_field_tag "shipments[#{@shipment.id}][tracking]", @shipment.tracking
          %td.align-center= @shipment.cost.to_i
          %td.align-center= @shipment.state
    .align-center
      = submit_tag "Submit"
        