.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Notes
.modal-body
  .panel-body
    = form_for @bill, url: update_note_journal_purchase_invoice_path(@bill), method: :put do |f|
      .form-group.form-group-default
        = f.label :notes
        = f.text_area :notes, size: "20x40", class: "input form-control"
      = f.submit 'Save', class: "btn btn-success"
:javascript
  $(document.body).on('hidden.bs.modal', function () {
    $('#edit-note').removeData('bs.modal')
  });
  
