.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      .pull-left
        %ul.breadcrumb
          %li
            = link_to "Purchase Invoice", journal_purchase_invoices_path
          %li
            %a.active{:href => "#"} Purchase Invoice #{@bill.number}
      .pull-right
        = link_to journal_purchase_invoice_path(@bill), class: 'btn btn-success m-t-10' do
          View Invoice
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = search_form_for @q, url: add_items_journal_purchase_invoice_path(@bill) do |f|
    .row
      .col-sm-12
        .form-group.form-group-default
          = f.label :variant_sku_cont, "Code Item"
          = f.text_field :variant_sku_cont, class: "form-control"
      .col-sm-12.text-center
        = f.submit "Filter", class: "btn btn-success"
  = form_tag update_cart_journal_purchase_invoice_path(@bill), method: :put do
    %table.table
      %thead
        %tr
          %th= check_box_tag "select-all"
          %th Purchase Order ID
          %th Image
          %th Name
          %th Pcs Send
          %th Pcs Received
          %th Invoice qty
          %th Outstanding Qty
          %th Currency
          %th Price
          %th Total Price
      %tbody.activate-toggle-checkbox-button
        - total_price_search = 0
        - @items.each do |item|
          %tr{id: "item_#{item.id}"}
            %td.align-center= check_box_tag "select_items[#{item.id}]['checked']", item.id
            %td.align-center= item.purchase_order.id
            %td.align-center= image_tag item.variant.display_image.attachment(:mini)
            %td.align-center= item.variant.sku
            %td.align-center= item.container_items.where(status: 'shipped').sum(:qty_send)
            %td.align-center= item.container_items.where(status: ['completed', 'received']).sum(:qty_received)
            %td.align-center= Journal::BillItem.where(originator: item).sum(:quantity)
            %td.align-center= text_field_tag "select_items[#{item.id}]['quantity']", item.outstanding_invoice_qty, class: "qty-pack form-control", data: {"item-id" => "#{item.id}", "item-per-pack" => "#{item.variant.product.total_items}"}
            %td.align-center= item.currency
            %td.align-center= text_field_tag "select_items[#{item.id}]['cost_price']", item.cost_price, class: "cost-price form-control", data: {"item-id" => "#{item.id}", "item-per-pack" => "#{item.variant.product.total_items}"}
            %td.align-center= text_field_tag "total_cost_price[#{item.id}]", item.cost_price * item.outstanding_invoice_qty, id: "total_cost_#{item.id}", class: "total_cost_price", disabled: true, class: "form-control"
            - total_price_search += item.cost_price * item.outstanding_invoice_qty
      %tfooter
        %tr
          %td.text-right{colspan: 10} All Total Price
          %td.align-center= number_with_delimiter total_price_search
    .pull-left
      = paginate @items, theme: "solidus_admin" 
    .pull-right
      = submit_tag "Add Item", class: "btn btn-success"

- content_for :js do
  :javascript
    $( '#select-all' ).click( function () {
      $( '.activate-toggle-checkbox-button input[type="checkbox"]' ).prop('checked', this.checked)
    })

    $("input.qty-pack").on("input", function(e){
      var qty_pack = Number(e.target.value);
      var id = $(this).data("item-id");
      var items_per_pack = Number($(this).data("item-per-pack"));
      var cost_price = $("#select_items_" + id + "__cost_price_").val()
      var total_item = qty_pack

      $("#select_items_" + id + "__checked_").prop( "checked", true );


      $("#total_items_" + id).val(total_item);
      $("#total_cost_" + id).val(total_item * cost_price);

      var sum = 0;
      $('.total_cost_price').each(function() {
          var price = $(this);
          sum += parseInt(price.val())
      });

      $('#total_po').val(sum);
    })

    $("input.cost-price").on("input", function(e){
      var cost_price = Number(e.target.value);
      var id = $(this).data("item-id");
      var items_per_pack = Number($(this).data("item-per-pack"));
      var qty_pack = $("#select_items_" + id + "__quantity_").val()
      var total_item = qty_pack

      $("#select_items_" + id + "__checked_").prop( "checked", true );
      
      $("#total_items_" + id).val(total_item);
      $("#total_cost_" + id).val(total_item * cost_price);

      var sum = 0;
      $('.total_cost_price').each(function() {
          var price = $(this);
          sum += parseInt(price.val())
      });

      $('#total_po').val(sum);
    })