.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Purchase Invoice
      .pull-right
        = link_to new_journal_purchase_invoice_path, class: 'btn btn-success' do
          %i.fa.fa-plus
          Create Invoice
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = search_form_for @q, url: journal_purchase_invoices_path do |f|
    .row
      .col-sm-4
        .form-group.form-group-default
          = f.label :number_cont, "Number"
          = f.text_field :number_cont, class: "form-control"
      .col-sm-4
        .form-group.form-group-default
          = f.label :supplier_id_eq, "Supplier"
          = f.collection_select :supplier_id_eq, Spree::Supplier.order(:name), :id, :name, {include_blank: true}, {class: "form-control"}
      .col-sm-4
        .form-group.form-group-default
          = f.label :payment_state_eq, "Payment State"
          = f.select :payment_state_eq, options_for_select([["Paid", "paid"], ["Partially Paid", "partially_paid"], ["Pending", "pending"]]), {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
    .row
      .col-sm-4
        .form-group.form-group-default
          = f.label :state_eq, "State"
          = f.select :state_eq, options_for_select([["Draft", "draft"], ["Confirmed", "confirmed"]]), {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
      .col-sm-4
        .form-group.form-group-default
          = f.label :items_description_cont, "Code Item"
          = f.text_field :items_description_cont, class: "form-control"
      .col-sm-4
        .form-group.form-group-default
          = f.label :currency_eq, "Currency"
          = f.select :currency_eq, options_for_select(["IDR", "RMB"]), {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
    .row
      .col-sm-4.col-sm-offset-4.text-center
        = f.submit "Filter", class: "btn btn-success"
  %table#example.table
    %thead
      %tr
        %th{style: "width: 13%"}
        %th{style: "width: 12%"} Created AT
        %th{style: "width: 10%"} Number
        %th{style: "width: 5%"} Supplier
        %th{style: "width: 5%"} Currency
        %th{style: "width: 10%"} Balance Due
        %th{style: "width: 10%"} Total
        %th{style: "width: 5%"} Payment State
        %th{style: "width: 10%"} State
        %th{style: "width: 10%"} Notes
        %th{style: "width: 5%"} Action
    %tbody
      - @bills.each do |bill|
        %tr
          %td
            .btn-group
              %button.btn.btn-default{:type => "button"} Action
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a= link_to 'Show', journal_purchase_invoice_path(bill)
                %li
                  = link_to 'Edit Notes', add_note_journal_purchase_invoice_path(bill), "data-toggle" => "modal", "data-target" => "#edit-note"
                - if bill.confirmed?
                  %li
                    = link_to "Print", print_journal_purchase_invoice_path(bill, :pdf)
                  - if bill.payment_state == "pending"
                    %li
                      = link_to "Reverse to Draft", reverse_to_draft_journal_purchase_invoice_path(bill), :data => { :confirm => 'Are you sure you want to reverse purchase to draft?' }
                - if !bill.confirmed?
                  %li
                    = link_to 'Edit', add_items_journal_purchase_invoice_path(bill)
                  %li
                    = link_to 'Delete', journal_purchase_invoice_path(bill), :method => :delete, :data => { :confirm => 'Are you sure?' }
          %td= bill.created_at.to_date
          %td= link_to bill.number, journal_purchase_invoice_path(bill)
          %td= bill.supplier.name
          %td= bill.currency
          %td= number_to_delimited bill.amount_due
          %td= number_to_delimited bill.total
          %td= bill.payment_state
          %td= bill.state
          %td #{bill.notes.nil? ? "-" : link_to(bill.notes.truncate(20), add_note_journal_purchase_invoice_path(bill), "data-toggle" => "modal", "data-target" => "#edit-note")}
          - if !bill.paid? && bill.confirmed?
            %td= link_to "Add Payment", new_payment_journal_bill_path(bill), class: "btn btn-success", "data-toggle" => "modal", "data-target" => "#add-payment"
          - else
            %td.align-center -
  = paginate @bills, theme: "solidus_admin" 

#add-payment.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#edit-note.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
