.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      %ul.breadcrumb
        %li
          = link_to "Purchase Invoice", journal_purchase_invoices_path
        %li
          %a.active{:href => "#"} New
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = form_for @bill, url: journal_purchase_invoices_path do |f|
    .row
      .col-md-6
        .form-group.form-group-default.required
          = f.label :supplier_id, "Supplier"
          = f.collection_select(:supplier_id, Spree::Supplier.all, :id, :name, {:prompt => 'Select Supplier'}, {:class => "form-control"})
      .col-md-6
        .form-group.form-group-default.required
          = f.label :due_date
          = f.date_field :due_date, class: "input form-control"
    .actions.text-right
      = f.submit 'Save & Next', class: "btn btn-success"

