.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      .pull-left
        %ul.breadcrumb
          %li
            = link_to "Purchase Invoice", journal_purchase_invoices_path
          %li 
            = link_to "Purchase Invoice #{@bill.number}", journal_purchase_invoice_path(@bill)
          %li
            %a.active{:href => "#"} Refund Purchase Invoice #{@bill.number}
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = search_form_for @q, url: refund_journal_purchase_invoice_path(@bill) do |f|
    .row
      .col-sm-12
        .form-group.form-group-default
          = f.label :description_cont, "Code Item"
          = f.text_field :description_cont, class: "form-control"
      .col-sm-12.text-center
        = f.submit "Filter", class: "btn btn-success"
  = form_tag refund_cart_journal_purchase_invoice_path(@bill), method: :put do
    %table.table
      %thead
        %tr
          %th= check_box_tag "select-all"
          %th Purchase Order ID
          %th Image
          %th Name
          %th Item per pcs
          %th Order Qty (pcs)
          %th Refund Qty (pcs)
          %th Currency
          %th Price
          %th Total Price
          %th Notes
      %tbody.activate-toggle-checkbox-button
        - @items.each do |item|
          %tr{id: "item_#{item.id}"}
            %td.align-center= check_box_tag "select_items[#{item.id}]['checked']", item.id
            %td.align-center= link_to item.originator.purchase_order_id, spree.cart_admin_purchase_order_path(item.originator.purchase_order_id)
            %td.align-center= image_tag item.originator.variant.display_image.attachment(:mini)
            %td.align-center= item.originator.variant.sku
            %td.align-center= item.originator.variant.product.total_items
            %td.align-center= item.quantity
            %td.align-center= number_field_tag "select_items[#{item.id}]['quantity']", item.outstanding_qty, min: item.originator.variant.product.total_items, max: item.outstanding_qty, step: item.originator.variant.product.total_items, class: "qty-pack form-control", data: {"item-id" => "#{item.id}", "item-per-pack" => "#{item.originator.variant.product.total_items}"}, disabled: item.originator.container_items.present? || item.outstanding_qty <= 0
            %td.align-center= item.bill.currency
            %td.align-center= text_field_tag "select_items[#{item.id}]['cost_price']", item.amount, class: "cost-price form-control", data: {"item-id" => "#{item.id}", "item-per-pack" => "#{item.originator.variant.product.total_items}"}, disabled: true
            %td.align-center= text_field_tag "total_cost_price[#{item.id}]", item.total, id: "total_cost_#{item.id}", disabled: true, class: "form-control total_cost_price"
            %td.align-center
              - if item.originator.container_items.present?
                item ini sudah ada di container
              - elsif item.outstanding_qty <= 0
                Silahkan cek refund history
              - else

                
      %tfooter
        %tr
          %td.text-right{colspan: 8} TOTAL
          %td.align-center= text_field_tag "total_po", @bill.total, id: "total_po", disabled: true, class: "form-control"
    .text-right
      = submit_tag "Submit", class: "btn btn-success"

#add-payment.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content

- content_for :js do
  :javascript
    $( '#select-all' ).click( function () {
      $( '.activate-toggle-checkbox-button input[type="checkbox"]' ).prop('checked', this.checked)
    })

    $("input.qty-pack").on("input", function(e){
      var qty_pack = Number(e.target.value);
      var id = $(this).data("item-id");
      var items_per_pack = Number($(this).data("item-per-pack"));
      var cost_price = $("#select_items_" + id + "__cost_price_").val()
      var total_item = qty_pack

      $("#select_items_" + id + "__checked_").prop( "checked", true );


      $("#total_items_" + id).val(total_item);
      $("#total_cost_" + id).val(total_item * cost_price);

      var sum = 0;
      $('.total_cost_price').each(function() {
          var price = $(this);
          sum += parseInt(price.val());
      });

      $('#total_po').val(sum);
    })

    $("input.cost-price").on("input", function(e){
      var cost_price = Number(e.target.value);
      var id = $(this).data("item-id");
      var items_per_pack = Number($(this).data("item-per-pack"));
      var qty_pack = $("#select_items_" + id + "__quantity_").val()
      var total_item = qty_pack

      $("#select_items_" + id + "__checked_").prop( "checked", true );
      
      $("#total_items_" + id).val(total_item);
      $("#total_cost_" + id).val(total_item * cost_price);

      var sum = 0;
      $('.total_cost_price').each(function() {
          var price = $(this);
          sum += parseInt(price.val())
      });

      $('#total_po').val(sum);
    })