.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner
      .pull-left
        %ul.breadcrumb
          %li
            = link_to "Purchase Invoice", journal_purchase_invoices_path
          %li
            %a.active{:href => "#"} Purchase Invoice #{@bill.number}
      .pull-right
        - if @bill.confirmed? && !@bill.paid?
          = link_to "Add Payment", new_payment_journal_bill_path(@bill), class: "btn btn-success m-t-10", "data-toggle" => "modal", "data-target" => "#add-payment"
        - if !@bill.confirmed?
          = link_to add_items_journal_purchase_invoice_path(@bill), class: 'btn btn-success m-t-10' do
            Add Items
          = link_to "Confirm!", confirm_journal_purchase_invoice_path(@bill), class: 'btn btn-warning btn-cons m-t-10', method: :put, :data => {:confirm => 'Pastikan data yang Anda masukan benar. Invoice tidak dapat diubah setelah Anda konfirmasi.'}
        - if @bill.paid?
          = link_to "Refund", refund_journal_purchase_invoice_path(@bill), class: 'btn btn-success m-t-10'
          
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  %h3 Items
  = search_form_for @q, url: journal_purchase_invoice_path(@bill) do |f|
    .row
      .col-sm-12
        .form-group.form-group-default
          = f.label :description_cont, "Code Item"
          = f.text_field :description_cont, class: "form-control"
      .col-sm-12.text-center
        = f.submit "Filter", class: "btn btn-success"
  = form_tag update_cart_journal_purchase_invoice_path(@bill), method: :put do
    %table.table
      %thead
        %tr
          %th{width: "5%"}= check_box_tag "select-all"
          %th{width: "5%"} Purchase Order ID
          %th{width: "15%"} Image
          %th{width: "20%"} Name
          %th{width: "15%", style: "background-color: #87bdd8; color: #fff; border-color: #87bdd8;"} Invoice qty
          %th{width: "10%"} Currency
          %th{width: "15%"} Price
          %th{width: "15%"} Total Price
      %tbody.activate-toggle-checkbox-button
        - total_qty_received = 0
        - total_qty_send = 0
        - total_outstanding_qty = 0
        - total_qty_pcs = 0
        - @items.each do |item|
          %tr{id: "item_#{item.id}"}
            %td.align-center= check_box_tag "select_items[#{item.originator.id}]['checked']", item.originator.id
            %td.align-center= link_to item.originator.purchase_order_id, spree.cart_admin_purchase_order_path(item.originator.purchase_order_id)
            %td.align-center= image_tag item.originator.variant.display_image.attachment(:mini)
            %td.align-center= item.originator.variant.sku
            - total_qty_send += item.originator.container_items.where(status: 'shipped').sum(:qty_send)
            - total_qty_received += item.originator.container_items.where(status: ['completed', 'received']).sum(:qty_received)
            - total_outstanding_qty += item.originator.outstanding_invoice_qty
            %td.align-center{style: "background-color: #87bdd8; color: #fff; border-color: #87bdd8;"}= text_field_tag "select_items[#{item.originator.id}]['quantity']", item.quantity, disabled: @bill.confirmed?, class: "qty-pack form-control", data: {"item-id" => "#{item.originator.id}", "item-per-pack" => "#{item.originator.variant.product.total_items}"}
            - total_qty_pcs += item.quantity
            %td.align-center= item.bill.currency
            %td.align-center= text_field_tag "select_items[#{item.originator.id}]['cost_price']", item.amount, disabled: @bill.confirmed?, class: "cost-price form-control", data: {"item-id" => "#{item.originator.id}", "item-per-pack" => "#{item.originator.variant.product.total_items}"}
            %td.align-center= text_field_tag "total_cost_price[#{item.originator.id}]", item.total, id: "total_cost_#{item.originator.id}", disabled: true, class: "form-control total_cost_price"
      %tfooter
        %tr
          %td.text-right{colspan: 4} TOTAL QTY
          %td.align-center{style: "background-color: #87bdd8; color: #fff; border-color: #87bdd8;"}= total_qty_pcs
          %td.text-right{colspan: 2}= @refunds.empty? ? "TOTAL" : "SUBTOTAL"
          %td.align-center= @bill.total
        - if @refunds.present?
          %tr
            %td.text-right{colspan: 9} Refund
            %td.align-center= number_to_delimited @bill.total_refund
          %tr
            %td.text-right{colspan: 9} Total
            %td.align-center= number_to_delimited @bill.total - @bill.total_refund
    - if !@bill.confirmed?
      .text-right
        = submit_tag "Recalculate & Update", class: "btn btn-success"

  %h3 Payment History
  - if @payments.empty?
    .alert.alert-warning
      Tidak ada transaksi
  - else
    %table.table
      %thead
        %tr
          %th Date
          %th Amount
          %th Account
      %tbody
        - @payments.each do |payment|
          %tr
            %td= payment.created_at
            %td= number_to_delimited payment.amount
            %td= payment.source.name
  %br
  %h3 Refund History
  - if @refunds.empty?
    .alert.alert-warning
      Tidak ada refund
  - else
    %table.table
      %thead
        %tr
          %th Refund ID
          %th SKU
          %th Qty
          %th.text-right Total Price
      %tbody
        - @refunds.each do |refund|
          - refund.items.each do |item| 
            %tr
              %td= refund.number
              %td= item.variant.sku
              %td= item.qty
              %td.text-right= number_to_delimited item.total
      %tfooter
        %tr
          %td.text-right{colspan: 3} TOTAL
          %td.text-right= number_to_delimited @refunds.sum(:total)

#add-payment.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content

- content_for :js do
  :javascript
    $( '#select-all' ).click( function () {
      $( '.activate-toggle-checkbox-button input[type="checkbox"]' ).prop('checked', this.checked)
    })

    $("input.qty-pack").on("input", function(e){
      var qty_pack = Number(e.target.value);
      var id = $(this).data("item-id");
      var items_per_pack = Number($(this).data("item-per-pack"));
      var cost_price = $("#select_items_" + id + "__cost_price_").val()
      var total_item = qty_pack

      $("#select_items_" + id + "__checked_").prop( "checked", true );


      $("#total_items_" + id).val(total_item);
      $("#total_cost_" + id).val(total_item * cost_price);

      var sum = 0;
      $('.total_cost_price').each(function() {
          var price = $(this);
          sum += parseInt(price.val());
      });

      $('#total_po').val(sum);
    })

    $("input.cost-price").on("input", function(e){
      var cost_price = Number(e.target.value);
      var id = $(this).data("item-id");
      var items_per_pack = Number($(this).data("item-per-pack"));
      var qty_pack = $("#select_items_" + id + "__quantity_").val()
      var total_item = qty_pack

      $("#select_items_" + id + "__checked_").prop( "checked", true );
      
      $("#total_items_" + id).val(total_item);
      $("#total_cost_" + id).val(total_item * cost_price);

      var sum = 0;
      $('.total_cost_price').each(function() {
          var price = $(this);
          sum += parseInt(price.val())
      });

      $('#total_po').val(sum);
    })