= link_to new_journal_category_url, "data-toggle" => "modal", "data-target" => "#new-category", class: 'btn btn-success' do
  %i.fa.fa-plus
  Add Category
.panel-body
/ = form_for('Product', :as => 'products', :url => delete_selected_users_path) do |f|
-if @categories.any? 
  %table#example.table
    %thead
      %tr
        %th.sorting-non
          %button.btn.btn-default.clickDelete
            %i.pg-trash
        %th Category Name
    %tbody
      - @categories.each do |c|
        %tr
          %td
            .btn-group.m-b-10
              %button.btn.btn-default{:type => "button"} Action
              %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                %span.caret
              %ul.dropdown-menu{:role => "menu"}
                %li
                  %a= link_to 'Edit', edit_journal_category_url(c), "data-toggle" => "modal", "data-target" => "#edit-account"
                %li
                  %a= button_to "Destroy", journal_category_url(c), :method=>:delete, :class=>:destroy
          %td= c.name
-else
  .alpha.twelve.columns.no-objects-found
    %h5 Categories Not Found
#new-category.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#edit-category.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content