= form_for @category do |c|
  .modal-header
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    %h4#myModalLabel.modal-title New Category
  .modal-body
    .form-group-attached.m-b-20
      .form-group.form-group-default
        = c.label :name, "Category Name"
        = c.text_field :name, class: 'form-control'
    = c.submit class: "btn btn-success"