.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title RMB Transactions
.modal-body
  .panel-body
    = form_for @journal_transaction_rmb do |f|
      - if @journal_transaction_rmb.errors.any?
        #error_explanation
          %h2= "#{pluralize(@journal_transaction_rmb.errors.count, "error")} prohibited this journal_transaction_rmb from being saved:"
          %ul
            - @journal_transaction_rmb.errors.full_messages.each do |msg|
              %li= msg

      .form-group.form-group-default.required
        = f.label :description
        = f.text_area :description, class: "input form-control"
      .form-group.form-group-default.required
        = f.label :amount
        = f.text_field :amount, class: "input form-control"
      .form-group.required
        = f.grouped_collection_select :category_id, Journal::Category.all, :category_rmb, :name, :id, :name, {include_blank: true, :prompt => 'Select Category'}, {class: "form-control"}
      .form-group.required
        = f.grouped_collection_select :account_id, Journal::Category.all, :transfer_to, :name, :id, :name, {include_blank: true, :prompt => 'Select Account'}, {class: "form-control"}
      .form-group.form-group-default.required
        .checkbox.check-primary.checkbox-circle
          = f.check_box :is_verified
          = f.label :is_verified, "Verified"
      .form-group.form-group-default.required 
        .checkbox.check-primary.checkbox-circle
          = f.check_box :is_expense
          = f.label :is_expense, "Expense"
      .actions
        = f.submit 'Submit', class: "btn btn-success"
