-if notice 
  .alert.alert-success{:role => "alert"}
    %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
    %strong= notice
-if alert
  .alert.alert-danger{:role => "alert"}
    %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
    %strong= alert
= link_to new_journal_transaction_rmb_url, "data-toggle" => "modal", "data-target" => "#new-transaction", class: 'btn btn-success' do
  %i.fa.fa-plus
  Add Transactions

%h1 RMB Transactions
.container-fluid.container-fixed-lg.bg-white
  / START PANEL
  .panel.panel-transparent
    .panel-heading
      .panel-title
        All Transaction 
      .pull-right
        .col-xs-12
          %p
            %i.fa.fa-square{:style => "color:green"} 
            Income Transaction
          %p
            %i.fa.fa-square{:style => "color:red"} 
            Expense Transaction
      .clearfix
    .panel-body
      %table#tableWithSearch.table.table-hover.demo-table-search.table-responsive-block
        %thead
          %tr
            %th 
            %th Description
            %th Amount
            %th Category
            %th Account
            %th Date

        %tbody
          - @journal_transaction_rmbs.each do |journal_transaction_rmb|
            %tr
              %td
                .btn-group.m-b-10
                  %button.btn.btn-default{:type => "button"} Action
                  %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                    %span.caret
                  %ul.dropdown-menu{:role => "menu"}
                    %li
                      = link_to 'Show', journal_transaction_rmb
                    %li
                      = link_to 'Edit', edit_journal_transaction_rmb_path(journal_transaction_rmb), "data-toggle" => "modal", "data-target" => "#edit-transaction"
                    %li
                      = link_to 'Destroy', journal_transaction_rmb, :method => :delete, :data => { :confirm => 'Are you sure?' }
              %td= journal_transaction_rmb.description
              %td= journal_transaction_rmb.amount
              %td= Journal::Account.find_by_id(journal_transaction_rmb.category_id).name
              %td= Journal::Account.find_by_id(journal_transaction_rmb.account_id).name
              %td= journal_transaction_rmb.created_at.to_date
#new-transaction.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#edit-transaction.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content

