-if notice 
  .alert.alert-success{:role => "alert"}
    %i.fa.fa-times.close{"data-dismiss" => "alert", "aria-label" => "Close", :type => "button"}
    %strong= notice
.form-group.form-group-default
  %label Description
  = @journal_transaction_rmb.description
.form-group.form-group-default
  %label Amount
  = @journal_transaction_rmb.amount
.form-group.form-group-default
  %label Category
  = Journal::Account.find_by_id(@journal_transaction_rmb.category_id).name
.form-group.form-group-default
  %label Account
  = Journal::Account.find_by_id(@journal_transaction_rmb.account_id).name
.form-group.form-group-default
  %label Verified?
  = @journal_transaction_rmb.is_verified
.form-group.form-group-default
  %label Expense?
  = @journal_transaction_rmb.is_expense

= link_to 'Edit', edit_journal_transaction_rmb_path(@journal_transaction_rmb), class: "btn btn-success"
= link_to 'Back', journal_transaction_rmbs_path, class: "btn btn-success"

#edit-transaction.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
