- admin_breadcrumb(plural_resource_name(Spree::PurchaseOrder))

- content_for :table_filter do
  %div
    = search_form_for @search, url: all_admin_purchase_orders_path(@purchase_order_lines) do |f|
      - locals = {:f => f}
      .row
        .col-xs-4
          .field
            = f.label :variant_sku_cont, "Code Item"
            = f.text_field :variant_sku_cont, :size => 15
        .col-xs-4
          .field
            = f.label :purchase_order_id_eq, "Purchase ID"
            = f.text_field :purchase_order_id_eq, :size => 15
        .col-xs-4
          .form-group.form-group-default
            = f.label :payment_state_eq, "Payment Status"
            = f.select :payment_state_eq, options_for_select([["Paid", "paid"], ["Partially Paid", "partially_paid"], ["Pending", "pending"]]), {include_blank: true}, :class => "form-control select2", prompt: "Choose one"
      .row
        .col-xs-4
          .form-group.form-group-default
            = f.label :shipment_status_eq, "Shipment Status"
            = f.select :shipment_status_eq, options_for_select([["Pending", "pending"], ["Shipped", "shipped"], ["In Completed", "in_completed"],["Completed", "completed"]]), {include_blank: true}, :class => "form-control select2", prompt: "Choose one"
        .col-xs-4
          .form-group.form-group-default
            = f.label :purchase_order_supplier_id_eq, "Supplier"
            = f.select :purchase_order_supplier_id_eq, options_from_collection_for_select(Spree::Supplier.all, :id, :name), {:include_blank => true}, :class => "form-control select2", prompt: "Choose one"
      .actions.filter-actions
        = button Spree.t(:search)

= paginate @purchase_order_lines, theme: "solidus_admin" 
%table
  %thead
    %tr.to_icon
      %th.align-left{width: "12%"} Created at
      %th.align-left{width: "3%"} PO ID
      %th.align-left{width: "8%"} Supplier
      %th.align-left{width: "5%"} Image
      %th.align-left{width: "14%"} Code Item
      %th.align-left{width: "5%"} Qty
      %th.align-left{width: "5%"} Isi
      %th.align-left{width: "5%"} Total Pcs
      - if spree_current_user.admin?
        %th.align-left{width: "10%"} Price 
        %th.align-left{width: "10%"} Total Price
      %th.align-left{width: "5%"} Payment
      %th.align-left{width: "10%"} Delivery
      %th.align-left{width: "5%"} Pcs Received
      %th.align-left{width: "5%"} Container ID
  %tbody
    - @purchase_order_lines.each do |line|
      %tr
        %td= line.purchase_order.created_at.to_date
        %td= link_to line.purchase_order.id, items_admin_purchase_order_path(line.purchase_order)
        %td= line.purchase_order.supplier.name
        %td= image_tag line.variant.display_image.attachment(:mini)
        %td= line.variant.sku
        %td= line.quantity
        %td= line.variant.product.total_items
        %td= line.items
        - if spree_current_user.admin?
          %td= number_to_multi_currency(line.cost_price, line.currency)
          %td= number_to_multi_currency(line.total, line.currency)
        %td= line.payment_state.humanize
        %td
          - if line.completed? && line.completed_by.present?
            - user = Spree::User.find_by_id(line.completed_by)
            #{line.shipment_status.humanize} by #{user.name.blank? ? user.email : user.name}
          - else
            = line.shipment_status.humanize
        %td= line.total_received
        %td
          %ul
            - line.container_items.each do |c|
              %li= link_to c.container.id, admin_container_path(c.container)
        %td.actions
          - if line.shipment_status != "completed"
            = link_to_with_icon 'check', "Mark as Complete", mark_completed_admin_purchase_orders_path(line_item_id: line.id), :no_text => true, method: :get
  %tfooter
    %tr
      %td{colspan: 3}
      %td{colspan: 2} Total Qty:
      %td #{@purchase_order_lines.sum(:quantity)}
      %td Total Pcs
      %td #{@purchase_order_lines.sum(:items)}
      - if spree_current_user.admin?
        %td{colspan: 2} #{number_to_delimited(@purchase_order_lines.sum(:total))}
      %td{colspan: 2}
      %td #{@purchase_order_lines.sum(&:total_received)}
= paginate @purchase_order_lines, theme: "solidus_admin" 