- admin_breadcrumb("Purchase Order: #{@purchase_order.id}")

- content_for :page_actions do
  - if @purchase_order.pending_payment?
    %li= button_link_to "Ubah Purchase Order", items_admin_purchase_order_path

%fieldset
  %legend{:align => "center"} Product Items
  #items
    %table
      %thead
        %tr
          %th.align-left Image
          %th.align-left SKU
          %th.align-left Qty Pack
          %th.align-left Items per Pack
          %th.align-left Total Items
          - if spree_current_user.admin?
            %th.align-left Cost Currency
            %th.align-left Cost Price
            %th.align-left Total Cost Price
          %th.align-left Shipment Status
          %th.align-left Payment Status
      %tbody
        - total_qty_pack = 0
        - total_items = 0
        - @items.each do |item|
          - total_qty_pack += item.quantity
          - total_items += item.variant.product.total_items
          %tr{id: "item_#{item.id}"}
            %td= image_tag item.variant.display_image.attachment(:mini)
            %td= item.variant.sku
            %td= item.quantity
            %td= item.variant.product.total_items
            %td= item.items
            - if spree_current_user.admin?
              %td= item.currency
              %td= number_to_delimited item.cost_price
              %td.total-cost-price= number_to_delimited item.total
            %td= item.shipment_status
            %td= item.payment_state
            %td.actions
              - if @purchase_order.pending_payment?
                = link_to "", line_item_destroy_admin_purchase_orders_url(:po => @purchase_order, :item => item), method: :get, class: 'fa fa-trash icon_link with-tip no-text', "data-original-title" => "Delete"
        - if spree_current_user.admin?
          %tfooter
            %tr
              %td.align-right{colspan: 2} TOTAL
              %td #{total_qty_pack}
              %td 
              %td #{total_items}
              %td
              %td
              %td= number_to_delimited(@purchase_order.total)
    - if @purchase_order.pending_payment?
      .align-center
        = link_to "Confirm Purchase Order!", confirm_admin_purchase_order_path, method: :put, class: "btn btn-primary", data: { confirm: "Pastikan data yang Anda masukan benar! Anda tidak dapat melakukan perubahan setelah ini."}