- admin_breadcrumb(plural_resource_name(Spree::PurchaseOrder))

- content_for :page_actions do
  %li
    = button_link_to "New Purchase Order", new_admin_purchase_order_url(@purchase_order)
= form_for('Filter_purchase', :as => 'filter_purchase', method: :get, :url => admin_purchase_orders_path) do |f|
  .row 
    .col-sm-3
      .form-group.form-group-default.required
        %label Start Date
        = date_field_tag 'start_date', nil, class: 'form-control'
    .col-sm-3
      .form-group.form-group-default.required
        %label End Date
        = date_field_tag 'end_date', nil,class: 'form-control'
    .col-sm-3
      .form-group.form-group-default.required
        %label SKU
        = text_field_tag 'sku_contain', nil,class: 'form-control'
    .col-sm-3
      .form-group.form-group-default.required
        %label ID
        = text_field_tag 'id_is', nil,class: 'form-control'
  .row 
    .col-sm-3
      .form-group.form-group-default.required
        %label Payment Status
        = select_tag 'payment_is', options_for_select([["Paid", "paid"], ["Pending", "pending"], ["Confirmed", "confirmed"]]), {class: "form-control", :class => "select2", prompt: "Select Payment Status"}
    .col-sm-3
      .form-group.form-group-default.required
        %label Shipment Status
        = select_tag 'shipment_is', options_for_select([["Shipped", "shipped"], ["Pending", "pending"]]), {class: "form-control", :class => "select2", prompt: "Select Shipment Status"}
    .col-sm-3
      .form-group.form-group-default.required
        %label Supplier Name
        = select_tag :supplier_id_is, options_from_collection_for_select(Spree::Supplier.all, :id, :name), { :class => 'select2', style: "width: 100%", prompt: "Select Supplier"}
    .col-sm-3
      = f.submit "Search", class: "btn btn-success"

= paginate @purchase_orders, theme: "solidus_admin" 
%table
  %thead
    %tr
      %th.align-left Created at
      %th.align-left ID
      %th.align-left Supplier
      -if spree_current_user.admin?
        %th.align-left Amount
      %th.align-left Payment Status
      %th.align-left Shipping Status
      %th.align-left Notes
  %tbody
    - @purchase_orders.each do |po|
      %tr
        %td= po.created_at.to_date
        %td
          - if po.pending_payment? || po.confirmed?
            = link_to po.id, items_admin_purchase_order_path(po)
          - else
            = link_to po.id, cart_admin_purchase_order_path(po)
        %td= po.supplier.name
        -if spree_current_user.admin?
          - if !po.items.empty?
            %td= number_to_multi_currency(po.total, po.items.first.currency)
          - else
            %td= po.total.to_i
        %td= po.payment_state.humanize
        %td= po.shipping_state.humanize
        %td= po.notes
        - if spree_current_user.admin?
          %td.actions
            - if po.payment_state == "confirmed"
              = link_to "", print_admin_purchase_order_path(po, :pdf), class: 'fa fa-print icon_link with-tip no-text', "data-original-title" => "Print"
              = link_to "", reverse_to_pending_admin_purchase_order_path(po), class: 'fa fa-undo icon_link with-tip no-text', "data-original-title" => "Reverse to Pending", data: { confirm: "Apakah anda yakin akan mengembalikan status menjadi pending?"}
            - if po.payment_state == "pending" && can?(:delete, po)
              = link_to_delete po, :no_text => true
= paginate @purchase_orders, theme: "solidus_admin" 