- admin_breadcrumb("PO #{@purchase_order.supplier.name}")

%br
- content_for :page_actions do
  %li= button_link_to "Update Items From Product", update_after_change_item_admin_purchase_order_path(@purchase_order), data: {confirm: "Are you sure, you want to update items from product?"}
  %li= button_link_to "View Cart", cart_admin_purchase_order_path

%fieldset{"data-hook" => "new_product"}
  = form_for('filter_item', :as => 'filter_item', method: :get, :url => items_admin_purchase_order_path(@purchase_order)) do |a|
    .row 
      .col-sm-4
        .form-group.form-group-default.required
          %label Name
          = text_field_tag 'name_contain', nil, class: 'form-control'
      .col-sm-4
        .form-group.form-group-default.required
          %label SKU
          = text_field_tag 'sku_contain', nil, class: 'form-control'
      / .col-sm-4
      /   .form-group.form-group-default.required
      /     = select_tag 'zero_cost_price', options_for_select([["Cost Price 0", 0]]), {class: "form-control", :class => "select2", prompt: "Select Cost Price"}
    -# .row 
    -#   .col-sm-3
    -#     .form-group.form-group-default.required
    -#       %label Payment Status
    -#       = select_tag 'payment_is', options_for_select([["Paid", "paid"], ["Pending", "pending"], ["Confirmed", "confirmed"]]), {class: "form-control", :class => "select2", prompt: "Select Payment Status"}
    -#   .col-sm-3
    -#     .form-group.form-group-default.required
    -#       %label Shipment Status
    -#       = select_tag 'shipment_is', options_for_select([["Shipped", "shipped"], ["Pending", "pending"]]), {class: "form-control", :class => "select2", prompt: "Select Shipment Status"}
    -#   .col-sm-3
    -#     .form-group.form-group-default.required
    -#       %label SKU is
    -#       = a.collection_select(:sku_is, @items, :id, :name, {:prompt => 'Select Supplier'}, { :class => 'select2', style: "width: 100%" })
    .row 
      .align-center.col-sm-12
        = a.submit "Search", class: "btn btn-success"
= render :partial => 'spree/shared/error_messages', :locals => { :target => @purchase_order }
%fieldset
  %legend{:align => "center"} Product Items
  - if @purchase_order.pending_payment?
    .align-center
      %button.button{"data-toggle" => "modal", "data-target" => "#add-products"} Tambah Produk Lainnya
  = form_for [:admin, @purchase_order], method: :post, url: update_items_admin_purchase_order_path, :html => { :multipart => true } do |f|
    #items{style: "margin-top: 15px;"}
      = form_tag update_items_admin_purchase_order_path, method: :put do
        %table
          %thead
            %tr
              %th Image
              %th SKU
              %th PO
              %th DP Confirm
              %th Qty Pack
              %th Items per Pack
              %th Total Items
              - if @user.admin?
                %th Cost Currency
                %th Cost Price
                %th Total Cost Price
          %tbody
            - total_po_2 = 0
            - total_item_dp_confirm = 0
            - total_qty_pack = 0
            - total_items_all = 0
            - @items.each do |item|
              - total_order_in_pack = item.variant.stock_items.sum(:count_on_hand) / item.variant.product.total_items * -1
              - total_po_2 += total_order_in_pack
              - total_item_dp_confirm += item.dp_confirm.to_i
              - total_qty_pack += item.quantity
              - total_items_all += item.items
              %tr{id: "item_#{item.id}"}
                %td.align-center= image_tag item.variant.display_image.attachment(:mini)
                %td.align-center= item.variant.sku
                %td.align-center= total_order_in_pack
                %td.align-center= item.dp_confirm
                %td.align-center= text_field_tag "item_quantity[#{item.id}]", item.quantity, disabled: @purchase_order.confirmed? , class: "qty-pack", data: {"item-id" => "#{item.id}", "item-per-pack" => "#{item.variant.product.total_items}"}
                %td.align-center= item.variant.product.total_items
                %td.align-center= text_field_tag "total_items[#{item.id}]", item.items, id: "total_items_#{item.id}", disabled: true
                - if @user.admin?
                  %td.align-center= item.currency
                  %td.align-center= text_field_tag "cost_price[#{item.id}]", item.cost_price, class: "cost-price", data: {"item-id" => "#{item.id}", "item-per-pack" => "#{item.variant.product.total_items}"}
                  %td.total-cost-price.align-center= text_field_tag "total_cost_price[#{item.id}]", item.total, id: "total_cost_#{item.id}", class: "total_cost_price", disabled: true
                - else
                  = hidden_field_tag "cost_price[#{item.id}]", item.cost_price, class: "cost-price", data: {"item-id" => "#{item.id}", "item-per-pack" => "#{item.variant.product.total_items}"}
          - if @user.admin?
            %tfooter
              %tr
                %td.align-right{colspan: 2} TOTAL
                %td.align-center #{total_po_2}
                %td.align-center #{total_item_dp_confirm}
                %td.align-center #{total_qty_pack}
                %td.align-center
                %td.align-center #{total_items_all}
                %td.align-center
                %td.align-center= text_field_tag "total_po", @purchase_order.total, id: "total_po", disabled: true
        .align-center
          - if @purchase_order.pending_payment? || @purchase_order.confirmed?
            = submit_tag "Update Items"
#add-products.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Add Items
      .modal-body
        .panel-body
          = form_for "add_item", :url => add_item_admin_purchase_order_path(params[:id]), method: :put, html: {class: 'the-form-modal'} do |a|
            .form-group.form-group-default.required
              = a.label "Products"
              = a.collection_select(:variant_id, @variants, :id, :sku, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2', style: "width: 100%" })
            .actions
              = a.submit 'Submit', class: "btn btn-success"

:javascript
  $("input.qty-pack").on("input", function(e){
    var qty_pack = Number(e.target.value);
    var id = $(this).data("item-id");
    var items_per_pack = Number($(this).data("item-per-pack"));
    var cost_price = $("#cost_price_" + id).val()
    var total_item = qty_pack * items_per_pack


    $("#total_items_" + id).val(total_item);
    $("#total_cost_" + id).val(total_item * cost_price);

    var sum = 0;
    $('.total_cost_price').each(function() {
        var price = $(this);
        sum += parseInt(price.val())
    });

    $('#total_po').val(sum);
  })
  $("input.cost-price").on("input", function(e){
    var cost_price = Number(e.target.value);
    var id = $(this).data("item-id");
    var items_per_pack = Number($(this).data("item-per-pack"));
    var qty_pack = $("#item_quantity_" + id).val();
    var total_item = qty_pack * items_per_pack

    $("#total_items_" + id).val(total_item);
    $("#total_cost_" + id).val(total_item * cost_price);

    var sum = 0;
    $('.total_cost_price').each(function() {
        var price = $(this);
        sum += parseInt(price.val())
    });

    $('#total_po').val(sum);
  })

