= render :partial => 'spree/shared/error_messages', :locals => { :target => @purchase_order }
= form_for [:admin, @purchase_order], method: :post, url: admin_purchase_orders_path, :html => { :multipart => true } do |f|
  %fieldset{"data-hook" => "new_product"}
    %legend{:align => "center"} New Purchase Order
    = f.field_container :supplier do
      = f.label :supplier, class: 'required'
      %br/
      = f.collection_select(:supplier_id, @suppliers, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2', style: "width: 100%" })
      = f.error_message_on :supplier
    = render :partial => 'spree/admin/shared/new_resource_links'

