- admin_breadcrumb("Shipment Pending Purchase Order")
= paginate @purchase_orders, theme: "solidus_admin" 
%table
  %thead
    %tr
      %th Created at
      %th ID
      %th Supplier
      %th Total HPP
      %th Payment Status
      %th Shipping Status
      %th Notes
  %tbody
    - @purchase_orders.each do |po|
      %tr
        %td.align-center= po.created_at.to_date
        %td.align-center= link_to po.id, items_admin_purchase_order_path(po)
        %td.align-center= po.supplier.name
        %td.align-center= number_to_multi_currency(po.total, po.items.first.currency)
        %td.align-center
          = link_to po.payment_state.humanize, payment_admin_purchase_order_path(po)
        %td.align-center
          = link_to po.shipping_state.humanize, shipment_admin_purchase_order_path(po)
        %td.align-center= po.notes
= paginate @purchase_orders, theme: "solidus_admin" 