- content_for :page_title do
  = plural_resource_name(Spree::Testimonial)
- if @testimonials.present?
  = paginate @testimonials, theme: "solidus_admin" 
  %table#listing_banks.table
    %thead
      %tr{"data-hook" => "admin_news_index_headers"}
        %th Name
        %th Testimonial
        %th Publish
    %tbody
      - @testimonials.each do |testi|
        %tr
          %td= testi.name
          %td= testi.testimonial
          %td
            - if testi.publish == true
              Yes
            - else
              No
          %td.actions
            - if can?(:destroy, testi)
              = link_to_delete testi, :no_text => true
            = link_to_with_icon "#{testi.publish == true ? 'eye-slash' : 'eye' }", "#{testi.publish == true ? "Hide" : "Publish" }",publish_admin_testimonial_path(testi) , :no_text => true
  = paginate @testimonials, theme: "solidus_admin" 
- else
  .alert.alert-info.no-objects-found
    = Spree.t(:no_resource_found, resource: plural_resource_name(Spree::News))
    ,
    \#{link_to(Spree.t(:add_one), new_object_url) if can? :create, Spree::News}!