%legend{:align => "center"} Container
.four.columns.alpha
  = f.field_container :name do
    = f.label :name, "Nama Kontainer", class: 'required'
    %br/
    = f.text_field :name, :class => 'fullwidth title', :required => true
    = f.error_message_on :name
.four.columns.alpha
  = f.field_container :delivery_date do
    = f.label :delivery_date, "Tanggal Berangkat", class: 'required'
    %br/
    = f.text_field :delivery_date, :value => datepicker_field_value(@container.delivery_date), :class => 'datepicker fullwidth'
    = f.error_message_on :delivery_date
.four.columns.alpha
  = f.field_container :eta_date do
    = f.label :eta_date, "Estimasi Sampai", class: 'required'
    %br/
    = f.text_field :eta_date, :value => datepicker_field_value(@container.eta_date), :class => 'datepicker fullwidth'
    = f.error_message_on :eta_date
.four.columns.alpha
  = f.field_container :sack do
    = f.label :sack, "Karung / Koli", class: 'required'
    %br/
    = f.text_field :sack, :class => 'fullwidth title', :required => true
    = f.error_message_on :sack

.clearfix
.five.columns.alpha
  = f.field_container :supplier_id do
    = f.label :supplier_id, "Supplier", class: 'required'
    %br/
    = f.collection_select(:supplier_id, Spree::Supplier.available_to_ship.uniq, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2 fullwidth' })
    = f.error_message_on :supplier_id
.four.columns.alpha
  = f.field_container :delivery_orders do
    = f.label :delivery_orders, "Surat Jalan", class: 'required'
    %br/
    = f.text_field :delivery_orders, :class => 'fullwidth title', :required => true
    = f.error_message_on :delivery_orders
.three.columns.alpha
  = f.field_container :cbm do
    = f.label :cbm, class: 'required'
    %br/
    = f.text_field :cbm, :class => 'fullwidth title', :required => true
    = f.error_message_on :cbm
- if current_spree_user.admin?
  .four.columns.alpha
    = f.field_container :biaya_import do
      = f.label :biaya_import, "Biaya Import", class: 'required'
      %br/
      = f.text_field :biaya_import, :class => 'fullwidth'
      = f.error_message_on :biaya_import
