- admin_breadcrumb(plural_resource_name(Spree::Container))

- content_for :page_actions do
  %li
    = button_link_to "New Container", new_admin_container_url()
= form_for('Filter_container', :as => 'filter_container', method: :get, :url => admin_containers_path) do |f|
  .row 
    .col-sm-4
      .form-group.form-group-default.required
        %label SKU
        = text_field_tag 'sku_contain', nil,class: 'form-control'
    .col-sm-4
      .form-group.form-group-default.required
        %label ID
        = text_field_tag 'id_is', nil,class: 'form-control'
    .col-sm-4
      .form-group.form-group-default.required
        %label Name
        = text_field_tag 'name_user', nil,class: 'form-control'
    .col-sm-6
      = f.submit "Search", class: "btn btn-success"
-if @containers.any? 
  = paginate @containers, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th.align-left{width: "10%"} Created at
        %th.align-left{width: "5%"} ID
        %th.align-left{width: "17%"} Name
        %th.align-left{width: "10%"} Tanggal Pengiriman
        %th.align-left{width: "10%"} Estimasi Waktu Sampai
        %th.align-left{width: "10%"} Surat Jalan
        %th.align-left{width: "5%"} Karung / Koli
        %th.align-left{width: "3%"} CBM
        %th.align-left{width: "10%"} Total Order Qty (Pcs)
        %th.align-left{width: "10%"} Total Order Received (Pcs)
        %th.align-left{width: "10%"} Shipment State
        - if current_spree_user.admin?
          %th.align-left{width: "10%"} Biaya Import (pcs)
    %tbody
      - @containers.each do |c|
        %tr
          %td= c.created_at.to_date
          %td= link_to c.id, admin_container_path(c.id)
          %td #{c.name}
          %td= c.delivery_date.to_date
          %td= c.eta_date.to_date
          %td= c.delivery_orders
          %td= c.sack
          %td= c.cbm 
          %td= c.total_order_qty 
          %td= c.total_order_received_qty 
          %td= c.status.humanize
          - if current_spree_user.admin?
            %td= number_to_idr c.biaya_per_pcs
          %td.actions
            = link_to_delete c, :no_text => true if can?(:delete, c)
  = paginate @containers, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    = render 'spree/admin/shared/no_objects_found', resource: Spree::Container, new_resource_url: new_object_url