= render :partial => 'spree/shared/error_messages', :locals => { :target => @container }
= form_for [:admin, @container], method: :post, url: admin_containers_path, :html => { :multipart => true } do |f|
  %fieldset{"data-hook" => "new_product"}
    = render :partial => "form", locals: {f: f}
    .clearfix
    = render :partial => 'spree/admin/shared/new_resource_links'

