- admin_breadcrumb("Container: #{@container.supplier.name} / #{@container.name}")
- content_for :page_actions do
  %li
    = button_link_to "Lihat Isi Container", admin_container_path(@container)

- content_for :table_filter do
  %div
    = search_form_for @search, url: new_item_admin_container_path(@container) do |f|
      - locals = {:f => f}
      .row
        .col-xs-4.col-md-offset-4
          .field
            = f.label :variant_sku_cont, Spree::Variant.human_attribute_name(:sku)
            = f.text_field :variant_sku_cont, :size => 15
      .actions.filter-actions
        = button Spree.t(:search)

%fieldset
  %legend{:align => "center"} Product Items
  %table
    %thead
      %tr
        %th Purchase ID
        %th Image
        %th SKU
        %th Pack Qty
        %th Isi per Pack
        %th Total Pieces
        %th Pcs Received
        %th Sisa
        %th Qty Send (pcs)
        %th Pack
    %tbody
      -if @purchase_order_lines.any? 
        = paginate @purchase_order_lines, theme: "solidus_admin" 
        - @purchase_order_lines.each do |line|
          = form_tag update_items_admin_container_path, method: :put do
            %tr
              %td.align-center= link_to line.purchase_order.id, items_admin_purchase_order_path(line.purchase_order.id)
              %td.align-center= image_tag line.variant.display_image.attachment(:mini)
              %td.align-center= line.variant.sku
              %td.align-center= line.quantity
              %td.align-center= line.variant.product.total_items
              %td.align-center= line.items
              %td.align-center= line.total_received
              %td.align-center= line.outstanding_pieces
              %td= text_field_tag "container_items[#{line.variant_id}][qty_send]"
              %td= text_field_tag "container_items[#{line.variant_id}][pack]"
              %td.actions
                = hidden_field_tag "container_items[#{line.variant_id}][purchase_line_item_id]", line.id
                = button_tag "", class: "fa fa-truck icon_link with-tip no-text"
  .align-center
