- admin_breadcrumb("Selisih Barang")
- content_for :table_filter do
  %div
    = search_form_for @search, url: selisih_barang_admin_containers_path do |f|
      .row
        .col-xs-4
          .field
            = f.label :variant_sku_cont, "Code Item"
            = f.text_field :variant_sku_cont, :size => 15
        .col-xs-4
          .field
            = f.label :container_id_eq, "Container ID"
            = f.text_field :container_id_eq, :size => 15
        .col-xs-4
          .field
            = f.label :container_delivery_orders_cont, "Surat Jalan"
            = f.text_field :container_delivery_orders_cont, :size => 15
      .actions.filter-actions
        = button Spree.t(:search)
-if @items.any? 
  = paginate @items, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th.align-left Created at
        %th.align-left ID Container
        %th.align-left Image
        %th.align-left Code Item
        %th.align-left Tanggal Pengiriman
        %th.align-left Estimasi Waktu Sampai
        %th.align-left Surat Jalan
        %th.align-left Total Order Qty (Pcs)
        %th.align-left Total Order Received (Pcs)
        %th.align-left Selisih Barang
        %th.align-left Shipment State
    %tbody
      - @items.each do |c|
        %tr
          %td= c.created_at.to_date
          %td= link_to c.container_id, admin_container_path(c.container_id)
          %td= image_tag(c.variant.display_image(fallback: false).attachment(:mini))
          %td= c.variant.sku
          %td= c.container.delivery_date.to_date
          %td= c.container.eta_date.to_date
          %td= c.container.delivery_orders
          %td= c.total_items 
          %td= c.qty_received
          %td= c.qty_received - c.total_items
          %td= c.status.humanize
          - if c.received?
            %td.actions
              - if c.purchase_line_item.paid? && c.shortage?
                = link_to "", refund_admin_container_item_path(c), method: :put, class: 'fa fa-money icon_link with-tip no-text', "data-original-title" => "Refund Deposit", data: {confirm: "Are you sure you want to refund deposit for this item?"}
                = link_to "", treat_as_expense_admin_container_item_path(c), method: :put, class: 'fa fa-cancel icon_link with-tip no-text', "data-original-title" => "Treat as Expense", data: {confirm: "Are you sure you want to treat as expense for this item?"}
              - else
                = link_to "", complete_admin_container_item_path(c), method: :put, class: 'fa fa-capture icon_link with-tip no-text', "data-original-title" => "Mark as Complete", data: {confirm: "Are you sure you want to mark as complete this item?"}
              - if c.excess_shipping?
                = link_to "", generate_po_admin_container_item_path(c), method: :put, class: 'fa fa-book icon_link with-tip no-text', "data-original-title" => "Create Purchase Order", data: {confirm: "Are you sure you want to create purchase order for this item?"}
  = paginate @items, theme: "solidus_admin" 