- content_for :page_actions do
  %li
    = button_link_to "Tambah Barang", new_item_admin_container_url(@container)

= render :partial => 'spree/shared/error_messages', :locals => { :target => @container_items }
= form_for [:admin, @container], method: :put, url: admin_container_path(@container), :html => { :multipart => true } do |f|
  %fieldset{"data-hook" => "new_product"}
    = render :partial => "form", locals: {f: f}
    .clearfix
    = render :partial => 'spree/admin/shared/edit_resource_links'
%fieldset
  %legend{:align => "center"} Product Items
  = form_for('Filter_container', :as => 'filter_container', method: :get, :url => admin_container_path) do |f|
    .row 
      .col-sm-8
        .form-group.form-group-default.required
          %label SKU
          = text_field_tag 'sku_contain', nil, class: 'form-control'
      .col-sm-4
        = f.submit "Search", class: "btn btn-success"
  = form_tag receive_items_admin_container_path, method: :put do
    %table
      %thead
        %tr
          %th.align-left{style: "width: 5%"} Purchase ID
          %th.align-left{style: "width: 10%"} Image
          %th.align-center{style: "width: 20%"} SKU
          %th.align-center{style: "width: 5%"} Qty Send (Pcs)
          %th.align-center{style: "width: 5%"} Isi
          %th.align-center{style: "width: 5%"} Qty
          %th.align-left{style: "width: 5%"} Pack
          %th.align-left{style: "width: 15%"} Qty Received (Pcs)
          %th.align-left{style: "width: 15%"} Weight per Pcs (Kg)
          %th.align-left{style: "width: 15%"} Status
      %tbody
        - @purchase_order_lines.each do |line|
          %tr
            %td= line.purchase_order_id
            %td= image_tag line.variant.display_image.attachment(:mini)
            %td= line.variant.sku
            %td.align-center= line.qty_send
            %td.align-center= line.variant.product.total_items
            %td.align-center= line.quantity
            %td= line.pack
            %td= text_field_tag "container_items[#{line.id}][qty_received]", line.qty_received, disabled: line.received? || line.completed?
            %td= text_field_tag "container_items[#{line.id}][weight]", number_with_precision(line.send(:weight), precision: 2), disabled: line.received? || line.completed?
            %td= line.status.humanize
            %td.actions
              - if line.shipped?
                =link_to "", delete_item_admin_container_item_path(line), class: 'fa fa-trash icon_link with-tip no-text', "data-original-title" => "Delete", data: {confirm: "Are you sure you want to delete this item?"}
              - if spree_current_user.admin?
                -if line.received? || line.completed?
                  =link_to "", reverse_admin_container_item_path(line), class: 'fa fa-undo icon_link with-tip no-text', "data-original-title" => "Reverse", data: {confirm: "Are you sure you want to reverse this item?"}
      %tfooter
        %tr
          %td.align-center{colspan: 3} Total
          %td.align-center #{@purchase_order_lines.sum(:qty_send)}
          %td.align-center
          %td.align-center #{@purchase_order_lines.sum(:quantity)}
          %td.align-center #{@purchase_order_lines.sum(:pack)}
          %td.align-center #{@purchase_order_lines.sum(:qty_received)}

    .align-center
      - if !@container.completed?
        = submit_tag "Submit"
