<% admin_layout "full-width" %>

<% admin_breadcrumb(plural_resource_name(Spree::Product)) %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to 'Preorder', admin_products_path(@search, :'q[is_preorder_true]' => '1') %>
  </li>
  <li>
    <%= button_link_to 'Ready Stock', admin_products_path(@search, :'q[is_preorder_true]' => '0') %>
  </li>
  <li id="new_product_link">
    <%= button_link_to Spree.t(:new_product), new_object_url, { :remote => true, :id => 'admin_new_product' } %>
  </li>
  <li>
    <%= button_link_to "Download CSV", admin_exports_path, :no_text => true %>
  </li>
<% end if can?(:create, Spree::Product) %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_products_sidebar">
    <%= search_form_for [:admin, @search] do |f| %>
        <%- locals = {:f => f} %>
        <div class="row" data-hook="admin_products_index_search" >
          <div class="col-xs-4">
            <div class="field">
              <%= f.label :name_cont, Spree::Product.human_attribute_name(:name) %>
              <%= f.text_field :name_cont, :size => 15 %>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="field">
              <%= f.label :variants_including_master_sku_cont, Spree::Variant.human_attribute_name(:sku) %>
              <%= f.text_field :variants_including_master_sku_cont, :size => 15 %>
            </div>
          </div>

          <div class="col-xs-2">
            <div class="field checkbox">
              <label>
                <%= f.check_box :available_on_null, {:checked => params[:q][:available_on_null] == '0'}, '0', '1' %>
                <%= "Hidden Product" %>
              </label>
            </div>
          </div>
        </div>
        <%= f.check_box :is_preorder_true, {:checked => params[:q][:is_preorder_true] == '1', class: "hidden"}, '1', '0' %>
        <div class="actions filter-actions" data-hook="admin_products_index_search_buttons">
          <%= button Spree.t(:search) %>
        </div>
    <% end %>
  </div>
<% end %>

<div id="new_product_wrapper" data-hook></div>

<%= paginate @collection, theme: "solidus_admin" %>

<% if @collection.any? %>
  <table class="index" id="listing_products">
    <thead>
      <tr data-hook="admin_products_index_headers">
        <th class= "align-left"><%= Spree::Variant.human_attribute_name(:sku) %></th>
        <th class= "align-left" colspan="2"><%= sort_link @search,:name, Spree::Product.human_attribute_name(:name), { :default_order => "desc" }, {:title => 'admin_products_listing_name_title'} %></th>
        <th class= "align-left"> Status </th>
        <% if params[:q][:is_preorder_true] == "1" %>
          <th class= "align-left"> PO (pack) </th>
          <th class= "align-left"> Dp Confirm (pack) </th>
          <th class= "align-left"> Purchase Supplier (pack) </th>
          <th class= "align-left"> Sisa (pack) </th>
        <% else %>
          <th class= "align-left"> Count on Hand </th>
          <th class= "align-left"> Stock Pending </th>
          <th class= "align-left"> Stock Gudang </th>
        <% end %>
        <th class= "align-left"><%= Spree::Product.human_attribute_name(:price) %></th>
        <% if spree_current_user.admin? %>
          <th class= "align-left"> HPP </th>
        <% end %>
        <% unless params[:q][:is_preorder_true] == "1" %>
          <th class= "align-left"> Harga Sale </th>
        <% end %>
        <% if current_spree_user.admin? %>
          <th class= "align-left"> Biaya Import </th>
        <% end %>
        <th data-hook="admin_products_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |product| %>
          <tr <%== "style='color: red;'" if product.deleted? %> id="<%= spree_dom_id product %>" data-hook="admin_products_index_rows" class="<%= cycle('odd', 'even') %>">
            <td><%= product.sku %></td>
            <td><%= image_tag product.display_image.attachment(:mini) %></td>
            <td><%= link_to product.try(:name), edit_admin_product_path(product) %></td>
            <td><%= product.product_type %></td>
            <% if params[:q][:is_preorder_true] == "1" %>
              <td class="align-center"><%= product.total_items.present? ? product.stock_items.first.count_on_hand/product.total_items.to_i : "0" %></td>
            <% else %>
              <td class="align-center"><%= product.stock_items.first.count_on_hand %></td>
              <td class="align-center"><%= product.stock_pending.to_i %></td>
              <td class="align-center"><%= product.stock_gudang.to_i %></td>
            <% end %>
            <% if params[:q][:is_preorder_true] == "1"%>
              <td><%= Spree::LineItem.where(variant_id: product.stock_items.first.variant_id).dp_confirm.sum(:quantity) %></td>
              <td><%= product.total_items.present? ? product.stock_items.first.expected_count_on_hand/product.total_items.to_i : "0" %></td>
              <td><%= product.total_items.present? ? (product.stock_items.first.count_on_hand + product.stock_items.first.expected_count_on_hand)/product.total_items.to_i : "0" %></td>
            <% end %>
            <td><%= product.display_price.to_html %></td>
            <% if spree_current_user.admin? && product.master.present? %>
              <td><%= number_to_multi_currency(product.master.cost_price, product.master.cost_currency) %></td>
            <% end %>
            <% unless params[:q][:is_preorder_true] == "1" %>
              <td><%= Spree::Money.new(product.sale_price, currency: "IDR") %></td>
            <% end %>
            <% if current_spree_user.admin? %>
              <td><%= Spree::Money.new(product.master.biaya_import, currency: "IDR") %></td>
            <% end %>
            <td class="actions" data-hook="admin_products_index_row_actions">
              <%= link_to "", admin_view_buyer_path(product), class: 'fa fa-users icon_link with-tip no-text', "data-original-title" => "view buyer" %>
              <%= link_to_edit product, :no_text => true, :class => 'edit' if can?(:edit, product) && !product.deleted? %>
              &nbsp;
              <% if product.available_on.nil? %>
                <%= link_to "", admin_hide_show_product_path(product), class: 'fa fa-eye icon_link with-tip no-text', "data-original-title" => "Show Product" %>
              <% else %>
                <%= link_to "", admin_hide_show_product_path(product), class: 'fa fa-eye-slash icon_link with-tip no-text', "data-original-title" => "Hide Product" %>
              <% end %>
              <!-- <%= link_to_clone product, :no_text => true, :class => 'clone' if can?(:clone, product) %> -->
              <!-- &nbsp; -->
              <!-- <%= link_to_delete product, :no_text => true if can?(:delete, product) && !product.deleted? %> -->
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="col-xs-9 no-objects-found">
    <%= render 'spree/admin/shared/no_objects_found',
                  resource: Spree::Product,
                  new_resource_url: new_object_url %>
  </div>
<% end %>

<%= paginate @collection, theme: "solidus_admin" %>
