- admin_breadcrumb("Order Product")

-if @inventory_units.any? 
  = paginate @inventory_units, theme: "solidus_admin"
  %table
    %thead
      %tr
        %th.align-left Order Date
        %th.align-left Product
        %th.align-left Buyer Name
        %th.align-left Order number
        %th.align-left Unit Status
        %th.align-left Status Payment
        %th.align-left Quantity (pcs)
        %th.align-left Quantity (pack)
    %tbody
      - summary_pending = 0
      - summary_paid = 0
      - summary_cancel = 0
      - summary_credit_owed = 0
      - summary_shipped = 0
      - @inventory_units.each do |c|
        %tr
          %td= c.created_at.to_date
          %td= c.variant.sku
          %td= c.try(:order).try(:user).try(:name)
          - if c.order.preorder?
            %td= link_to c.order.number, spree.admin_order_customer_url(c.order)
          - else
            %td= link_to c.order.number, edit_admin_order_path(c.order)
          %td= c.state_to_human
          %td= c.order_payment_state_human
          %td #{c.shipped? ? c.shipped : c.total_pieces} pcs
          %td #{c.line_item_or_iu_expected_shipped_in_pack} pack
          - if c.order.payment_state == "balance_due" || c.order_payment_state_human == "Pending on Invoice"
            - summary_pending += c.line_item_or_iu_expected_shipped_in_pack
          - if c.state == "shipped"
            - summary_shipped += c.line_item_or_iu_expected_shipped_in_pack
          - elsif c.order_payment_state_human == "Dp Confirmed" || c.order_payment_state_human == "Paid" || c.order_payment_state_human == "Invoice Paid"
            - summary_paid += c.line_item_or_iu_expected_shipped_in_pack
          - elsif c.order_payment_state_human == "Cancel Item" || c.order_payment_state_human == "Invoice Canceled"
            - summary_cancel += c.line_item_or_iu_expected_shipped_in_pack
          - elsif c.order.payment_state == "void"
            - summary_cancel += c.line_item_or_iu_expected_shipped_in_pack
          - elsif c.order.payment_state == "credit_owed"
            - summary_credit_owed += c.line_item_or_iu_expected_shipped_in_pack
    %tfooter
      %tr
        %td.align-right{colspan: 7} Shipped
        %td #{summary_shipped}
      %tr
        %td.align-right{colspan: 7} Payment Paid & Dp Confirmed
        %td #{summary_paid}
      %tr
        %td.align-right{colspan: 7} Payment Pending
        %td #{summary_pending}
      %tr
        %td.align-right{colspan: 7} Over Payment
        %td #{summary_credit_owed}
      %tr
        %td.align-right{colspan: 7} Cancel Order/Item
        %td #{summary_cancel}
      %tr
        %td.align-right{colspan: 7} 
          %strong.h5 Total
        %td
          %strong.h5 #{summary_paid + summary_pending + summary_credit_owed}
  = paginate @inventory_units, theme: "solidus_admin"
- else
  .alpha.twelve.columns.no-objects-found
    Not Found