- admin_breadcrumb(link_to plural_resource_name(Spree::LegacyUser), spree.admin_users_path)
- admin_breadcrumb(link_to @user.email, edit_admin_user_url(@user))
- admin_breadcrumb(Spree::StoreCredit.model_name.human)
= render 'spree/admin/users/sidebar'
= render 'spree/admin/users/tabs', current: :store_credits
- content_for :page_actions do
  - if can?(:create, Spree::StoreCredit) && spree_current_user.admin?
    %li= link_to Spree.t("admin.store_credits.add"), new_admin_user_store_credit_path(@user), class: 'button'
  - if !@user.total_available_store_credit.zero?
    %li= link_to "Cash Out", cash_out_new_admin_cash_out_requests_path(user_id: @user.id), class: 'button'
- if @store_credits.any?
  #sc-current-balance
    %strong
      = Spree.t("admin.store_credits.current_balance")
    = @user.display_total_available_store_credit
  %table#sc-table
    %thead
      %th= Spree::StoreCredit.human_attribute_name(:amount_credited)
      %th= Spree::StoreCredit.human_attribute_name(:amount_used)
      %th= Spree::StoreCredit.human_attribute_name(:amount_authorized)
      %th= Spree::StoreCredit.human_attribute_name(:category_id)
      %th= Spree::StoreCredit.human_attribute_name(:created_by_id)
      %th= Spree::StoreCredit.human_attribute_name(:created_at)
      %th= Spree::StoreCredit.human_attribute_name(:invalidated_at)
      %th.actions{"data-hook" => "admin_store_credits_index_header_actions"}
      %thead
    %tbody
      - @store_credits.each do |store_credit|
        %tr
          %td.align-center
            %span= store_credit.display_amount.to_html
          %td.align-center
            %span= store_credit.display_amount_used.to_html
          %td.align-center
            %span= store_credit.display_amount_authorized.to_html
          %td.align-center
            %span= store_credit.category_name
          %td
            %span= store_credit.created_by_email
          %td.align-center
            %span= l store_credit.created_at.to_date
          %td.align-center
            %span= store_credit.invalidated?
          %td.actions{"data-hook" => "admin_store_credits_index_row_actions"}
            - if can?(:show, store_credit)
              = link_to_edit_url admin_user_store_credit_path(@user, store_credit), { no_text: true, class: 'edit' }
- else
  .col-xs-9.no-objects-found
    = render 'spree/admin/shared/no_objects_found', |
      resource: Spree::StoreCredit,                 |
      new_resource_url: new_object_url              |