= form_for @payment_confirmation, html: {class: "form-horizontal"} do |f|
  .modal-header
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    %h4#myModalLabel.modal-title Confirm your payment
  .modal-body
    %table.table
      %thead
        %tr
          %th Order ID
          %th Amount
          %th Type
      %tbody
        - @ready_stock_orders.each do |order|
          %tr
            %td 
              - if order.payment_confirmations.empty?
                .checkbox
                  %label
                    = check_box_tag "order[]", order.id, false, class: "checkbox-payment", "data-price" => "#{order.outstanding_balance}"
                    = order.number
              - else
                #{order.id} - waiting for confirmation
            %td
              = order.display_outstanding_balance.to_html
            %td Ready Stock

        - @preorders.each do |order|
          %tr
            %td 
              - if order.payment_confirmations.empty?
                .checkbox
                  %label
                    = check_box_tag "order[]", order.id, false, class: "checkbox-payment", "data-price" => "#{order.down_payment_total}"
                    = order.number
              - else
                #{order.id} - waiting for confirmation
            %td
              = display_down_payment_total(order)
            %td Preorder
        - @invoices.each do |invoice|
          %tr
            %td 
              - if invoice.payment_confirmations.empty?
                .checkbox
                  %label
                    = check_box_tag "invoice[]", invoice.id, false, class: "checkbox-payment", "data-price" => "#{total_amount(invoice.items, invoice.items.first.shipment)-invoice.dp_paid}"
                    = invoice.id
              - else
                #{invoice.id} - waiting for confirmation
            %td
              = number_to_currency invoice.outstanding_balance
            %td Invoice from Preorder
    .form-group
      = f.label :bank_destination, "Transfer ke rekening", class: 'col-sm-3 control-label text-left'
      .col-sm-7.col-xs-10
        = f.collection_select :bank_destination, Spree::Bank.where(id: [current_spree_user.bank_id,current_spree_user.bank2_id]) , :name, Proc.new{|a|"#{a.name} (#{a.account_no})"}, {}, {class: 'form-control'}
    .form-group
      = f.label :bank_sender, "Dari Bank", class: 'col-sm-3 control-label text-left'
      .col-sm-7.col-xs-10
        = f.text_field :bank_sender, class: 'form-control'
    .form-group
      = f.label :sender_name, "Nama Rekening Anda", class: 'col-sm-3 control-label text-left'
      .col-sm-7.col-xs-10
        = f.text_field :sender_name, class: 'form-control'
    .form-group
      = f.label :amount, "Jumlah Transfer", class: 'col-sm-3 control-label text-left'
      .col-sm-7.col-xs-10
        = f.text_field :amount, class: 'form-control'
    .form-group
      =f.label :transaction_date, "Tanggal Transfer", class: 'col-sm-3 control-label text-left'
      .col-sm-7.col-xs-10
        = f.date_field :transaction_date, class: 'form-control'
    .form-group
      = f.label :note, class: 'col-sm-3 control-label text-left'
      .col-sm-7.col-xs-10
        = f.text_field :note, class: "form-control"
    = f.hidden_field :user_id, value: current_spree_user.id
    %p{style: "color: #e42074"}
      Note:
      %br
      1 Konfirmasi bayar adalah untuk 1x transfer dari anda. Apabila dalam 1 hari anda ada 2x transfer ke kami maka silahkan buat konfirmasi order yang baru.
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    = f.submit "Confirm", class: 'btn btn-pink'

:javascript
  $('input:checkbox.checkbox-payment').change(function(){ 
    var tot=0;
    $('input:checkbox:checked.checkbox-payment').each(function(){
      tot+=parseInt($(this).data("price"));
      console.log(tot);
    });
    $('#payment_confirmation_amount').val(tot);
  });


  