- @histories = @current_spree_user.store_credit_histories.order(created_at: :asc).page(params[:page]).per(30)
- if @histories.any?
  %h2.align-center History
  %table.table.store-credit{style: "font-size: 12px"}
    %thead
      %tr
        %th Transaction Date
        %th Category
        %th Memo
        %th Amount
        %th Balance
    %tbody
      - @histories.each do |store_credit|
        %tr{class: "#{store_credit.action}"}
          %td= store_credit.created_at.to_date
          %td= store_credit.try(:store_credit_event).try(:store_credit).try(:category).try(:name)
          %td= store_credit.memo
          %td= number_to_currency store_credit.amount
          %td= number_to_currency store_credit.balance
  = paginate @histories
- else
  No History
