.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Tata Cara Menggunakan Store Credit
.modal-body
  %p{style: "color: #000"}
    1. Anda dapat menggunakan store credit ketika anda melakukan order dengan cara memilih 'Ya' ketika dalam memilih Payment 'Apakah Anda ingin menggunakan saldo Anda?'
    %br
    %br
    2. Anda dapat menggunakan store credit untuk membayar order ready stock atau untuk membayar dp preorder yg telah ada dengan cara ke My Account -&gt; Pilih Tab Ready Stock Orders / Preorders -&gt; Pay with Store Credit di order yg status paymentnya masih Pending
    %br
    %br
    3. Anda dapat menggunakan store credit untuk membayar Invoice PO  dengan cara ke My Account -&gt; Pilih Tab Invoices -&gt; Pay with Store Credit di invoice yg statusnya masih Pending Payment
    %br
    %br 
    4. Anda dapat menggunakan store credit untuk membayar Credit (Hutang)  dengan cara ke My Account -&gt; Pilih Tab My Credits -&gt; Pay with Store Credit di credit yg status paymentnya masih Pending Payment
.modal-footer
  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close