.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-heading
      %h3.panel-title= Spree.t(:editing_user)
    .panel-body
      = render :partial => 'spree/shared/error_messages', :locals => { :target => @user }
      = form_for Spree::User.new, :as => @user, :url => spree.user_path(@user), :method => :put do |f|
        = render :partial => 'spree/shared/user_form', :locals => { :f => f }
        %p
          = f.submit Spree.t(:update), :class => 'btn btn-primary'
