.panel.panel-transparent
  %ul.nav.nav-tabs.nav-tabs-fillup{"data-init-reponsive-tabs" => "dropdownfx"}
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab-fillup1"}
        %span Account
    %li
      %a{"data-toggle" => "tab", :href => "#tab-fillup3"}
        %span Ready Stock Orders
    %li
      %a{"data-toggle" => "tab", :href => "#tab-fillup5"}
        %span Preorders
    %li
      %a{"data-toggle" => "tab", :href => "#tab-fillup6"}
        %span Invoices
    %li
      %a{"data-toggle" => "tab", :href => "#tab-fillup4"}
        %span My Credits
    %li
      %a{"data-toggle" => "tab", :href => "#tab-fillup2"}
        %span Store Credit
.tab-content
  #tab-fillup1.tab-pane.active
    .right.general-page
      %h2= accurate_title
      %br/
      .account-summary.well{"data-hook" => "account_summary"}
        %dl#user-info
          %dt= Spree.t(:email)
          %dd
            = @user.email
            (#{link_to Spree.t(:edit), spree.edit_account_path})
        %br
        - if @user.user_addresses.default.present?
          %dl
            %dt Address
            - address = @user.user_addresses.default.first.address
            %dd
              %p #{address.first_name} #{address.last_name}
              %p #{address.address1}. #{address.address2}. #{address.state.name}. #{address.zipcode}
              %p telp: #{address.phone} #{link_to "(Show more)", user_addresses_path if @user.user_addresses.count > 1}
    .right.general-page
      %h2 Total Transaction
      %br/
      .account-summary.well{"data-hook" => "account_summary_total"}
        %h5{:style => "text-align: right;"} Member Type : #{@user.member_type}
        %br
        #jcart
          %table.table.table-striped.order-summary
            %thead.active
              %tr
                %th.order-number Old Transaction Total
                %th.order-number Transaction Ready Stock
                %th.order-date Transaction Invoice
                %th.order-payment-state Transaction Total
              %tbody
                %tr{:style => "text-align: center;"}
                  %td.order-number #{number_to_currency(@user.old_transaction_total)}
                  %td.order-number #{number_to_currency(@user.orders.paid.ready_stock.sum(:total))}
                  %td.order-number #{number_to_currency(@user.invoices.paid.sum(:total))}
                  %td.order-number #{number_to_currency(@user.total_transaction)}
  #tab-fillup2.tab-pane
    .right.general-page
      .account-my-orders{"data-hook" => "account_my_orders"}
        %h2 
          Store Credit
          %small{style: "font-size:16px;"} 
            %strong #{@user.display_total_available_store_credit}
        = link_to "Cash Out", new_cash_out_request_url, "data-toggle" => "modal", "data-target" => "#cash-out", class: "btn btn-pink"
        %button{"data-toggle" => "modal", "data-target" => "#tata-cara-sc", "class" => "btn btn-pink"} Tata Cara Penggunaan Store Credit
        %br
        %br
        .account-summary.well{"data-hook" => "account_summary"}
          = render "store_credit_history"
        %br/
  #tab-fillup3.tab-pane
    .right.general-page
      .account-my-orders{"data-hook" => "account_my_orders"}
        %h2= Spree.t(:my_orders)
        %br/
        = link_to "Return Request", shipped_order_return_authorization_users_path, class: "btn btn-pink"
        .pull-right
          = form_tag account_path(spree_current_user), method: :get do
            = text_field_tag :sku_contain, nil , class: 'form-control', placeholder: "Search by Code Product"
        %br
        %br
        - @ready_stocks = @orders.ready_stock.filter(params.slice(:sku_contain)).page(params[:page]).per(30)
        - if @ready_stocks.present?
          = paginate @ready_stocks
          #jcart
            %table.table.table-striped.order-summary
              %thead.active
                %tr
                  %th.order-number ID
                  %th.order-date= Spree.t(:date)
                  %th.order-payment-state Payment Status
                  %th.order-shipment-state Shipment Status
                  %th.order-total= Spree.t(:total)
                  %th{colspan: 2} Action
              %tbody
                - @ready_stocks.each do |order|
                  %tr{:style => "text-align: center;"}
                    %td.order-number= link_to order.number, order_url(order)
                    %td.order-date= l order.completed_at.to_date
                    %td.order-payment-state 
                      %span.badge{style: "background-color: #{if order.payment_state == "balance_due" then "#d9534f" elsif order.payment_state == "paid" then "#5cb85c" else "" end}"} #{order.payment_state_human}
                    %td.order-shipment-state= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state
                    %td.lead.text-primary.order-total= order.display_total
                    %td
                      = link_to "Details", user_order_show_path(order), "data-toggle" => "modal", "data-target" => "#order-modal"
                      |
                      = link_to "Print", orders_print_path(order, :pdf)
                    %td 
                      - if order.payment_state == "balance_due" && !@user.total_available_store_credit.zero?
                        = link_to "Pay With Store Credit", pay_sc_order_path(order), "data-toggle" => "modal", "data-target" => "#pay-sc-order"
        - else
          .alert.alert-info= Spree.t(:you_have_no_orders_yet)
        %br
          = link_to "Clear search", account_path(spree_current_user), class: 'btn btn-pink'
  #tab-fillup5.tab-pane
    .right.general-page
      .account-my-orders{"data-hook" => "account_my_orders"}
        %h2 Preorders
        %br
        = link_to "Return Request", shipped_order_return_authorization_users_path, class: "btn btn-pink"
        .pull-right
          = form_tag account_path(spree_current_user), method: :get do
            = text_field_tag :sku_contain, nil , class: 'form-control', placeholder: "Search by Code Product"
        %br
        %br
        %p{style: "color: #e42074; font-size:small"}
          Note: warna pada kolom items menandakan status shipment
          %span.badge{:style => "background-color:#8dc641"}Shipped
          %span.badge{:style => "background-color:#f9a11e"}Ready
          %span.badge{:style => "background-color:#d9534f"}Not Ready / Cancel
        %br
        %br
        - @preorders = @orders.preorder.filter(params.slice(:sku_contain)).page(params[:page]).per(30)
        - if @preorders.present?
          = paginate @preorders
          #jcart
            %table.table.table-striped.order-summary
              %thead.active
                %tr
                  %th.order-number ID
                  %th.order-date= Spree.t(:date)
                  %th.order-payment-state Payment Status
                  %th.order-total Down Payment
                  %th Items
                  %th{colspan: 2} Action
              %tbody
                - @preorders.each do |order|
                  %tr{:style => "text-align: center;"}
                    %td.order-number= link_to order.number, order_url(order)
                    %td.order-date= l order.completed_at.to_date
                    %td.order-payment-state 
                      %span.badge{style: "background-color: #{if order.payment_state == "balance_due" then "#d9534f" elsif order.payment_state == "paid" then "#5cb85c" else "" end}"} #{order.payment_state_human}
                    %td.lead.text-primary.order-total= number_to_currency order.down_payment_total
                    %td
                      - order.line_items.each do |item|
                        - inv_unit = item.inventory_units.first
                        %li{style: "color: #{if inv_unit.state == "shipped" then "#8dc641" elsif inv_unit.state == "backordered" then "#d9534f" elsif order.state == "canceled" then "#d9534f" else "#f9a11e" end}"} #{item.variant.sku} (#{item.quantity} pack)
                    %td
                      = link_to "Details", user_order_show_path(order), "data-toggle" => "modal", "data-target" => "#order-modal"
                      |
                      = link_to "Print", orders_print_path(order, :pdf)
                    %td 
                      - if order.payment_state == "balance_due" && !@user.total_available_store_credit.zero?
                        = link_to "Pay With Store Credit", pay_sc_order_path(order), "data-toggle" => "modal", "data-target" => "#pay-sc-order"
        - else
          .alert.alert-info= Spree.t(:you_have_no_orders_yet)
        %br
          = link_to "Clear search", account_path(spree_current_user), class: 'btn btn-pink'
  #tab-fillup4.tab-pane
    .right.general-page
      .account-my-orders{"data-hook" => "account_my_orders"}
        %h2 My Credit List
        - @invoice = Journal::Invoice.where(user: @user).page(params[:page]).per(30)
        - if @invoice.present?
          = paginate @invoice
          #jcart
            %table.table.table-striped.order-summary
              %thead.active
                %tr
                  %th{style: "width: 10%"} ID
                  %th{style: "width: 50%"} Description
                  %th{style: "width: 10%"} Total
                  %th{style: "width: 10%"} Sisa Tagihan
                  %th{style: "width: 10%"} Payment Status
                  %th{style: "width: 10%"} Action
                %tbody
                  - @invoice.each do |invoice|
                    %tr{:style => "text-align: center;"}
                      %td= invoice.id
                      %td= invoice.items.first.description
                      %td= number_to_multi_currency(invoice.total, invoice.currency)
                      %td
                        - if invoice.payment_state == "pending"
                          = number_to_multi_currency(invoice.outstanding_balance, invoice.currency)
                        - else
                          Lunas
                      %td
                        %span.badge{style: "background-color: #{if invoice.payment_state == "pending" then "#d9534f" elsif invoice.payment_state == "paid" then "#5cb85c" else "" end}"} #{invoice.payment_state.capitalize}
                      %td 
                        - if invoice.payment_state == "pending" && !@user.total_available_store_credit.zero?
                          = link_to "Pay With Store Credit", pay_sc_credit_path(invoice), "data-toggle" => "modal", "data-target" => "#pay-sc-credit"
        - else 
          .alert.alert-info No Credit List
  #tab-fillup6.tab-pane
    .right.general-page
      .account-my-orders{"data-hook" => "account_my_orders"}
        %h2 My Invoices
        - @invoice = Spree::Invoice.filter(params.slice(:sku_contain)).valid.where(user_id: @user).page(params[:page]).per(30)
        - if @invoice.present?
          %br
          = form_tag account_path(spree_current_user), method: :get do
            = text_field_tag :sku_contain, nil , class: 'form-control', placeholder: "Search by Code Product"
          %br
          %br
          %p{style: "color: #e42074; font-size:small"}
            Note: Pilih details jika ingin mengubah ekspedisi invoice anda (hanya untuk invoice yg statusnya masih pending payment)
          = paginate @invoice
          #jcart
            %table.table.table-striped.order-summary
              %thead.active
                %tr
                  %th Date
                  %th INV ID
                  %th Total
                  %th Status
                  %th{colspan:2} Action
                %tbody
                  - @invoice.each do |invoice|
                    %tr{:style => "text-align: center;"}
                      %td= invoice.created_at.to_date
                      %td= link_to invoice.id, user_invoice_path(invoice), "data-toggle" => "modal", "data-target" => "#invoice-modal"
                      %td= number_to_currency(total_amount(invoice.items, invoice.items.first.shipment)-invoice.dp_paid)
                      %td 
                        %span.badge{style: "background-color: #{if invoice.status == "pending_payment" then "#d9534f" elsif invoice.status == "paid" then "#5cb85c" elsif invoice.status == "Completed" then "#5cb85c" elsif invoice.status == "Partially Shipped" then "#5cb85c" else "#d9534f" end}"} #{if invoice.status == "pending_payment" then "Pending Payment" elsif invoice.status == "paid" then "Paid" elsif invoice.status == "Completed" then "Shipped" elsif invoice.status == "Partially Shipped" then "Partially Shipped" else "Cancel" end}
                      %td
                        = link_to "Details", user_invoice_path(invoice), "data-toggle" => "modal", "data-target" => "#invoice-modal"
                        - unless invoice.status == "cancelled"
                          |
                          = link_to "Print", user_invoice_print_path(invoice,:pdf)
                      %td 
                        - if invoice.status == "pending_payment" && !@user.total_available_store_credit.zero?
                          = link_to "Pay With Store Credit", pay_sc_inv_po_path(invoice), "data-toggle" => "modal", "data-target" => "#pay-sc-inv-po"
        - else 
          .alert.alert-info No Invoice List
        %br
          = link_to "Clear search", account_path(spree_current_user), class: 'btn btn-pink'

#cash-out.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#invoice-modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#order-modal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#pay-sc-order.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#pay-sc-po.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#pay-sc-inv-po.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#pay-sc-credit.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#tata-cara-sc.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      = render "tata_cara_sc"

:javascript
  $(document.body).on('hidden.bs.modal', function () {
    $('#order-modal').removeData('bs.modal')
  });
  $(document.body).on('hidden.bs.modal', function () {
    $('#invoice-modal').removeData('bs.modal')
  });
  $(document.body).on('hidden.bs.modal', function () {
    $('#pay-sc-inv-po').removeData('bs.modal')
  });
  $(document.body).on('hidden.bs.modal', function () {
    $('#pay-sc-order').removeData('bs.modal')
  });
  $(document.body).on('hidden.bs.modal', function () {
    $('#pay-sc-credit').removeData('bs.modal')
  });