- content_for :tabs do
  %nav
    %ul.tabs{"data-hook" => "admin_configurations_sidebar_menu"}
      - if can?(:edit, :general_settings)
        = settings_tab_item Spree.t(:settings), edit_admin_general_settings_path
      - if can?(:display, Spree::PriceLevel)
        = settings_tab_item "Price Level", admin_price_levels_path
      - if can?(:display, Spree::Bank)
        = settings_tab_item(Spree.t(:banks), admin_banks_path)
      - if can?(:display, Spree::Banner)
        = settings_tab_item plural_resource_name(Spree::Banner), admin_banners_path
      - if can?(:display, Spree::Page)
        = settings_tab_item plural_resource_name(Spree::Page), admin_pages_path
      - if can?(:display, Spree::News)
        = settings_tab_item plural_resource_name(Spree::News), admin_news_index_path
      - if can?(:display, Spree::Testimonial)
        = settings_tab_item plural_resource_name(Spree::Testimonial), admin_testimonials_path
