%ul.admin-subnav{"data-hook" => "admin_container_sub_tabs"}
  - if can?(:admin, Spree::Container)
    = settings_tab_item 'Container', admin_containers_path
  - if can?(:admin, Spree::Container)
    = settings_tab_item 'Selisih Barang', selisih_barang_admin_containers_path