<ul class="admin-subnav" data-hook="admin_product_sub_tabs">
  <% if can? :admin, Spree::Order %>
    <%= tab :orders, match_path: '/orders' %>
  <% end %>
  <% if can? :admin, Spree::Order %>
    <%= settings_tab_item 'Ready Stock', admin_orders_path(@search, :'q[preorder_eq]' => '0') %>
  <% end %>
  <% if can? :admin, Spree::Order %>
    <%= settings_tab_item 'Preorder', admin_orders_path(@search, :'q[preorder_eq]' => '1') %>
  <% end %>
  <% if can? :admin, Spree::Order %>
    <%= settings_tab_item 'Request Return', admin_customer_return_request_path %>
  <% end %>
  <% if can? :admin, Spree::InventoryUnit %>
    <%= settings_tab_item 'Inventory Units', admin_order_inventory_units_path %>
  <% end %>
</ul>