%body
  %header#order_tab_summary{"data-hook" => ""}
    %dl.additional-info
      %dt#order_status{"data-hook" => ""}
        = Spree.t(:status)
        \:
      %dd
        %span{:class => "state #{@order.state}"}= Spree.t(@order.state, :scope => :order_state)
      - if @order.user.present?
        %dt{"data-hook" => "admin_order_user_link"}
          = Spree.t(:user)
          \:
        %dd#order_user_link= link_to @order.user.email, spree.edit_admin_user_path(@order.user)
      %dt{"data-hook" => "admin_order_tab_subtotal_title"}
        = Spree::Order.human_attribute_name(:item_total)
        \:
      %dd#item_total= @order.preorder? ? @order.display_subtotal_preorder : @order.display_item_total.to_html
      - if @order.preorder?
        %dt
          DP
          \:
        - if @order.user.nil?
          %dd= @order.display_down_payment_total
        - else
          %dd= @order.user.disable_dp? ? 0 : @order.display_down_payment_total
      - if checkout_steps.include?("delivery") && @order.ship_total > 0 && !@order.preorder?
        %dt{"data-hook" => "admin_order_tab_ship_total_title"}
          = Spree::Order.human_attribute_name(:shipment_total)
          \:
        %dd#ship_total= @order.display_ship_total.to_html
      - if @order.included_tax_total != 0
        %dt{"data-hook" => "admin_order_tab_included_tax_title"}
          = Spree::Order.human_attribute_name(:included_tax_total)
          \:
        %dd#included_tax_total= @order.display_included_tax_total.to_html
      - if @order.additional_tax_total != 0
        %dt{"data-hook" => "admin_order_tab_additional_tax_title"}
          = Spree::Order.human_attribute_name(:additional_tax_total)
          \:
        %dd#additional_tax_total= @order.display_additional_tax_total.to_html
      - if !@order.adjustments.blank?
        %dt{"data-hook" => "admin_order_tab_additional_adjustment_title"}
          Adjustment
          \:
        %dd#additional_tax_total= number_to_idr(@order.adjustments.sum(:amount))
      - if !@order.preorder? 
        %dt{"data-hook" => "admin_order_tab_total_title"}
          = Spree::Order.human_attribute_name(:total)
          \:
        %dd#order_total= @order.display_total.to_html
      - if @order.completed?
        - if !@order.preorder?
          %dt
            = Spree::Shipment.model_name.human
            \:
          %dd#shipment_status
            %span{:class => "state #{@order.shipment_state}"}= Spree.t(@order.shipment_state, :scope => :shipment_states, :default => [:missing, "none"])
        %dt Dropship:
        %dd 
          %span= @order.dropship == true ? "Yes" : "No"
        %dt
          = Spree::Payment.model_name.human
          \:
        %dd#payment_status
          %span{:class => "state #{@order.payment_state}"}= Spree.t(@order.payment_state, :scope => :payment_states, :default => [:missing, "none"])
        %dt{"data-hook" => "admin_order_tab_date_completed_title"}
          = Spree::Order.human_attribute_name(:completed_at)
          \:
        %dd#date_complete= pretty_time(@order.completed_at)
      - if @order.approved?
        %dt= Spree::Order.human_attribute_name(:approver)
        %dd= @order.approver.try(:email) || @order.approver_name
        %dt= Spree::Order.human_attribute_name(:approved_at)
        %dd= pretty_time(@order.approved_at)
      - if @order.canceled? && @order.canceler && @order.canceled_at
        %dt= Spree::Order.human_attribute_name(:canceler)
        %dd
          = @order.canceler.email
        %dt= Spree::Order.human_attribute_name(:canceled_at)
        %dd= pretty_time(@order.canceled_at)
