%ul.admin-subnav{"data-hook" => "admin_purchase_order_sub_tabs"}
  - if can?(:admin, Spree::PurchaseOrder)
    = settings_tab_item 'Purchase Order', admin_purchase_orders_path
  - if can?(:admin, Spree::PurchaseOrder)
    = settings_tab_item 'All Purchase Items', all_admin_purchase_orders_path