%ul.admin-subnav{"data-hook" => "admin_report_sub_tabs"}
  - if can?(:admin, :reports)
    = settings_tab_item 'Lost Item', lost_item_admin_reports_path
  - if can?(:admin, :reports)
    = settings_tab_item 'DP Hangus', dp_hangus_admin_reports_path(start_date: Date.today.prev_month.beginning_of_month, end_date: Date.today.prev_month.end_of_month)
  - if can?(:admin, :reports)
    = settings_tab_item 'Return Order', return_order_admin_reports_path
  - if can?(:admin, :reports)
    = settings_tab_item 'Store Credit', store_credit_admin_reports_path