<ul class="admin-subnav" data-hook="admin_stock_transfer_sub_tabs">
  <% if can? :admin, Spree::StockItem %>
    <%= tab :stock_items, match_path: '/stock_items' %>
  <% end %>
  <% if can? :admin, Spree::StockTransfer %>
    <%= tab :stock_transfers, match_path: '/stock_transfers' %>
  <% end %>
  <% if can? :admin, Spree::StockItem %>
    <%= tab :stock_items_card_stock, match_path: '/stock_items/card_stock' %>
  <% end %>
  <% if can? :admin, Spree::ReturnToSupplier %>
    <%= tab :return_to_suppliers, match_path: '/return_to_suppliers' %>
  <% end %> 
  <% if can? :admin, Spree::InventoryAdjustment %>
    <%= tab :inventory_adjustments, match_path: '/inventory_adjustments' %>
  <% end %>
</ul>
