- admin_breadcrumb(plural_resource_name(Spree::InventoryAdjustment))

- content_for :page_actions do
  %li
    = button_link_to "New Inventory Adjustment", new_admin_inventory_adjustment_path
    = button_link_to "Category", admin_inventory_adjustment_categories_path

= search_form_for @q, url: admin_inventory_adjustments_path do |f|
  .row
    .col-sm-4
      .form-group.form-group-default
        = f.label :id_eq, "ID"
        = f.text_field :id_eq, class: "form-control"
    .col-sm-4
      .form-group.form-group-default
        = f.label :name_cont, "Name"
        = f.text_field :name_cont, class: "form-control"
    .col-sm-4
      .form-group.form-group-default
        = f.label :state_eq, "State"
        %br
        = f.select :state_eq, Spree::InventoryAdjustment.state_machines[:state].states.collect {|s| [Spree.t("inventory_adjustment_state.#{s.name}"), s.value]}, {:include_blank => true}, {class: 'select2 fullwidth'}
  .row
    .col-sm-4
      .form-group.form-group-default
        = f.label :created_at_gteq, "Start Date"
        = f.date_field :created_at_gteq, class: "form-control"
    .col-sm-4
      .form-group.form-group-default
        = f.label :created_at_lteq, "End Date"
        = f.date_field :created_at_lteq, class: "form-control"
    .col-sm-4
      .form-group.form-group-default
        = f.label :inventory_date_eq, "Inventory Date"
        = f.date_field :inventory_date_eq, class: "form-control"
  .row
    .col-sm-12.align-center
      = f.submit "Filter", class: "btn btn-success"
- if @inventory_adjustments.present?
  = paginate @inventory_adjustments, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th.align-left Created at
        %th.align-left ID
        %th.align-left Name
        %th.align-left Inventory Date
        %th.align-left State

    %tbody
      - @inventory_adjustments.each do |inventory|
        %tr
          %td= inventory.created_at.to_date
          %td= link_to inventory.id, admin_inventory_adjustment_path(inventory)
          %td= inventory.name
          %td= inventory.inventory_date.to_date
          %td= inventory.state.humanize
          %td.actions
            - unless inventory.validated?
              = link_to "", admin_inventory_adjustment_path(inventory), method: :delete, class: 'fa fa-trash icon_link with-tip no-text', "data-original-title" => "Delete"
  = paginate @inventory_adjustments, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    = render 'spree/admin/shared/no_objects_found', resource: Spree::InventoryAdjustment, new_resource_url: new_object_url