= render :partial => 'spree/shared/error_messages', :locals => { :target => @inventory_adjustment }
= form_for [:admin, @inventory_adjustment], method: :post, url: admin_inventory_adjustments_path, :html => { :multipart => true } do |f|
  %fieldset{"data-hook" => "new_product"}
    %legend{:align => "center"} New Inventory Adjustment
    .col-xs-6
      = f.field_container :name do
        = f.label :name, class: 'required'
        %br/
        = f.text_field :name, class: 'form-control'
        = f.error_message_on :name
    .col-xs-6
      = f.field_container :inventory_date do
        = f.label :inventory_date, class: 'required'
        %br/
        = f.date_field :inventory_date, class: 'form-control'
        = f.error_message_on :inventory_date
    = render :partial => 'spree/admin/shared/new_resource_links'

