- unless @inventory_adjustment.validated?
  - content_for :page_actions do
    %li
      %button.button{"data-toggle" => "modal", "data-target" => "#add-products"} Add Product
    - if @inventory_adjustment.items.present?
      %li= button_link_to "Validate", validate_admin_inventory_adjustment_path(@inventory_adjustment), data: {confirm: "Apakah anda yakin akan memvalidasi inventory adjustment ini? jika telah divalidasi tidak akan bisa dikembalikan kembali."}
= render :partial => 'spree/shared/error_messages', :locals => { :target => @inventory_adjustment }
= form_for [:admin, @inventory_adjustment], method: :put, url: admin_inventory_adjustment_path(@inventory_adjustment), :html => { :multipart => true } do |f|
  %fieldset{"data-hook" => "new_product"}
    %legend{:align => "center"} Stock Adjustment #{@inventory_adjustment.name}
    = f.field_container :name do
      = f.label :name, class: 'required'
      %br/
      = f.text_field :name, class: 'form-control'
      = f.error_message_on :name
    = f.field_container :inventory_date do
      = f.label :inventory_date, class: 'required'
      %br/
      = f.date_field :inventory_date, class: 'form-control'
      = f.error_message_on :inventory_date

    .clearfix
    = render :partial => 'spree/admin/shared/edit_resource_links'
- if @items.present?
  = form_for [:admin, @inventory_adjustment], method: :post, url: update_items_admin_inventory_adjustment_path, :html => { :multipart => true } do |f|
    #items{style: "margin-top: 15px;"}
      = form_tag update_items_admin_inventory_adjustment_path, method: :put do
        %table
          %thead
            %tr
              - unless @inventory_adjustment.validated?
                %th= check_box_tag "select-all"
              %th Code Item
              %th Name
              %th Stock Warehouse
              %th Real Quantity Warehouse(pcs)
              %th Category
              %th Notes
          %tbody
            - @items.each do |item|
              %tr
                - unless @inventory_adjustment.validated?
                  %td.align-center= check_box_tag "select_items[#{item.id}]['checked']", item.id
                %td.align-center= item.variant.sku
                %td.align-center= item.variant.product.name
                %td.align-center= item.theoritical_qty
                %td.align-center= text_field_tag "select_items[#{item.id}]['real_qty']", item.real_qty, disabled: @inventory_adjustment.validated?, class: "real-qty-item form-control", data: {"item-id" => "#{item.id}"}
                %td.align-center= select_tag "select_items[#{item.id}]['category']", options_from_collection_for_select(Spree::InventoryAdjustmentCategory.all, "id", "name", item.category_id), class: "category-item select2 fullwidth", disabled: @inventory_adjustment.validated?, data: {"item-id" => "#{item.id}"}
                %td.align-center= text_area_tag "select_items[#{item.id}]['notes']", item.notes, disabled: @inventory_adjustment.validated?, class: "notes-item", data: {"item-id" => "#{item.id}"}
                - unless @inventory_adjustment.validated?
                  %td.actions
                    = link_to "", item_destroy_admin_inventory_adjustments_url(:item => item), method: :get, class: 'fa fa-trash icon_link with-tip no-text', "data-original-title" => "Delete"
        .align-center
          - unless @inventory_adjustment.validated?
            = submit_tag "Update Items"
#add-products.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title Add Code Item
      .modal-body
        .panel-body
          = form_for "add_item", :url => add_item_admin_inventory_adjustment_path(params[:id]), method: :put, html: {class: 'the-form-modal'} do |a|
            .form-group.form-group-default.required
              = a.label "Product SKU"
              = a.text_field :variant_id, class: "variant_autocomplete fullwidth"
            .actions
              = a.submit 'Submit', class: "btn btn-success"
:javascript
  $( '#select-all' ).click( function () {
    $( '.activate-toggle-checkbox-button input[type="checkbox"]' ).prop('checked', this.checked)
  })

  $("input.real-qty-item").on("input", function(e){
    var id = $(this).data("item-id");
    $("#select_items_" + id + "__checked_").prop( "checked", true );
  })

  $("input.notes-item").on("input", function(e){
    var id = $(this).data("item-id");
    $("#select_items_" + id + "__checked_").prop( "checked", true );
  })

  $(".category-item").on("change", function(e){
    var id = $(this).data("item-id");
    $("#select_items_" + id + "__checked_").prop( "checked", true );
  })

  $(".variant_autocomplete").variantAutocomplete();