- @body_id = 'signup'
= render 'spree/shared/error_messages', target: resource
#new-customer
  .login-child
    %h2.h2-text Sign Up
    %div{"data-hook" => "signup"}
      = form_for resource, as: :spree_user, url: spree.registration_path(resource), html: {id: "login-form", class: "general-form3"} do |f|
        %div{"data-hook" => "signup_inside_form"}
          = render partial: 'spree/shared/user_form', locals: { f: f }
          %p= f.submit Spree.t(:create), class: 'submit-btn'
      = Spree.t(:or)
       #{link_to Spree.t(:login_as_existing), spree.login_path}
  %div{"data-hook" => "login_extras"}