/*
  *= require journal/plugins/pace/pace-theme-flash.css
  *= require journal/plugins/bootstrapv3/css/bootstrap.min.css
  *= require journal/plugins/font-awesome/css/font-awesome
  *= require journal/plugins/jquery-scrollbar/jquery.scrollbar.css
  *= require journal/plugins/bootstrap-select2/select2.css
  *= require journal/plugins/switchery/css/switchery.min.css
  *= require journal/pages/pages-icons
  *= require journal/pages/pages
 */
    

.table tbody tr td {
  padding: 8px;
  vertical-align: middle;
}

.blue_link {
  color: #3a8fc8;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.bold-red {
  font-weight: bold;
  color: red;
}
.align-right {
  text-align: right;
}
.bg-qty-invoice {
  background-color: #c9302c; 
  color: #fff; 
  border-color: #d43f3a;
}