/* FONTS */
/* latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v9/rC7kKhY-eUDY-ucISTIf5PesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 700;
  src: local('Arvo Bold'), local('Arvo-Bold'), url(https://fonts.gstatic.com/s/arvo/v9/uO-jO7kF010hXOpU_-jk8QLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Bevan';
  font-style: normal;
  font-weight: 400;
  src: local('Bevan'), url(https://fonts.gstatic.com/s/bevan/v7/Fc36VMDxmk7bwCF8XDJdKaCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* FONT SELECTION */
body, textarea, input, select, .prod-price span{font-family:Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6, .item-link, #needhelp-area .gray-link, #needhelp-area .pinked, #main-nav li a, .prod-price, .submit-btn, .tabs, .soldout, .soldout2, .bold-link, .soldout-detail, .confirm-text, .btn-edit, .bold-link-kecil, a.po-link{font-family: 'Arvo', serif; font-weight:700;}

/* GENERAL */
body {background:image-url("background.gif") repeat-y top center #e6317e !important; font-size:12px; color:#7e7979;}
input, textarea, select {font-size:12px; color:#7e7979; line-height:1.5em;}
a {color:#e6317e; text-decoration:none; font-size: 12px;}
a:hover {text-decoration:underline;}
a.gray-link {color:#7e7979;}
a.gray-link:hover {color:#e6317e; text-decoration:none;}
.pinked {color:#e6317e;}
p {line-height:1.5em;}
.round10 {-moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; border-radius:10px;}
.round7 {-moz-border-radius:7px; -webkit-border-radius:7px; -o-border-radius:7px; border-radius:7px;}

.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.submit-btn {cursor:pointer;}

/* ul, ol { list-style: none; } */
* {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;	
}

/* GRID */
.grid960 {width:960px; margin:0 auto; background-color: white;}
/* NUKE WYSIWYG */
.nuke-wysiwyg {}
.nuke-wysiwyg ol, .nuke-wysiwyg ul {padding-left:30px; line-height:1.5em;}
.nuke-wysiwyg ol {list-style:decimal;}
.nuke-wysiwyg ul {list-style:square;}
.nuke-wysiwyg blockquote {font-size:16px; line-height:1.5em; padding:10px 30px;}
/* FORMS */
.general-form {}
.general-form label {display:block; font-weight:bold; padding:7px 0;}
.general-form .label-input {margin-bottom:10px;}
.general-form .label-input input, .general-form .label-input textarea, .general-form .label-input select {border:none; background:#f4f1ea; padding:5px 8px; border:1px solid #e2ddd1;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;}
.general-form .label-input textarea { line-height:1.5em;}	
.general-form .label-input input:hover, .general-form .label-input textarea:hover, .general-form .label-input select:hover {border:1px solid #aaa;}
.general-form .label-input input:focus, .general-form .label-input textarea:focus, .general-form .label-input select:focus {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
.general-form .input-wrap {position:relative;}
.general-form input.submit-btn {background:#e6317e; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:6px 10px;}
.general-form input.submit-btn:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}

.horizontal-form {}
.horizontal-form .label-input {overflow:hidden; padding:3px 0;}
.horizontal-form .label-wrap {float:left;}
.horizontal-form .input-wrap {float:left;}

#contact-form {padding-left:5px;}
#contact-form .label-wrap {width:120px;}
#contact-form .label-input input {width:200px;}
#contact-form .label-input input.input-s {width:90px;}
#contact-form .label-input select {width:150px;}
#contact-form .label-input textarea {width:300px; height:150px;}
#contact-form .label-input textarea.textarea-s {height:60px;}
#contact-form .captcha-wrap {position:absolute; left:120px; top:0;}
#contact-form input.submit-btn {margin-left:120px;}
span.error {font-size:11px; color:#FF0000; display:block; padding-top:5px;}

/* HEADER */
header {height:175px; width:960px; position:relative; background:image-url("header_bg.gif") no-repeat top center;}
header h1 {position:absolute; left:10px; top:20px;}
#needhelp-area {position:absolute; right:5px; top:23px; background:#f4f1ea; border:1px solid #e2ddd1; width:320px; padding:5px 0; padding-left:40px; line-height:1.3em;}
#needhelp-area .pinked {font-size:14px;}
#needhelp-area img {position:absolute; left:-30px; top:-10px;}
#cart-area {min-height: 35px; position:absolute; right:5px; bottom:0; padding:13px 70px 12px 10px; width:108px; border:2px dashed #e82d7e; font-size:14px; text-align:right; background:image-url("icon-cart.png") no-repeat right 8px;}
#cart-area a.gray-link {font-weight:bold;}
.item-link {font-size:18px; line-height:1.5em;}
.member-links {position:absolute; right:5px; top:80px;}
.member-links li {float:left; padding-left:15px; margin-right:10px;}
.member-links li.login {background:image-url("icon-login.png") no-repeat;}
.member-links li.logout {background:image-url("icon-logout.png") no-repeat;}
.member-links li.register {background:image-url("icon-register.png") no-repeat;}
.member-links li.member {background:image-url("member.gif") no-repeat;}
.member-links a {font-size: 12px;}

/* NAVIGATION & SEARCH */
#nav-search {padding:10px 5px; position:relative;}
#main-nav li a {font-size: 12px; text-align: center;}
#main-nav li {float:left; padding:3px; margin-right:4px; width: 113px;
	-moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; border-radius:10px;}
#main-nav li:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
#main-nav li:nth-child(4n+1) {background: #e41d71;}
#main-nav li:nth-child(4n+2) {background: #8dc641;}
#main-nav li:nth-child(4n+3) {background: #26ace2;}
#main-nav li:nth-child(4n+4) {background: #f9a11e;}
#main-nav li a {display:block; border:1px dashed #fff; color:#fff; padding:9px 9px; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:7px; -webkit-border-radius:7px; -o-border-radius:7px; border-radius:7px;}
#main-nav li a:hover {text-decoration:none;}
#main-nav li:nth-child(4n+1) a:hover {background:#cc216a;}
#main-nav li:nth-child(4n+2) a:hover {background:#7fb13c;}
#main-nav li:nth-child(4n+3) a:hover {background:#229bcb;}
#main-nav li:nth-child(4n+4) a:hover {background:#e0921d;}

#search-form {background: image-url("icon-search.png") no-repeat 166px 12px #eee; position:absolute; right:5px; top:10px; width:190px; height:40px;
	-moz-box-shadow:inset 3px 3px 3px rgba(0,0,0,0.15); -webkit-box-shadow:inset 3px 3px 3px rgba(0,0,0,0.15); -o-box-shadow:inset 3px 3px 3px rgba(0,0,0,0.15); box-shadow:inset 3px 3px 3px rgba(0,0,0,0.15);}
#search-form input.clearme {border:none; background:none; padding-left:12px; width:148px; position:absolute; left:0; top:12px;}
#search-form input.submit-btn {text-indent:-9999px; border:none; width:22px; height:22px; position:absolute; right:5px; top:7px; background:none;}
/* BANNER SLIDESHOW */
#main-banner {width:950px; height:400px; margin:0 auto; margin-bottom:20px; 
	-moz-box-shadow:0 3px 3px rgba(0,0,0,0.25); -webkit-box-shadow:0 3px 3px rgba(0,0,0,0.25); -o-box-shadow:0 3px 3px rgba(0,0,0,0.25); box-shadow:0 3px 3px rgba(0,0,0,0.25);}
/* MARQUEE */
#marquee-wrap {width:auto; background:image-url("icon-news.png") no-repeat 15px 15px #f4f1ea; border:1px solid #e2ddd1; padding-left:80px; padding-right:10px; height:43px; margin:0 auto; margin-bottom:15px;}
#marquee {height:14px; padding-top:15px; overflow:hidden;}
#marq-content { display:none;}
/* GENERAL LAYOUT */
.two-layout {}
.two-layout .right {width:760px; padding-bottom:25px;}
.two-layout .right h2 {font-size:18px; margin-bottom:10px; color:#e6317e;}
.two-layout .general-page {padding-left:5px; padding-right:5px; width:750px; }
.breadcrumbs {padding:0 15px; border-bottom:1px dashed #888; width:920px; margin:0 auto; margin-bottom:15px; padding-bottom:10px;}
/* INDEX PAGE */
.tabs {background:#f4f1ea; border:1px solid #e2ddd1; overflow:hidden; margin-bottom:10px; font-size:14px; width:748px; margin-left:5px; margin-right: 5px; text-transform:uppercase;}
.tabs li {float:left; margin-right:30px; padding:18px 15px;}
.tabs li a {color:#e6317e;}
.tabs li.active a, .tabs li a:hover {color:#8cc640;}
.prod-list {}
.prod-list li {float:left; width:170px; height:200px; background:#f4f1ea; margin:0 5px 10px 5px; padding:5px;
	-moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; border-radius:10px;}
.prod-list li:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
.prod-list li .bordered {border:1px dashed #c3bcaa; padding:7px; height:184px; position:relative;
	-moz-border-radius:7px; -webkit-border-radius:7px; -o-border-radius:7px; border-radius:7px;}
.prod-list li .prod-name {font-size:14px;}
.prod-list li .prod-merek {font-size:11px; line-height:1.5em; margin-bottom:5px;}
.prod-list li .img-wrap {background:#fff; height:108px; width:154px; overflow:hidden; text-align:center; margin-bottom:8px;
	-moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; border-radius:3px;}
.prod-list li .img-wrap:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
.prod-list li .img-wrap img {height:108px;}
.prod-list li .prod-bottom {}
.prod-list li .prod-bottom .prod-price {font-size:11px; color:#e6317e;}
.prod-list li .prod-bottom .prod-price span {display:block; font-weight:normal; line-height:1.2em; color:#7e798a;}
.prod-list li .submit-btn {font-size:10px; color:#fff; border:none; float:right; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;}
.prod-list li .submit-btn:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
.prod-list li .prod-ribbon {position:absolute; top:-11px; right:7px;}
.prod-list li .soldout {float:right; color:#d12a32; font-size:13px; padding-top:3px;}
.prod-list li .soldout2 {float:right; color:#d12a32; font-size:10px; padding-top:4px;}

.prod-list li:nth-child(4n+1) a, .prod-list li:nth-child(4n+1) .prod-price {color:#e6317e;}
.prod-list li:nth-child(4n+1) .submit-btn {background:#e6317e; padding:6px;}
.prod-list li:nth-child(4n+2) a, .prod-list li:nth-child(4n+2) .prod-price {color:#72a232;}
.prod-list li:nth-child(4n+2) .submit-btn {background:#72a232; padding:6px;}
.prod-list li:nth-child(4n+3) a, .prod-list li:nth-child(4n+3) .prod-price {color:#26ace2;}
.prod-list li:nth-child(4n+3) .submit-btn {background:#26ace2; padding:6px;}
.prod-list li:nth-child(4n+4) a, .prod-list li:nth-child(4n+4) .prod-price {color:#f9a11e;}
.prod-list li:nth-child(4n+4) .submit-btn {background:#f9a11e; padding:6px;}

/* FAQS */
ol#faqs-list {padding-left:30px; list-style:decimal; font-size:14px;}
.faqs-answer {display:none; font-size:12px; padding:5px;}
a.faqs-question {display:block; padding:5px; color:#444;}
a.faqs-question:hover {background:#eee; text-decoration:none;}
a.opened {background:#26ace2; color:#fff;}
a.opened:hover {background:#e6317e;}

/* TESTIMONIAL */
#testimonial-list {}
.da-testi {margin-bottom:15px;}
.da-testi .testimoner {font-weight:bold; margin-bottom:7px; display:block; font-size:14px; color:#26ace2;}
.da-testi .testinya {background:image-url("pattern-yellow.jpg") #fffba8; padding:10px; padding-bottom:0; border:1px dashed #b97a57; color:#b97a57;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;}

/* PRODUCT DETAIL */
.product-detail {margin-bottom:20px;}
.product-detail .left {padding:5px; background:#f4f1ea; position:relative;}
.product-detail .left p {margin-bottom:10px; text-align:center; font-size:11px; font-style:italic;}
.product-detail .bordered {border:1px dashed #c3bcaa; padding:10px;}
.product-detail .img-wrap {width:200px; background:#fff; margin-bottom:10px; overflow:hidden;}
.product-detail .img-wrap:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
.product-detail .img-wrap img {width:200px;}
.product-detail .prod-ribbon {position:absolute; top:-5px; right:15px;}

.product-detail .submit-btn {font-size:10px; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3); background:#e6317e; padding:6px; margin:0 auto; font-size:14px; width:120px; display:block;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;}
.product-detail .submit-btn:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
	
.product-detail .right {width:500px; padding-right:10px; padding-bottom:0;}
.product-detail .right h3 {font-size:16px; color:#26ace2; margin-bottom:5px;}
.product-detail .right .prod-merek {margin-bottom:10px;}
.product-detail .right .prod-price {font-size:14px; line-height:1.3em; color:#72a232; margin-bottom:12px;}
.product-detail .right .prod-price span {display:block; font-weight:normal; font-size:12px; color: #7E7979;}
.product-detail .right .prod-desc {}
.product-detail .right .prod-desc h4 {font-size:12px; color:#f9a11e; margin-bottom:5px;}

.related-products {}
.related-products > h3 {padding:0 5px 10px 5px; color:#26ace2; font-size:14px;}

/* FANCIED PRODUCT DETAIL */
#prod-detail-fancied {width:700px; padding:10px; background:#fff; border:5px solid #e6317e;}
#prod-detail-fancied h2 {font-size:18px; margin-bottom:10px; color:#e6317e; padding-bottom:10px;}
#prod-detail-fancied .left {padding:5px; background:#f4f1ea; position:relative;}
#prod-detail-fancied .bordered {border:1px dashed #c3bcaa; padding:10px;}
#prod-detail-fancied .img-wrap {width:350px; background:#fff; overflow:hidden;}
#prod-detail-fancied .img-wrap img {width:350px;}
#prod-detail-fancied .prod-ribbon {position:absolute; top:-5px; right:25px;}

#prod-detail-fancied .submit-btn {font-size:10px; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3); background:#e6317e; padding:6px; font-size:14px; width:120px; display:block;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;}
#prod-detail-fancied .submit-btn:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
	
#prod-detail-fancied .right {width:300px;}
#prod-detail-fancied .right h3 {font-size:16px; color:#26ace2; margin-bottom:5px;}
#prod-detail-fancied .right .prod-merek {margin-bottom:10px;}
#prod-detail-fancied .right .prod-price {font-size:14px; line-height:1.3em; color:#72a232; margin-bottom:12px;}
#prod-detail-fancied .right .prod-price span {font-weight:normal; font-size:12px; color: #7E7979;}

table.prod-table {margin-bottom:15px;}
table.prod-table tr {}
table.prod-table th, table.prod-table td {padding:5px 10px; font-size: 12px;}
table.prod-table th {text-align:left; padding-left:0;}
table.prod-table td.titikdua {padding:5px 0;}

/* PAGING */
.nuke-paging {border-top:1px dotted #ccc; border-bottom:1px dotted #ccc; padding:10px; clear:both;}

/* SIDEBAR */
#sidebar {padding-left:5px; width:185px;}
.sidebar-child {margin-bottom:20px;}

.dropme {width:185px; position:relative; margin-bottom:6px; font-size: 12px;}
.dropme h3 {color:#fff; height:24px; padding-left:13px; padding-top:8px; text-shadow:1px 1px 1px rgba(0,0,0,0.3); cursor:pointer;
	-moz-border-radius:15px; -webkit-border-radius:15px; -o-border-radius:15px; border-radius:15px;}
.dropme:hover h3 {
	-webkit-border-bottom-left-radius:0; -webkit-border-bottom-right-radius:0; -o-border-bottom-left-radius:0; -o-border-bottom-right-radius:0; border-bottom-left-radius:0; border-bottom-right-radius:0;
	-moz-border-radius-bottomleft:0; -moz-border-radius-bottomright:0;}
.dropme:hover .side-cat-list {display:block;}
.dropme a {color:#fff;}

.pinky h3 {background:image-url("dropdown-bg.png") no-repeat top right #e6317e;}
.pinky .side-cat-list {background:#e6317e;}
.greeny h3 {background:image-url("dropdown-bg.png") no-repeat top right #8cc640;}
.greeny .side-cat-list {background:#8cc640;}
.blui h3 {background:image-url("dropdown-bg.png") no-repeat top right #26ace2;}
.blui .side-cat-list {background:#26ace2;}
.orangei h3 {background:image-url("dropdown-bg.png") no-repeat top right #f9a11e;}
.orangei .side-cat-list {background:#f9a11e;}
/* add rnt */
.newpinky h3 {background:image-url("dropdown-bg.png") no-repeat top right #ee8eb6;}
.newpinky .side-cat-list {background:#ee8eb6;}

.side-cat-list {position:absolute; left:0; top:32px; width:185px; padding-bottom:15px; display:none; z-index:100; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-webkit-border-bottom-left-radius:15px; -webkit-border-bottom-right-radius:15px; -o-border-bottom-left-radius:15px; -o-border-bottom-right-radius:15px; border-bottom-left-radius:15px; border-bottom-right-radius:15px;
	-moz-border-radius-bottomleft:15px; -moz-border-radius-bottomright:15px;}
.side-cat-list li a {display:block; padding:7px 13px; border-bottom:1px dashed rgba(255,255,255,0.5);}
.side-cat-list li a:hover {background:image-url("10persen.png"); text-decoration:none;}

#side-rate {padding:3px; background:image-url("pattern-lightpink.gif") #f39ec2; color:#4c2f3c;}
#side-rate .bordered {border:1px dashed #fff; padding:10px;}
#side-rate h3 {font-size:14px; color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,0.3); margin-bottom:8px;}

#side-news {padding:3px; background-color: cornflowerblue; color:#4c2f3c; margin-top: 15px;}
#side-news .bordered {border:1px dashed #fff; padding:10px;}
#side-news h3 {font-size:14px; color:#fff; text-align: center;text-shadow:1px 1px 1px rgba(0,0,0,0.3); margin-bottom:8px;}

#rate-form {padding-top:10px;}
#rate-form select, #rate-form input {background:#fff; border:none; margin-bottom:5px; padding:7px 0px; color:#444; width:155px;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;}
#rate-form input.input-s {width:30px; text-align:center;}
#rate-form label, #rate-form span {font-weight:bold; font-size: 12px}
#rate-form input.submit-btn {background:#e6317e; color:#fff; width:90px; margin-left:30px; margin-top:10px;}
#rate-form select:focus, #rate-form input:focus, #rate-form input.submit-btn:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}

#side-testi-top {background:image-url("pattern-yellow.jpg") #fffba8; padding:10px 14px; position:relative;
	-webkit-border-top-right-radius:10px; -webkit-border-top-left-radius:10px; -o-border-top-right-radius:10px; -o-border-top-left-radius:10px; border-top-right-radius:10px; border-top-left-radius:10px;
	-moz-border-radius-topleft:10px; -moz-border-radius-topright:10px;}
#side-testi-top h3 {font-size:14px; color:#7f7f7f; margin-bottom:15px; padding-top:5px;}
#side-testi-top img {position:absolute; right:10px; top:-8px;}
#side-testi-bottom {background:image-url("testi-bottom.jpg") no-repeat; height:110px; position:relative;}
.testi-link {position:absolute; right:10px; top:15px; text-align:right; font-weight:bold; line-height:1.2em; font-size: 12px;}
.testi-link a {color:#7f7f7f; text-decoration:underline;}
.testi-link a:hover {color:#ff7b34; text-decoration:none;}
#side-testi {color:#b97a57; line-height:1.4em; width:160px;}
#side-testi .testimoner {font-weight:bold; font-weight:bold; font-size:14px;}
#side-testi li {margin-bottom:5px;}
#side-news2 {color:floralwhite; line-height:1.4em; width:160px;}
#side-news2 .testimoner {font-weight:bold; font-weight:bold; font-size:14px;}
#side-news2 li {margin-bottom:5px;}
/* FOOTER */
#footer {width:950px; margin:0 auto; padding-bottom:25px;}
#bottom-link {width:185px; border-top:1px dashed #bbb9b9; float:left; margin-right:15px; font-size: 12px}
#bottom-link li {border-bottom:1px dashed #bbb9b9; padding:6px;}
#bottom-link li a {color:#444;}
#bottom-link li a:hover {color:#e6317e; text-decoration:none;}

/* add Rnt */
.left-wrap-footer { float:left; width:350px;}
#footer-center {width:700px; margin-right:15px;}
#newsletter-area {background:image_url("pattern-gray.jpg"); padding:5px; margin-bottom:10px; margin-left:10px;
	-moz-box-shadow:0 1px 1px rgba(0,0,0,0.23); -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.23); -o-box-shadow:0 1px 1px rgba(0,0,0,0.23); box-shadow:0 1px 1px rgba(0,0,0,0.23);}
#newsletter-area .bordered {border:1px dashed #bbb9b9; padding:10px 12px;
	box-shadow:inset 0 0 70px rgba(0,0,0,0.05);  height:125px;}
#newsletter-area h3 {color:#e6317e; font-size:14px; margin-bottom:10px;}
#newsletter-area p {margin-bottom:10px; font-size: 12px}
#subscribe-form {}
#subscribe-form input.clearme {border:1px solid #e0dfdf; background:#fff; color:#9a9a9a; padding:7px 10px; width:180px; margin-right:5px;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;}
#subscribe-form select {background:#fff;}
#subscribe-form input.clearme:hover, #subscribe-form input.clearme:focus {border:1px solid #aaa;}
#subscribe-form input.submit-btn {background:#e6317e; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:6px 10px;}
#subscribe-form input.clearme:focus, #subscribe-form input.submit-btn:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
.copyright {padding:0 10px; color:#444; line-height:1.3em;}
span.nukegraphic {font-size:11px; color:#888; display:block;}
span.nukegraphic a {color:#888;}
span.nukegraphic a:hover {color:#e6317e; text-decoration:none;}
#subscribe-form span.error {display:none;}
#rate-form span.error {display:none;}

#footer-right {width:360px; position:relative;}
.soc-nav {padding-top:10px;}
.soc-nav li {float: left; margin-right:5px;}
#ym-nav-wrap {background:#c8f5fd; padding:10px;}
.ym-nav {}
.ym-nav li {margin-bottom:5px;}
/* FANCY */
.fancied-hide {display:none;}
.general-fancy-wrap {padding:20px; border:5px solid #e6317e;}
.general-fancy-wrap h2 {font-size:15px; margin-bottom:10px; color:#26ace2; border-bottom:1px dashed #ccc; padding-bottom:12px;}

#fancy-addtesti 
{
	background:image_url("pattern-yellow.jpg"); 
	padding:5px; 
	position:relative;
}
#testi .bg-testi {
	background:image_url("pattern-yellow.jpg"); 
}
#testi img.baloon {
	position:absolute;top:15px; right:20px;
}
#testi img.teddy-bear{
	position:absolute;left:20px; top:80px;
}
#testi .bordered {margin:10px;padding:20px; padding-left:150px; padding-bottom:0; border:1px dashed #b97a57;}
#fancy-addtesti h2 {font-size:14px; margin-bottom:10px;}
#fancy-addtesti .bordered { width:250px; padding:20px; padding-left:150px; padding-bottom:0; border:1px dashed #b97a57;}
#fancy-addtesti input.clearme {width:200px; background:#fff; color: #7E7979;}
#fancy-addtesti textarea {width:230px; height:80px; background:#fff;}
#fancy-addtesti img {position:absolute;}
#fancy-addtesti img.teddy-bear {left:20px; top:80px;}
#fancy-addtesti img.baloon {top:15px; right:20px;}
#fancy-addtesti label {color:#b97a57;}

#fancy-loginform {width:330px; height:380px; background: url(images/baby-login.jpg) no-repeat 20px 20px #fff; padding-left:270px; padding-top:20px; border:5px solid #e6317e;}
#fancy-loginform h2 {font-size:16px; margin-bottom:10px; color:#26ace2;}
#fancy-loginform .general-form {margin-bottom:12px;}
#fancy-loginform .general-form .input-wrap input {background:#fff; width:200px;}
#fancy-loginform p {margin-bottom:12px;}

#fancy-loginform-polist {width:330px; height:380px; background: url(images/baby-login.jpg) no-repeat 20px 20px #fff; 
padding-left:270px; padding-top:20px; border:5px solid #e6317e;}
#fancy-loginform-polist h2 {font-size:16px; margin-bottom:10px; color:#26ace2;}
#fancy-loginform-polist .general-form {margin-bottom:12px;}
#fancy-loginform-polist .general-form .input-wrap input {background:#fff; width:200px;}
#fancy-loginform-polist p {margin-bottom:12px;}

#fancy-forgotpass {width:330px; height:380px; background: url(images/baby-login.jpg) no-repeat 20px 20px #fff; padding-left:270px; padding-top:20px; border:5px solid #e6317e;}
#fancy-forgotpass h2 {font-size:16px; margin-bottom:10px; color:#26ace2;}
#fancy-forgotpass .general-form {margin-bottom:12px;}
#fancy-forgotpass .general-form .input-wrap input {background:#fff; width:200px;}
#fancy-forgotpass p {margin-bottom:12px;}

#fancy-changepass {width:330px; height:380px; background: url(images/baby-login.jpg) no-repeat 20px 20px #fff; padding-left:270px; padding-top:20px; border:5px solid #e6317e;}
#fancy-changepass h2 {font-size:16px; margin-bottom:10px; color:#26ace2;}
#fancy-changepass .general-form {margin-bottom:12px;}
#fancy-changepass .general-form .input-wrap input {background:#fff; width:200px;}
#fancy-changepass p {margin-bottom:12px;}

.general-list {}
.general-list li {margin-bottom:10px; font-size:11px;}
.general-list a {color:#72a232;}
.general-list a:hover {text-decoration:underline;}
/* NUKE NOTIFICATIONS */
.nuke-overlay {width:100%; height:100%; background:url(images/nuke-fancy-bg.png); z-index:10000;left:0; top:0; position:fixed;}
.nuke-modal-content {width:570px; padding:15px; background:#fff; z-index:10001; margin:0 auto; margin-top:20%; position:fixed; left:50%; right:50%; left:-300px; right:-300px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; border-radius:10px; -moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; -o-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;}
.nuke-modal-content h3 {text-transform:uppercase; font-family: 'Arvo', serif; font-weight:700; font-size:24px; margin-bottom:6px;}
.nuke-modal-content p {margin-bottom:4px;}
.nuke-modal-content span {font-size:10px; margin-bottom:4px; color:#666;}
.nuke-ok {border:5px solid #1aa8e0;}/*nuke 0k*/
.nuke-ok h3 {color:#1aa8e0;}
.nuke-error {border:5px solid #000;}
.nuke-error h3 {color:#000;}
.nuke-small-notes {font-size:10px;}
a.nuke-close-modal {position:absolute; top:-17px; right:-17px; text-indent:-9999px; background:url(images/fancy_close.png) no-repeat; width:34px; height:34px;}
/* NUKE NOTIFICATIONS */
.nuke-overlay2 {width:100%; display:none; height:100%; background:url(images/nuke-fancy-bg.png); z-index:1001;left:0; top:0; position:fixed;}
.nuke-modal-content2 {width:570px; display:none; padding:15px; background:#fff; z-index:1001; margin:0 auto; margin-top:20%; position:fixed; left:50%; right:50%; left:-300px; right:-300px; -moz-border-radius:10px; -webkit-border-radius:10px; -o-border-radius:10px; border-radius:10px; -moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; -o-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;}
.nuke-modal-content2 h3 {text-transform:uppercase; font-family: 'Arvo', serif; font-weight:700; font-size:24px; margin-bottom:5px;}
.nuke-modal-content2 p {margin-bottom:4px; margin-top:2px;}
.nuke-modal-content2 span {font-size:10px; margin-bottom:4px; color:#666;}
.nuke-ok2 {border:5px solid #1aa8e0;}
.nuke-ok2 h3 {color:#1aa8e0;}
.nuke-error {border:5px solid #e6317e;}
.nuke-error h3 {color:#e6317e;}
.tst-date{ font-size:12px;  color:#7e7979; font-weight:normal; font-style:italic;}

#subscribe-form2 {}
#subscribe-form2 input.clearme {border:1px solid #e0dfdf; background:#fff; color:#9a9a9a; padding:7px 10px; width:180px; margin-right:5px;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;}
#subscribe-form2 select {background:#fff;}
#subscribe-form2 input.clearme:hover, #subscribe-form2 input.clearme:focus {border:1px solid #aaa;}
#subscribe-form2 input.submit-btn {background:#e6317e; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:6px 10px;}
#subscribe-form2 input.clearme:focus, #subscribe-form2 input.submit-btn:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
input.date-pick {float:left;}
.dp-choose-date {margin-left:8px; text-indent:-9999px; background:url(/web/images/icon-calendar.png) 0 5px no-repeat; width:16px; height:21px; display:block; float:left;}	

.h2-text{ margin-left:20px;}
#register-form {padding-left:20px;}
#register-form .label-wrap {width:120px;}
#register-form .label-input input {width:200px;}
#register-form .label-input input.input-s {width:90px;}
#register-form .label-input select {width:150px;}
#register-form .label-input textarea {width:300px; height:150px;}
#register-form .label-input textarea.textarea-s {height:60px;}
#register-form .captcha-wrap {position:absolute; left:120px; top:0;}
#register-form input.submit-btn {margin-left:120px;}

.editcredential { height:30px; margin-top:15px;}
.changepass { background: url(images/icon/lock.png) no-repeat 0 0px ; padding-left:19px; font-weight:normal;}
.profile { background: url(images/icon/profile.png) no-repeat 10px; padding-left:28px; font-weight:normal;}
.member-active 	{ background: url(images/icon/centang.png) no-repeat 10px; padding-left:30px; font-weight:normal;}
.addressbook { background: url(images/icon/member.gif) no-repeat 10px; padding-left:30px; font-weight:normal;}
.goldmember	{font-weight:600; color:#dfa026;}
.silver	{ font-weight:600; color:#757473;}
.regular { font-weight:600; color:#d10738;}
.po {float:right; margin-right:5px;}
a.po-link{background:#e6317e; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:4px 8px; text-decoration:none;}
a.po-link:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}	

.logoutm { background: url(images/icon/icon-logout.png) no-repeat 10px; padding-left:25px; font-weight:normal;}
 /* GENERAL TABLE */
table.general-table {}
table.general-table td {border:1px solid #a8a7a5; padding:4px;}
table.general-table thead {text-transform:uppercase; font-weight:bold; font-size:11px;}
table.general-table thead td {background:#f3f3f3; font-family: 'Arvo', serif; font-weight:700;}
table.general-table tbody td {font-size:12px; vertical-align:top;}
table.general-table .odd { background: #DDD}
table.general-table .even { background: #fff}
table.general-table .pending { background:url(images/pause.png) no-repeat 2px; padding-left:24px; font-size:12px; color:#db015e;}
table.general-table .process { background:url(images/ok.png) no-repeat 10px; padding-left:28px; font-size:12px; color:#db015e;}
table.general-table .waiting { background:url(images/waiting.png) no-repeat 1px;  padding-left:18px; font-size:12px; color:#db015e;}
table.general-table .cancel { background:url(images/cancel.png) no-repeat 10px;  padding-left:28px; font-size:12px; color:#db015e;}
table.general-table a {color: #09C; text-decoration:none; font-weight:bold; font-size:11px;}
table.general-table a:hover {text-decoration:underline;}
table.general-table a.ainvo{ text-decoration:blink;} table.general-table a.ainvo:hover{ text-decoration:underline;}
span.text-normal{ font-weight:normal; font-family:Arial, Helvetica, sans-serif; text-transform:capitalize; font-size:12px;}
span#dp-price{ font-size:14px; font-weight:600;} span.dp-pricenya{ font-size:14px; font-weight:600;}
 /* GENERAL TABLE 2 */
table.general-table2 {}
table.general-table2 td {border-bottom:1px dotted #cdcdcd; padding:4px 4px 4px 2px;}
table.general-table2 thead {text-transform:none; font-weight:normal;}
table.general-table2 thead td {background:#fff; font-family:Arial; font-weight:normal;}
table.general-table2 .isi {background:#fff; font-family:Arial; font-weight:normal;}
table.general-table2 .isi2 {background:#f3f3f3; font-family:Arial; font-weight:bold; line-height:130%; color:#de073b;}
.box { padding:10px; min-width:450px}
.box h1 { font-size:25px; margin-bottom:10px }
.box h2 { font-size:15px }
/* ADD TO CART*/
.heading-wrap {overflow:hidden; margin-bottom:15px; margin-top:20px;}
.heading-wrap h2 {font-size:12px; text-transform:uppercase; background:#26ace2; padding:5px 10px 6px 10px; float:left; margin-top:6px;}
#process_checkout { list-style:none; margin-left:10px; margin-top:0px; display:block }
#process_checkout li { width:144px; float:left; text-align:center; font-size:12px; padding :5px 2px 5px 2px; border-bottom:#CCC 3px solid}
#process_checkout li.active { border-bottom:#26ace2 3px solid; font-weight:700; color:#e6317e;}
#process_checkout a.shop-link {color:#000;}
/* OVERRIDE JCART CSS */
#jcart { margin-bottom:10px } #jcart-tooltip { display:none;}
#jcart table { font-family:calibri; border:none;}
#jcart table thead tr th { background:#f4f1ea; font-size:13px; text-align:center; padding-left:5px; padding-top:8px; padding-bottom:8px; vertical-align:top;}
#jcart table tbody tr td { background:none; padding-left:5px; padding-top:8px; padding-bottom:8px; font-size:13px; vertical-align:middle; border-bottom:1px dotted #ccc;}
#jcart table tfoot tr th { padding-top:10px; vertical-align:top;}
span#jcart-subtotal { float:left; font-size:16px; padding-left:5px; padding-top:10px;}
#jcart table input#jcart-checkout {cursor:pointer; border:none; background:#009ddd; color:#fff; padding:4px 10px 4px 10px; font-weight:600; float:right; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px; border-radius:3px; text-transform:capitalize;} #jcart table input#jcart-checkout:hover { background:#e52778;}
#jcart table input.chgqty { border:1px dotted #ccc; padding:7px 4px 7px 14px; width:28px; background:#f5f4f0; color:#666; text-align:center; font-weight:600;} #jcart table input.chgqty:hover { background:#fff;}
#jcart table tbody tr td.jcart-item-price2 { font-weight:600; text-align:right; padding-right:8px;}
span.noteorder{ color:#e6317e; font-style:italic;}
#jcart table tbody tr td .img-jcart { width:50px; height:50px; overflow:hidden;}

.tb-general { margin-bottom:10px }
.tb-general table { font-family:calibri; border:none;}
.tb-general table thead tr th { background:#f4f1ea; font-size:13px; text-align:left; padding-left:5px; padding-top:8px; padding-bottom:8px; vertical-align:top;}
.tb-general table tbody tr td { background:none; padding-left:5px; padding-top:8px; padding-bottom:8px; font-size:13px; vertical-align:top; border-bottom:1px dotted #ccc;}
.tb-general table tfoot tr th { padding-top:10px; vertical-align:top;}

#fancy-shipping {width:240px; height:160px; background: url(images/icon/mobil.png) no-repeat 20px 20px #fff; padding-left:180px; padding-top:10px; border:5px solid #e6317e;}
#fancy-shipping h2 {font-size:16px; margin-bottom:10px; color:#26ace2;}
#fancy-shipping .general-form {margin-bottom:12px;}
#fancy-shipping .general-form .input-wrap input {background:#fff; width:200px;}
#fancy-shipping p {margin-bottom:12px;}
.testclick{ display:none;}
/*TEST TAMBAHAN OVERLAY */
#overlay {width:100%; height:100%; background:url(images/nuke-fancy-bg.png); z-index:1001;left:0; top:0; position:fixed;}
#yo h1 {font-family: 'Arvo', serif; font-weight:700; font-size:25px; color:#99CC00;border-bottom:1px solid #CCCCCC; margin-bottom:10px;padding-bottom:10px}
#yo { display:block; position:fixed; top:35%; left:35%; width:350px; padding:10px; border:3px solid #99CC00;
	  z-index:3500; background:#FFFFFF;}
#yo p {font-size:12px; font-family:Arial, Helvetica, sans-serif; margin-bottom:3px;}
#err {display:block; position:fixed; top:35%; left:35%; width:350px; padding:12px; border:5px solid #e6317e;
	  z-index:3500; background:#FFFFFF;}
#err h1 { font-family: 'Arvo', serif; font-weight:700; font-size:18px; color:#26ace2; border-bottom:1px dashed #CCCCCC; margin-bottom:10px;padding-bottom:10px}
#err p {font-size:13px; font-family:Arial;}
#err span.notfound {font-size:13px; font-family:Arial; color:#dd3c80; display:block; padding:0px; font-weight:bold;}
a.nuke-close-modal-close {position:absolute; top:-17px; right:-17px; text-indent:-9999px; background:url(images/fancy_close.png) no-repeat; width:34px; height:34px;}
.item-qty{ display:none;}
.norecords{ padding-left:5px; padding-top:2px;}
.login-child {background:#f2f1f1; padding:10px; margin-bottom:10px;}
.login-child h3 {font-size:14px; text-transform:uppercase;}
.login-child p {margin-bottom:5px; margin-top:2px;}
a.bold-link{background:#e6317e; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:6px 10px; text-decoration:none;}
a.bold-link:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}	
/* FORMS */
.general-form3 {}
.general-form3 label {
	// display:block; 
	font-weight:bold; 
	padding:7px 0;}
.general-form3 .label-input {margin-bottom:10px;}
.general-form3 .label-input input, .general-form3 .label-input textarea, .general-form3 .label-input select {border:none; background:#fff; padding:5px 8px; border:1px solid #e2ddd1;width:200px;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;}
.general-form3 .label-input input:hover, .general-form3 .label-input textarea:hover, .general-form3 .label-input select:hover {border:1px solid #aaa;}
.general-form3 .label-input input:focus, .general-form3 .label-input textarea:focus, .general-form3 .label-input select:focus {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
.general-form3 .input-wrap {position:relative;}
.general-form3 input.submit-btn {background:#e6317e; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:6px 10px;}
.general-form3 input.submit-btn:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
	
#addressbook-form {padding-top:10px;}
#addressbook-form select, #addressbook-form input {border:none; background:#f4f1ea; padding:5px 8px; border:1px solid #e2ddd1;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; width:200px;}
#addressbook-form input.input-s {width:30px; text-align:center;}
#addressbook-form label, #addressbook-form span {font-weight:bold;}
#addressbook-form input.submit-btn {background:#e6317e; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:6px 10px; text-decoration:none; width:100px;}
#addressbook-form input.submit-btn:hover {-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}	
#addressbook-form select:focus, #addressbook-form input:focus{
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}		
	
#coorirpage-form {padding-top:10px;}
#coorirpage-form select, #addressbook-form input {border:none; background:#f4f1ea; padding:5px 8px; border:1px solid #e2ddd1;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; width:200px;}
#coorirpage-form input.input-s {width:30px; text-align:center;}
#coorirpage-form label, #coorirpage-form span {font-weight:bold;}
#coorirpage-form input.submit-btn {background:#e6317e; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:6px 10px; text-decoration:none; width:100px;}
#coorirpage-form input.submit-btn:hover {-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}	
#coorirpage-form select:focus, #coorirpage-form input:focus{
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}	
.layoutleft{ float:left; width:204px;}
.layoutright{ float:left; width:500px; margin-top:3px;}	
.soldout-detail {float:left; color:#d12a32; font-size:13px; padding-top:3px;}
a.footertext{color:#7e7979; text-decoration:none;} a.footertext:hover{color:#555; text-decoration:none;}
a.carttext{color:#7e7979; text-decoration:none;}a.carttext:hover{color:#555; text-decoration:underline;}
#conf-from {}
#conf-form input.clearme{border:1px solid #e0dfdf; background:#fff; color:#9a9a9a; padding:7px 10px; width:180px; margin-right:5px;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;}
#conf-form select {background:#fff;}
#conf-form input.clearme:hover, #conf-form input.clearme:focus {border:1px solid #aaa;}
#conf-form input.submit-btn {background:#e6317e; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:6px 10px;}
#conf-form input.clearme:focus, #conf-form input.submit-btn:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
.confirm-text{ margin-bottom:10px; padding:5px 0px 10px 0px; color:#26ace2; font-size:20px; border-bottom:1px dashed #CCCCCC;}
.border-box{border:5px solid #e6317e;}	
.btn-edit{background-color:#26ace2; color:#FFFFFF; cursor:pointer; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:4px 10px;}
a.bold-link-kecil{background:#e6317e; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3);
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px; padding:4px 8px; text-decoration:none;}
a.bold-link-kecil:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}	

#po-order-form input.submit-btn {margin-left:655px; margin-top:1px;} a.top-linkmem{ color:#555;}a.top-linkmem:hover{ color:#E6317E;}
a#hidden_link{ display:none;}

#popup-fancy-iklan {background:#e6317e; padding:5px;}
#popup-content-iklan {background:#fff; width:780px; padding:20px;}
#popup-content-iklan .left {width:400px;}
#popup-content-iklan .left img {width:400px;}
#popup-content-iklan .right {padding:20px 25px; width:330px;}
#popup-content-iklan .right h2 {font-size:16px; line-height:24px; text-transform:capitalize; margin-bottom:15px; color:#007dc5; letter-spacing:0;}
#popup-content-iklan .right .nuke-wyiswyg {margin-bottom:25px;}
#popup-content-iklan .right p {font-size:14px; line-height:24px; color:#666;}
#popup-content-iklan .right a.green-btn:hover {text-decoration:none;}

#popup-content-iklan .right-2 {padding:20px 25px; width:530px;}
#popup-content-iklan .right-2 h2 {font-size:16px; line-height:24px; text-transform:capitalize; margin-bottom:15px; color:#007dc5; letter-spacing:0;}
#popup-content-iklan .right-2 .nuke-wyiswyg {margin-bottom:25px;}
#popup-content-iklan .right-2 p {font-size:14px; line-height:24px; color:#666;}
#popup-content-iklan .right-2 a.green-btn:hover {text-decoration:none;}
span.norecords { color:#FF0000; font-style:italic; font-size:12px;}
.wrap-ceo-text { text-align:center; padding-top:10px; padding-bottom:20px; line-height:1.3em; font-size:13px; padding-right:25px; padding-left:25px;}

/* FANCIED PRODUCT DETAIL */
#prod-detail-fancied-nopopup {width:700px; padding:10px;}
#prod-detail-fancied-nopopup h2 {font-size:18px; margin-bottom:10px; color:#e6317e; padding-bottom:10px;}
#prod-detail-fancied-nopopup .left {padding:5px; background:#f4f1ea; position:relative; float:none;}
@media(min-width: 768px){
	#prod-detail-fancied-nopopup .left {float: left;}
}
#prod-detail-fancied-nopopup .bordered {border:1px dashed #c3bcaa; padding:10px;}
#prod-detail-fancied-nopopup .img-wrap {width:350px; background:#fff; overflow:hidden;}
#prod-detail-fancied-nopopup .img-wrap img {width:350px;}
#prod-detail-fancied-nopopup .prod-ribbon {position:absolute; top:-5px; right:25px;}

#prod-detail-fancied-nopopup .submit-btn {font-size:10px; color:#fff; border:none; text-shadow:1px 1px 1px rgba(0,0,0,0.3); background:#e6317e; padding:6px; font-size:14px; width:120px; display:block;
	-moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; border-radius:5px;}
#prod-detail-fancied-nopopup .submit-btn:hover {
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 0 3px rgba(0,0,0,0.5); -o-box-shadow:0 0 3px rgba(0,0,0,0.5); box-shadow:0 0 3px rgba(0,0,0,0.5);}
	
#prod-detail-fancied-nopopup .right {width:300px;}
#prod-detail-fancied-nopopup .right h3 {font-size:16px; color:#26ace2; margin-bottom:5px;}
#prod-detail-fancied-nopopup .right .prod-merek {margin-bottom:10px;}
#prod-detail-fancied-nopopup .right .prod-price {font-size:14px; line-height:1.3em; color:#72a232; margin-bottom:12px;}
#prod-detail-fancied-nopopup .right .prod-price span {font-weight:normal; font-size:12px; color: #7E7979;}

/* 24 APRIL 2014 */
#welcome-msg {background:#f4f1ea; padding:5px; margin:0 auto; margin-bottom:20px; width:auto;
	box-shadow:0 1px 2px rgba(0,0,0,0.3); -moz-box-shadow:0 1px 2px rgba(0,0,0,0.3); -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
#welcome-msg .nuke-wysiwyg {border:1px dashed #C3BCAA; padding:10px; color:#8d9095;
	border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px;
}
#welcome-msg .nuke-wysiwyg h3 {font-family:Arial, Helvetica, sans-serif; font-style:italic; color:#E6317E; font-size:14px; letter-spacing:0.03em; margin-bottom:5px;}
#welcome-msg .nuke-wysiwyg h3 span {color:#8d9095;}
#welcome-msg .nuke-wysiwyg p {line-height:1.5em; letter-spacing:0.03em; margin-bottom:0; font-size: 12px}

#welcome-msg-po {background:#f4f1ea; padding:5px; margin:0 auto; margin-bottom:20px; width:720px;
	box-shadow:0 1px 2px rgba(0,0,0,0.3); -moz-box-shadow:0 1px 2px rgba(0,0,0,0.3); -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.3);
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;}
#welcome-msg-po .nuke-wysiwyg {border:1px dashed #C3BCAA; padding:10px; color:#8d9095;
	border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px;
}
#welcome-msg-po .nuke-wysiwyg h3 span {color:#8d9095;}
#welcome-msg-po .nuke-wysiwyg p {line-height:1.5em; letter-spacing:0.03em; margin-bottom:0;}
		
.saleGW { background: red; font-weight:bold; color: white; padding :7px}
.bank_finishorderlist { padding-bottom:10px;}
.bank_finishorderlist p { line-height:0.8em}

ul.listprod-detail li { float:left; margin-right:3px; margin-bottom:10px;}
ul.listprod-detail li img { width:80px;  border:1px solid #ccc; margin-bottom:2px;}
ul.listprod-detail li span { display:block; color:#000000; font-size:11px; font-weight:600; text-align:center;}
ul.listprod-detail li a { text-decoration:none;}
ul.listprod-detail li a:hover { color:#006699;}
a.belicatalog_item { display:inline-block; padding:7px 5px 7px 5px; text-align:center; background:#dbeef3; color:#333; margin-right:4px; margin-bottom:5px; border:1px dashed #FF9966;}
a.belicatalog_item:hover { text-decoration:none;}
span.itemBook { color:#c00000; font-weight:600;}

.left-list { padding-left:20px; }
.wrapper-catalog { float:left; width:180px; margin-bottom:10px;}
.warpper-gmbr { width:180px; height:200px; text-align:center; overflow:hidden;}
.warpper-gmbr img { width:165px;}
.title-list { padding-top:10px; text-align:center;}
.title-list a { color:#333; font-family: 'Arvo', serif; font-weight:700; font-size:12px; display:block; height:45px;}
.title-list a:hover { color:#FF3333;}
a.reset_polist { color:#000; text-decoration:underline;}
a.reset_polist:hover { text-decoration:none; color:#FF3333; }

.item-pocart {background:url(images/pattern-blue.gif) #26ace2; position:fixed; right:0px; top:45%; padding:12px 10px 14px 15px; line-height:1.6em; z-index:999;
border-left:1px dashed #fff; border-top:1px dashed #fff; border-bottom:1px dashed #fff; -webkit-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; min-width:60px;}
.item-pocart a { color:#fff;  font-family: 'Arvo', serif; font-weight:700; color:#333333;}
.item-pocart a.item-link-cart { font-size:15px; font-family: 'Arvo', serif; font-weight:700; color:#FFFFFF;}
img.imgcartitem { width:35px; display:block; padding-bottom:12px; padding-left:12px;}
.pointer { width:98%!important}

#side-rate div p {
	font-size: 12px;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: #e6317e;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #e6317e;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

/*dropdown navbar*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dro_br{
	display: none;
  position: absolute;
  background-color: #f9a11e;
  width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  top: 35px;
}
#main-nav li.dropdown:hover {
	border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border: 0px solid #000000 ;	
}

ul.dropdown-menu{
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 10px 10px;
	-webkit-border-radius: 0px 0px 10px 10px;
	border: 0px solid #000000 ;
}

.dropdown:hover .dro_br {
	background-color: #f9a11e;
    display: block;
}

.dro_br a:hover {background-color: #f1f1f1;}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
	background-color: #f39ec2;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

#register-form .label-input select {
    width: 220px;
    height: 25px;
    margin-top: 0;
}
