#carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
  .carousel-inner{:role => "listbox"} 
    - i = 0
    - @banners.each do |b|
      - i+= 1
      .item{class: "#{if i == 1 then 'active' else '' end}"}
        = image_tag b.image.url, alt: b.alt, name: b.name
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-left{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
    %span.glyphicon.glyphicon-chevron-right{"aria-hidden" => "true"}
    %span.sr-only Next
