%footer#footer
  .link-footer
    %ul#bottom-link
      %li
        %a{:href => "/static/about"} About Us
      %li
        %a{:href => "/static/how-to-order"} How to Order
      %li
        %a{:href => "/static/how-to-pre-order"} How to Pre-Order
      %li
        %a{:href => "/testimonials"} Testimonials
      %li
        %a{:href => "/static/contact"} Contact Us
      %li
        %a{:href => "/static/faq"} F.A.Qs
      %li
        %a{:href => "/static/return-policy"} Return Policy
      %li
        %a{:href => "/static/terms-and-condition"} Terms &amp; Conditions
    / #bottom-link
  #footer-center.left
    .left-wrap-footer
      #newsletter-area.round10
        .bordered.round7
          %h3 Want to know our latest updates?
          %p
            Follow us on Line account @brandedbabys and click
            %br/
            "Like" facebook fanpage link bellow.
          %ul.soc-nav
            %li
              = link_to "http://line.me/ti/p/~@brandedbabys", target: "_blank" do
                = image_tag "icon-linenew.png"
            %li
              = link_to "http://www.facebook.com/brandedbaby", target: "_blank" do
                = image_tag "icon-fb.png"
            %li
              %iframe{:allowtransparency => "true", :frameborder => "0", :height => "80", :scrolling => "no", :src => "https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=false&height=80&appId=602872219741913", :style => "border:none;overflow:hidden", :width => "180"}
          .clear
    .left-wrap-footer
      #newsletter-area.round10
        .bordered.round7
          %h3 Payment Method
          %br
          .row
            .col-xs-4
              = image_tag "bca.png", class: "img-responsive" 
            .col-xs-5
              = image_tag "mandiri.png", class: "img-responsive" 
    .clear
    .copyright
      %br
      Copyright © 2012
      = link_to "BrandedBabys.com", root_path, class: "footertext", target: :blank
  .clear