%header
  %h1
    = link_to spree.root_path do
      = image_tag "branded-babys-logo.png", class: "img-responsive"
  #needhelp-area.round10
    %span.pinked{:style => "font-size:11px;"} Call us: 02155701167
    %a.gray-link{:href => "https://www.brandedbabys.com/#", :title => ""}
      %span{:style => "font-size:11px;"} Or Sms/Whatsapp: 087882905449
    %br/
    = image_tag "need-help.png"
  #cart-area.round10
    #link-to-cart{"data-hook" => ""}
      %noscript
        = link_to Spree.t(:cart), '/cart'
    / %a.item-link{:href => "https://www.brandedbabys.com/shopping-cart"} 0 item(s)
    / %br/
    / %a.gray-link{:href => "https://www.brandedbabys.com/shopping-cart", :title => "View cart"} View Cart
  %ul.member-links
    %li.login
      - if spree_user_signed_in?
        = link_to('Logout', spree_logout_path, class: 'nuke-fancied')
      - else
        = link_to('Login', spree_login_path, class: 'nuke-fancied')

    %li.register
      - if spree_user_signed_in?
        =link_to "My Account", account_path
      - else
        =link_to "Register", spree_signup_path
       
:javascript
  Spree.fetch_cart('#{j spree.cart_link_url}')