%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
/ %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
%title= title
!= meta_data_tags
= canonical_tag(current_store.url)
= favicon_link_tag 'favicon.ico'
= stylesheet_link_tag 'spree/frontend/all', :media => 'screen'
= csrf_meta_tags
= javascript_include_tag 'spree/frontend/all'
%link{:href => "https://fonts.googleapis.com/css?family=Dancing Script", :rel => "stylesheet"}/
:javascript
  $(document).ready(function() {
  
    // Using custom configuration
    $("#side-testi").carouFredSel({
      items       : 2,
      direction     : "up",
      scroll : {
        items     : 1,
        duration    : 1000,   
        mousewheel      : true,         
        pauseOnHover  : true
      },
      auto    : {
        play      : true
      }     
    }); 
  });

/ Global site tag (gtag.js) - Google Analytics
<script src="https://www.googletagmanager.com/gtag/js?id=UA-34728911-1"></script>

:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-34728911-1');

/[if lt IE 9]
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
= yield :head
