.alert.alert-warning 
  We're upgrading our system. If you are unable to login, please 
  =link_to "reset your password here.", spree.recover_password_path 
.login-child
  %h2 Registered Customers
  %p Please login to start shopping.
  = form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path, html: {id: "login-form", class: "general-form3"} do |f|
    .label-input
      .label-wrap
        = f.label :email, Spree.t(:email)
      .input-wrap
        = f.email_field :email, tabindex: 1, autofocus: true
    .label-input
      .label-wrap
        = f.label :password, Spree.t(:password)
      .input-wrap
        = f.password_field :password, tabindex: 2
    %p= f.submit Spree.t(:login), class: 'submit-btn', tabindex: 4
    %br
    =link_to Spree.t(:forgot_password), spree.recover_password_path
