#nav-search
  %nav.navbar
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.nuke-fancied MENU
    #bs-example-navbar-collapse-1
      %ul#main-nav
        %li= link_to "Home", root_path
        - if current_spree_user
          %li= link_to "Payment", new_payment_confirmation_url, "data-toggle" => "modal", "data-target" => "#payment-confirmation"
        - else
          %li= link_to "Payment", new_payment_confirmation_url
        %li= link_to "Ready Stock", products_album_path(type: "ready_stock")
        / %li.dropdown
        /   %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
        /     Ready Stock
        /     %span.caret
        /   %ul.dropdown-menu
        /     %li= link_to "All", products_album_path(type: "ready_stock")
        /     %li= link_to "By Category", products_album_path(type: "ready_stock", t: "category")
        /     %li= link_to "By Brand", products_album_path(type: "ready_stock", t: "brand")
        /     %li= link_to "By Album", products_album_path(type: "ready_stock", t: "album")
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Preorder
            %span.caret
          %ul.dropdown-menu.dro_br
            = link_to "View Product", products_album_path(type: "preorder")
            / %li= link_to "By Category", products_album_path(type: "preorder", t: "category")
            / %li= link_to "By Brand", products_album_path(type: "preorder", t: "brand")
            = link_to "View Album", products_album_path(type: "preorder", t: "album")
        %li= link_to "Sale", products_sale_path
        %li
          %a{:href => "/static/contact"} Contact Us
  = render :partial => 'spree/shared/search'

#payment-confirmation.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content