- paginated_products = @searcher.retrieve_products if params.key?(:keywords)
- paginated_products ||= products
- content_for :head do
  - if paginated_products.respond_to?(:total_pages)
    = rel_next_prev_link_tags paginated_products
%div{"data-hook" => "products_search_results_heading"}
  - if products.empty?
    %div{"data-hook" => "products_search_results_heading_no_results_found"}
      = Spree.t(:no_products_found)
  - elsif params.key?(:keywords)
    %div{"data-hook" => "products_search_results_heading_results_found"}
      %h6.search-results-title= Spree.t(:search_results, keywords: h(params[:keywords]))
- if products.any?
  %ul.prod-list
    - products.each do |product|
      - url = spree.product_path(product, taxon_id: @taxon.try(:id))
      %li{:class => "columns three #{cycle("alpha", "secondary", "", "omega secondary", name: "classes")}", "data-hook" => "products_list_item", :id => "product_#{product.id}", :itemscope => "", :itemtype => "http://schema.org/Product"}
        - cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do
          .bordered
            %h3.prod-name
              = link_to truncate(product.sku, length: 50), url, class: 'info', itemprop: "name", title: product.sku,"data-toggle" => "modal", "data-target" => "#show-product"
            .prod-merek= truncate(product.name, length:20)
            .img-wrap
              = link_to image_tag(product.display_image.attachment(:product), itemprop: "image"), url, itemprop: 'url',"data-toggle" => "modal", "data-target" => "#show-product"
            .prod-bottom
              .prod-price.left
                - if product.sale?
                  %s
                    = display_price(product)
                  = display_price(product, 'sale')
                - else
                  = display_price(product)
                %span per pcs
                - if product.preorder?
                  %p.eta-product= product.po_estimation
              - if product.master.can_supply? || product.variants.joins(:stock_items).sum(:count_on_hand) > 0
                = link_to "Add to Cart", url, class: 'submit-btn additem', style: 'color:white', "data-toggle" => "modal", "data-target" => "#show-product"
              - elsif product.variants.empty?
                %span.out-of-stock.left Sold Out
              - else 
                %span.out-of-stock.left Sold Out
              .clearfix
            - if product.is_new_arrival?
              = image_tag "ribbon-new.png", class: "ribbon-new prod-ribbon"
            - if product.is_preorder?
              = image_tag "ribbon-po.png", class: "ribbon-new prod-ribbon"
            - if product.sale?
              = image_tag "ribbon-sale.png", class: "ribbon-new prod-ribbon"
    - reset_cycle("classes")
- if paginated_products.respond_to?(:total_pages)
  .row.clearfix
    .text-center
      = paginate paginated_products

#show-product.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content


:javascript
  $("#show-product").on('hidden.bs.modal', function() {
    $(this).removeData('bs.modal');
  });
