= form_tag spree.products_path, :method => :get, class: 'round10', id: "search-form" do
  = search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "clearme"
  = submit_tag Spree.t(:search), :name => nil, class: "submit-btn"