%aside#sidebar.left
  - max_level = Spree::Config[:max_level_in_taxons_menu] || 1
  - @taxonomies = show_taxonomies
  - i = 1
  .sidebar-child
    -# - number = i % 3
    -# - if number == 1
    -#   - css_class = "pinky"
    -# - elsif number == 2
    -#   - css_class = "greeny"
    -# - elsif number == 0
    -#   - css_class = "orangei"
    %nav.dropme{class: "pinky"}
      %h3 Ready Stock
      %ul.side-cat-list
        %li
          .nuke-fancied 
        = taxons_tree(Spree::Taxon.find(118), @taxon, max_level)
    %nav.dropme{class: "greeny"}
      %h3 Preorder
      %ul.side-cat-list
        %li
          .nuke-fancied  
            = link_to "VIEW ALL PO PRODUCT", products_album_path(type: "preorder")
        %li
          .nuke-fancied
            = link_to "VIEW PO ALBUM", products_album_path(type: "preorder", t: "album")
        = taxons_tree(Spree::Taxon.find(70), @taxon, max_level)
    %nav.dropme.orangei
      %h3 
        - if spree_current_user
          = link_to "My Account", account_path(spree_current_user)
          %ul.side-cat-list
            %li
              .nuke-fancied
                = link_to "My Orders", account_path(spree_current_user)
        - else
          = link_to "My Account", new_spree_user_session_path
  #side-rate.sidebar-child.round10
    #shipping-rate.bordered.round7
      %h3 Check Shipping Rate
      %p Silakan pilih area Anda untuk menghitung ongkos kirim:
      = form_tag check_shipping_rate_shipping_rates_url, method: :put, id: "rate-form" do
        = select_tag "provinces2", options_from_collection_for_select(Spree::State.all, "id", "name"), {id: "provinces2", class: "select-state", prompt: "Pilih Provinsi"}
        = grouped_collection_select :city, :state_id, Spree::State.order(:name), :cities, :name, :id, :name, {include_blank: true}, {class: "select-city", prompt: "Kota/Kabupaten"}
        .weight-label
          %label> Weight
          = succeed "\u{a0}\u{a0}" do
            %input#berat.input-s{:name => "berat", :type => "text", :value => "1"}/
          %span Kg
        %input#chekship.submit-btn{:name => "submit_sidebar", :type => "submit", :value => "SUBMIT"}
  .sidebar-child
    #side-testi-top
      %h3 Testimonials
      = image_tag "icon-testimonial.png"
      .caroufredsel_wrapper{:style => "text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; width: 160px; height: 96px; margin: 0px; overflow: hidden;"}
        %ul#side-testi{:style => "text-align: left; float: none; position: absolute; top: 0px; left: 0px; margin: 0px; height: 1214px; width: 160px;"}
          - testimonials.each do |t|
            %li{:style => "list-style-type:none;"}
              .testimoner
                = t.name
                (
                = t.created_at.strftime("%d/%m")
                )
              .testinya
                %p{:style => "font-size:11px;"}= t.testimonial
    #side-testi-bottom
      %ul.testi-link
        %li
          %a.nuke-fancied{"data-target" => "#testi", "data-toggle" => "modal", :title => "Add new testimonial"} Add new
        %li
          %a{:href => "/testimonials", :title => "View all testimonial"} View all
  .sidebar-child
    .text-center
      %a{:href => "https://line.me/R/ti/p/%40brandedbabys"}
        %img{:alt => "Add Friend", :border => "0", :height => "36", :src => "https://scdn.line-apps.com/n/line_add_friends/btn/en.png"}/
= render partial: 'spree/shared/testimonial'

