#testi.modal.fade.bs-example-modal-sm{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content.bg-testi
      .modal-bodywidth
        .bordered
          %h2 Write Testimonial for Us!
          %br/
          = image_tag "teddybear.png", class: "teddy-bear"
          = image_tag "icon-testimonial.png", class: "baloon"
          .general-form
            = form_for testimonial do |f|
              .label-input
                %label Your Name:
                = f.field_container :name do
                  = f.text_field :name
              .label-input
                %label Your Testimonial:
                = f.field_container :testimonial do
                  = f.text_area :testimonial
              / .label-input{:style => "position:relative;"}
              /   %label Captcha:
              /   %div{:style => "padding-bottom:3px;"}
              /     %input.input-s{:name => "captcha", :type => "text"}>
              /     %strong{:style => "font-size:16px;"}
              /       + 10 = ?
              .label-input
                %input.submit-btn{:name => "submit", :type => "submit", :value => "SUBMIT"}
      
