#register-form.general-form.horizontal-form
  .label-input
    .label-wrap
      %label Name
      %br/
    .input-wrap
      = f.text_field :name, class: 'title'
  .label-input
    .label-wrap
      %label Email
      %br/
    .input-wrap
      = f.email_field :email, class: 'title'
  .label-input
    .label-wrap
      %label Phone
      %br/
    .input-wrap
      = f.text_field :phone, class: 'title'
  .label-input
    .label-wrap
      %label Preferred Contact
      %br/
    .input-wrap
      = f.text_field :prefer_contact, :placeholder => "Example: Whatsapp/Phone", class: 'title'
  .label-input
    .label-wrap
      %label Password
      %br/
    .input-wrap
      = f.password_field :password, class: 'title'
  .label-input
    .label-wrap
      %label Password Confirmation
      %br/
    .input-wrap
      = f.password_field :password_confirmation, class: 'title'
  .label-input
    .label-wrap
      %label Birthdate
      %br/
    .input-wrap
      = f.date_field :birthdate, class: 'title'
  .label-input
    .label-wrap
      %label How do you know us?
      %br/
    .input-wrap
      = f.select :howdoyou, [["Facebook", "facebook"], ["Google", "google"], ["Friends", "friends"], ["Others", "others"]], class: 'title'
