.tab-content
  #tab-fillup1.tab-pane.active
    .right.general-page
      %h2 My Address List
      %br/
      - @user.addresses.each do |address|
        .account-summary.well{"data-hook" => "account_summary"}
          %dl
            %dt Address
            %dd
              %p #{address.first_name} #{address.last_name}
              %p #{address.address1}. #{address.address2}. #{address.state.name}. #{address.zipcode}
              %p telp: #{address.phone}