- content_for :sidebar do
  %div{"data-hook" => "homepage_sidebar_navigation"}
    = render :partial => 'spree/shared/taxonomies'
%div{"data-hook" => "homepage_products"}
  - cache(cache_key_for_products) do
    = render :partial => 'spree/shared/products', :locals => { :products => @products.ready_stock }

-if splash_screen.present?
  #splashScreen.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .vertical-alignment-helper-1
      .modal-dialog.vertical-align-center-1{:role => "document", style: "width:60%"}
        .modal-content.modal-content-1
          .modal-body
            .panel-body
              .row
                .col-xs-5
                  = image_tag splash_screen.image.url, class: "img-responsive"
                .col-xs-5
                  .splashScreen
                    = splash_screen.description.html_safe
          .modal-footer
            %button.btn.btn-pink{"aria-hidden" => "true", "data-dismiss" => "modal"} Close


:javascript
  if($.cookie('prepare') != 'seen'){
      $.cookie('prepare', 'seen', { expires: 1, path: '/' }); 
      setTimeout(function(){
           $('#splashScreen').modal('show');
          }, 1000);
      $('#closemodal').click(function() // You are clicking the close button
      {
          $('#splashScreen').modal('hide'); // Now the pop up is hiden.
      });
      $('#splashScreen').click(function(e) 
          {
          $('#splashScreen').fadeOut(); 
      });
  };
