- @shipping_addresses.each do |address|
  - items = @invoice_items.where(ship_address_id: address)
  - total_adjustment = items.sum(:adjustment_total)
  - shipment = items.first.shipment
  - ship_address = Spree::Address.find_by_id address
  .modal-header
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    %h4#myModalLabel.modal-title Invoice ID #{@invoice.id}
  .modal-body
    .panel-body
    - if @invoice.present?
      - if @invoice.status == "pending_payment"
        %button{:onclick => "ekspedisi()", class: "btn btn-pink"} Ubah Ekspedisi
        %br
        %br
        #showEkspedisi{style:"display: none"}
          .account-summary.well{"data-hook" => "change_shipping_method"}
            .text-center
              %p{style: "color: #e42074; font-size:medium"} EKSPEDISI : #{items.first.shipping_method.name}
              %p{style: "color: #e42074; font-size:12px"} * Jika anda ingin mengubah ekspedisi silahkan pilih ekspedisi yg diinginkan dan klik tombol save  
              %br
              = form_for "shipment", :url => ubah_ekspedisi_user_path(@invoice), method: :put do |f|
                = f.select :courier, Spree::ShippingMethod.available_for_address(@invoice.items.first.ship_address).where(available_to_users: true).map {|s| [s.name, s.id]}, {:include_blank => false}, :class => 'title'
                %br
                %br
                = f.submit "Save", class: "btn btn-pink"
      #jcart
        %table.table.table-striped.order-summary
          %thead.active
            %tr
              %th Order ID
              %th Image
              %th Name
              %th Pack Qty
              %th Items per Pack
              %th Total Items
              %th Price
            %tbody
              - weight = 0
              - items.each do |invoice_item|
                - line_item = Spree::LineItem.find_by_id invoice_item.inventory_unit.line_item_id
                - weight += invoice_item.total_weight_item
                %tr
                  %td.align-center= invoice_item.inventory_unit.order.number
                  %td.align-center= image_tag invoice_item.inventory_unit.variant.display_image.attachment(:mini)
                  %td.align-center= invoice_item.inventory_unit.variant.sku
                  %td.align-center= invoice_item.quantity
                  %td.align-center= invoice_item.inventory_unit.line_item.qty_per_pack
                  %td.align-center= invoice_item.total_pieces
                  %td.align-center= invoice_item.inventory_unit.line_item.single_money.to_html
            %tfooter
              %tr
                %td{:style => "text-align: right;",colspan: 7} Total Adjustment
                %td.align-center= number_to_currency total_adjustment
              - if !shipment.nil?
                %tr
                  %td.align-right{:style => "text-align: right;",colspan: 7} Shipping Fee
                  %td.align-center= shipment.display_amount.to_html
              %tr
                %td.align-right{:style => "text-align: right;",colspan: 7} Weight Total (Kg)
                %td.align-center= weight
              %tr
                %td.align-right{:style => "text-align: right;",colspan: 7} Subtotal
                %td.align-center= number_to_currency total_amount(items, shipment)
              %tr
                %td.align-right{:style => "text-align: right;",colspan: 7} Down Payment
                %td.align-center= number_to_currency @invoice.dp_paid
              %tr
                %td.align-right{:style => "text-align: right;",colspan: 7} Total
                %td.align-center= number_to_currency total_amount(items, shipment)-@invoice.dp_paid
              %tr
                %td{:style => "text-align: right;",colspan: 7} Ekspedisi
                %td.align-center #{items.first.shipping_method.name}
              - if @invoice.status == "pending_payment"
                %tr
                  %td{:style => "text-align: right;",colspan: 7} Sisa Tagihan
                  %td.align-center #{number_to_idr @invoice.outstanding_balance}
    - else  
      .alert.alert-info No Invoice Item List
:javascript
  $(document.body).on('hidden.bs.modal', function () {
    $('#invoice-modal').removeData('bs.modal')
  });
  function ekspedisi() {
      var x = document.getElementById('showEkspedisi');
      if (x.style.display === 'none') {
          x.style.display = 'block';
      } else {
          x.style.display = 'none';
      }
  }