.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Order ID #{@order.number}
.modal-body
  .panel-body
    #checkout{"data-hook" => ""}
      = render :partial => 'spree/shared/error_messages', :locals => { :target => @order }
    %fieldset#order_summary{"data-hook" => ""}
      #order.order-show{"data-hook" => ""}
        .row
          .col-sm-11
            #jcart
              %fieldset
                %table.general-table-old{"data-hook" => "order_details"}
                  %thead{"data-hook" => ""}
                    %tr
                      %th{:colspan => "2"}
                        %strong#jcart-title Shopping Cart
                        = Spree.t(:item)
                      %th Pack Qty
                      %th Items per Pack
                      %th{:width => "10%"} Total Items
                      %th= Spree.t(:price)
                      %th Discount
                      %th Net Price
                      %th= Spree.t(:total)
                      %th= "Status Shipment" if @order.preorder?
                  %tbody{"data-hook" => ""}
                    - @order.line_items.each do |item|
                      %tr{"data-hook" => "order_details_line_item_row"}
                        - if !@order.preorder?
                          %td{"data-hook" => "order_item_image"}
                            - if item.variant.images.length == 0
                              = link_to image_tag(item.variant.product.display_image.attachment(:mini)), item.variant.product
                            - else
                              = link_to image_tag(item.variant.images.first.attachment.url(:mini)), item.variant.product
                        - else
                          %td
                        %td{"data-hook" => "order_item_description"}
                          %h4= item.variant.product.name
                          (#{item.variant.product.preorder? ? "Preorder" : "Ready Stock"})
                          = item.variant.sku
                          = "(" + item.variant.options_text + ")" unless item.variant.option_values.empty?
                        %td.text-center= item.quantity
                        %td.text-center= item.qty_per_pack
                        %td.text-center= item.total_pieces
                        %td.text-center= number_to_currency item.variant.price
                        %td.text-center= number_to_currency item.discount_amount
                        %td.price{"data-hook" => "order_item_price"}
                          %span= item.single_money.to_html
                        %td.total{"data-hook" => "order_item_total"}
                          %span= item.display_amount.to_html
                        - if @order.preorder?
                          - inv_unit_state = item.inventory_units.first.state
                          %td #{if inv_unit_state == "shipped" then "Shipped" else "Pending" end}
                  - if @order.preorder?
                    %tr.total
                      %td.text-right{:colspan => "#{if @order.preorder? then 8 else 7 end}"}
                        %b Total Order
                      %td
                      %td.total
                        %span= @order.display_item_total.to_html
                    %tr.total
                      %td.text-right{:colspan => "#{if @order.preorder? then 8 else 7 end}"}
                        %strong Total DP yang harus dibayarkan
                      %td
                      %td
                        %span= @order.display_down_payment_total.to_html
                    - if @order.total_applicable_store_credit > 0.0
                      #store-credit{"data-hook" => "order_details_store_credit"}
                        %tr.total
                          %td.text-right{:colspan => "#{if @order.preorder? then 8 else 7 end}"}
                            %strong Dibayar dengan store credit
                          %td
                          %td
                            %span= @order.display_total_applicable_store_credit.to_html
                    %tr.total
                      %td.text-right{:colspan => "#{if @order.preorder? then 8 else 7 end}"}
                        %strong Sisa DP yang harus dibayarkan
                      %td
                      %td
                        - if @order.payment_state == "balance_due"
                          %span= @order.display_outstanding_down_payment.to_html
                        - else
                          %span 0
                  - else
                    #subtotal{"data-hook" => "order_details_subtotal"}
                      %tr#subtotal-row.total
                        %td.text-right{:colspan => "#{if @order.preorder? then 8 else 7 end}"}
                          %b
                            = Spree.t(:subtotal)
                        %td.total
                          %span= @order.display_item_total.to_html
                    - if @order.line_item_adjustments.exists?
                      - if @order.all_adjustments.promotion.eligible.exists?
                        #price-adjustments{"data-hook" => "order_details_price_adjustments"}
                          - @order.all_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments|
                            %tr.total
                              %td.text-right{:colspan => "#{if @order.preorder? then 8 else 7 end}"}
                                = Spree.t(:promotion)
                                %strong= label
                              %td.total
                                %span= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency)
                    #shipment-total
                      - @order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments|
                        %tr.total{"data-hook" => "shipment-row"}
                          %td.text-right{:colspan => "#{if @order.preorder? then 8 else 7 end}"}
                            = Spree.t(:shipping)
                            %strong (#{name})
                          %td.total
                            %span= Spree::Money.new(shipments.sum(&:discounted_cost), currency: @order.currency).to_html
                    - if @order.all_adjustments.tax.exists?
                      #tax-adjustments{"data-hook" => "order_details_tax_adjustments"}
                        - @order.all_adjustments.tax.group_by(&:label).each do |label, adjustments|
                          %tr.total
                            %td.text-right{:colspan => "#{if @order.preorder? then 8 else 7 end}"}
                              = Spree.t(:tax)
                              %strong= label
                            %td.total
                              %span= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency)
                    - if @order.total_applicable_store_credit > 0.0
                      #store-credit{"data-hook" => "order_details_store_credit"}
                        %tr.total
                          %td.text-right{:colspan => "#{if @order.preorder? then 8 else 7 end}"}
                            %strong= Spree.t("store_credit.store_credit")
                          %td.total
                            %span= @order.display_total_applicable_store_credit.to_html
                    #order-charges{"data-hook" => "order_details_adjustments"}
                      - @order.adjustments.eligible.each do |adjustment|
                        - next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0)
                        %tr.total
                          %td.text-right{:colspan => "#{if @order.preorder? then 8 else 7 end}"}
                            %strong= adjustment.label
                          %td.total
                            %span= adjustment.display_amount.to_html
                    #order-total{"data-hook" => "order_details_total", style: "font-size: 12px;"}
                      %tr.total
                        %td.text-right{:colspan => "#{if @order.preorder? then 8 else 7 end}"}
                          %b
                            = Spree.t(:order_total)
                        %td.total
                          %span#order_total= @order.display_order_total_after_store_credit.to_html

:javascript
  $(document.body).on('hidden.bs.modal', function () {
    $('#order-modal').removeData('bs.modal')
  });