%h3= link_to "< Back", :back
%br
%table.table#sc-detail-table
  %colgroup
    %col{:style => "width: 20%;"}/
    %col{:style => "width: 65%;"}/
    %col{:style => "width: 15%;"}/
  %tr
    %td
      %strong
        = Spree::StoreCredit.human_attribute_name(:amount)
        \:
    %td= @store_credit.display_amount.to_html
    %td.actions
  %tr
    %td
      %strong
        = Spree::StoreCredit.human_attribute_name(:created_by_id)
        \:
    %td= @store_credit.created_by_email
    %td.actions
  %tr
    %td
      %strong
        = Spree.t("admin.store_credits.credit_type")
        \:
    %td= @store_credit.category_name
    %td.actions
  %tr#memo-display-row
    %td
      %strong
        = Spree::StoreCredit.human_attribute_name(:memo)
        \:
    %td.js-memo-text
      = @store_credit.memo
%fieldset
  %legend{:align => "center"}= Spree.t("admin.store_credits.history")
  %table.table.store-credit
    %colgroup
      %col{:style => "width: 15%;"}/
      %col{:style => "width: 10%;"}/
      %col{:style => "width: 10%;"}/
      %col{:style => "width: 25%;"}/
      %col{:style => "width: 10%;"}/
      %col{:style => "width: 30%;"}/
    %thead
      %tr
        %th= Spree.t(:date)
        %th= Spree::StoreCreditEvent.human_attribute_name(:action)
        %th= Spree::StoreCredit.human_attribute_name(:amount)
        %th= Spree::StoreCredit.human_attribute_name(:created_by_id)
        %th= Spree::StoreCreditEvent.human_attribute_name(:user_total_amount)
        %th= Spree::StoreCreditUpdateReason.human_attribute_name(:name)
    %tbody
      - @store_credit_events.each do |event|
        %tr
          %td{"data-hook" => "admin_show_store_credit_date_cell"}
            = pretty_time(event.created_at)
          %td= store_credit_event_admin_action_name(event)
          %td.align-right= event.display_amount
          %td= store_credit_event_originator_link(event)
          %td.align-right= event.display_user_total_amount
          %td= event.update_reason.try!(:name)
