= form_for "pay_credit", url: use_sc_credit_path, method: :put do |f|
  .modal-header
    %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    %h4#myModalLabel.modal-title Credit #{@invoice.id} | Store Credit Anda : #{spree_current_user.display_total_available_store_credit}
  .modal-body
    %h5{style: "color: #e42074"} Total Credit: #{number_to_currency(@invoice.outstanding_balance)}
    %br
    .form-group
      = f.label :amount, "Jumlah", class: 'col-sm-3 control-label text-left'
      .col-sm-7
        = f.number_field :amount, class: 'form-control', min: 1000, max: spree_current_user.total_available_store_credit, placeholder: "Masukkan jumlah store credit yg ingin digunakan"
    %br
    %p{style: "color: #e42074"}
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
    = f.submit "Confirm", class: 'btn btn-pink'

:javascript
  $(document.body).on('hidden.bs.modal', function () {
    $('#pay-sc-credit').removeData('bs.modal')
  });