!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Journal - BrandedBabys
    %link{:href => "pages/ico/60.png", :rel => "apple-touch-icon"}
    %link{:href => "pages/ico/76.png", :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => "pages/ico/120.png", :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => "pages/ico/152.png", :rel => "apple-touch-icon", :sizes => "152x152"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "yes", :name => "apple-touch-fullscreen"}
    %meta{:content => "default", :name => "apple-mobile-web-app-status-bar-style"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    'journal', media: 'all', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
  %body.fixed-header
    / BEGIN SIDEBAR
    .page-sidebar{"data-pages" => "sidebar"}
      #appMenu.sidebar-overlay-slide.from-top
      / BEGIN SIDEBAR HEADER
      .sidebar-header
        %img.brand{:alt => "logo", "data-src" => "#{image_path('journal/logo.png')}", "data-src-retina" => "#{image_path('journal/logo_2x.png')}", :height => "25", :src => "#{image_path('journal/logo.png')}", :width => "93"}
          .sidebar-header-controls
            %button.btn.btn-xs.sidebar-slide-toggle.btn-link.m-l-20{"data-pages-toggle" => "#appMenu", :type => "button"}
              %i.fa.fa-angle-down.fs-16
            %button.btn.btn-link.visible-lg-inline{"data-toggle-pin" => "sidebar", :type => "button"}
              %i.fa.fs-12
      .sidebar-menu
        %ul.menu-items
          %li.m-t-30
            = link_to cash_and_bank_journal_reports_path do
              %span.title Cash & Bank
              / %span.details 234 notifications
            %span.icon-thumbnail CB
          -# %li
          -#   %a{:href => "javascript:;"}
          -#     %span.title Transaction
          -#     %span.arrow
          -#   %span.icon-thumbnail T
          -#   %ul.sub-menu
          -#     %li
          -#       = link_to "Transaction", journal_transactions_path
          -#       %span.icon-thumbnail= link_to "TR", journal_transactions_path
              / %span.details 234 notifications
          %li
            = link_to journal_bills_path do
              %span.title Expense
            %span.icon-thumbnail EX
          %li
            = link_to journal_info_payments_path do
              %span.title Info Payment
              / %span.details 234 notifications
            %span.icon-thumbnail IP
          %li
            %a{:href => "javascript:;"}
              %span.title Store Credits
              %span.arrow
            %span.icon-thumbnail
              %i.pg-grid
            %ul.sub-menu
              %li
                = link_to "History", journal_store_credits_path
                %span.icon-thumbnail= link_to "HSC", journal_store_credits_path
              %li
                = link_to "Payment Store Credit", journal_payment_store_credits_path
                %span.icon-thumbnail= link_to "PSC", journal_payment_store_credits_path
              %li
                = link_to "Category Store Credit", journal_store_credit_categories_path
                %span.icon-thumbnail= link_to "CSC", journal_store_credit_categories_path
          %li
            %a{:href => "javascript:;"}
              %span.title Account Payable
              %span.arrow
            %span.icon-thumbnail AP
            %ul.sub-menu
              - if spree_current_user.admin?
                %li
                  = link_to "Purchase Invoice", journal_purchase_invoices_path
                  %span.icon-thumbnail= link_to "PI", journal_purchase_invoices_path
              %li
                = link_to "Cash Out Request", cash_out_request_journal_store_credits_path
                %span.icon-thumbnail= link_to "COR", cash_out_request_journal_store_credits_path
          - if spree_current_user.admin?
            %li
              = link_to journal_transaction_rmbs_path do
                %span.title RMB Transactions
              %span.icon-thumbnail RMB
            %li
              = link_to journal_transfer_funds_path do
                %span.title Transfer Fund
              %span.icon-thumbnail TF
          %li
            = link_to journal_invoices_path do
              %span.title Credit Notes
            %span.icon-thumbnail CN
          - if spree_current_user.admin?
            %li
              = link_to journal_accounts_path do
                %span.title Chart of Account
              %span.icon-thumbnail CA
            %li
              = link_to all_journal_entries_journal_journal_items_path do
                %span.title Journal Entries
              %span.icon-thumbnail JE
            %li
              = link_to journal_journal_items_path do
                %span.title Journal Items
              %span.icon-thumbnail JI
            / %li
            /   %a{:href => "javascript:;"}
            /     %span.title Settings
            /     %span.arrow
            /   %span.icon-thumbnail
            /     %i.pg-grid
            /   %ul.sub-menu
            /     %li
            /       %a= link_to "Account", journal_accounts_path
            /       %span.icon-thumbnail= link_to "AC", journal_accounts_path
            /     %li
            /       %a= link_to "Category", journal_categories_path
            /       %span.icon-thumbnail= link_to "CT", journal_categories_path
            %li
              %a{:href => "javascript:;"}
                %span.title Reports
                %span.arrow
              %span.icon-thumbnail
                %i.pg-grid
              %ul.sub-menu
                %li
                  = link_to "Account Transaction", transaction_journal_reports_path(q: {account_id_eq: Journal::Account.find_by_code('1-10004').id})
                  %span.icon-thumbnail= link_to "AT", transaction_journal_reports_path(q: {account_id_eq: Journal::Account.find_by_code('1-10004').id})
                %li
                  = link_to "Profit & Loss", profit_and_loss_journal_reports_path
                  %span.icon-thumbnail= link_to "PL", profit_and_loss_journal_reports_path
                %li
                  = link_to "Trial Balance", trial_balance_journal_reports_path
                  %span.icon-thumbnail= link_to "TB", trial_balance_journal_reports_path
                %li
                  = link_to "General Ledger", general_ledger_journal_reports_path(q: {created_at_gteq: Date.today-2, created_at_lteq: Date.today})
                  %span.icon-thumbnail= link_to "GL", general_ledger_journal_reports_path(q: {created_at_gteq: Date.today-2, created_at_lteq: Date.today})
                %li
                  = link_to "Balance Sheet", balance_sheet_journal_reports_path
                  %span.icon-thumbnail= link_to "BS", balance_sheet_journal_reports_path
                %li
                  = link_to "Cash Flow Statement", cash_flow_statement_journal_reports_path(q: {created_at_gteq: Date.today.beginning_of_month, created_at_lteq: Date.today})
                  %span.icon-thumbnail= link_to "CFS", cash_flow_statement_journal_reports_path(q: {created_at_gteq: Date.today.beginning_of_month, created_at_lteq: Date.today})
          %li
            = link_to spree_logout_path do
              %span.title Log out
            %span.icon-thumbnail
              %i.pg-power
        .clearfix
    .page-container
      .header
        / START MOBILE CONTROLS
        .container-fluid.relative
          / LEFT SIDE
          .pull-left.full-height.visible-sm.visible-xs
            / START ACTION BAR
            .header-inner
              %a.btn-link.toggle-sidebar.visible-sm-inline-block.visible-xs-inline-block.padding-5{"data-toggle" => "sidebar", :href => "#"}
                %span.icon-set.menu-hambuger
            / END ACTION BAR
          .pull-center.hidden-md.hidden-lg
            .header-inner
              .brand.inline
                %img{:alt => "logo", "data-src" => "#{image_path('journal/logo.png')}", "data-src-retina" => "#{image_path('journal/logo_2x.png')}", :height => "25", :src => "#{image_path('journal/logo.png')}", :width => "93"}
            / END ACTION BAR
        / END MOBILE CONTROLS
        .pull-left.sm-table.hidden-xs.hidden-sm
          .header-inner
            .brand.inline
              %img{:alt => "logo", "data-src" => "#{image_path('journal/logo.png')}", "data-src-retina" => "#{image_path('journal/logo_2x.png')}", :height => "25", :src => "#{image_path('journal/logo.png')}", :width => "93"}
        .pull-right
          / START User Info
          .visible-lg.visible-md.m-t-10
            .pull-left.p-r-10.p-t-10.fs-16.font-heading
              %span.semi-bold= spree_current_user.email
      .page-content-wrapper
        .content
          = yield
        .container-fluid.container-fixed-lg.footer
          .copyright.sm-text-center
            %p.small.no-margin.pull-left.sm-pull-reset
              %span.hint-text Copyright © 2017
              = succeed "." do
                %span.font-montserrat BrandedBabys
              %span.hint-text All rights reserved.
            .clearfix
    = javascript_include_tag 'journal', 'data-turbolinks-track': 'reload'
    = yield :js
