.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Expenses
.modal-body
  .panel-body
    = form_for @journal_bill do |f|
      - if @journal_bill.errors.any?
        #error_explanation
          %h2= "#{pluralize(@journal_invoice.errors.count, "error")} prohibited this journal_invoice from being saved:"
          %ul
            - @journal_bill.errors.full_messages.each do |msg|
              %li= msg
      .form-group.form-group-default.required
        %label Account
        = f.collection_select(:category, Journal::Account.expense.order(:name), :id, :name, {:prompt => 'Select Category'}, {:class => "form-control"})
      .form-group.form-group-default.required
        %label Description
        = f.text_field :description, class: "input form-control"
      .form-group.form-group-default.required
        %label Total
        = f.text_field :total, class: "input form-control"
      .actions
        = f.hidden_field :currency, value: "IDR"
        = f.submit 'Submit', class: "btn btn-success"