.jumbotron{"data-pages" => "parallax"}
  .container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
    .inner{style: "padding-top: 25px; padding-bottom: 25px;"}
      .pull-left
        %h2.m-b-0.m-t-0 Expense
      .pull-right
        = link_to new_journal_bill_url, "data-toggle" => "modal", "data-target" => "#new-bill", class: 'btn btn-success' do
          %i.fa.fa-plus
          Create Expense
      .clearfix
.container-fluid.container-fixed-lg
  = render "journal/shared/flash_alert"
  = search_form_for @q, url: journal_bills_path do |f|
    .row
      .col-sm-4
        .form-group.form-group-default
          = f.label :number_cont, "number"
          = f.text_field :number_cont, class: "form-control"
      .col-sm-4
        .form-group.form-group-default
          = f.label :payment_state_eq, "Payment State"
          = f.select :payment_state_eq, options_for_select([["Paid", "paid"], ["Partially Paid", "partially_paid"], ["Pending", "pending"]]), {include_blank: true}, :class => "form-control", "data-init-plugin" => "select2", prompt: "Choose one"
      .col-sm-4
        .form-group.form-group-default
          = f.label :items_description_cont, "Description"
          = f.text_field :items_description_cont, class: "form-control"
    .row
      .col-sm-4.col-sm-offset-4.text-center
        = f.submit "Filter", class: "btn btn-success"
  
  - if !@bills.empty?
    = paginate @bills, theme: "solidus_admin" 
    %table#example.table
      %thead
        %tr
          %th Action
          %th Number
          %th User
          %th Category
          %th Amount
          %th Description
          %th Payment State
          %th Pay with
        %tbody
          - @bills.each do |s|
            = form_for "record_bill", :url => record_bill_rmb_journal_bill_path(s.id), method: :put do |f|
              %tr
                %td
                  .btn-group
                    %button.btn.btn-default{:type => "button"} Action
                    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                      %span.caret
                    %ul.dropdown-menu{:role => "menu"}
                      %li= link_to 'View', edit_journal_bill_path(s), "data-toggle" => "modal", "data-target" => "#edit-bill"
                      - if s.pending?
                        %li
                          = link_to 'Edit', edit_journal_bill_path(s), "data-toggle" => "modal", "data-target" => "#edit-bill"
                        %li
                          = link_to 'Delete', journal_bill_path(s), :method => :delete, :data => { :confirm => 'Are you sure?' }
                      - if !s.paid?
                        %li
                          = link_to 'Add Payment', new_payment_journal_bill_path(s), "data-toggle" => "modal", "data-target" => "#add-payment"
                %td= s.number
                %td= s.vendor
                %td= s.items.empty? ? "-" : Journal::Account.find_by_id(s.items.first.category).name
                %td= number_to_multi_currency(s.total, s.currency)
                %td #{s.items.empty? ? "-" : s.items.first.description}
                %td= s.payment_state
                %td
                  - if s.paid?
                    %ul
                      - s.payments.each do |payment|
                        %li #{payment.created_at.strftime("%Y-%m-%d")} : #{payment.source.name} (#{number_to_currency(payment.amount)})

                  - else
                    -
  - else 
    %tr
      %td{colspan:8}
        No Expense
#new-bill.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#edit-bill.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
#add-payment.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content