.modal-header
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
  %h4#myModalLabel.modal-title Add Payment
.modal-body
  .panel-body
    = form_for @payment, url: create_payment_journal_bill_path(@journal_bill), method: :put do |f|
      - if @payment.errors.any?
        #error_explanation
          %h2= "#{pluralize(@journal_invoice.errors.count, "error")} prohibited this journal_invoice from being saved:"
          %ul
            - @payment.errors.full_messages.each do |msg|
              %li= msg
      / vendor, currency, due_date, total, payment_state, email, user, category, description
      .form-group.form-group-default.required
        %label Account
        = f.collection_select(:source, @payment_accounts, :id, :name, {}, {:class => "form-control"})
      .form-group.form-group-default.required
        %label Amount
        = f.text_field :amount, value: @journal_bill.amount_due, class: "input form-control"
      .actions
        = f.submit 'Submit', class: "btn btn-success", data: {confirm: "Pastikan ACCOUNT ID dan AMOUNT yang Anda masukan benar. Anda tidak dapat melakukan perubahan."}