- admin_breadcrumb(plural_resource_name(Spree::ReturnToSupplier))

- content_for :page_actions do
  %li
    = button_link_to "New", new_admin_return_to_supplier_url()
= search_form_for @q, url: admin_return_to_suppliers_path do |f|
  .row
    .col-sm-4
      .form-group.form-group-default
        = f.label :created_at_gteq, "Start Date"
        = f.date_field :created_at_gteq, class: "form-control"
    .col-sm-4
      .form-group.form-group-default
        = f.label :created_at_lteq, "End Date"
        = f.date_field :created_at_lteq, class: "form-control"
    .col-sm-4
      .form-group.form-group-default
        = f.label :return_at_eq, "Return At"
        = f.date_field :return_at_eq, class: "form-control"
  .row
    .col-sm-3
      .form-group.form-group-default
        = f.label :id_eq, "ID"
        = f.text_field :id_eq, class: "form-control"
    .col-sm-3
      .form-group.form-group-default
        = f.label :supplier_id_eq, "Supplier"
        %br
        = f.collection_select :supplier_id_eq, Spree::Supplier.order(:name), :id, :name, {include_blank: true, prompt: "Select Supplier"}, { class: "form-control", :class => 'select2'}
    .col-sm-3
      .form-group.form-group-default
        = f.label :items_variant_sku_cont, "Code Item"
        = f.text_field :items_variant_sku_cont, class: "form-control"
    .col-sm-3
      .form-group.form-group-default
        = f.label :total_eq, "Total"
        = f.text_field :total_eq, class: "form-control"
  .row
    .col-sm-4.col-sm-offset-4.text-center
      = f.submit "Filter", class: "btn btn-success"
-if @return_to_suppliers.any? 
  = paginate @return_to_suppliers, theme: "solidus_admin" 
  %table
    %thead
      %tr
        %th Created at
        %th ID
        %th Supplier
        - if spree_current_user.admin?
          %th Currency
          %th Total 
        %th Status
        %th Return at
        / %th Payment State
    %tbody
      - @return_to_suppliers.each do |c|
        %tr
          %td.align-center= c.created_at.to_date
          %td.align-center= link_to c.id, admin_return_to_supplier_path(c.id)
          %td.align-center= c.supplier.name
          - if spree_current_user.admin?
            %td.align-center= c.currency
            %td.align-center= number_to_multi_currency(c.total, c.currency)
          %td.align-center= c.status.humanize
          %td.align-center= c.return_at
          %td.actions
            = link_to_delete c, :no_text => true if can?(:delete, c) && c.pending? 
            = link_to "", create_invoice_admin_return_to_supplier_path(c), class: 'fa fa-credit-card icon_link with-tip no-text', "data-original-title" => "Create Invoice", method: :put if c.confirmed? 
            = link_to "", credit_to_supplier_admin_return_to_supplier_path(c), class: 'fa fa-capture icon_link with-tip no-text', "data-original-title" => "Credit to Supplier Deposit", method: :put if c.confirmed? 
            = link_to "", treat_as_expense_admin_return_to_supplier_path(c), class: 'fa fa-cancel icon_link with-tip no-text', "data-original-title" => "Treat as Expense", method: :put if c.confirmed? 
            = link_to "", ship_admin_return_to_supplier_path(c), class: 'fa fa-truck icon_link with-tip no-text', "data-original-title" => "Shipped!", method: :put if c.return_at.nil? || c.return_at.blank?
  = paginate @return_to_suppliers, theme: "solidus_admin" 
- else
  .alpha.twelve.columns.no-objects-found
    = render 'spree/admin/shared/no_objects_found', resource: Spree::ReturnToSupplier, new_resource_url: new_object_url