- admin_breadcrumb("Return to Supplier: #{@return_to_supplier.supplier.name}-#{@return_to_supplier.id}")

- content_for :page_actions do
  %li
    = button_link_to "View", admin_return_to_supplier_path(@return_to_supplier)

- content_for :table_filter do
  %div
    = search_form_for @search, url: items_admin_return_to_supplier_path(@return_to_supplier) do |f|
      - locals = {:f => f}
      .row
        .col-xs-4.col-md-offset-4
          .field
            = f.label :sku_cont, Spree::Variant.human_attribute_name(:sku)
            = f.text_field :sku_cont, :size => 15
      .actions.filter-actions
        = button Spree.t(:search)


-if @items.any? 
  = paginate @items, theme: "solidus_admin"
  %table
    %thead
      %tr
        %th SKU
        %th Image
        - if spree_current_user.admin?
          %th Cost Currency
          %th Cost Price 
        %th Quantity
        %th Reason
        / %th Payment State
    %tbody
      - @items.each do |c|
        = form_for "item", :url => return_admin_return_to_supplier_path(@return_to_supplier), method: :put do |f| 
          %tr
            %td.align-center= c.sku
            %td.align-center= image_tag c.display_image.attachment(:mini)
            - if spree_current_user.admin?
              %td.align-center= c.cost_currency
              %td.align-center= f.text_field :cost_price, value: c.cost_price
            - else
              = f.hidden_field :cost_price, value: c.cost_price
            %td.align-center= f.number_field :quantity
            %td.align-center= f.text_field :reason
            = f.hidden_field :sku, value: c.sku
            = f.hidden_field :cost_currency, value: c.cost_currency
            %td.actions= f.submit "Scrap"
  = paginate @items, theme: "solidus_admin"