= render :partial => 'spree/shared/error_messages', :locals => { :target => @return_to_supplier }
= form_for [:admin, @return_to_supplier], method: :post, url: admin_return_to_suppliers_path, :html => { :multipart => true } do |f|
  %fieldset{"data-hook" => "new_product"}
    %legend{:align => "center"} New Return
    .sixteen.columns.alpha
      = f.field_container :supplier do
        = f.label :supplier, "Supplier", class: 'required'
        %br/
        = f.collection_select(:supplier_id, Spree::Supplier.all, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2', style: "width: 100%" })
        = f.error_message_on :user
    .clearfix
    = render :partial => 'spree/admin/shared/new_resource_links'