- admin_breadcrumb("Return to Supplier: #{@return_to_supplier.supplier.name}-#{@return_to_supplier.id}")

- content_for :page_actions do
  %li
    = button_link_to "Add Item", items_admin_return_to_supplier_path(@return_to_supplier) if @return_to_supplier.pending?

-if @items.any? 
  = paginate @items, theme: "solidus_admin"
  %table
    %thead
      %tr
        %th SKU
        %th Image
        - if spree_current_user.admin?
          %th Cost Currency
          %th Cost Price 
        %th Quantity
        %th Reason
        / %th Payment State
    %tbody
      - @items.each do |c|
        = form_for "item", :url => update_return_admin_return_to_supplier_path(@return_to_supplier), method: :put do |f| 
          %tr
            %td.align-center= c.variant.sku
            %td.align-center= image_tag c.variant.display_image.attachment(:mini)
            - if spree_current_user.admin?
              %td.align-center= c.cost_currency
              %td.align-center= f.text_field :cost_price, value: c.cost_price
            - else
              = f.hidden_field :cost_price, value: c.cost_price
            %td.align-center= f.number_field :quantity, value: c.quantity
            %td.align-center= f.text_field :reason, value: c.reason
            = f.hidden_field :variant_id, value: c.variant_id
            = f.hidden_field :cost_currency, value: c.cost_currency
            = f.hidden_field :id, value: c.id
            %td.actions
              = f.submit "Update" if @return_to_supplier.pending?
              = link_to "", delete_item_admin_return_to_suppliers_path(item_id: c.id), class: 'fa fa-trash icon_link with-tip no-text', "data-original-title" => "Delete!", method: :get, :data => { :confirm => 'Are you sure?' } if @return_to_supplier.pending?
  = paginate @items, theme: "solidus_admin"
  .text-center{style: "text-align: center"}
    = link_to "CONFIRM!", confirm_admin_return_to_supplier_path(@return_to_supplier), class: "btn btn-warning", method: :put, alert: "Are you sure?" if @return_to_supplier.pending?
