.login-child{:style => "margin-right:25px"}
  - address_id = address_type.chars.first
  .inner{"data-hook" => "<haml_loud"}
    #register-form.general-form.horizontal-form
      .label-input
        .label-wrap
          %label Select from Address Book
        .input-wrap
          - data = {}
          - spree_current_user.addresses.each do |address|
            - data[address.id] = address
          - address_for_select = selected_address_for(@order) 
          = collection_select :my_address, :my_address, spree_current_user.addresses, :id, ->(address){"#{address.firstname} #{address.lastname}"}, {prompt: "Select shipping address", selected: address_for_select }, {class: "select-address", "data-address" => data.to_json}
          = link_to "#", "data-toggle"=>"modal", "data-target"=>"#myAddress", style: "color:#7e7979" do
            %span.glyphicon.glyphicon-plus
      .label-input
        .label-wrap
          = label_tag :dropship
        .input-wrap
          = check_box_tag :dropship, @order.dropship.nil? ? false : true, @order.dropship? ? 'checked' : false
      .hidden-dropship
        .label-input
          .label-wrap
            = label_tag :dropship_name, "Nama Pengirim"
          .input-wrap
            = text_field_tag :dropship_name, @order.dropship_name.nil? ? "" : @order.dropship_name
        .label-input
          .label-wrap
            = label_tag :dropship_phone, "No. Telepon Pengirim"
          .input-wrap
            = text_field_tag :dropship_phone, @order.dropship_phone.nil? ? "" : @order.dropship_phone
      .label-input.hidden
        .label-wrap
          = form.label :firstname
        .input-wrap
          = form.text_field :firstname
      .label-input.hidden
        .label-wrap
          = form.label :lastname
        .input-wrap
          = form.text_field :lastname
      - if Spree::Config[:company]
        .label-input.hidden
          .label-wrap
            = form.label :company
          .input-wrap
            = form.text_field :company
      .label-input.hidden
        .label-wrap
          = form.label :address1
        .input-wrap
        = form.text_field :address1
      .label-input.hidden
        .label-wrap
          = form.label :address2
        .input-wrap
          = form.text_field :address2
      .label-input.hidden
        %p.field{:id => "{address_id}country"}
        .label-wrap
          = form.label :country_id
        .input-wrap
          %span{:id => "{address_id}country-selection"}
            = form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'required'}
      - if Spree::Config[:address_requires_state]
        .label-input.hidden
          %p.field{:id => "{address_id}state"}
            - have_states = !address.country.states.empty?
            .label-wrap
              = form.label :state, Spree.t(:state)
            .input-wrap
              %span.required{:id => "{address_id}state-required"}
              %span.js-address-fields{:style => "display: none;"}
                = form.collection_select(:state_id, address.country.states, :id, :name, {:include_blank => true}, {class: have_states ? 'required select-state' : 'select-state', style: have_states ? '' : 'display: none;', disabled: !have_states})
                = form.text_field(:state_name, class: !have_states ? 'required' : '',style: have_states ? 'display: none;' : '', disabled: have_states)
              %noscript
                = form.text_field :state_name, :class => 'required'
      .label-input.hidden
        .label-wrap
          = form.label :city
        .input-wrap
          = form.grouped_collection_select :city, Spree::State.order(:name), :cities, :name, :name, :name, {include_blank: true}, {class: "select-city"}
          / = form.collection_select :country_id, Spree::City.all, :id, :name, {}, {:class => 'required'}
      .label-input.hidden
        .label-wrap
          = form.label :zipcode
        .input-wrap
          - if address.require_zipcode?
            = form.text_field :zipcode, :class => "{'required' if address.require_zipcode?}"
      .label-input.hidden
        .label-wrap
          = form.label :phone
        .input-wrap
          - if address.require_phone?
            = form.text_field :phone, :class => "{'required' if address.require_phone?}"
      - if Spree::Config[:alternative_shipping_phone]
        .label-input.hidden
          .label-wrap
            = form.label :alternative_phone
          .input-wrap
            = form.phone_field :alternative_phone

:javascript
  if ($("#dropship").is(":checked")){
    $(".hidden-dropship").show();
  } else {
    $(".hidden-dropship").hide();
  };
  $("#dropship").on("change", function(){
    if ($("#dropship").is(":checked")){
      $(".hidden-dropship").show();
    } else {
      $(".hidden-dropship").hide();
    };
  });

